.photo-card {
    --photo-card-width-s: var(--Card-Photo-Card-Width-S, 380px);
    --photo-card-width-m: var(--Card-Photo-Card-Width-M, 870px);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Card-Photo-Card-Gap, 1rem);
    width: calc(
        var(--photo-card-width-s)
        + (var(--photo-card-width-m) - var(--photo-card-width-s)) * var(--photo-card-size, 0)
    );

    & .photo-card-media {
        width: 100%;

        & picture,
        & img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: var(--Images-Radius, 1.5rem);
        }
    }

    & .photo-card-title {
        color: var(--Card-Photo-Card-Title, var(--Text-Default-Primary, #001C35));
        font: var(--Text-Styles-Body-Base, 400 1rem/140% var(--Family-Font-2, system-ui));
        text-align: center;
    }

    &[data-photo-card-size="m"] {
        align-items: flex-start;

        & .photo-card-title {
            text-align: start;
        }
    }
}
