footer .section {
    background-color: var(--color-background-default-tertiary);
}

.section.footer-list-link-container.footer-download-link-container {
    display: flex;
}

.section.footer-list-link-container.footer-social-list-container {
    display: flex;
}