.navigation-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--Navigation-Pill-Gap, 8px);
  padding: var(--Navigation-Pill-Vertical-Padding)
           var(--Navigation-Pill-Horizontal-Padding);
  border: var(--Stroke-200-2) solid transparent;
  border-radius: var(--Navigation-Pill-Radius);
  font-size: var(--Size-14, 0.875rem);
  font-weight: var(--Weight-Semi-Bold);
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  font-family: var(--Family-Font-2, Manrope);
  user-select: none;
  min-height: var(--Space-400-24);
  box-sizing: border-box;
}

/* Primary */
.navigation-pill-primary {
  color: var(--Navigation-Pill-Primary-Default-Text);
  background-color: var(--Navigation-Pill-Primary-Default-Background);
}

/* Hover Status */
.navigation-pill-primary:hover:not(:disabled) {
  color: var(--Navigation-Pill-Primary-Hover-Text);
  background-color: var(--Navigation-Pill-Primary-Hover-Background);
}

/* Active Status */
.navigation-pill-primary:active:not(:disabled) {
  color: var(--Navigation-Pill-Active-Text);
  background-color: var(--Navigation-Pill-Active-Background);
}

/* Secondary */
.navigation-pill-secondary {
  color: var(--Navigation-Pill-Secondary-Default-Text);
  background-color: var(--Navigation-Pill-Secondary-Default-Background);
}

/* Hover Status */
.navigation-pill-secondary:hover:not(:disabled) {
  color: var(--Navigation-Pill-Secondary-Hover-Text);
  background-color: var(--Navigation-Pill-Secondary-Hover-Background);
}

/* Active Status */
.navigation-pill-secondary:active:not(:disabled) {
  color: var(--Navigation-Pill-Active-Text);
  background-color: var(--Navigation-Pill-Active-Background);
}

/* Focused Status */
.navigation-pill:focus,
.navigation-pill:focus-visible {
  outline: var(--Stroke-200-2) solid var(--Border-Default-Focused);
}

.navigation-pill-block {
  display: block;
  margin: 1rem 0;
}
