.navigation-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--dimension-space-200-8);
  padding: var(--dimension-navigation-pill-vertical-padding)
           var(--dimension-navigation-pill-horizontal-padding);
  border: var(--border-width-stroke-200-2) solid transparent;
  border-radius: var(--dimension-navigation-pill-radius);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  font-family: var(--family-font-2, Manrope);
  user-select: none;
  min-height: var(--dimension-space-400-24);
  box-sizing: border-box;
}

/* Primary */
.navigation-pill-primary {
  color: var(--color-navigation-pill-primary-default-text);
  background-color: var(--color-navigation-pill-primary-default-background);
}

/* Hover Status */
.navigation-pill-primary:hover:not(:disabled) {
  color: var(--color-navigation-pill-primary-hover-text);
  background-color: var(--color-navigation-pill-primary-hover-background);
}

/* Active Status */
.navigation-pill-primary:active:not(:disabled) {
  color: var(--color-navigation-pill-active-text);
  background-color: var(--color-navigation-pill-active-background);
}

/* Secondary */
.navigation-pill-secondary {
  color: var(--color-navigation-pill-secondary-default-text);
  background-color: var(--color-navigation-pill-secondary-default-background);
}

/* Hover Status */
.navigation-pill-secondary:hover:not(:disabled) {
  color: var(--color-navigation-pill-secondary-hover-text);
  background-color: var(--color-navigation-pill-secondary-hover-background);
}

/* Active Status */
.navigation-pill-secondary:active:not(:disabled) {
  color: var(--color-navigation-pill-active-text);
  background-color: var(--color-navigation-pill-active-background);
}

/* Focused Status */
.navigation-pill:focus,
.navigation-pill:focus-visible {
  outline: var(--border-width-stroke-200-2) solid var(--color-border-default-focused);
}

.navigation-pill-block {
  display: block;
  margin: 1rem 0;
}
