/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --blur-background-blur-400-24-2: blur(24px);
  --blur-background-blur-200-8: blur(8px);
}