/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dimension-layout-page-width: 1440px;
  --dimension-layout-page-min-height: 900px;
  --dimension-layout-container-horizontal-gap: 24px;
  --dimension-layout-container-vertical-gap: 24px;
  --dimension-column-size-col-1: 94px;
  --dimension-column-size-col-2: 205.33px;
  --dimension-column-size-col-3: 316px;
  --dimension-column-size-col-4: 426px;
  --dimension-column-size-col-5: 537px;
  --dimension-column-size-col-6: 648px;
  --dimension-column-size-col-7: 758px;
  --dimension-column-size-col-8: 869px;
  --dimension-column-size-col-9: 980px;
  --dimension-column-size-col-10: 1090px;
  --dimension-column-size-col-11: 1201px;
  --dimension-column-size-col-12: 1312px;
  --dimension-padding-c-72-56-24: 72px;
  --dimension-padding-c-64-48-24: 64px;
  --dimension-space-0: 0px;
  --dimension-space-50-2: 2px;
  --dimension-space-100-4: 4px;
  --dimension-space-200-8: 8px;
  --dimension-space-250-12: 12px;
  --dimension-space-300-16: 16px;
  --dimension-space-350-20: 20px;
  --dimension-space-400-24: 24px;
  --dimension-space-500-32: 32px;
  --dimension-space-600-40: 40px;
  --dimension-space-700-48: 48px;
  --dimension-space-800-56: 56px;
  --dimension-space-900-64: 64px;
  --dimension-space-1000-80: 80px;
  --dimension-space-1100-96: 96px;
  --dimension-space-1200-120: 120px;
  --dimension-depth-0: 0px;
  --dimension-depth-025-1: 1px;
  --dimension-depth-050-2: 2px;
  --dimension-depth-100-4: 4px;
  --dimension-depth-200-8: 8px;
  --dimension-depth-400-16: 16px;
  --dimension-depth-800-32: 32px;
  --dimension-depth-1200-48: 48px;
  --dimension-depth-negative-025: -1px;
  --dimension-depth-negative-050: -2px;
  --dimension-depth-negative-100: -4px;
  --dimension-depth-negative-200: -8px;
  --dimension-depth-negative-400: -16px;
  --dimension-depth-negative-800: -32px;
  --dimension-depth-negative-1200: -48px;
  --dimension-blur-100-4: 4px;
  --dimension-blur-200-8: 8px;
  --dimension-blur-300-16: 16px;
  --dimension-blur-400-24: 24px;
  --dimension-card-height: 400px;
  --dimension-card-width: 300px;
  --dimension-hero-min-height: 300px;
  --dimension-layout-page-gap: var(--dimension-space-1200-120);
  --dimension-layout-section-margin-horizontal-padding: var(--dimension-space-900-64);
  --dimension-layout-section-vertical-padding: var(--dimension-space-0);
  --dimension-layout-section-vertical-gap: var(--dimension-space-300-16);
  --dimension-layout-section-horizontal-gap: var(--dimension-space-300-16);
  --dimension-layout-row-horizontal-padding: var(--dimension-space-0);
  --dimension-layout-row-vertical-padding: var(--dimension-space-0);
  --dimension-layout-row-gutter-horizontal-gap: var(--dimension-space-300-16);
  --dimension-layout-row-gutter-vertical-gap: var(--dimension-space-300-16);
  --dimension-layout-container-vertical-padding: var(--dimension-space-0);
  --dimension-layout-container-horizontal-padding: var(--dimension-space-0);
  --dimension-container-width-l6-m6-s12: var(--dimension-column-size-col-6);
  --dimension-container-width-l4-m4-s12: var(--dimension-column-size-col-4);
  --dimension-container-width-l3-m6-s12: var(--dimension-column-size-col-3);
  --dimension-container-width-l3-m4-s12: var(--dimension-column-size-col-3);
  --dimension-container-width-l6-m3-s12: var(--dimension-column-size-col-6);
  --dimension-container-width-l9-m6-s12: var(--dimension-column-size-col-9);
  --dimension-container-width-l4-m6-s12: var(--dimension-column-size-col-4);
  --dimension-font-size-title-hero-apex-new: var(--font-size-56);
  --dimension-accordion-vertical-padding: var(--dimension-space-400-24);
  --dimension-ai-icon-dimentions: var(--dimension-space-500-32);
  --dimension-ai-icon-radius: var(--border-radius-9999);
  --dimension-spacing-padding-24-16: var(--dimension-space-400-24);
  --dimension-accordion-horizontal-padding: var(--dimension-spacing-padding-24-16);
  --dimension-spacing-gap-24-16: var(--dimension-space-400-24);
  --dimension-accordion-horizontal-gap: var(--dimension-spacing-gap-24-16);
  --dimension-accordion-vertical-gap: var(--dimension-spacing-gap-24-16);
  --dimension-accordion-radius: var(--border-radius-300-16);
  --dimension-accordion-radius-bottom-left: var(--border-radius-200-8);
  --dimension-accordion-radius-top-right: var(--border-radius-200-8);
  --dimension-accordion-radius-bottom-right: var(--border-radius-200-8);
  --dimension-accordion-border-width-top: var(--border-width-stroke-100-1);
  --dimension-accordion-border-width-bottom: var(--border-width-stroke-100-1);
  --dimension-accordion-border-width-left: var(--border-width-stroke-100-1);
  --dimension-accordion-border: var(--border-width-stroke-100-1);
  --dimension-avatar-radius-top-left: var(--border-radius-9999);
  --dimension-avatar-radius-bottom-left: var(--border-radius-9999);
  --dimension-avatar-radius-top-right: var(--border-radius-9999);
  --dimension-avatar-radius-bottom-right: var(--border-radius-9999);
  --dimension-avatar-dimentions: var(--dimension-space-700-48);
  --dimension-avatar-border-width-top: var(--border-width-stroke-100-1);
  --dimension-avatar-border-width-bottom: var(--border-width-stroke-100-1);
  --dimension-avatar-border-width-left: var(--border-width-stroke-100-1);
  --dimension-avatar-border-width-right: var(--border-width-stroke-100-1);
  --dimension-button-horizontal-padding: var(--dimension-space-400-24);
  --dimension-button-vertical-padding: var(--dimension-space-250-12);
  --dimension-button-gap: var(--dimension-space-200-8);
  --dimension-button-min-width: var(--dimension-space-700-48);
  --dimension-button-min-height: var(--dimension-space-400-24);
  --dimension-button-radius-default: var(--border-radius-400-24);
  --dimension-button-radius-ghost: var(--border-radius-0);
  --dimension-button-border-default: var(--border-width-stroke-100-1);
  --dimension-button-border-focused: var(--border-width-stroke-200-2);
  --dimension-button-group-horizontal-padding: var(--dimension-space-200-8);
  --dimension-button-group-vertical-gap: var(--dimension-space-200-8);
  --dimension-button-group-horizontal-gap: var(--dimension-space-200-8);
  --dimension-category-tabs-height: var(--dimension-space-600-40);
  --dimension-category-tabs-horizontal-padding: var(--dimension-space-300-16);
  --dimension-category-tabs-gap: var(--dimension-space-200-8);
  --dimension-category-tabs-radius: var(--border-radius-9999);
  --dimension-category-tabs-border-width: var(--border-width-stroke-100-1);
  --dimension-card-horizontal-padding: var(--dimension-space-400-24);
  --dimension-card-vertical-padding: var(--dimension-space-400-24);
  --dimension-card-gap: var(--dimension-space-400-24);
  --dimension-checkbox-dimentions: var(--dimension-space-300-16);
  --dimension-card-radius: var(--border-radius-400-24);
  --dimension-checkbox-radius: var(--border-radius-100-4);
  --dimension-card-border-width: var(--border-width-stroke-100-1);
  --dimension-checkbox-border-width: var(--border-width-stroke-100-1);
  --dimension-checkbox-border-focus: var(--border-width-stroke-200-2);
  --dimension-checkbox-field-vertical-gap: var(--dimension-space-50-2);
  --dimension-checkbox-field-horizontal-gap: var(--dimension-space-250-12);
  --dimension-checkbox-field-checkbox-frame-vertical-padding: var(--dimension-space-50-2);
  --dimension-dialog-radius: var(--border-radius-200-8);
  --dimension-dialog-vertical-padding: var(--dimension-space-1100-96);
  --dimension-dialog-horizontal-padding: var(--dimension-space-500-32);
  --dimension-dialog-horizontal-gap: var(--dimension-space-300-16);
  --dimension-dialog-text-gap: var(--dimension-space-300-16);
  --dimension-footer-width: var(--dimension-layout-page-width);
  --dimension-footer-horizontal-padding: var(--dimension-layout-section-margin-horizontal-padding);
  --dimension-footer-vertical-padding: var(--dimension-space-300-16);
  --dimension-footer-gap: var(--dimension-layout-row-gutter-horizontal-gap);
  --dimension-header-height: var(--dimension-space-900-64);
  --dimension-hero-horizontal-padding: var(--dimension-space-250-12);
  --dimension-hero-vertical-padding: var(--dimension-space-250-12);
  --dimension-hero-gap: var(--dimension-space-500-32);
  --dimension-hero-text-gap: var(--dimension-space-50-2);
  --dimension-header-width: var(--dimension-layout-page-width);
  --dimension-header-horizontal-padding: var(--dimension-layout-section-margin-horizontal-padding);
  --dimension-header-vertical-padding: var(--dimension-space-300-16);
  --dimension-header-gap: var(--dimension-layout-row-gutter-horizontal-gap);
  --dimension-icon-button-dimentions: var(--dimension-space-600-40);
  --dimension-icon-button-radius: var(--border-radius-9999);
  --dimension-input-fields-radius-default: var(--border-radius-9999);
  --dimension-images-radius: var(--border-radius-400-24);
  --dimension-input-fields-radius-text-area: var(--border-radius-300-16);
  --dimension-input-fields-border-default: var(--border-width-stroke-100-1);
  --dimension-input-fields-border-focused: var(--border-width-stroke-200-2);
  --dimension-input-fields-vertical-gap: var(--dimension-space-100-4);
  --dimension-input-fields-vertical-gap-select: var(--dimension-space-50-2);
  --dimension-input-fields-horizontal-gap: var(--dimension-space-200-8);
  --dimension-input-fields-min-height-text-area: var(--dimension-space-900-64);
  --dimension-input-fields-vertical-padding: var(--dimension-space-300-16);
  --dimension-input-fields-horizontal-padding: var(--dimension-space-400-24);
  --dimension-input-fields-horizontal-padding-icon: var(--dimension-space-350-20);
  --dimension-label-input-fields-vertical-padding: var(--dimension-space-0);
  --dimension-input-field-hint-vertical-padding-selection-control: var(--dimension-space-100-4);
  --dimension-input-field-hint-horizontal-gap-icon: var(--dimension-space-100-4);
  --dimension-input-field-hint-horizontal-gap-selection-control: var(--dimension-space-200-8);
  --dimension-navigation-pill-horizontal-padding: var(--dimension-space-250-12);
  --dimension-navigation-pill-vertical-padding: var(--dimension-space-200-8);
  --dimension-navigation-pill-gap: var(--dimension-space-200-8);
  --dimension-navigation-pill-radius: var(--border-radius-9999);
  --dimension-options-radius: var(--border-radius-300-16);
  --dimension-options-radius-box: var(--border-radius-400-24);
  --dimension-options-horizontal-padding-external: var(--dimension-space-200-8);
  --dimension-options-horizontal-padding-internal: var(--dimension-space-250-12);
  --dimension-options-horizontal-gap: var(--dimension-space-250-12);
  --dimension-options-vertical-padding: var(--dimension-space-200-8);
  --dimension-options-vertical-padding-list: var(--dimension-space-200-8);
  --dimension-options-vertical-gap: var(--dimension-space-0);
  --dimension-options-border: var(--border-width-stroke-100-1);
  --dimension-overlay-radius: var(--border-radius-0);
  --dimension-pagination-radius: var(--border-radius-200-8);
  --dimension-pagination-dimention: var(--dimension-space-500-32);
  --dimension-pagination-height: var(--dimension-space-400-24);
  --dimension-pagination-horizontal-padding: var(--dimension-space-250-12);
  --dimension-radio-button-dimentions: var(--dimension-space-300-16);
  --dimension-pagination-vertical-padding: var(--dimension-space-250-12);
  --dimension-pagination-gap: var(--dimension-space-50-2);
  --dimension-radio-button-radius: var(--border-radius-9999);
  --dimension-radio-button-field-vertical-gap: var(--dimension-space-50-2);
  --dimension-radio-button-field-horizontal-gap: var(--dimension-space-250-12);
  --dimension-radio-button-field-radio-button-frame-vertical-padding: var(--dimension-space-50-2);
  --dimension-section-text-gap: var(--dimension-space-300-16);
  --dimension-section-vertical-padding: var(--dimension-space-500-32);
  --dimension-radio-button-border-width: var(--border-width-stroke-100-1);
  --dimension-radio-button-border-focus: var(--border-width-stroke-200-2);
  --dimension-switch-width: var(--dimension-space-600-40);
  --dimension-switch-button-field-vertical-gap: var(--dimension-space-50-2);
  --dimension-switch-button-field-horizontal-gap: var(--dimension-space-250-12);
  --dimension-switch-button-field-switch-frame-vertical-padding: var(--dimension-space-50-2);
  --dimension-switch-height: var(--dimension-space-400-24);
  --dimension-switch-padding: var(--dimension-space-50-2);
  --dimension-switch-radius: var(--border-radius-9999);
  --dimension-switch-border-width: var(--border-width-stroke-100-1);
  --dimension-switch-border-focus: var(--border-width-stroke-200-2);
  --dimension-text-block-text-gap: var(--dimension-space-300-16);
  --dimension-text-block-gap: var(--dimension-space-500-32);
  --dimension-tab-height: var(--dimension-space-500-32);
  --dimension-tab-horizontal-padding: var(--dimension-space-250-12);
  --dimension-tab-vertical-padding: var(--dimension-space-250-12);
  --dimension-tab-gap: var(--dimension-space-200-8);
  --dimension-tab-top-left-radius: var(--dimension-space-0);
  --dimension-tab-bottom-left-radius: var(--dimension-space-0);
  --dimension-tab-top-right-radius: var(--dimension-space-0);
  --dimension-tab-bottom-right-radius: var(--dimension-space-0);
  --dimension-tab-border-width-bottom: var(--border-width-stroke-100-1);
  --dimension-tab-border-width-top: var(--border-width-stroke-0);
  --dimension-tab-border-width-right: var(--border-width-stroke-0);
  --dimension-tab-border-width-left: var(--border-width-stroke-0);
  --dimension-tab-group-horizontal-padding: var(--dimension-space-0);
  --dimension-tab-group-vertical-padding: var(--dimension-space-0);
  --dimension-tab-group-gap: var(--dimension-space-0);
  --dimension-tag-horizontal-padding: var(--dimension-space-250-12);
  --dimension-tag-vertical-padding: var(--dimension-space-100-4);
  --dimension-tag-border: var(--border-width-stroke-100-1);
  --dimension-tag-radius: var(--border-radius-200-8);
  --dimension-tooltip-horizontal-padding: var(--dimension-space-300-16);
  --dimension-tooltip-vertical-padding: var(--dimension-space-300-16);
  --dimension-tooltip-gap: var(--dimension-space-200-8);
  --dimension-tooltip-radius: var(--border-radius-200-8);
  --dimension-tooltip-border-width-top: var(--border-width-stroke-100-1);
  --dimension-tooltip-border-width-bottom: var(--border-width-stroke-100-1);
  --dimension-tooltip-border-width-left: var(--border-width-stroke-100-1);
  --dimension-tooltip-border-width-right: var(--border-width-stroke-100-1);
  --dimension-button-radius-default-2: var(--border-radius-400-24);
  --dimension-font-size-title-extra-large: var(--font-size-80);
  --dimension-font-size-title-page: var(--font-size-48);
  --dimension-font-size-subtitle-manrope: var(--font-size-32);
  --dimension-font-size-heading: var(--font-size-24);
  --dimension-spacing-padding-4-2: var(--dimension-space-100-4);
  --dimension-spacing-padding-16-12: var(--dimension-space-300-16);
  --dimension-spacing-padding-32-16: var(--dimension-space-500-32);
  --dimension-spacing-gap-16-8: var(--dimension-space-300-16);
  --dimension-spacing-gap-8-4: var(--dimension-space-200-8);
  --dimension-accordion-icon-vertical-padding: var(--dimension-spacing-padding-4-2);
  --dimension-ai-message-radius: var(--border-radius-9999);
  --dimension-ai-message-radius-m: var(--border-radius-300-16);
  --dimension-ai-message-horizontal-gap: var(--dimension-space-200-8);
  --dimension-ai-message-vertical-gap: var(--dimension-space-200-8);
  --dimension-ai-message-horizontal-padding-left: var(--dimension-space-100-4);
  --dimension-ai-message-horizontal-padding-right: var(--dimension-space-300-16);
  --dimension-ai-message-vertical-padding: var(--dimension-space-100-4);
  --dimension-category-strip-horizontal-padding-left: var(--dimension-spacing-padding-16-12);
  --dimension-category-strip-horizontal-padding-right: var(--dimension-space-100-4);
  --dimension-category-strip-vertical-padding: var(--dimension-space-100-4);
  --dimension-category-strip-gap: var(--dimension-spacing-padding-16-12);
  --dimension-category-strip-category-gap: var(--dimension-space-200-8);
  --dimension-category-strip-tag-gap: var(--dimension-space-100-4);
  --dimension-category-strip-radius: var(--border-radius-200-8);
  --dimension-card-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-card-vertical-gap: var(--dimension-space-200-8);
  --dimension-card-editorial-card-text-gap: var(--dimension-space-200-8);
  --dimension-card-section-gap: var(--dimension-space-300-16);
  --dimension-download-tile-radius: var(--border-radius-300-16);
  --dimension-download-tile-vertical-padding: var(--dimension-space-400-24);
  --dimension-download-tile-horizontal-padding: var(--dimension-spacing-padding-24-16);
  --dimension-download-tile-horizontal-gap: var(--dimension-space-200-8);
  --dimension-dialog-vertical-padding-m: var(--dimension-space-1000-80);
  --dimension-dialog-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-dialog-section-gap: var(--dimension-space-500-32);
  --dimension-expanding-dots-radius: var(--border-radius-9999);
  --dimension-expanding-dots-gap: var(--dimension-space-200-8);
  --dimension-input-field-hint-vertical-padding: var(--dimension-space-0);
  --dimension-input-fields-text-field-height: var(--dimension-space-700-48);
  --dimension-label-input-fields-horizontal-padding: var(--dimension-space-350-20);
  --dimension-input-fields-horizontal-padding-text-area: var(--dimension-space-400-24);
  --dimension-input-fields-label-padding: var(--dimension-space-100-4);
  --dimension-number-block-text-gap-d-tl-tp: var(--dimension-space-200-8);
  --dimension-number-block-text-gap-m: var(--dimension-space-100-4);
  --dimension-number-block-gap-d-tl: var(--dimension-space-300-16);
  --dimension-number-block-gap-m: var(--dimension-space-500-32);
  --dimension-photo-banner-radius: var(--border-radius-400-24);
  --dimension-photo-banner-text-gap: var(--dimension-space-300-16);
  --dimension-photo-banner-gap-m: var(--dimension-space-600-40);
  --dimension-photo-banner-horizontal-padding: var(--dimension-space-500-32);
  --dimension-photo-banner-vertical-padding: var(--dimension-space-500-32);
  --dimension-scroll-indicator-gap: var(--dimension-space-500-32);
  --dimension-scroll-indicator-gap-icon-m: var(--dimension-space-400-24);
  --dimension-section-gap: var(--dimension-space-500-32);
  --dimension-section-image-gap: var(--dimension-space-700-48);
  --dimension-text-block-text-gap-m: var(--dimension-space-200-8);
  --dimension-text-block-horizontal-gap-d-tl: var(--dimension-space-500-32);
  --dimension-tooltip-vertical-gap: var(--dimension-space-200-8);
  --dimension-tooltip-beak-radius: var(--border-radius-0);
  --dimension-font-size-body-2: var(--font-size-16);
  --dimension-spacing-padding-32-24: var(--dimension-space-500-32);
  --dimension-spacing-gap-32-24: var(--dimension-space-500-32);
  --dimension-spacing-gap-48-40: var(--dimension-space-700-48);
  --dimension-spacing-gap-80-48: var(--dimension-space-1000-80);
  --dimension-container-width-l7-m7-s12: var(--dimension-column-size-col-7);
  --dimension-container-width-l5-m5-s12: var(--dimension-column-size-col-5);
  --dimension-icon-size-icon-32-24: var(--dimension-space-500-32);
  --dimension-icon-size-bg-icon-56-48: var(--dimension-space-800-56);
  --dimension-icon-size-icon-64-56: var(--dimension-space-900-64);
  --dimension-icon-size-logo-120-80: var(--dimension-space-1200-120);
  --dimension-card-agency-card-radius: var(--border-radius-300-16);
  --dimension-card-agency-card-horizontal-padding: var(--dimension-space-400-24);
  --dimension-card-agency-card-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-card-agency-card-vertical-padding: var(--dimension-space-400-24);
  --dimension-card-agency-card-vertical-padding-m: var(--dimension-space-300-16);
  --dimension-card-agency-card-text-gap: var(--dimension-space-200-8);
  --dimension-card-agency-card-text-block-gap: var(--dimension-space-400-24);
  --dimension-card-agency-card-gap-m: var(--dimension-space-400-24);
  --dimension-card-blog-preview-gap: var(--dimension-spacing-gap-24-16);
  --dimension-card-blog-preview-text-gap: var(--dimension-space-300-16);
  --dimension-card-blog-preview-label-content-duration-text-icon-gap: var(--dimension-space-200-8);
  --dimension-card-bundle-card-text-gap: var(--dimension-space-200-8);
  --dimension-card-bundle-card-gap-category-strip: var(--dimension-space-200-8);
  --dimension-card-bundle-card-gap-button: var(--dimension-space-300-16);
  --dimension-card-bundle-card-horizontal-padding: var(--dimension-spacing-padding-24-16);
  --dimension-card-bundle-card-vertical-padding: var(--dimension-space-400-24);
  --dimension-card-bundle-card-vertical-gap: var(--dimension-spacing-gap-32-24);
  --dimension-card-category-card-radius-3-d-icon: var(--border-radius-9999);
  --dimension-card-category-card-horizontal-padding: var(--dimension-space-400-24);
  --dimension-card-category-card-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-card-category-card-vertical-padding: var(--dimension-space-400-24);
  --dimension-card-category-card-vertical-padding-top: var(--dimension-space-800-56);
  --dimension-card-category-card-vertical-padding-top-m: var(--dimension-space-600-40);
  --dimension-card-category-card-gap: var(--dimension-space-400-24);
  --dimension-card-category-card-text-gap: var(--dimension-space-200-8);
  --dimension-card-category-card-category-chips-gap: var(--dimension-space-200-8);
  --dimension-card-category-card-icon-size: var(--dimension-space-900-64);
  --dimension-card-category-card-icon-size-m: var(--dimension-space-800-56);
  --dimension-card-category-card-bg-icon-size: var(--dimension-space-1200-120);
  --dimension-card-category-card-bg-icon-size-m: var(--dimension-space-1100-96);
  --dimension-card-contact-card-radius: var(--border-radius-200-8);
  --dimension-card-contact-card-map-radius: var(--border-radius-300-16);
  --dimension-card-dynamic-gallery-card-overlay-radius: var(--border-radius-400-24);
  --dimension-card-editorial-card-horizontal-padding: var(--dimension-space-400-24);
  --dimension-card-editorial-card-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-card-editorial-card-vertical-padding: var(--dimension-space-400-24);
  --dimension-card-editorial-card-gap: var(--dimension-space-300-16);
  --dimension-card-contact-card-map-horizontal-padding: var(--dimension-space-400-24);
  --dimension-card-contact-card-map-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-card-contact-card-map-vertica-padding: var(--dimension-space-400-24);
  --dimension-card-contact-card-map-vertica-padding-m: var(--dimension-space-300-16);
  --dimension-card-contact-card-map-text-gap: var(--dimension-space-300-16);
  --dimension-card-contact-card-map-gap-m: var(--dimension-space-400-24);
  --dimension-card-contact-card-map-gap-image-btn: var(--dimension-space-200-8);
  --dimension-card-contact-card-horizontal-padding: var(--dimension-space-400-24);
  --dimension-card-contact-card-vertica-padding: var(--dimension-space-400-24);
  --dimension-card-contact-card-gap: var(--dimension-space-900-64);
  --dimension-card-contact-card-gap-m: var(--dimension-space-600-40);
  --dimension-card-contact-card-gap-image: var(--dimension-space-300-16);
  --dimension-card-info-card-horizontal-padding: var(--dimension-spacing-padding-24-16);
  --dimension-card-info-card-vertical-padding: var(--font-size-24);
  --dimension-card-info-card-icon-vertical-padding: var(--dimension-spacing-padding-4-2);
  --dimension-card-info-card-horizontal-gap: var(--dimension-space-200-8);
  --dimension-card-info-card-text-gap: var(--dimension-space-300-16);
  --dimension-card-insurance-product-card-horizontal-padding: var(--dimension-space-400-24);
  --dimension-card-insurance-product-card-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-card-insurance-product-card-vertical-padding: var(--dimension-space-400-24);
  --dimension-card-insurance-product-card-gap: var(--dimension-space-400-24);
  --dimension-card-insurance-product-card-button-gap: var(--dimension-space-200-8);
  --dimension-card-insurance-product-card-text-gap: var(--dimension-space-200-8);
  --dimension-card-insurance-product-card-radius-icon: var(--border-radius-9999);
  --dimension-card-insurance-product-card-vertical-padding-top: var(--dimension-space-800-56);
  --dimension-card-insurance-product-card-icon-size: var(--dimension-space-700-48);
  --dimension-card-insurance-product-card-bg-icon-size: var(--dimension-space-1000-80);
  --dimension-card-photo-card-gap: var(--dimension-space-300-16);
  --dimension-card-quote-tool-card-radius: var(--border-radius-300-16);
  --dimension-card-quote-tool-card-padding: var(--dimension-spacing-padding-24-16);
  --dimension-card-quote-tool-card-text-gap: var(--dimension-space-100-4);
  --dimension-card-quote-tool-card-summary-gap: var(--dimension-spacing-gap-80-48);
  --dimension-card-quote-tool-card-bundle-gap: var(--dimension-space-300-16);
  --dimension-card-text-card-horizontal-padding: var(--dimension-spacing-padding-24-16);
  --dimension-card-text-card-vertical-padding: var(--dimension-space-400-24);
  --dimension-card-text-card-gap: var(--dimension-spacing-gap-80-48);
  --dimension-card-text-card-icon-size: var(--dimension-icon-size-icon-32-24);
  --dimension-card-text-card-bg-icon: var(--dimension-icon-size-bg-icon-56-48);
  --dimension-card-user-review-horizontal-padding: var(--dimension-spacing-padding-24-16);
  --dimension-card-user-review-vertical-padding: var(--font-size-24);
  --dimension-card-user-review-text-gap: var(--dimension-space-400-24);
  --dimension-card-user-review-gap: var(--dimension-spacing-gap-48-40);
  --dimension-card-user-review-user-gap: var(--dimension-space-300-16);
  --dimension-card-warranty-card-horizontal-padding: var(--dimension-spacing-padding-24-16);
  --dimension-card-warranty-card-vertical-padding: var(--dimension-space-400-24);
  --dimension-card-warranty-card-gap: var(--dimension-space-400-24);
  --dimension-card-warranty-card-text-gap: var(--dimension-space-200-8);
  --dimension-card-warranty-card-icon-size: var(--dimension-icon-size-icon-32-24);
  --dimension-card-warranty-card-bg-icon-size: var(--dimension-icon-size-bg-icon-56-48);
  --dimension-category-chips-horizontal-padding: var(--dimension-space-300-16);
  --dimension-category-chips-vertical-padding: var(--dimension-space-200-8);
  --dimension-category-chips-gap: var(--dimension-space-200-8);
  --dimension-category-chips-radius: var(--border-radius-200-8);
  --dimension-data-table-radius: var(--border-radius-400-24);
  --dimension-data-table-radius-m: var(--border-radius-300-16);
  --dimension-label-input-fields-radius: var(--border-radius-100-4);
  --dimension-map-pin-radius-pin: var(--border-radius-9999);
  --dimension-map-pin-radius-card: var(--border-radius-200-8);
  --dimension-map-pin-button-padding: var(--dimension-space-200-8);
  --dimension-map-pin-horizontal-gap: var(--dimension-space-200-8);
  --dimension-map-pin-card-horizontal-padding: var(--dimension-space-250-12);
  --dimension-map-pin-card-vertical-padding: var(--dimension-space-200-8);
  --dimension-map-pin-text-gap: var(--dimension-space-200-8);
  --dimension-map-pin-border: var(--border-width-stroke-100-1);
  --dimension-mini-banner-radius: var(--border-radius-400-24);
  --dimension-mini-banner-gap: var(--dimension-space-800-56);
  --dimension-mini-banner-gap-m: var(--dimension-space-700-48);
  --dimension-mini-banner-horizontal-padding: var(--dimension-space-500-32);
  --dimension-mini-banner-horizontal-padding-m: var(--dimension-space-400-24);
  --dimension-mini-banner-vertical-padding: var(--dimension-space-500-32);
  --dimension-mini-banner-vertical-padding-m: var(--dimension-space-400-24);
  --dimension-photo-banner-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-photo-banner-vertical-padding-m: var(--dimension-space-400-24);
  --dimension-score-text-gap: var(--dimension-space-250-12);
  --dimension-score-gap: var(--dimension-space-300-16);
  --dimension-switch-label-horizontal-padding: var(--dimension-spacing-padding-16-12);
  --dimension-switch-label-vertical-padding: var(--dimension-space-200-8);
  --dimension-switch-label-radius: var(--border-radius-9999);
  --dimension-table-cell-horizontal-padding: var(--dimension-space-400-24);
  --dimension-table-cell-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-table-cell-vertical-padding: var(--dimension-space-300-16);
  --dimension-table-cell-gap: var(--dimension-space-300-16);
  --dimension-table-cell-benefit-gap: var(--dimension-space-200-8);
  --dimension-table-header-horizontal-padding: var(--border-radius-400-24);
  --dimension-table-header-horizontal-padding-m: var(--border-radius-300-16);
  --dimension-table-header-vertical-padding: var(--border-radius-300-16);
  --dimension-text-banner-radius: var(--border-radius-400-24);
  --dimension-text-banner-title-gap: var(--dimension-space-200-8);
  --dimension-text-banner-gap: var(--dimension-space-400-24);
  --dimension-text-banner-horizontal-padding: var(--dimension-space-500-32);
  --dimension-text-banner-horizontal-padding-m: var(--dimension-space-400-24);
  --dimension-text-banner-vertical-padding: var(--dimension-space-500-32);
  --dimension-text-banner-vertical-padding-m: var(--dimension-space-400-24);
  --dimension-text-switch-padding: var(--dimension-space-100-4);
  --dimension-text-switch-radius: var(--border-radius-9999);
  --dimension-text-switch-gap: var(--dimension-space-0);
  --dimension-table-row-button-row-horizontal-padding: var(--dimension-space-400-24);
  --dimension-table-row-button-row-vertical-padding: var(--dimension-space-400-24);
  --dimension-card-grid-gap: var(--dimension-space-300-16);
  --dimension-card-grid-widget-gap: var(--dimension-space-700-48);
  --dimension-card-grid-widget-gap-m: var(--dimension-space-600-40);
  --dimension-carousel-gap: var(--dimension-space-700-48);
  --dimension-carousel-gap-m: var(--dimension-space-200-8);
  --dimension-carousel-widget-gap-d-tl: var(--dimension-space-700-48);
  --dimension-carousel-widget-gap-m-tp: var(--dimension-space-600-40);
  --dimension-contact-tool-radius: var(--border-radius-300-16);
  --dimension-contact-tool-image-size: var(--dimension-space-900-64);
  --dimension-contact-tool-image-size-m: var(--dimension-space-800-56);
  --dimension-contact-tool-padding: var(--dimension-space-300-16);
  --dimension-contact-tool-gap: var(--dimension-space-300-16);
  --dimension-contact-tool-text-gap: var(--dimension-space-100-4);
  --dimension-data-table-widget-radius: var(--border-radius-0);
  --dimension-data-table-widget-horizontal-padding: var(--dimension-space-900-64);
  --dimension-data-table-widget-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-data-table-widget-vertical-padding: var(--dimension-space-1000-80);
  --dimension-data-table-widget-vertical-padding-m: var(--dimension-space-700-48);
  --dimension-data-table-widget-gap: var(--dimension-space-800-56);
  --dimension-data-table-widget-gap-m: var(--dimension-space-600-40);
  --dimension-download-tile-widget-gap: var(--dimension-space-600-40);
  --dimension-dynamic-gallery-gap: var(--dimension-space-300-16);
  --dimension-dynamic-gallery-widget-gap: var(--dimension-space-800-56);
  --dimension-dynamic-gallery-widget-gap-m: var(--dimension-space-700-48);
  --dimension-dynamic-gallery-gap-m: var(--dimension-space-200-8);
  --dimension-download-tile-widget-gap-tile: var(--dimension-space-300-16);
  --dimension-faq-widget-text-gap: var(--dimension-space-300-16);
  --dimension-faq-widget-gap-m: var(--dimension-space-600-40);
  --dimension-faq-widget-gap-accordion: var(--dimension-space-300-16);
  --dimension-faq-widget-gap-button: var(--dimension-space-600-40);
  --dimension-footer-horizontal-padding: var(--dimension-space-900-64);
  --dimension-footer-vertical-padding: var(--dimension-space-700-48);
  --dimension-footer-box-padding: var(--dimension-space-250-12);
  --dimension-footer-primary-link-gap: var(--dimension-space-200-8);
  --dimension-footer-secondary-link-gap: var(--dimension-space-500-32);
  --dimension-footer-primary-gap: var(--dimension-space-1000-80);
  --dimension-footer-secondary-gap: var(--dimension-space-400-24);
  --dimension-footer-icon-gap: var(--dimension-space-250-12);
  --dimension-footer-download-gap: var(--dimension-space-200-8);
  --dimension-footer-box-gap: var(--dimension-space-600-40);
  --dimension-footer-radius: var(--border-radius-300-16);
  --dimension-header-logo-height: var(--dimension-space-600-40);
  --dimension-header-horizontal-padding-d-tl: var(--dimension-space-400-24);
  --dimension-header-horizontal-padding-m-tp: var(--dimension-space-300-16);
  --dimension-header-vertical-padding-m-tp: var(--dimension-space-400-24);
  --dimension-header-navigation-horizontal-padding: var(--dimension-space-100-4);
  --dimension-header-navigation-vertical-padding: var(--dimension-space-100-4);
  --dimension-header-horizontal-gap: var(--dimension-space-100-4);
  --dimension-header-radius: var(--border-radius-9999);
  --dimension-hero-full-screen-horizontal-padding-d: var(--dimension-space-900-64);
  --dimension-hero-full-screen-horizontal-padding-m-tp: var(--dimension-space-300-16);
  --dimension-hero-full-screen-bottom-padding-tl-tp: var(--dimension-space-1000-80);
  --dimension-hero-full-screen-bottom-padding-m: var(--dimension-space-1200-120);
  --dimension-hero-full-screen-gap: var(--dimension-space-300-16);
  --dimension-hero-full-screen-button-gap: var(--dimension-space-600-40);
  --dimension-hero-full-screen-button-gap-m-tp: var(--dimension-space-500-32);
  --dimension-hero-mini-hero-horizontal-padding: var(--dimension-space-900-64);
  --dimension-hero-mini-hero-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-hero-mini-hero-bottom-padding: var(--dimension-space-1000-80);
  --dimension-hero-mini-hero-bottom-padding-m: var(--dimension-space-1200-120);
  --dimension-hero-mini-hero-gap: var(--dimension-space-300-16);
  --dimension-hero-mini-hero-button-gap-m: var(--dimension-space-500-32);
  --dimension-hero-blog-gap: var(--dimension-space-400-24);
  --dimension-hero-blog-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-hero-blog-vertical-padding: var(--dimension-space-1000-80);
  --dimension-hero-blog-vertical-padding-m: var(--dimension-space-1200-120);
  --dimension-hero-blog-button-gap: var(--dimension-space-600-40);
  --dimension-hero-module-vertical-top-padding: var(--dimension-space-400-24);
  --dimension-hero-module-gap: var(--dimension-space-300-16);
  --dimension-hero-module-gap-m: var(--dimension-space-200-8);
  --dimension-quote-tool-radius: var(--border-radius-300-16);
  --dimension-quote-tool-full-quote-tool-padding: var(--dimension-space-300-16);
  --dimension-quote-tool-gap: var(--dimension-space-400-24);
  --dimension-quote-tool-text-gap: var(--dimension-space-200-8);
  --dimension-quote-tool-info-gap: var(--dimension-space-350-20);
  --dimension-quote-tool-full-quote-tool-category-gap: var(--dimension-space-200-8);
  --dimension-quote-tool-full-quote-tool-category-gap-m: var(--dimension-space-100-4);
  --dimension-quote-tool-form-gap: var(--dimension-space-200-8);
  --dimension-quote-tool-form-gap-m: var(--dimension-space-300-16);
  --dimension-quote-tool-full-quote-tool-card-gap: var(--dimension-space-200-8);
  --dimension-carousel-widget-review-text-gap: var(--dimension-space-300-16);
  --dimension-carousel-widget-review-text-gap-m: var(--dimension-space-200-8);
  --dimension-kpi-highlights-widget-gap-d-tl: var(--dimension-space-800-56);
  --dimension-legal-info-widget-gap: var(--dimension-space-100-4);
  --dimension-kpi-highlights-widget-gap-m-tp: var(--dimension-space-600-40);
  --dimension-carousel-widget-benefit-radius: var(--border-radius-400-24);
  --dimension-carousel-widget-benefit-vertical-padding: var(--dimension-space-700-48);
  --dimension-carousel-widget-benefit-logo-text-gap: var(--dimension-space-500-32);
  --dimension-carousel-widget-benefit-logo-text-gap-m: var(--dimension-space-400-24);
  --dimension-info-pillars-widget-gap: var(--dimension-space-900-64);
  --dimension-info-pillars-widget-gap-m: var(--dimension-space-700-48);
  --dimension-info-pillars-widget-gap-text-card: var(--dimension-space-300-16);
  --dimension-quote-tool-single-quote-tool-padding: var(--dimension-space-400-24);
  --dimension-quote-tool-single-quote-tool-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-quote-tool-single-quote-tool-vertical-padding-m-2: var(--dimension-space-350-20);
  --dimension-contact-widget-gap: var(--dimension-space-700-48);
  --dimension-contact-widget-gap-m: var(--dimension-space-600-40);
  --dimension-spacing-padding-8-4: var(--dimension-space-200-8);
  --dimension-accordion-footer-gap-link: var(--dimension-space-300-16);
  --dimension-accordion-footer-vertical-padding: var(--dimension-space-350-20);
  --dimension-card-agency-card-gap: var(--dimension-space-900-64);
  --dimension-switch-label-gap: var(--dimension-spacing-padding-8-4);
  --dimension-switch-label-active-dot: var(--dimension-space-100-4);
  --dimension-carousel-gap-m-tp: var(--dimension-space-600-40);
  --dimension-carousel-insurance-product-gap: var(--dimension-space-300-16);
  --dimension-carousel-blog-gap-d-tl-tp: var(--dimension-space-300-16);
  --dimension-carousel-blog-gap-m: var(--dimension-space-200-8);
  --dimension-carousel-review-gap-d-tl: var(--dimension-space-300-16);
  --dimension-carousel-review-gap-m-tp: var(--dimension-space-200-8);
  --dimension-carousel-editorial-gap: var(--dimension-space-300-16);
  --dimension-carousel-benefit-gap: var(--dimension-space-300-16);
  --dimension-carousel-benefit-gap-m: var(--dimension-space-200-8);
  --dimension-carousel-category-gap: var(--dimension-space-300-16);
  --dimension-carousel-bundle-gap: var(--dimension-space-300-16);
  --dimension-footer-horizontal-padding-m: var(--dimension-space-300-16);
  --dimension-hero-full-screen-horizontal-padding-tl: var(--dimension-space-500-32);
  --dimension-header-vertical-gap-d-tl: var(--dimension-space-300-16);
  --dimension-header-vertical-gap-m: var(--dimension-space-200-8);
  --dimension-footer-vertical-padding-m: var(--dimension-space-500-32);
  --dimension-footer-primary-gap-m: var(--dimension-space-600-40);
  --dimension-footer-bottom-gap: var(--dimension-space-400-24);
  --dimension-footer-logo-gap: var(--dimension-space-350-20);
  --dimension-footer-title-and-voice-gap: var(--dimension-space-300-16);
  --dimension-footer-stroke: var(--border-width-stroke-100-1);
  --dimension-dynamic-gallery-widget-gap-icon: var(--dimension-space-400-24);
  --dimension-dynamic-gallery-widget-gap-icon-m: var(--dimension-space-300-16);
  --dimension-section-widget-gap: var(--dimension-space-1200-120);
  --dimension-section-widget-gap-m: var(--dimension-space-1000-80);
  --dimension-quote-tool-and-contact-widget-gap: var(--dimension-space-300-16);
}