@import url("./../atoms/buttons/standard-button/standard-button.css");

.image-text-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--Section-Widget-Gap-D, 7.5rem);
}

/* Image */
.image-text-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-text-item .image-wrapper img {
    display: flex;
    width: 40.5rem;
    height: 30.375rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 4/3;
    border-radius: var(--Images-Radius, 1.5rem);
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--Section-Text-Gap, 1rem);
}

/* Content */
.image-text-item .content-wrapper {
  display: flex;
  width: 33.5625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Section-Gap, 2rem);
}

.image-text-item .content-wrapper .title {
  color: var(--Section-Text, #001C35);
  font-family: var(--Family-Font-1, "Apex New");
  font-size: var(--Font-Size-Title-Page, 3rem);
  font-style: normal;
  font-weight: 550;
  line-height: 115%;
  letter-spacing: -0.03rem;
}

.image-text-item .content-wrapper .description {
  color: var(--Section-Text, #001C35);
  font-family: var(--Family-Font-2, Manrope);
  font-size: var(--Size-16, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

/* Alignment */
.image-text-item.image-left {
  flex-direction: row;
}

.image-text-item.image-right {
  flex-direction: row-reverse;
}

/* Desktop small */
@media (1152px <= width <= 1312px) {
    .image-text-grid {
        gap: var(--Section-Widget-Gap-Ds, 6rem);
    }

    .image-text-item .image-wrapper img {
        width: 37.5rem;
        height: 28.125rem;
    }
}

/* Tablet */
@media (768px <= width <= 1152px) {
    .image-text-grid {
        gap: var(--Section-Widget-Gap-M, 6rem);
    }

    .image-text-item .image-wrapper img {
        width: 22.75rem;
        height: 17.0625rem;
    }
}

/* Mobile */
@media (width <= 768px) {
  .image-text-grid {
    max-width: 46rem;
    gap: var(--Section-Widget-Gap-M, 3rem);
  }

  .image-text-item {
    flex-direction: column-reverse !important;
    align-items: center;
    gap: var(--Section-Image-Gap-M, 3rem);
  }

  .image-text-item .image-wrapper picture,
  .image-text-item .image-wrapper img {
    width: 21.4375rem;
    height: 16.07813rem;
  }

  .image-text-item .content-wrapper {
    width: 100%;
    max-width: 21.4375rem;
  }

  .image-text-item .content-wrapper .title {
    font-size: var(--Size-32, 2rem);
    letter-spacing: -0.02rem;
  }

  .image-text-item .content-wrapper .description {
    font-size: var(--Size-16, 1rem);
    line-height: 140%;
  }
}
