/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-tablet-portrait {
  --Family-Font-1: "Apex New";
  --Family-Font-2: "Manrope";
}