.accordion-block {
  width: 100%;
  padding: var(--Accordion-Accordion-Download-Vertical-Padding, 1.25rem)
           var(--Accordion-Horizontal-Padding, 1.5rem);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Accordion-Accordion-Download-Vertical-Gap, 1.5rem);
  border-radius: var(--Accordion-Accordion-Download-Radius, 1rem);
  background: var(--Accordion-Accordion-Download-Background, #FFF);
  box-shadow: var(--Depth-050-2, 0.125rem) var(--Depth-050-2, 0.125rem)
              var(--Blur-200-8, 0.5rem) 0 rgb(0 0 0 / 8%);

  & .accordion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    & .accordion-header {
      width: 100%;
      display: flex;
      align-items: center;
      gap: var(--Accordion-Horizontal-Gap, 1.5rem);
      flex-direction: row;
      justify-content: space-between;
      align-self: stretch;
      cursor: pointer;

      & .accordion-label {
        color: var(--Accordion-Accordion-Download-Title, #001C35);
        font-family: var(--Family-Font-2, Manrope);
        font-size: var(--Size-16, 1rem);
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
      }

      & .accordion-icon {
        width: var(--Icon-300-24, 1.5rem);
        height: var(--Icon-300-24, 1.5rem);
        font-size: var(--Size-24);
        flex-shrink: 0;
        aspect-ratio: 1 / 1;
      }
    }

    & .accordion-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      width: 100%;
      gap: var(--Accordion-Accordion-Download-Gap-Download, 1.25rem);
      color: var(--Accordion-Description-Open, #001C35);
      max-height: 0;
      transition: max-height 0.3s ease, padding 0.3s ease;

      & .download-tile-molecule {
        display: flex;
        align-items: flex-start;
        gap: var(--Accordion-Accordion-Download-Accordion-Tile-Horizontal-Gap, 0.5rem);
        align-self: stretch;

        & .download-icon {
          display: flex;
          width: var(--Icon-300-24, 1.5rem);
          height: var(--Icon-300-24, 1.5rem);
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          aspect-ratio: 1/1;
          text-decoration: none;
          cursor: pointer;
          font-family: inherit;
          user-select: none;

          & .icon {
            width: var(--Icon-300-24, 1.5rem);
            height: var(--Icon-300-24, 1.5rem);
            flex-shrink: 0;
            aspect-ratio: 1/1;
            color: var(--Icon-Button-Secondary-Default-Icon);
            border-color: var(--Icon-Button-Secondary-Default-Border);

            /* Focus state */

            &:focus-visible,
            &:focus {
              color: var(--Icon-Button-Secondary-Default-Icon);
              border-color: var(--Icon-Button-Secondary-Default-Border);
            }

            /* Hover state */

            &:hover:not(:disabled) {
              color: var(--Icon-Button-Secondary-Default-Icon);
              border-color: var(--Icon-Button-Secondary-Default-Border);
            }
          }
        }

        & .text-wrapper {
          display: flex;
          align-items: flex-start;
          gap: var(--Accordion-Accordion-Download-Accordion-Tile-Horizontal-Gap, 0.5rem);
          align-self: stretch;
          flex: 1 0 0;

          & .btn-icon {
            display: flex;
            width: var(--Icon-300-24, 1.5rem);
            height: var(--Icon-300-24, 1.5rem);
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
          }

          & .label {
            display: flex;
            align-self: stretch;
            flex: 1 0 0;
            color: var(--Accordion-Accordion-Download-Accordion-Tile-Title, #001C35);
            font-family: var(--Family-Font-2, Manrope);
            font-size: var(--Size-14, 0.875rem);
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
          }
        }
      }
    }
  }

  .accordion.open {
    gap: var(--Accordion-Accordion-Download-Gap-Download, 1.25rem);

    &.accordion-content {
      opacity: 1;
    }
  }

  .accordion:not(.open) .accordion-content {
    opacity: 0;
  }
}

