.switch-button-field {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--Switch-Button-Field-Horizontal-Gap, 0.5rem);
}

.switch-button-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.switch-button-label {
  color: var(--Switch-Button-Field-Unchecked-Text-Label, #001C35);
  font-family: var(--Family-Font-2);
  font-size: var(--Size-16);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.switch-button-description {
  color: var(--Switch-Button-Field-Unchecked-Text-Description, #63727D);
  font-family: var(--Family-Font-2);
  font-size: var(--Size-14);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.switch {
  padding: var(--Switch-Button-Field-Switch-Frame-Vertical-Padding, 2px) 0;
}

.disabled-label {
  color: var(--Switch-Button-Field-Disabled-Text-Label, #63727D);
}

.disabled-description {
  color: var(--Switch-Button-Field-Disabled-Text-Description, #63727D);
}

.switch-button-field-block {
  margin: 1rem 0;
}
