.blog-card {
    display: flex;
    width: 26.7rem;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Card-Blog-Preview-Gap, 1.5rem);

    & .blog-card-image {
        position: relative;
        width: 100%;
        height: fit-content;
        aspect-ratio: 4/3;
        max-height: 26rem;

        & img {
            width: 100%;
            height: 100%;
            border-radius: var(--Images-Radius, 1.5rem);
            object-fit: cover;
        }
    }

    & .blog-card-tag {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    & .blog-card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--Card-Blog-Preview-Text-Gap, 1rem);
        align-self: stretch;

        & .blog-card-title {
            color: var(--Card-Blog-Preview-Title, #001c35);
            font-family: var(--Family-Font-2, Manrope);
            font-size: var(--Font-Size-Heading, 1.5rem);
            font-style: normal;
            font-weight: 600;
            line-height: 125%;
            letter-spacing: -0.015rem;
        }

        & .blog-card-duration {
            display: flex;
            align-items: center;
            gap: var(--Card-Blog-Preview-Label-Content-Duration-Text-Icon-Gap, 0.5rem);

            & .icon {
                color: var(--Card-Blog-Preview-Label-Content-Duration-Icon, #63727d);
                flex-shrink: 0;
            }

            & .duration-text {
                color: var(--Card-Blog-Preview-Label-Content-Duration-Body, #63727d);
                flex-grow: 1;
                font-family: var(--Family-Font-2, Manrope);
                font-size: var(--Size-16, 1rem);
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
            }
        }
    }
}

/* Tablet Landscape */
@media (768px <= width < 1440px) {
    .blog-preview-card-wrapper {
        &.swiper-slide {
            width: 18.25rem;
        }

        & .blog-preview-card-container {
            width: 18.25rem;

            & .blog-preview-card-image {
                height: 10.26575rem;
                aspect-ratio: 292/164.25;

                & img,
                picture {
                    width: 18.25rem;
                    height: 10.26575rem;
                }
            }

            & .blog-preview-card-content {
                padding: 0
                    var(--Card-Blog-Preview-Card-Horizontal-Padding, 1.5rem)
                    var(--Card-Blog-Preview-Card-Vertical-Padding, 1.5rem)
                    var(--Card-Blog-Preview-Card-Horizontal-Padding, 1.5rem);

                & .img-vector {
                    width: 16.25rem;
                    height: 5.1875rem;
                    position: absolute;
                    left: 1rem;
                    top: -2.6095rem;
                }
            }
        }
    }
}

/* Tablet Portrait */
@media (393px <= width < 768px) {
    .blog-preview-card-wrapper {
        width: 15rem;

        .blog-preview-card-container {
            width: 15rem;

            & .blog-preview-card-image {
                height: 8.43763rem;
                aspect-ratio: 240/135;

                & img,
                picture {
                    width: 15rem;
                    height: 8.43763rem;
                }
            }

            & .blog-preview-card-content {
                padding: 0
                    var(--Card-Blog-Preview-Card-Horizontal-Padding-M, 1rem)
                    var(--Card-Blog-Preview-Card-Vertical-Padding, 1.5rem)
                    var(--Card-Blog-Preview-Card-Horizontal-Padding-M, 1rem);

                & .img-vector {
                    width: 13rem;
                    height: 4rem;
                    position: absolute;
                    left: 1rem;
                    top: -1.96931rem;
                }
            }
        }
    }
}

/* Mobile */
@media (width < 393px) {
    .blog-preview-card-wrapper {
        width: 21.4375rem;

        .blog-preview-card-container {
            width: 21.4375rem;

            & .blog-preview-card-image {
                height: 12.05875rem;
                aspect-ratio: 343/192.94;
                border-radius: var(--Images-Radius, 1.5rem)
                    var(--Images-Radius, 1.5rem) var(--Radius-0, 0)
                    var(--Radius-0, 0);

                & img,
                picture {
                    width: 21.4375rem;
                    height: 12.05875rem;
                }
            }

            & .blog-preview-card-content {
                padding: 0
                    var(--Card-Blog-Preview-Card-Horizontal-Padding-M, 1rem)
                    var(--Card-Blog-Preview-Card-Vertical-Padding, 1.5rem)
                    var(--Card-Blog-Preview-Card-Horizontal-Padding-M, 1rem);
                gap: var(--Card-Blog-Preview-Card-Gap, 1.5rem);

                & .img-vector {
                    width: 16.125rem;
                    height: 5rem;
                    position: absolute;
                    right: 2.625rem;
                    top: -2.528rem;
                }
            }
        }
    }
}
