.insurance-product-card-wrapper {
    display: flex;

    &.swiper-slide {
        width: auto;
    }

    & .insurance-product-card-container {
        display: flex;
        width: var(--Column-Size-Col-3, 19.75rem);
        flex-direction: column;
        align-items: flex-start;
        flex: auto;
        border-radius: var(--Card-Radius, 1.5rem);
        background: var(--Card-Insurance-Product-Card-Background, #FFF);
        box-shadow: var(--Depth-050-2, 2px) var(--Depth-050-2, 2px) var(--Blur-200-8, 8px) 0 rgb(0 0 0 / 8%);

        & .insurance-product-card-image {
            position: relative;
            display: flex;
            height: 11.1095rem;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            aspect-ratio: 316.00/177.75;
            border-radius: var(--Images-Radius, 1.5rem) var(--Images-Radius, 1.5rem) var(--Radius-0, 0) var(--Radius-0, 0);

            & img, picture {
                width: 19.75rem;
                height: 11.1095rem;
                border-radius: var(--Images-Radius, 1.5rem) var(--Images-Radius, 1.5rem) var(--Radius-0, 0) var(--Radius-0, 0);
            }

            & .insurance-product-card-tag {
                display: flex;
                padding: var(--Tag-Vertical-Padding, 0.25rem) var(--Tag-Horizontal-Padding, 0.75rem);
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 1rem;
                top: 1rem;
                border-radius: var(--Tag-Radius, 0.5rem);
                border: var(--Tag-Border, 1px) solid var(--Tag-Neutral-Border, rgb(17 17 17 / 0%));
            }
        }

        & .insurance-product-card-content {
            flex: 1;
            display: flex;
            position: relative;
            padding: 0 var(--Card-Insurance-Product-Card-Horizontal-Padding, 1.5rem) var(--Card-Insurance-Product-Card-Vertical-Padding, 1.5rem) var(--Card-Insurance-Product-Card-Horizontal-Padding, 1.5rem);
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: var(--Card-Insurance-Product-Card-Gap, 1.5rem);
            align-self: stretch;

            & .insurance-product-card-text {
                display: flex;
                padding-top: var(--Card-Insurance-Product-Card-Vertical-Padding-Top, 3.5rem);
                flex-direction: column;
                align-items: center;
                gap: var(--Card-Insurance-Product-Card-Text-Gap, 0.5rem);
                align-self: stretch;

                & .title {
                    align-self: stretch;
                    color: var(--Card-Insurance-Product-Card-Title, #001C35);
                    text-align: center;
                    font-family: var(--Family-Font-2, Manrope);
                    font-size: var(--Font-Size-Heading, 1.5rem);
                    font-style: normal;
                    font-weight: 600;
                    line-height: 125%;
                    letter-spacing: -0.015rem;
                }

                & .description {
                    align-self: stretch;
                    color: var(--Card-Insurance-Product-Card-Body, #001C35);
                    text-align: center;
                    font-family: var(--Family-Font-2, Manrope);
                    font-size: var(--Size-16, 1rem);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            & .button-subdescription {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--Card-Insurance-Product-Card-Button-Gap, 0.5rem);
                align-self: stretch;

                & .subdescription {
                    align-self: stretch;
                    color: var(--Card-Insurance-Product-Card-Details, #63727D);
                    text-align: center;
                    font-family: var(--Family-Font-2, Manrope);
                    font-size: var(--Size-14, 0.875rem);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            & .img-vector {
                width: 16.25rem;
                height: 5.1875rem;
                position: absolute;
                left: 1.75rem;
                top: -2.6095rem;
            }
        }
    }
}

/* Tablet Landscape */
@media (768px <= width < 1440px) {
    .insurance-product-card-wrapper {
        &.swiper-slide {
            width: 18.25rem;
        }

        & .insurance-product-card-container {
            width: 18.25rem;

            & .insurance-product-card-image {
                height: 10.26575rem;
                aspect-ratio: 292.00/164.25;

                & img, picture {
                    width: 18.25rem;
                    height: 10.26575rem;
                }
            }

            & .insurance-product-card-content {
                padding: 0 var(--Card-Insurance-Product-Card-Horizontal-Padding, 1.5rem) var(--Card-Insurance-Product-Card-Vertical-Padding, 1.5rem) var(--Card-Insurance-Product-Card-Horizontal-Padding, 1.5rem);

                & .img-vector {
                    width: 16.25rem;
                    height: 5.1875rem;
                    position: absolute;
                    left: 1rem;
                    top: -2.6095rem;
                }
            }
        }
    }
}

/* Tablet Portrait */
@media (393px <= width < 768px) {
    .insurance-product-card-wrapper {
        width: 15rem;

        .insurance-product-card-container {
            width: 15rem;

            & .insurance-product-card-image {
                height: 8.43763rem;
                aspect-ratio: 240.00/135.00;

                & img, picture {
                    width: 15rem;
                    height: 8.43763rem;
                }
            }

            & .insurance-product-card-content {
                padding: 0 var(--Card-Insurance-Product-Card-Horizontal-Padding-M, 1rem) var(--Card-Insurance-Product-Card-Vertical-Padding, 1.5rem) var(--Card-Insurance-Product-Card-Horizontal-Padding-M, 1rem);

                & .img-vector {
                    width: 13rem;
                    height: 4rem;
                    position: absolute;
                    left: 1rem;
                    top: -1.96931rem;
                }
            }
        }
    }
}

/* Mobile */
@media (width < 393px) {
    .insurance-product-card-wrapper {
        width: 21.4375rem;

        .insurance-product-card-container {
            width: 21.4375rem;

            & .insurance-product-card-image {
                height: 12.05875rem;
                aspect-ratio: 343.00/192.94;
                border-radius: var(--Images-Radius, 1.5rem) var(--Images-Radius, 1.5rem) var(--Radius-0, 0) var(--Radius-0, 0);

                & img, picture {
                    width: 21.4375rem;
                    height: 12.05875rem;
                }
            }

            & .insurance-product-card-content {
                padding: 0 var(--Card-Insurance-Product-Card-Horizontal-Padding-M, 1rem) var(--Card-Insurance-Product-Card-Vertical-Padding, 1.5rem) var(--Card-Insurance-Product-Card-Horizontal-Padding-M, 1rem);
                gap: var(--Card-Insurance-Product-Card-Gap, 1.5rem);

                & .img-vector {
                    width: 16.125rem;
                    height: 5rem;
                    position: absolute;
                    right: 2.625rem;
                    top: -2.528rem;
                }
            }
        }

        &.hidden {
            display: none;
        }
    }
}


