.dialog-wrapper {
    position: absolute;
    inset: 0;

    & .dialog {
        width: 100%;
        height: 100%;

        & .dialog-overlay {
            position: fixed;
            inset: 0;
            flex-shrink: 0;
            border-radius: var(--Overlay-Radius, 0);
            background: var(--Overlay-Default-Background, rgb(0 0 0 / 40%));
            backdrop-filter: blur(calc(var(--Blur-400---24, 24px) / 2));
            z-index: 3;

            &.is-closing {
                animation: slide-out-bottom 0.5s ease forwards;
            }
        }

        & .dialog-panel {
            position: fixed;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: var(--Dialog-Gap, 1.5rem);
            height: 100%;
            width: 100%;
            padding: var(--Dialog-Vertical-Padding-D-Tl, 1.5rem)
                var(--Dialog-Horizontal-Padding, 1rem);
            border-radius: var(--Dialog-Radius, 0);
            background: var(--Dialog-Background, #f9f9f7);
            z-index: 4;
            animation: slide-in-bottom 0.5s ease forwards;

            & button {
                display: flex;
                align-self: flex-end;
            }

            & .dialog-header {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: var(--Dialog-Gap, 1.5rem);

                & .dialog-title {
                    color: var(--Dialog-Title, #001c35);
                    font-family: var(--Family-Font-2, Manrope);
                    font-size: var(--Font-Size-Subtitle-Manrope, 1.5rem);
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%; /* 1.8rem */
                    letter-spacing: -0.015rem;
                }
            }

            & .dialog-text-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--Dialog-Gap, 1.5rem);
                overflow-y: auto;
                flex: 1 0 0;
                align-self: stretch;

                & .dialog-subtexts-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--Dialog-Text-Gap, 1rem);

                    & .dialog-subtitle {
                        color: var(--Dialog-Title, #001c35);
                        font-family: var(--Family-Font-2, Manrope);
                        font-size: var(--Font-Size-Heading, 1.25rem);
                        font-style: normal;
                        font-weight: 600;
                        line-height: 125%; /* 1.5625rem */
                        letter-spacing: -0.0125rem;
                    }

                    & .dialog-description {
                        color: var(--Dialog-Body, #001c35);
                        font-family: var(--Family-Font-2, Manrope);
                        font-size: var(--Size-16, 1rem);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%; /* 1.4rem */
                    }
                }
            }

            & .dialog-footer {
                & .btn {
                    width: 100%;
                }
            }

            &.is-closing {
                animation: slide-out-bottom 0.5s ease forwards;
            }
        }
    }
}

/* Tablet */
@media (width >= 768px) {
    .dialog-wrapper {
        & .dialog {
            & .dialog-overlay {
                &.is-closing {
                    animation: slide-out-right 0.5s ease forwards;
                }
            }

            & .dialog-panel {
                animation: slide-in-right 0.5s ease forwards;
                width: 27.6875rem;

                &.is-closing {
                    animation: slide-out-right 0.5s ease forwards;
                }
            }
        }
    }
}

/* Desktop */
@media (width >= 1152px) {
    .dialog-wrapper {
        & .dialog {
            & .dialog-panel {
                width: 30.9375rem;
            }
        }
    }
}
