/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!../../../node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!../../../node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!../../../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./src/styles.scss?ngGlobalStyle ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/*Colors*/
/*darkest blue*/
/*dark blue, mobile menu icons*/
/*medium-blue, background search bar mobile*/
/*subheader blue (trva agenzia, contatti....)*/
/*dark blue used for texts eg in home "Ovunque tu sia..."*/
/* Scheda prodotto accordion content as per sketch*/
/* Bordo grigio dei forms */
/* grey for header menu */
/* grey for Title in the content dropdown */
/* Border Button scopri dettagli in Accordion items */
/********    PALETTE COLORS     **************/
/* mobility green */
/*********     BACKGROUNDS     ********/
/********    MENU COLORS     **************/
/************   LOCATOR      ************/
.bg-Auto {
  background-color: #0169b4;
}

.bg-Casa {
  background-color: #ea4d10;
}

.bg-Famiglia {
  background-color: #ea4d10;
}

.bg-Salute {
  background-color: #59a627;
}

.bg-Mobilita {
  background-color: #0169b4;
}

.bg-Viaggi {
  background-color: #ea4d10;
}

.bg-Pet {
  background-color: #ea4d10;
}

.bg-Infortuni {
  background-color: #59a627;
}

/*Colors*/
/*darkest blue*/
/*dark blue, mobile menu icons*/
/*medium-blue, background search bar mobile*/
/*subheader blue (trva agenzia, contatti....)*/
/*dark blue used for texts eg in home "Ovunque tu sia..."*/
/* Scheda prodotto accordion content as per sketch*/
/* Bordo grigio dei forms */
/* grey for header menu */
/* grey for Title in the content dropdown */
/* Border Button scopri dettagli in Accordion items */
/********    PALETTE COLORS     **************/
/* mobility green */
/*********     BACKGROUNDS     ********/
/********    MENU COLORS     **************/
/************   LOCATOR      ************/
.bg-Auto {
  background-color: #0169b4;
}

.bg-Casa {
  background-color: #ea4d10;
}

.bg-Famiglia {
  background-color: #ea4d10;
}

.bg-Salute {
  background-color: #59a627;
}

.bg-Mobilita {
  background-color: #0169b4;
}

.bg-Viaggi {
  background-color: #ea4d10;
}

.bg-Pet {
  background-color: #ea4d10;
}

.bg-Infortuni {
  background-color: #59a627;
}

/*ESEMPIO

	  HTML
	<div class="container text-center test_block">
	  <div class="square">
		<div class="content text-center">
		  <div> <i class="icon-Cerca"></i></div>
		  <div class="text-center">ciao</div>
		</div>
	  </div>
	  <div class="square">
		<div class="content">
		  Hello!
		</div>
	  </div>
	  <div class="square">
		<div class="content">
		  Hello!
		</div>
	  </div>
	  <div class="square">
		<div class="content">
		  Hello!
		</div>
	  </div>
	</div>
  //Layer Shadow Over Image
  @mixin imageShadow{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  -webkit-box-shadow: inset -3px 1px 176px 0px rgba(0,0,0,0.82);
	  -moz-box-shadow: inset -3px 1px 176px 0px rgba(0,0,0,0.82);
	  box-shadow: inset -3px 1px 176px 0px rgba(0,0,0,0.82);
  }

	SCSS
   .test_block{
	   @include square-blocks('.square','.content',4,206px,188px,106px);
	   }*/
/* in via di deprecazione - usare mainBtnRed */
/* Mixin da includere quando si vuole adattare l'altezza del bottone in base al testo*/
/*il tag deve essere necessariamente button */
.blueBtn {
  height: 24px;
  background-color: #5393bc;
  color: #fff;
  padding: 5px 20px;
  line-height: 16px;
  font-family: "Unipol Medium";
  font-size: 13px;
  border: none;
  outline: transparent;
  display: inline-block;
  position: relative;
}
@media only screen and (min-width:1281px) {
  .blueBtn {
    transition: all 0.25s ease-out 0s;
  }
}
.blueBtn:hover, .blueBtn:active {
  color: #fff;
  background-color: #0f3250;
}
.blueBtn:disabled {
  color: #fff;
  background-color: #9b9b9b;
  cursor: not-allowed;
}

/* font-size */
/* font-family */
/*Colors*/
/*darkest blue*/
/*dark blue, mobile menu icons*/
/*medium-blue, background search bar mobile*/
/*subheader blue (trva agenzia, contatti....)*/
/*dark blue used for texts eg in home "Ovunque tu sia..."*/
/* Scheda prodotto accordion content as per sketch*/
/* Bordo grigio dei forms */
/* grey for header menu */
/* grey for Title in the content dropdown */
/* Border Button scopri dettagli in Accordion items */
/********    PALETTE COLORS     **************/
/* mobility green */
/*********     BACKGROUNDS     ********/
/********    MENU COLORS     **************/
/************   LOCATOR      ************/
.bg-Auto {
  background-color: #0169b4;
}

.bg-Casa {
  background-color: #ea4d10;
}

.bg-Famiglia {
  background-color: #ea4d10;
}

.bg-Salute {
  background-color: #59a627;
}

.bg-Mobilita {
  background-color: #0169b4;
}

.bg-Viaggi {
  background-color: #ea4d10;
}

.bg-Pet {
  background-color: #ea4d10;
}

.bg-Infortuni {
  background-color: #59a627;
}

/*Colors*/
/*darkest blue*/
/*dark blue, mobile menu icons*/
/*medium-blue, background search bar mobile*/
/*subheader blue (trva agenzia, contatti....)*/
/*dark blue used for texts eg in home "Ovunque tu sia..."*/
/* Scheda prodotto accordion content as per sketch*/
/* Bordo grigio dei forms */
/* grey for header menu */
/* grey for Title in the content dropdown */
/* Border Button scopri dettagli in Accordion items */
/********    PALETTE COLORS     **************/
/* mobility green */
/*********     BACKGROUNDS     ********/
/********    MENU COLORS     **************/
/************   LOCATOR      ************/
.bg-Auto {
  background-color: #0169b4;
}

.bg-Casa {
  background-color: #ea4d10;
}

.bg-Famiglia {
  background-color: #ea4d10;
}

.bg-Salute {
  background-color: #59a627;
}

.bg-Mobilita {
  background-color: #0169b4;
}

.bg-Viaggi {
  background-color: #ea4d10;
}

.bg-Pet {
  background-color: #ea4d10;
}

.bg-Infortuni {
  background-color: #59a627;
}

/*ESEMPIO

	  HTML
	<div class="container text-center test_block">
	  <div class="square">
		<div class="content text-center">
		  <div> <i class="icon-Cerca"></i></div>
		  <div class="text-center">ciao</div>
		</div>
	  </div>
	  <div class="square">
		<div class="content">
		  Hello!
		</div>
	  </div>
	  <div class="square">
		<div class="content">
		  Hello!
		</div>
	  </div>
	  <div class="square">
		<div class="content">
		  Hello!
		</div>
	  </div>
	</div>
  //Layer Shadow Over Image
  @mixin imageShadow{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  -webkit-box-shadow: inset -3px 1px 176px 0px rgba(0,0,0,0.82);
	  -moz-box-shadow: inset -3px 1px 176px 0px rgba(0,0,0,0.82);
	  box-shadow: inset -3px 1px 176px 0px rgba(0,0,0,0.82);
  }

	SCSS
   .test_block{
	   @include square-blocks('.square','.content',4,206px,188px,106px);
	   }*/
/* in via di deprecazione - usare mainBtnRed */
/* Mixin da includere quando si vuole adattare l'altezza del bottone in base al testo*/
/*il tag deve essere necessariamente button */
.blueBtn {
  height: 24px;
  background-color: #5393bc;
  color: #fff;
  padding: 5px 20px;
  line-height: 16px;
  font-family: "Unipol Medium";
  font-size: 13px;
  border: none;
  outline: transparent;
  display: inline-block;
  position: relative;
}
@media only screen and (min-width:1281px) {
  .blueBtn {
    transition: all 0.25s ease-out 0s;
  }
}
.blueBtn:hover, .blueBtn:active {
  color: #fff;
  background-color: #0f3250;
}
.blueBtn:disabled {
  color: #fff;
  background-color: #9b9b9b;
  cursor: not-allowed;
}

/* font-size */
/* font-family */
* {
  box-sizing: border-box;
}
*::ng-deep p {
  margin: 0 !important;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Unipol;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.42857143;
  color: #333;
  background-color: white;
  display: block;
  transition: opacity ease-in 0.2s;
}

.wrapper-container {
  height: 100%;
  width: 100%;
}
.wrapper-container:has(.ModaleErroreContainer:not(.nascosta)) {
  overflow: hidden;
  max-height: 100vh;
}
.wrapper-container:has(.CustomLoadingContainer:not(.nonVisibile)) {
  position: fixed;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  z-index: 100;
  top: 0;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.fd-row-reverse {
  flex-direction: row-reverse;
}

.fd-column {
  flex-direction: column;
}

.jsf-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.mrg-t-24 {
  margin-top: 24px;
}

.mt-05em {
  margin-top: 0.5em;
}

.leafPosition {
  align-self: center;
  margin-right: 20px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.Heading-White-Bold {
  font-weight: bold;
  font-family: "Unipol Bold";
  color: white;
}
@media only screen and (min-width:0px) {
  .Heading-White-Bold {
    font-size: 28px;
  }
}
@media only screen and (min-width:768px) {
  .Heading-White-Bold {
    font-size: 30px;
  }
}
@media only screen and (min-width:1281px) {
  .Heading-White-Bold {
    font-size: 30px;
  }
}

.Heading-White {
  font-weight: normal;
  font-family: "Unipol";
  color: white;
}
@media only screen and (min-width:0px) {
  .Heading-White {
    font-size: 28px;
  }
}
@media only screen and (min-width:768px) {
  .Heading-White {
    font-size: 30px;
  }
}
@media only screen and (min-width:1281px) {
  .Heading-White {
    font-size: 30px;
  }
}

.Heading-1,
.HeadingTPD-1 {
  font-weight: bold;
  font-family: "Unipol Bold";
  text-transform: uppercase;
  color: #5393bc;
}
@media only screen and (min-width:0px) {
  .Heading-1,
  .HeadingTPD-1 {
    font-size: 28px;
  }
}
@media only screen and (min-width:768px) {
  .Heading-1,
  .HeadingTPD-1 {
    font-size: 40px;
  }
}
@media only screen and (min-width:1281px) {
  .Heading-1,
  .HeadingTPD-1 {
    font-size: 40px;
  }
}

.Heading-2,
.HeadingTPD-2,
.Heading-6,
.HeadingTPD-6 {
  font-weight: bold;
  font-family: "Unipol Medium";
  line-height: 1.5;
  color: #0f3250;
}
@media only screen and (min-width:0px) {
  .Heading-2,
  .HeadingTPD-2,
  .Heading-6,
  .HeadingTPD-6 {
    font-size: 22px;
  }
}
@media only screen and (min-width:768px) {
  .Heading-2,
  .HeadingTPD-2,
  .Heading-6,
  .HeadingTPD-6 {
    font-size: 24px;
  }
}
@media only screen and (min-width:1281px) {
  .Heading-2,
  .HeadingTPD-2,
  .Heading-6,
  .HeadingTPD-6 {
    font-size: 24px;
  }
}

.HeadingTPD-2-white {
  font-weight: bold;
  font-family: "Unipol Medium";
  line-height: 1.5;
  color: white;
}
@media only screen and (min-width:0px) {
  .HeadingTPD-2-white {
    font-size: 22px;
  }
}
@media only screen and (min-width:768px) {
  .HeadingTPD-2-white {
    font-size: 24px;
  }
}
@media only screen and (min-width:1281px) {
  .HeadingTPD-2-white {
    font-size: 24px;
  }
}

.Heading-3,
.HeadingTPD-3,
.HeadingTPD-3-LOW {
  font-weight: bold;
  font-family: "Unipol Medium";
  line-height: 1.5;
  color: #0f3250;
}
@media only screen and (min-width:0px) {
  .Heading-3,
  .HeadingTPD-3,
  .HeadingTPD-3-LOW {
    font-size: 20px;
  }
}
@media only screen and (min-width:768px) {
  .Heading-3,
  .HeadingTPD-3,
  .HeadingTPD-3-LOW {
    font-size: 30px;
  }
}
@media only screen and (min-width:1281px) {
  .Heading-3,
  .HeadingTPD-3,
  .HeadingTPD-3-LOW {
    font-size: 30px;
  }
}

.Heading-4,
.HeadingTPD-4 {
  font-weight: normal;
  font-family: "Unipol";
  line-height: 1.5;
  color: #0f3250;
}
@media only screen and (min-width:0px) {
  .Heading-4,
  .HeadingTPD-4 {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Heading-4,
  .HeadingTPD-4 {
    font-size: 24px;
  }
}
@media only screen and (min-width:1281px) {
  .Heading-4,
  .HeadingTPD-4 {
    font-size: 24px;
  }
}

.Heading-5,
.HeadingTPD-5 {
  font-weight: normal;
  font-family: "Unipol Bold";
  font-size: 24px;
  line-height: 1.6;
  color: #0f3250;
}

.SubtitleLogin {
  font-family: "Unipol";
  font-size: 13px;
  color: #0f3250;
}

.Text-responsive,
.Address-Text {
  font-family: "Unipol";
  color: #0f3250;
}
@media only screen and (min-width:0px) {
  .Text-responsive,
  .Address-Text {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive,
  .Address-Text {
    font-size: 18px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive,
  .Address-Text {
    font-size: 20px;
  }
}

.Text-responsive-SSL,
.Text-responsive-2 {
  font-family: "Unipol";
  color: #0f3250;
}
@media only screen and (min-width:0px) {
  .Text-responsive-SSL,
  .Text-responsive-2 {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-SSL,
  .Text-responsive-2 {
    font-size: 16px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-SSL,
  .Text-responsive-2 {
    font-size: 20px;
  }
}

.Text-responsive-medium,
.Text-responsive-L,
.Text-responsive-medium-M {
  font-family: "Unipol Medium";
  color: #0f3250;
}
@media only screen and (min-width:0px) {
  .Text-responsive-medium,
  .Text-responsive-L,
  .Text-responsive-medium-M {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-medium,
  .Text-responsive-L,
  .Text-responsive-medium-M {
    font-size: 18px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-medium,
  .Text-responsive-L,
  .Text-responsive-medium-M {
    font-size: 20px;
  }
}

.Text-responsive-white {
  font-family: "Unipol";
  color: white;
}
@media only screen and (min-width:0px) {
  .Text-responsive-white {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-white {
    font-size: 18px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-white {
    font-size: 20px;
  }
}

.Text-responsive-medium-S {
  font-family: "Unipol Medium";
  color: #0f3250;
}
@media only screen and (min-width:0px) {
  .Text-responsive-medium-S {
    font-size: 15px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-medium-S {
    font-size: 16px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-medium-S {
    font-size: 16px;
  }
}

.Text-responsive-S,
.Text-responsive-light-S {
  font-family: "Unipol";
  color: #0f3250;
}
@media only screen and (min-width:0px) {
  .Text-responsive-S,
  .Text-responsive-light-S {
    font-size: 15px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-S,
  .Text-responsive-light-S {
    font-size: 16px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-S,
  .Text-responsive-light-S {
    font-size: 16px;
  }
}

.Text-responsive-M {
  font-family: "Unipol";
  color: #0f3250;
}
@media only screen and (min-width:0px) {
  .Text-responsive-M {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-M {
    font-size: 24px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-M {
    font-size: 24px;
  }
}

.Text-responsive-M-white {
  font-family: "Unipol Medium";
  color: white;
}
@media only screen and (min-width:0px) {
  .Text-responsive-M-white {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-M-white {
    font-size: 24px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-M-white {
    font-size: 24px;
  }
}

.Text-responsive-bold-M-white {
  font-family: "Unipol Bold";
  color: white;
}
@media only screen and (min-width:0px) {
  .Text-responsive-bold-M-white {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-bold-M-white {
    font-size: 24px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-bold-M-white {
    font-size: 24px;
  }
}

.Text-responsive-bold-M,
.Titolo-sezione,
.Heading-7,
.HeadingTPD-7 {
  font-family: "Unipol Bold";
  color: #0f3250;
}
@media only screen and (min-width:0px) {
  .Text-responsive-bold-M,
  .Titolo-sezione,
  .Heading-7,
  .HeadingTPD-7 {
    font-size: 18px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-bold-M,
  .Titolo-sezione,
  .Heading-7,
  .HeadingTPD-7 {
    font-size: 24px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-bold-M,
  .Titolo-sezione,
  .Heading-7,
  .HeadingTPD-7 {
    font-size: 24px;
  }
}

.Heading-8,
.HeadingTPD-8 {
  font-family: "Unipol Bold";
  color: #193a56; /*TODO: quando commons presenti*/
}
@media only screen and (min-width:1281px) {
  .Heading-8,
  .HeadingTPD-8 {
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
  }
}

.Text-responsive-bold-M-secondary,
.Consents-Heading {
  font-family: "Unipol Bold";
  color: #5393bc;
}
@media only screen and (min-width:0px) {
  .Text-responsive-bold-M-secondary,
  .Consents-Heading {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-bold-M-secondary,
  .Consents-Heading {
    font-size: 24px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-bold-M-secondary,
  .Consents-Heading {
    font-size: 24px;
  }
}

.Text-responsive-bold,
.NomeGaranzia,
.PrezzoGaranzia,
.Text-responsive-L-bold {
  font-family: "Unipol Bold";
  color: #0f3250;
  font-weight: bold;
}
@media only screen and (min-width:0px) {
  .Text-responsive-bold,
  .NomeGaranzia,
  .PrezzoGaranzia,
  .Text-responsive-L-bold {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-bold,
  .NomeGaranzia,
  .PrezzoGaranzia,
  .Text-responsive-L-bold {
    font-size: 18px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-bold,
  .NomeGaranzia,
  .PrezzoGaranzia,
  .Text-responsive-L-bold {
    font-size: 20px;
  }
}

.Text-responsive-italic-grey,
.Text-responsive-Italic-grey {
  font-family: "Unipol";
  color: #666666;
  font-style: italic;
}
@media only screen and (min-width:0px) {
  .Text-responsive-italic-grey,
  .Text-responsive-Italic-grey {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-italic-grey,
  .Text-responsive-Italic-grey {
    font-size: 18px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-italic-grey,
  .Text-responsive-Italic-grey {
    font-size: 20px;
  }
}

.Text-responsive-italic {
  font-family: "Unipol";
  color: #0f3250;
  font-style: italic;
}
@media only screen and (min-width:0px) {
  .Text-responsive-italic {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-responsive-italic {
    font-size: 18px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-responsive-italic {
    font-size: 20px;
  }
}

.Text {
  font-family: "Unipol";
  font-size: 16px;
  color: #0f3250;
}

.Text-italic-S {
  font-family: "Unipol";
  font-size: 16px;
  color: #0f3250;
  font-style: italic;
}

.Text-white {
  font-family: "Unipol";
  font-size: 16px;
  color: white;
}

.Text-grey, .Text-grey-XS {
  font-family: "Unipol";
  font-size: 16px;
  color: #666666;
}

.Text-grey-XS {
  font-size: 13px;
  color: #5c5c5c;
}
@media only screen and (min-width:768px) {
  .Text-grey-XS {
    font-size: 14px;
  }
}

.Text-italic,
.ChiaveAttributoGaranzia,
.ValoreAttributoGaranzia {
  font-family: "Unipol";
  font-size: 16px;
  color: #0f3250;
}

.Text-medium,
.Incomplete-Address {
  font-family: "Unipol Medium";
  font-size: 16px;
  color: #0f3250;
  font-weight: 500;
  line-height: 1.25;
}

.Text-white-medium {
  font-family: "Unipol Medium";
  font-size: 16px;
  color: white;
  font-weight: 500;
  line-height: 1.25;
}

.Text-bold,
.Consents-Accordion-Heading {
  font-family: "Unipol Bold";
  font-size: 16px;
  color: #0f3250;
  font-weight: 500;
  line-height: 1.25;
}

.Text-bold-white {
  font-family: "Unipol Bold";
  font-size: 16px;
  color: white;
  font-weight: 500;
  line-height: 1.25;
}

.Text-medium-underline {
  font-family: "Unipol Medium";
  font-size: 16px;
  color: #0f3250;
  text-decoration: underline;
  font-weight: 500;
  line-height: 1.25;
}

.Text-bold-underline {
  font-family: "Unipol Bold";
  font-size: 16px;
  color: #0f3250;
  text-decoration: underline;
  font-weight: 500;
  line-height: 1.25;
}

.Text-Promo {
  font-family: "Unipol Medium";
  font-size: 18px;
  color: #0f3250;
  opacity: 0.6;
  font-weight: 500;
  line-height: 1.43;
}

.Text-strike {
  font-family: "Unipol";
  font-size: 12px;
  color: #0f3250;
  font-weight: normal;
  text-decoration: line-through;
}

.Text-BlueGrey-M {
  font-family: "Unipol Medium";
  font-weight: 500;
  color: #193a56;
}
@media only screen and (min-width:0px) {
  .Text-BlueGrey-M {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .Text-BlueGrey-M {
    font-size: 16px;
  }
}
@media only screen and (min-width:1281px) {
  .Text-BlueGrey-M {
    font-size: 24px;
  }
}

.Strong {
  font-family: "Unipol Bold";
  font-size: 16px;
  font-weight: 100;
  color: #0f3250;
}

.Tag-alert {
  font-family: "Unipol Medium";
  color: white;
  font-size: 12px;
  background-color: #ff001f;
  padding: 0.4rem 1rem;
  margin: 1em 0;
  border-radius: 1.5rem;
}

.Tag-property {
  font-family: "Unipol Medium";
  color: white;
  font-size: 12px;
  background-color: #f39200;
  padding: 0.4rem 1rem;
  margin: 1em 0;
  border-radius: 1.5rem;
}

.RoundedCardText,
.RoundedCardText-Bold,
.RoundedCardText-bold {
  font-family: "Unipol Bold";
  color: #0f3250;
}
@media only screen and (min-width:0px) {
  .RoundedCardText,
  .RoundedCardText-Bold,
  .RoundedCardText-bold {
    font-size: 16px;
  }
}
@media only screen and (min-width:768px) {
  .RoundedCardText,
  .RoundedCardText-Bold,
  .RoundedCardText-bold {
    font-size: 22px;
  }
}
@media only screen and (min-width:1281px) {
  .RoundedCardText,
  .RoundedCardText-Bold,
  .RoundedCardText-bold {
    font-size: 22px;
  }
}

.color-title {
  color: #5393bc;
}

.default {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.default .sub-layout:has(.DocumentationButtonPuContainer) {
  padding: 16px !important;
}
@media only screen and (min-width:0px) {
  .default .sub-layout {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (min-width:768px) {
  .default .sub-layout {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (min-width:1281px) {
  .default .sub-layout {
    width: 100%;
    padding: 0;
  }
}

/*Custom layout per larghezza di 526px*/
.defaultMW528 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}
@media only screen and (min-width:0px) {
  .defaultMW528 {
    margin-top: 0;
  }
}
@media only screen and (min-width:768px) {
  .defaultMW528 {
    margin-top: 32px;
  }
}
@media only screen and (min-width:1281px) {
  .defaultMW528 {
    margin-top: 33px;
  }
}
.defaultMW528 > .sub-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding: 0;
  gap: 32px;
  /*
     * All'evenienza inserire sotto le classi che devono sottostare alla regola GAP 32px
     */
}
@media only screen and (min-width:0px) {
  .defaultMW528 > .sub-layout {
    max-width: 100%;
    padding: 16px 10px;
    margin: 24px 0;
  }
}
@media only screen and (min-width:768px) {
  .defaultMW528 > .sub-layout {
    max-width: 528px;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width:1281px) {
  .defaultMW528 > .sub-layout {
    max-width: 528px;
    margin: 0;
    padding: 0;
  }
}
.defaultMW528 > .sub-layout .flatCardRadioContainer {
  margin-top: 32px;
}

.default-bg-light {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e2f0f9;
  margin-top: 24px;
}
.default-bg-light .sub-layout {
  border: 0 !important;
}
@media only screen and (min-width:0px) {
  .default-bg-light .sub-layout {
    width: 100%;
    padding: 0 20px;
    margin: 24px 0;
  }
}
@media only screen and (min-width:768px) {
  .default-bg-light .sub-layout {
    width: 90vw;
    padding: 0;
    margin: 24px 0;
  }
}
@media only screen and (min-width:1281px) {
  .default-bg-light .sub-layout {
    width: 75vw;
    padding: 0;
    margin: 24px 0;
  }
}
.default-bg-light .card-form .sub-layout::ng-deep {
  margin: 0;
}
.default-bg-light .card-form .sub-layout::ng-deep .pdn-label-input {
  padding: 0 0 12px 0 !important;
}

.inlineMiddle-layout::ng-deep {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inlineMiddleAlignC-layout * {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  width: 100%;
}
.card-form .sub-layout::ng-deep {
  border: solid 2px #f0f0f0;
}
@media only screen and (min-width:0px) {
  .card-form .sub-layout::ng-deep {
    width: 100%;
    padding: 24px 24px;
  }
  .card-form .sub-layout::ng-deep .input-dati-utente {
    width: 100% !important;
  }
}
@media only screen and (min-width:768px) {
  .card-form .sub-layout::ng-deep {
    max-width: 90vw;
    width: 100%;
    padding: 32px 60px;
  }
}
@media only screen and (min-width:1281px) {
  .card-form .sub-layout::ng-deep {
    max-width: 75vw;
    width: 100%;
    padding: 32px 60px;
  }
}
.card-form .sub-layout::ng-deep .accordion {
  width: 100% !important;
}
@media only screen and (min-width:0px) {
  .card-form .sub-layout::ng-deep .layout-input {
    width: 100% !important;
  }
}
@media only screen and (min-width:0px) {
  .card-form .sub-layout::ng-deep .layout-input-date {
    width: 100% !important;
  }
}
.card-form .sub-layout::ng-deep .box-indirizzo-width {
  width: 100%;
  min-width: 0;
}
.card-form .sub-layout::ng-deep .radio-size {
  max-width: none;
  width: 45%;
}
.card-form .sub-layout::ng-deep .radio-horizontal {
  width: 100%;
}
.card-form .sub-layout::ng-deep .responsive3col .pdn-label-input::ng-deep {
  padding: 0 !important;
}
.card-form .sub-layout::ng-deep .responsive3col .select::ng-deep {
  margin-bottom: 0 !important;
}
.card-form .sub-layout::ng-deep .responsive3col input::ng-deep {
  margin: 0 !important;
}
.card-form .sub-layout::ng-deep .responsive4col .pdn-label-input::ng-deep {
  padding: 0 !important;
}
.card-form .sub-layout::ng-deep .responsive4col .select::ng-deep {
  margin-bottom: 0 !important;
}
.card-form .sub-layout::ng-deep .responsive4col input::ng-deep {
  margin: 0 !important;
}

.card-border {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  width: 288px;
}
.card-border .sub-layout::ng-deep {
  border: solid 1px #cccccc;
  border-radius: 24px;
  padding: 16px;
}
.card-border .sub-layout::ng-deep .mimicASentence {
  align-items: center !important;
}
.card-border .sub-layout::ng-deep .mimicASentence tpd-px-icon {
  display: flex;
  margin-right: 12px;
}

.web-box-border {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}
.web-box-border .sub-layout::ng-deep {
  border: solid 1px #cccccc;
  padding: 16px;
}

.tooltip-card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1062px;
  width: 100%;
  margin: 0 auto;
  gap: 8px;
  padding: 12px;
  background-color: #EEF6FC;
}
.tooltip-card-container::before {
  content: "";
  aspect-ratio: 1/1;
  width: 20px;
  margin-top: 3px;
  flex-shrink: 0;
  display: block;
  background-image: url("/assets/icons/icon-Info.svg");
  background-size: cover;
}
.tooltip-card-container .min-w {
  min-width: unset;
}

.tooltip-card-blue {
  position: relative;
  flex-shrink: 0;
  background-color: #193a56;
  width: 60px;
}
@media only screen and (max-width:767px) {
  .tooltip-card-blue {
    width: 56px;
  }
}
.tooltip-card-blue::before {
  content: "";
  display: block;
  aspect-ratio: 1/1;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.tooltip-card-blue::after {
  content: "";
  display: block;
  aspect-ratio: 1/1;
  width: 12px;
  border-radius: 50%;
  background-image: url("/assets/icons/icon-Info.svg");
  background-position: center;
  background-size: 250%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  filter: invert(28%) sepia(12%) saturate(1691%) hue-rotate(166deg) brightness(93%) contrast(91%);
}

.tooltip-card {
  width: 100%;
}

.card-box {
  border: solid 2px #5393bc;
  background-color: white;
}
@media only screen and (min-width:0px) {
  .card-box {
    padding: 12px 16px;
  }
}

.card-azzurra::ng-deep {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 3%;
  background-color: #e2f0f9;
  width: 100%;
}
.card-azzurra::ng-deep .mimicASentence {
  align-items: center;
  gap: 1.5em;
}

.Advice-box::ng-deep {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 3%;
  background-color: #fdf5f2;
  width: 100%;
}
.Advice-box::ng-deep .mimicASentence {
  align-items: center;
  gap: 1.5em;
}

.rounded-card {
  border-radius: 24px;
  border: solid 2px #0f3250;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 24px 12px;
  width: 100%;
}
@media only screen and (max-width:767px) {
  .rounded-card {
    padding: 16px;
  }
}
.rounded-card > * {
  width: 100% !important;
}

.card-borderless {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}
@media only screen and (min-width:0px) {
  .card-borderless .sub-layout::ng-deep {
    width: 100%;
    padding: 22px;
    padding-top: 5px;
  }
}
@media only screen and (min-width:768px) {
  .card-borderless .sub-layout::ng-deep {
    width: 90vw;
    padding: 10px 60px 32px 60px;
  }
}
@media only screen and (min-width:1281px) {
  .card-borderless .sub-layout::ng-deep {
    width: 75vw;
    padding: 10px 60px 32px 60px;
  }
}
.card-borderless .sub-layout::ng-deep .accordion {
  width: 100% !important;
}
@media only screen and (min-width:0px) {
  .card-borderless .sub-layout::ng-deep .layout-input {
    width: 100% !important;
  }
}

.promo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0f3250;
  align-items: center;
  min-height: 55px;
}

.box-highligth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e2f0f9;
  min-height: 164px;
}
@media only screen and (min-width:0px) {
  .box-highligth .sub-layout {
    width: 100%;
    padding: 24px 20px;
  }
}
@media only screen and (min-width:768px) {
  .box-highligth .sub-layout {
    width: 90vw;
    padding: 24px 0;
  }
}
@media only screen and (min-width:1281px) {
  .box-highligth .sub-layout {
    width: 75vw;
    padding: 24px 0;
  }
}

.box-info-text-layout {
  background-color: transparent;
  border: solid 1px #cccccc;
  padding: 16px;
}

.BoxInfoText {
  color: #5c5c5c;
  font-size: 16px;
  font-weight: 500;
}

.left-layout {
  display: flex;
}
.left-layout .sub-left-layout {
  margin-left: auto;
}

.box-privacy-layout::ng-deep {
  padding: 16px;
  border: solid 2px #f0f0f0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (min-width:1281px) {
  .box-privacy-layout::ng-deep {
    max-width: 100%;
  }
}
.box-privacy-layout::ng-deep .Consents-Accordion-Heading {
  color: #5c5c5c !important;
  font-family: "Unipol Medium";
  font-weight: 550;
}
.box-privacy-layout::ng-deep .mimicASentence {
  align-items: center;
  gap: 16px;
}

.margin-Left-S {
  margin-left: 25px;
}

.modal-content-layout::ng-deep {
  width: 92%;
  margin: 0 auto;
}
.modal-content-layout::ng-deep .inlineDoubleGridLayout {
  align-items: center;
}

.footerButton-layout {
  width: 100%;
}
@media only screen and (min-width:0px) {
  .footerButton-layout {
    padding: 10px 0 0 0;
    width: 90vw;
  }
}
@media only screen and (min-width:768px) {
  .footerButton-layout {
    padding: 10px 0;
    width: 100%;
  }
}

.disabled-input-box {
  background-color: #f1f1f1 !important;
  color: #9b9b9b !important;
  font-size: 16px;
  font-family: "Unipol";
  line-height: 24px;
  height: 48px !important;
  pointer-events: none;
  cursor: not-allowed;
  border: 0 !important;
  /*TODO: Decommentare quando presenti @include ellipsis(1);*/
}

@media only screen and (min-width:0px) {
  .accordion::ng-deep {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width:768px) {
  .accordion::ng-deep {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width:1281px) {
  .accordion::ng-deep {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
.accordion::ng-deep .accordion {
  width: 100%;
}
.accordion::ng-deep .layout-input {
  width: 100%;
}
@media only screen and (min-width:0px) {
  .accordion::ng-deep .accordion-4 .DocumentationButton {
    width: 85vw;
  }
}
@media only screen and (min-width:768px) {
  .accordion::ng-deep .accordion-4 .DocumentationButton {
    max-width: calc(90vw - 64px);
  }
}
@media only screen and (min-width:1281px) {
  .accordion::ng-deep .accordion-4 .DocumentationButton {
    max-width: calc(75vw - 72px);
  }
}

.ribbon7-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6bd1ff;
  border-radius: 16px;
  padding: 6px 8px 4px;
  margin-top: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.mrg-label-input {
  margin-bottom: 4px;
}

.background-Property {
  background-color: #e94e10;
}

.background-Mobility {
  background-color: #0169b4;
}

.background-Secondary {
  background-color: #0f3250;
}

.text-align-Default,
.text-align-default {
  text-align: left;
}

.text-align-Center,
.text-align-center {
  text-align: center;
}

.text-aling-Left,
.text-align-left {
  text-align: left;
}

.text-align-Right,
.text-align-right {
  text-align: right;
}

.icon-Lock {
  width: 20px;
  height: 20px;
}

.icon-Lock::before {
  content: "";
  position: absolute;
  background: url("/TpdPortalCommons/build/assets/icon-lock.svg");
  background-size: cover;
  width: 18px;
  height: 18px;
  padding-right: 1rem;
}

.icon-Auto2-negative::before {
  font-family: "unipol-icon" !important;
  content: "\e956";
  color: white;
  font-size: 36px;
}

@media bkp_mobile {
  .visible-mobile {
    display: block;
  }
}
@media only screen and (min-width:768px) {
  .visible-mobile {
    display: none;
  }
}
@media only screen and (min-width:1281px) {
  .visible-mobile {
    display: none;
  }
}

.visible-tablet {
  display: none;
}
@media only screen and (min-width:768px) {
  .visible-tablet {
    display: block;
  }
}
@media only screen and (min-width:1281px) {
  .visible-tablet {
    display: none;
  }
}

.visible-desktop {
  display: none;
}
@media only screen and (min-width:1281px) {
  .visible-desktop {
    display: block;
  }
}

.testo-non-valido {
  height: 14px;
  font-family: "Unipol Medium";
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  color: #ff001f;
}

.Heading-2-popupWidth {
  font-weight: bold;
  font-family: "Unipol Medium";
  line-height: 1.5;
  color: #0f3250;
  width: 446px;
  text-align: center;
}
@media only screen and (min-width:0px) {
  .Heading-2-popupWidth {
    font-size: 22px;
  }
}
@media only screen and (min-width:768px) {
  .Heading-2-popupWidth {
    font-size: 24px;
  }
}
@media only screen and (min-width:1281px) {
  .Heading-2-popupWidth {
    font-size: 24px;
  }
}

.SmallScrollBar::-webkit-scrollbar {
  width: 3px;
}
.SmallScrollBar::-webkit-scrollbar-track {
  background-color: transparent;
}
.SmallScrollBar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 2px;
}
.SmallScrollBar::-webkit-scrollbar-thumb:hover {
  background-color: #d9d9d9;
}

.SSRLoader {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.SSRLoader::after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1000;
  background-color: white;
  background-image: url("/assets/icons/loading_unipol.gif");
  background-size: 150px;
  background-position: center 150px;
  background-repeat: no-repeat;
  image-rendering: optimizeQuality;
  background-blend-mode: multiply;
  filter: invert(1);
  opacity: 0.5;
}

/*# sourceMappingURL=styles.css.map*/