.section.text-list-container .text-list div {
    margin-bottom: var(--Space-200-8, 8px);
}

.section.text-list-container .text-list div .text-link-title {
    margin: 0;
    padding: 0;
    margin-bottom: var(--Space-300-16, 16px);
    font-size: var(--Size-16, 1rem);
    font-weight: 500;
}

.section.text-list-container .text-list .text-link {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: var(--Size-14, 0.875rem);
    font-weight: 400;
}

.text-list-wrapper {
    width: 220px;
}

/* Mobile */
@media (width <= 767px) {
    .section.text-list-container .text-link-title {
        font-weight: 600;
    }
}
