.header-utilities-container {
    display: flex;
    gap: var(--Header-Horizontal-Gap, 4px);
}

.header-utilities-container .navigation-pill,
.header-utilities-container .navigation-pill:hover {
    background: var(--Header-Background);
}

.header-utilities-container [class^="un-icon-"],
.header-utilities-container [class*=" un-icon-"] {
    line-height: unset;
}

@media (width <= 768px) {
  .header-utilities-container > :not(:last-child) {
    display: none;
  }
}
