.header-utilities-container {
    display: flex;
    gap: var(--Header-Horizontal-Gap, 4px);
}

.header-utilities-container .navigation-pill,
.header-utilities-container .navigation-pill:hover {
    background: var(--Header-Background);
}
