.icons-3d {
    display: flex;
    justify-content: center;
    width: 16.25rem;
    height: 5.1875rem;
}

.icons-3d-icon {
    display: flex;
    width: var(--Card-Insurance-Product-Card-Bg-Icon-Size, 5rem);
    height: 5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: var(--Radius-9999, 624.938rem);
}

.icons-3d-icon.icon-mobility {
    background: var(--Card-Insurance-Product-Card-Background-Mobility, #E5F1FF);
}

.icons-3d-icon.icon-property {
    background: var(--Card-Insurance-Product-Card-Background-Property, #FDEDE7);
}

.icons-3d-icon.icon-welfare {
    background: var(--Card-Insurance-Product-Card-Background-Welfare, #EBF8E7);
}

.icons-3d-icon .icon-img {
    display: flex;
    width: var(--Card-Insurance-Product-Card-Icon-Size, 3rem);
    height: 3rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

/* Tablet Portrait */
@media (768px <= width < 1200px) {
    .icons-3d {
        width: 13rem;
        height: 4rem;
    }

    .icons-3d-icon {
        width: var(--Card-Insurance-Product-Card-Bg-Icon-Size-Tp, 4rem);
        height: 4rem;
        gap: 0.5rem;
        border-radius: 7999.221px;
    }

    .icons-3d-icon .icon-img {
        width: 2rem;
        height: 2rem;
    }
}

/* Mobile */
@media (width < 768px) {
    .icons-3d {
        width: 16.125rem;
        height: 5rem;
    }

    .icons-3d-icon {
        width: var(--Card-Insurance-Product-Card-Bg-Icon-Size, 5rem);
        height: 5rem;
        gap: 0.625rem;
        flex-shrink: 0;
        aspect-ratio: 1/1;
        border-radius: var(--Card-Insurance-Product-Card-Radius-Icon, 9999px);
    }
}
