.editorial-carousel-wrapper {
    /* this wrapper is added from eds */
    width: 100%;
}

.editorial-carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Carousel-Widget-Gap, var(--Space-700-48));
    width: 100%;

    &.swiper {
        overflow: visible;
    }

    & .editorial-carousel {
        display: flex;
        width: 100%;
        max-width: var(--Column-Size-Col-12, 82rem);
        align-items: stretch;
        gap: 0;

        & .swiper-slide {
            height: -webkit-fill-available;
            margin-inline-end: var(--Carousel-Editorial-Gap, var(--Space-300-16));

            &:last-child {
                margin-inline-end: 0;
            }
        }
    }
}

/* Tablet Portrait */
@media (768px <= width < 1200px) {
    .editorial-carousel-container {
        margin-inline: auto;
        gap: var(--Carousel-Widget-Gap-M-Tp, var(--Space-600-40));

        &.swiper {
            overflow: visible;

            & .scroll-indicator {
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                min-width: 36.4375rem;

                & .expanding-dots {
                    order: 1;
                    margin-right: auto;
                }

                & .left-icon-button {
                    order: 2;
                }

                & .right-icon-button {
                    order: 3;
                }

                & .arrows {
                    display: flex;
                    align-items: center;
                    gap: var(--Scroll-Indicator-Gap-Icon-M, 1.5rem);
                }
            }
        }

        & .editorial-carousel {
            width: 100%;
            max-width: var(--Column-Size-Col-8, 54.313rem);
        }
    }
}

/* Mobile */
@media (width < 768px) {
    .editorial-carousel-container {
        gap: var(--Carousel-Widget-Gap-M-Tp, var(--Space-600-40));

        & .editorial-carousel {
            display: flex;
            flex-direction: column;
            width: 21.4375rem;
            margin-inline: auto;
            gap: var(--Carousel-Editorial-Gap, var(--Space-300-16));

            & .swiper-slide {
                margin-inline-end: 0;
            }
        }
    }
}

@media (width < 400px) {
    .editorial-carousel-container {
        & .editorial-carousel {
            width: 100%;
        }
    }
}
