.section.text-block-container.category-carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Carousel-Widget-Vertical-Gap, 3rem);
}

.category-carousel-root-container {
    display: flex;
    padding: var(--Space-0, 0);
    justify-content: center;
    align-items: flex-start;
    gap: var(--Carousel-Category-Gap-Horizontal, 1rem);

    & .category-carousel.swiper-wrapper {
        display: inline-flex;
        width: auto;
        padding: var(--Space-0, 0);
        justify-content: center;
        align-items: stretch;
        gap: var(--Carousel-Category-Gap-Horizontal, 1rem);

        & .category-card-wrapper {
            display: flex;
            height: 100%;
        }

        & .swiper-slide {
            display: flex;
            height: auto;
        }
    }
}

/* Desktop small */
@media (1200px <= width < 1440px) {
    .category-carousel-root-container {
        display: flex;
        padding: var(--Space-0, 0);
        justify-content: center;
        align-items: flex-start;
        gap: var(--Carousel-Category-Gap-Horizontal, 1rem);

        & .category-carousel.swiper-wrapper {
            display: inline-flex;
            width: auto;
            padding: var(--Space-0, 0);
            justify-content: center;
            align-items: flex-start;
            gap: var(--Carousel-Category-Gap-Horizontal, 1rem);
        }
    }
}

/* Tablet */
@media (768px <= width < 1200px) {
    .category-carousel-root-container {
        display: flex;
        padding: var(--Space-0, 0);
        justify-content: center;
        align-items: flex-start;
        gap: var(--Carousel-Category-Gap-Horizontal, 1rem);

        & .category-carousel.swiper-wrapper {
            display: inline-flex;
            width: auto;
            padding: var(--Space-0, 0);
            justify-content: center;
            align-items: flex-start;
            gap: var(--Carousel-Category-Gap-Horizontal, 1rem);
        }
    }
}

/* Mobile */
@media (width < 768px) {
    .category-carousel-root-container {
        display: flex;
        padding: var(--Space-0, 0);
        justify-content: center;
        align-items: flex-start;
        gap: var(--Carousel-Category-Gap-Horizontal, 1rem);

        & .category-carousel.swiper-wrapper {
            display: inline-flex;
            width: auto;
            padding: var(--Space-0, 0);
            justify-content: center;
            align-items: flex-start;
            gap: var(--Carousel-Category-Gap-Horizontal, 1rem);
        }
    }
}
