.section {
    &.editorial-carousel-container {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
}

@media (width < 768px) {
    .section.editorial-carousel-container {
        overflow: hidden;
    }
}
