.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    position: relative;
    width: 100%;
    height: 860px;
    padding: 0 var(--Hero-Full-Screen-Horizontal-Padding-D, 64px)
        var(--Hero-Full-Screen-Bottom-Padding-Tl-Tp, 80px)
        var(--Hero-Full-Screen-Horizontal-Padding-D, 64px);

    & .hero-bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .hero-overlay {
        position: absolute;
        inset: 0;
        z-index: 1;
        pointer-events: none;
        background: linear-gradient(
                180deg,
                rgb(0 0 0 / 20%) 8.78%,
                rgb(0 0 0 / 0%) 40.29%
            ),
            linear-gradient(
                180deg,
                rgb(0 0 0 / 0%) 24.94%,
                rgb(0 0 0 / 40%) 69.83%
            ),
            linear-gradient(0deg, rgb(0 0 0 / 7%) 0%, rgb(0 0 0 / 7%) 100%);
    }

    & .hero-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-self: stretch;
        z-index: 2;

        & .main-section {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--Hero-Full-Screen-Gap, 16px);

            & .hero-logo {
                width: 90px;
                height: 57px;
                aspect-ratio: 30/19;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            & .hero-title {
                color: var(--Hero-Full-Screen-Text-Color, #f9f9f7);
                font-family: var(--Family-Font-1, "Apex New");
                font-size: var(--Font-Size-Title-Hero-Apex-New, 56px);
                font-style: normal;
                font-weight: 550;
                line-height: 115%;
                letter-spacing: -0.56px;
            }

            & .hero-subtitle-bold {
                color: var(--Hero-Full-Screen-Text-Color, #f9f9f7);
                font-family: var(--Family-Font-2, Manrope);
                font-size: var(--Font-Size-Heading, 24px);
                font-style: normal;
                font-weight: 600;
                line-height: 125%;
                letter-spacing: -0.24px;
            }

            & .hero-subtitle {
                color: var(--Hero-Full-Screen-Text-Color, #f9f9f7);
                font-family: var(--Family-Font-2, Manrope);
                font-size: var(--Size-16, 16px);
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
            }

            & .hero-bullets {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: var(--Space-200-8, 8px);
                align-self: stretch;
                padding-inline-start: var(--Spacing-Padding-32-24, 24px);

                & li {
                    color: var(--Hero-Full-Screen-Text-Color, #f9f9f7);
                    font-family: var(--Family-Font-2, Manrope);
                    font-size: var(--Size-16, 16px);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }
        }

        & .button-section {
            flex-shrink: 0;
        }
    }

    & .hero-icon {
        color: var(--Hero-Full-Screen-Text-Color, #f9f9f7);
        position: absolute;
        right: 16px;
        bottom: 16px;
        aspect-ratio: 1/1;
    }
}
