.block.teaser {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.teaser-wrapper img {
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.teaser-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.teaser-content a {
  color: var(--link-color);
  font-weight: bold;
}
