.product-highlights-carousel {
    --product-highlights-carousel-width: var(--Layout-Page-Page-Width, 1440px);
    --product-highlights-carousel-gap: 16px;

    width: 100%;
    padding: var(--Space-0, 0);

    & .product-highlights-carousel-track {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        max-width: var(--product-highlights-carousel-width);
        margin-inline: auto;
        padding: var(--Space-0, 0);
        align-items: flex-start;
        gap: 0;
        box-sizing: border-box;
    }

    &:not(.swiper) {
        & .product-highlights-carousel-track {
            justify-content: center;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            gap: var(--product-highlights-carousel-gap);
        }

        & .product-highlights-carousel-track > * {
            flex: 0 0 auto;
            scroll-snap-align: start;
        }
    }
}

@media (width < 1440px) {
    .product-highlights-carousel {
        --product-highlights-carousel-width: 1280px;
    }
}

@media (width < 768px) {
    .product-highlights-carousel {
        --product-highlights-carousel-width: 375px;
        --product-highlights-carousel-gap: 8px;
    }
}
