.category-chip {
    display: flex;
    align-items: center;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-medium);
    line-height: 1.4;
    padding: var(--dimension-category-chips-vertical-padding)
        var(--dimension-category-chips-horizontal-padding);
    border-radius: var(--dimension-category-chips-radius);
    gap: var(--dimension-category-chips-gap);

    &.mobility {
        background-color: var(--color-category-chips-mobility-background);
        color: var(--color-category-chips-mobility-text);

        /* & .icon {
            fill: var(--color-category-chips-mobility-icon);
        } */
    }

    &.property {
        background-color: var(--color-category-chips-property-background);
        color: var(--color-category-chips-property-text);

        /* & .icon {
            fill: var(--color-category-chips-property-icon);
        } */
    }

    &.welfare {
        background-color: var(--color-category-chips-welfare-background);
        color: var(--color-category-chips-welfare-text);

        /* & .icon {
            fill: var(--color-category-chips-welfare-icon);
        } */
    }

    .icon {
        width: var(--dimension-space-350-20);
        height: var(--dimension-space-350-20);
        flex-shrink: 0;
    }
}
