.checkbox-field {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--Checkbox-Field-Horizontal-Gap, 0.5rem);
}

.checkbox-field-text-box {
  display: flex;
  flex-direction: column;
}

.checkbox-field-label {
  color: var(--Checkbox-Field-Unchecked-Text-Label, #001C35);
  font-family: var(--Family-Font-2);
  font-size: var(--Size-16);
  font-weight: 400;
  line-height: 140%;
}

.checkbox-field-description {
  color: var(--Checkbox-Field-Unchecked-Text-Description, #63727D);
  font-family: var(--Family-Font-2);
  font-size: var(--Size-14);
  font-weight: 400;
  line-height: 140%;
}

input.checkbox {
  padding: var(--Checkbox-Field-Checkbox-Frame-Vertical-Padding, 0.25rem) 0;
}

.disabled-label {
  color: var(--Checkbox-Field-Disabled-Text-Label, #63727D);
}

.disabled-description {
  color: var(--Checkbox-Field-Disabled-Text-Description, #63727D);
}
