.footer-download-link-wrapper {
    margin-left: auto;
}

.footer-download-link .footer-download-link-container {
    color: #F9F9F7; /* cambiare */
}

.footer-download-link-wrapper .footer-unipol-button-container a {
    color:  #F9F9F7; /*  var(--Text-Default-Primary); */
}
