.number-block.block {
    margin: 0;
}

.number-block-cont {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--Size-16, 1rem);
  font-family: var(--Family-Font-2);
  font-weight: 400;
}

.text-block-number {
  font-weight: 600;
  font-size: var(--Size-56, 3.5rem);
}

.number-block {
    text-align: center;
    margin-bottom: 32px;
}

.number-block p{
    margin: 0;
}

/* Desktop */
@media (width >= 768px) {
    .number-block-cont {
        flex-direction: row;
        justify-content: space-around;
    }

    .text-block-number {
      font-size: var(--Size-80, 5rem);
    }
}
