.number-block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
}

.text-block-number {
  font-weight: 600;
  font-size: 4rem;
}

.number-block {
    margin-bottom: 32px;
}

.number-block p{
    margin: 0;
}

/* Tablet */
@media (width >= 769px) and (width <= 1024px) {
  .text-block-number {
    font-size: 4rem;
  }
}

/* Desktop */
@media (width >= 1025px) {
  .number-block-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .text-block-number {
    font-size: 5rem;
  }
}