.number-block.block {
    margin: 0;
}

.number-block-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--font-size-16);
  font-family: var(--Family-Font-2);
  font-weight: 400;
}

.text-block-number {
  font-weight: 600;
  font-size: var(--font-size-56);
}

.number-block {
  display: flex;
  width: 21.4375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--KPI-Highlights-Widget-Gap---M---TP, 2.5rem);
}

.number-block p {
    margin: 0;
}

/* Tablet */
@media (width >= 769px) and (width <= 1024px) {
  .text-block-number {
    font-size: var(--font-size-56);
  }
}

@media (width >= 769px) {
  .number-block-cont {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Desktop */
@media (width >= 1025px) {
  .text-block-number {
    font-size: 5rem;
  }
}