.number-block {
  display: block;
}

.number-block-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  font-family: var(--Family-Font-2, sans-serif);
}

.number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* Titolo / Numero */
.number-item-title {
  font-weight: 600;
  font-size: var(--Size-56, 3.5rem);
  line-height: 1.2;
  
  /* Troncamento 1 riga */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 100%;
}

/* Descrizione */
.number-item-description {
  font-size: var(--Size-16, 1rem);
  font-weight: 400;
  margin-top: 8px;
}

/* Troncamento Descrizione (gestisce anche p interni) */
.number-item-description p {
  margin: 0;

  /* Troncamento 2 righe (~40 char a seconda della width) */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Desktop */
@media (width >= 768px) {
  .number-block-wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .number-item {
    width: 30%; 
  }

  .number-item-title {
    font-size: var(--Size-80, 5rem);
  }
}