.footer-download-section {
    height: 100%;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.footer-download-section-wrapper {
    margin-left: auto;
}

.footer-download-section-wrapper .footer-download-section a {
    margin-bottom: 0;
}

.footer-download-section .footer-download-qr {
    width: 100%;
    justify-content: space-between;
    border: 1px solid var(--Border-Default-Tertiary);
    border-radius: var(--Radius-300-16);
    padding: var(--Space-250-12);
    color: var(--color-footer-primary-text, #F9F9F7);
    font-weight: 400;
    font-size: var(--font-size-14);
}

.footer-download-qr img {
    width: 80px;
    height: 80px;
}

.footer-download-brand {
    width: 100%;
    justify-content: space-between;
    border: 1px solid var(--Border-Default-Tertiary);
    border-radius: 0 var(--Radius-300-16);
    padding: var(--Space-250-12);
}

.footer-download-brand > picture {
    display: flex;
}

.footer-download-section-wrapper .footer-download-brand a {
    color: var(--color-footer-primary-text, #F9F9F7);
}

/*
.footer-download-section a.footer-link-unipol-button {
    margin-left: auto;
    font-weight: 600;
    font-size: var(--font-size-16);
}

@media (width < 768px) {
    .footer-download-link {
        height: 100%;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}
*/
