.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--dimension-icon-button-dimentions);
    width: var(--dimension-icon-button-dimentions);
    border-radius: var(--dimension-icon-button-radius);
    gap: var(--dimension-space-200-8);
    border: var(--border-width-stroke-100-1) solid transparent;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: inherit;
    box-sizing: border-box;
    user-select: none;
}

.btn-icon-primary {
    background-color: var(--color-icon-button-primary-default-background);
    color: var(--color-icon-button-primary-default-icon);
    border-color: var(--color-icon-button-primary-default-border);

    /* Disabled state */
    &:disabled {
        background-color: var(--color-icon-button-primary-disabled-background);
        color: var(--color-icon-button-primary-disabled-icon);
        cursor: default;
        border-color: var(--color-icon-button-primary-disabled-border);
    }

    /* Focus state */
    &:focus-visible,
    &:focus {
        outline: var(--border-width-stroke-200-2) solid
            var(--color-icon-button-primary-focused-border-focused);
        background-color: var(--color-icon-button-primary-focused-background);
        color: var(--color-icon-button-primary-focused-icon);
    }

    /* Hover state */
    &:hover:not(:disabled) {
        background-color: var(--color-icon-button-primary-hover-background);
        color: var(--color-icon-button-primary-hover-icon);
        border-color: var(--color-icon-button-primary-hover-border);
    }

    /* Pressed state */
    &:active:not(:disabled) {
        background-color: var(--color-icon-button-primary-pressed-background);
        color: var(--color-icon-button-primary-pressed-icon);
        border-color: var(--color-icon-button-primary-pressed-border);
    }
}

.btn-icon-secondary {
    background-color: var(--color-icon-button-secondary-default-background);
    color: var(--color-icon-button-secondary-default-icon);
    border-color: var(--color-icon-button-secondary-default-border);

    /* Disabled state */
    &:disabled {
        background-color: var(
            --color-icon-button-secondary-disabled-background
        );
        color: var(--color-icon-button-secondary-disabled-icon);
        border-color: var(--color-icon-button-secondary-disabled-border);
        cursor: default;
    }

    /* Focus state */
    &:focus-visible,
    &:focus {
        outline: var(--border-width-stroke-200-2) solid
            var(--color-icon-button-secondary-focused-border);
        background-color: var(--color-icon-button-secondary-focused-background);
        color: var(--color-icon-button-secondary-focused-icon);
    }

    /* Hover state */
    &:hover:not(:disabled) {
        background-color: var(--color-icon-button-secondary-hover-background);
        color: var(--color-icon-button-secondary-hover-icon);
        border-color: var(--color-icon-button-secondary-hover-border);
    }

    /* Pressed state */
    &:active:not(:disabled) {
        background-color: var(--color-icon-button-secondary-pressed-background);
        color: var(--color-icon-button-secondary-pressed-icon);
        border-color: var(--color-icon-button-secondary-pressed-border);
    }
}
