.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--dimension-space-600-40);
    width: var(--dimension-space-600-40);
    border-radius: var(--border-radius-400-24);
    gap: var(--dimension-space-200-8);
    padding: var(--dimension-space-250-12) var(--dimension-space-400-24);
    border: var(--border-width-stroke-100-1) solid transparent;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: inherit;
    box-sizing: border-box;
    user-select: none;
}

.btn-icon-primary {
    background-color: var(--color-icon-button-primary-default-background);
    color: var(--color-icon-button-primary-default-icon);
    border-color: var(--color-icon-button-primary-default-border);

    /* Disabled state */
    &:disabled {
        background-color: var(--color-icon-button-primary-disabled-background);
        color: var(--color-icon-button-primary-disabled-icon);
        cursor: default;
        border-color: var(--color-icon-button-primary-disabled-border);
    }

    /* Hover state */
    &:hover:not(:disabled) {
        background-color: var(--color-icon-button-primary-hover-background);
        color: var(--color-icon-button-primary-hover-icon);
        border-color: var(--color-icon-button-primary-hover-border);
    }
}

.btn-icon-secondary {
    background-color: var(--color-icon-button-secondary-default-background);
    color: var(--color-icon-button-secondary-default-icon);
    border-color: var(--color-icon-button-secondary-default-border);

    /* Disabled state */
    &:disabled {
        background-color: var(
            --color-icon-button-secondary-disabled-background
        );
        color: var(--color-icon-button-secondary-disabled-icon);
        border-color: var(--color-icon-button-secondary-disabled-border);
        cursor: default;
    }

    /* Hover state */
    &:hover:not(:disabled) {
        background-color: var(--color-icon-button-secondary-hover-background);
        color: var(--color-icon-button-secondary-hover-icon);
        border-color: var(--color-icon-button-secondary-hover-border);
    }
}

/* Focus state */
.btn-icon:focus,
.btn-icon:focus-visible {
    outline: var(--border-width-stroke-200-2) solid
        var(--color-border-default-focused);
}
