.tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--Tag-Vertical-Padding) var(--Tag-Horizontal-Padding);
    border-radius: var(--Tag-Radius);
    border: var(--Tag-Border) solid; 
    font-size: var(--Size-12);
    font-weight: var(--Weight-Semi-Bold);
    line-height: 1.4;
    letter-spacing: 0.24px;
    text-transform: uppercase;

    &.default {
        &.mobility {
            background-color: var(--Tag-Default-Mobility-Background);
            border-color: var(--Tag-Default-Mobility-Border);
            color: var(--Tag-Default-Mobility-Text);
        }

        &.welfare {
            background-color: var(--Tag-Default-Welfare-Background);
            border-color: var(--Tag-Default-Welfare-Border);
            color: var(--Tag-Default-Welfare-Text);
        }

        &.property {
            background-color: var(--Tag-Default-Property-Background);
            border-color: var(--Tag-Default-Property-Border);
            color: var(--Tag-Default-Property-Text);
        }
    }

    &.secondary {
        &.mobility {
            background-color: var(--Tag-Secondary-Mobility-Background);
            border-color: var(--Tag-Secondary-Mobility-Border);
            color: var(--Tag-Secondary-Mobility-Text);
        }

        &.welfare {
            background-color: var(--Tag-Secondary-Welfare-Background);
            border-color: var(--Tag-Secondary-Welfare-Border);
            color: var(--Tag-Secondary-Welfare-Text);
        }

        &.property {
            background-color: var(--Tag-Secondary-Property-Background);
            border-color: var(--Tag-Secondary-Property-Border);
            color: var(--Tag-Secondary-Property-Text);
        }
    }

    &.neutral {
        background-color: var(--Tag-Neutral-Background);
        border-color: var(--Tag-Neutral-Border);
        color: var(--Tag-Neutral-Text);
    }

    &.custom {
        background-color: var(--Tag-Custom-Background);
        border-color: var(--Tag-Custom-Border);
        color: var(--Tag-Custom-Text);
    }
}
