.bundle-card-wrapper {
    display: flex;

    & .bundle-card-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        flex: auto;
        border-radius: var(--Card-Radius, 1.5rem);
        background: var(--Card-bundle-Card-Background, #FFF);
        box-shadow: var(--Depth-050-2, 2px) var(--Depth-050-2, 2px) var(--Blur-200-8, 8px) 0 rgb(0 0 0 / 8%);

        & .bundle-card-image {
            position: relative;
            display: flex;
            height: 11.1095rem;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            aspect-ratio: 316.00/177.75;
            border-radius: var(--Images-Radius, 1.5rem) var(--Images-Radius, 1.5rem) var(--Radius-0, 0) var(--Radius-0, 0);

            & img, picture {
                width: 100%;
                height: 11.1095rem;
                border-radius: var(--Images-Radius, 1.5rem) var(--Images-Radius, 1.5rem) var(--Radius-0, 0) var(--Radius-0, 0);
                object-fit: cover;
                object-position: top;
            }

            & .bundle-card-tag {
                display: flex;
                padding: var(--Tag-Vertical-Padding, 0.25rem) var(--Tag-Horizontal-Padding, 0.75rem);
                justify-content: center;
                align-items: center;
                position: absolute;
                left: 1rem;
                top: 1rem;
                border-radius: var(--Tag-Radius, 0.5rem);
                border: var(--Tag-Border, 1px) solid var(--Tag-Neutral-Border, rgb(17 17 17 / 0%));
            }
        }

        & .bundle-card-content {
            flex: 1;
            display: flex;
            position: relative;
            padding: 0 var(--Card-bundle-Card-Horizontal-Padding, 1.5rem) var(--Card-bundle-Card-Vertical-Padding, 1.5rem) var(--Card-bundle-Card-Horizontal-Padding, 1.5rem);
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: var(--Card-bundle-Card-Gap, 1.5rem);
            align-self: stretch;

            & .bundle-card-text {
                display: flex;
                padding-top: var(--Card-bundle-Card-Vertical-Padding-Top, 3.5rem);
                flex-direction: column;
                align-items: center;
                gap: var(--Card-bundle-Card-Text-Gap, 0.5rem);
                align-self: stretch;

                & .title {
                    align-self: stretch;
                    color: var(--Card-bundle-Card-Title, #001C35);
                    text-align: center;
                    font-family: var(--Family-Font-2, Manrope);
                    font-size: var(--Font-Size-Heading, 1.5rem);
                    font-style: normal;
                    font-weight: 600;
                    line-height: 125%;
                    letter-spacing: -0.015rem;
                }

                & .description {
                    align-self: stretch;
                    color: var(--Card-bundle-Card-Body, #001C35);
                    text-align: center;
                    font-family: var(--Family-Font-2, Manrope);
                    font-size: var(--Size-16, 1rem);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            & .button-subdescription {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--Card-bundle-Card-Button-Gap, 0.5rem);
                align-self: stretch;

                & .subdescription {
                    align-self: stretch;
                    color: var(--Card-bundle-Card-Details, #63727D);
                    text-align: center;
                    font-family: var(--Family-Font-2, Manrope);
                    font-size: var(--Size-14, 0.875rem);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            & .img-vector {
                width: 100%;
                left: 0;
                display: flex;
                justify-content: center;
                height: 5.1875rem;
                position: absolute;
                top: -2.6095rem;

                & .icons-3d {
                    gap: var(--Card-bundle-Card-Icon-Gap, 0.5rem);
                }
            }
        }
    }
}

/* Tablet Portrait */
@media (768px <= width < 1200px) {
    .bundle-card-wrapper {
        & .bundle-card-container {
            width: 100%;

            & .bundle-card-image {
                height: 10.26575rem;
                aspect-ratio: 292.00/164.25;

                & img, picture {
                    width: 100%;
                    height: 10.26575rem;
                }
            }

            & .bundle-card-content {
                padding: 0 var(--Card-bundle-Card-Horizontal-Padding, 1.5rem) var(--Card-bundle-Card-Vertical-Padding, 1.5rem) var(--Card-bundle-Card-Horizontal-Padding, 1.5rem);

                & .bundle-card-text {
                    padding-top: 3rem;

                    & .title {
                        font-size: var(--Size-20, 1.25rem);
                        font-weight: 600;
                        line-height: 130%;
                        letter-spacing: -0.0125rem;
                    }
                }

                & .img-vector {
                    height: 4rem;
                    position: absolute;
                    top: -1.98456rem;
                }
            }
        }
    }
}

/* Mobile */
@media (width < 768px) {
    .bundle-card-wrapper {
        .bundle-card-container {
            width: 100%;

            & .bundle-card-image {
                height: 12.05875rem;
                aspect-ratio: 343.00/192.94;
                border-radius: var(--Images-Radius, 1.5rem) var(--Images-Radius, 1.5rem) var(--Radius-0, 0) var(--Radius-0, 0);

                & img, picture {
                    width: 100%;
                    height: 12.05875rem;
                }
            }

            & .bundle-card-content {
                padding: 0 var(--Card-bundle-Card-Horizontal-Padding-M, 1rem) var(--Card-bundle-Card-Vertical-Padding, 1.5rem) var(--Card-bundle-Card-Horizontal-Padding-M, 1rem);
                gap: var(--Card-bundle-Card-Gap, 1.5rem);

                & .img-vector {
                    height: 5rem;
                    position: absolute;
                    top: -2.48081rem;
                }
            }
        }

        &.hidden {
            display: none;
        }
    }
}


