.bundle-card-wrapper {
    display: flex;

    & .bundle-card-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        flex: auto;
        border-radius: var(--Card-Radius, 1.5rem);
        background: var(--Card-bundle-Card-Background, #FFF);
        box-shadow: var(--Depth-050-2, 2px) var(--Depth-050-2, 2px) var(--Blur-200-8, 8px) 0 rgb(0 0 0 / 8%);

        & .bundle-card-image {
            position: relative;
            display: flex;
            height: 11.1095rem;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            aspect-ratio: 316.00/177.75;
            border-radius: var(--Images-Radius, 1.5rem) var(--Images-Radius, 1.5rem) var(--Radius-0, 0) var(--Radius-0, 0);

            & img, picture {
                width: 100%;
                height: 11.1095rem;
                border-radius: var(--Images-Radius, 1.5rem) var(--Images-Radius, 1.5rem) var(--Radius-0, 0) var(--Radius-0, 0);
                object-fit: cover;
                object-position: top;
            }
        }

        & .bundle-card-content {
            flex: 1;
            display: flex;
            position: relative;
            padding: var(--Card-Bundle-Card-Vertical-Padding, 24px) var(--Card-Bundle-Card-Horizontal-Padding-D-Ds, 24px);
            flex-direction: column;
            justify-content: space-between;
            gap: var(--Card-Bundle-Card-Vertical-Gap, 32px);
            align-self: stretch;

            & .card-bundle-text-cont {
                display: flex;
                flex-direction: column;
                gap: var(--Card-Bundle-Card-Text-Gap, 8px);

                & .title {
                    align-self: stretch;
                    color: var(--Card-Bundle-Card-Title, #001C35);
                    font-family: var(--Family-Font-2, Manrope);
                    font-size: var(--Size-24);
                    font-style: normal;
                    font-weight: 600;
                }

                & .description {
                    align-self: stretch;
                    color: var(--Card-bundle-Card-Body, #001C35);
                    font-family: var(--Family-Font-2, Manrope);
                    font-size: var(--Size-16, 1rem);
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            & .bundle-card-category-strip {
                display: flex;
                flex-direction: column;
                gap: var(--Card-Bundle-Card-Gap-Category-Strip, 8px);
            }

            & .button-subdescription {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--Card-bundle-Card-Button-Gap, 0.5rem);
                align-self: stretch;
            }

            & .subdescription {
                align-self: stretch;
                color: var(--Card-Bundle-Card-Title, #001C35);
                font-family: var(--Family-Font-2, Manrope);
                font-size: var(--Size-20);
                font-style: normal;
                font-weight: 600;
            }

            & .img-vector {
                width: 100%;
                left: 0;
                display: flex;
                justify-content: center;
                height: 5.1875rem;
                position: absolute;
                top: -2.6095rem;

                & .icons-3d {
                    gap: var(--Card-bundle-Card-Icon-Gap, 0.5rem);
                }
            }
        }
    }
}

/* Tablet Portrait */
@media (768px <= width < 1200px) {
    .bundle-card-wrapper {
        & .bundle-card-container {
            width: 100%;

            & .bundle-card-image {
                height: 10.26575rem;
                aspect-ratio: 292.00/164.25;

                & img, picture {
                    width: 100%;
                    height: 10.26575rem;
                }
            }

            & .bundle-card-content {
                padding: var(--Card-Bundle-Card-Vertical-Padding, 24px) var(--Card-Bundle-Card-Horizontal-Padding-M-Tp, 16px);

                & .img-vector {
                    height: 4rem;
                    position: absolute;
                    top: -1.98456rem;
                }
            }
        }
    }
}

/* Mobile */
@media (width < 768px) {
    .bundle-card-wrapper {
        .bundle-card-container {
            width: 100%;

            & .bundle-card-image {
                height: 12.05875rem;
                aspect-ratio: 343.00/192.94;
                border-radius: var(--Images-Radius, 1.5rem) var(--Images-Radius, 1.5rem) var(--Radius-0, 0) var(--Radius-0, 0);

                & img, picture {
                    width: 100%;
                    height: 12.05875rem;
                }
            }

            & .bundle-card-content {
                padding: var(--Card-Bundle-Card-Vertical-Padding, 24px) var(--Card-Bundle-Card-Horizontal-Padding-M-Tp, 16px);
                gap: var(--Card-bundle-Card-Gap, 1.5rem);

                & .img-vector {
                    height: 5rem;
                    position: absolute;
                    top: -2.48081rem;
                }
            }
        }

        &.hidden {
            display: none;
        }
    }
}

