/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --background-blur-400-24-2: blur(1.5rem);
  --background-blur-200-8: blur(0.5rem);
}