/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --layout-page-width: 90rem;
  --layout-page-min-height: 56.25rem;
  --layout-container-horizontal-gap: 1.5rem;
  --layout-container-vertical-gap: 1.5rem;
  --column-size-col-1: 5.875rem;
  --column-size-col-2: 12.833rem;
  --column-size-col-3: 19.75rem;
  --column-size-col-4: 26.625rem;
  --column-size-col-5: 33.563rem;
  --column-size-col-6: 40.5rem;
  --column-size-col-7: 47.375rem;
  --column-size-col-8: 54.313rem;
  --column-size-col-9: 61.25rem;
  --column-size-col-10: 68.125rem;
  --column-size-col-11: 75.063rem;
  --column-size-col-12: 82rem;
  --padding-c-72-56-24: 4.5rem;
  --padding-c-64-48-24: 4rem;
  --space-0: 0rem;
  --space-50-2: 0.125rem;
  --space-100-4: 0.25rem;
  --space-200-8: 0.5rem;
  --space-250-12: 0.75rem;
  --space-300-16: 1rem;
  --space-350-20: 1.25rem;
  --space-400-24: 1.5rem;
  --space-500-32: 2rem;
  --space-600-40: 2.5rem;
  --space-700-48: 3rem;
  --space-800-56: 3.5rem;
  --space-900-64: 4rem;
  --space-1000-80: 5rem;
  --space-1100-96: 6rem;
  --space-1200-120: 7.5rem;
  --depth-0: 0rem;
  --depth-025-1: 0.063rem;
  --depth-050-2: 0.125rem;
  --depth-100-4: 0.25rem;
  --depth-200-8: 0.5rem;
  --depth-400-16: 1rem;
  --depth-800-32: 2rem;
  --depth-1200-48: 3rem;
  --depth-negative-025: -0.062rem;
  --depth-negative-050: -0.125rem;
  --depth-negative-100: -0.25rem;
  --depth-negative-200: -0.5rem;
  --depth-negative-400: -1rem;
  --depth-negative-800: -2rem;
  --depth-negative-1200: -3rem;
  --blur-100-4: 0.25rem;
  --blur-200-8: 0.5rem;
  --blur-300-16: 1rem;
  --blur-400-24: 1.5rem;
  --card-height: 25rem;
  --card-width: 18.75rem;
  --hero-min-height: 18.75rem;
  --layout-page-gap: var(--space-0);
  --layout-section-margin-horizontal-padding: var(--space-900-64);
  --layout-section-vertical-padding: var(--space-900-64);
  --layout-section-vertical-gap: var(--space-300-16);
  --layout-section-horizontal-gap: var(--space-300-16);
  --layout-row-horizontal-padding: var(--space-0);
  --layout-row-vertical-padding: var(--space-0);
  --layout-row-gutter-horizontal-gap: var(--space-300-16);
  --layout-row-gutter-vertical-gap: var(--space-300-16);
  --layout-container-vertical-padding: var(--space-0);
  --layout-container-horizontal-padding: var(--space-0);
  --container-width-l6-m6-s12: var(--column-size-col-6);
  --container-width-l4-m4-s12: var(--column-size-col-4);
  --container-width-l3-m6-s12: var(--column-size-col-3);
  --container-width-l3-m4-s12: var(--column-size-col-3);
  --container-width-l6-m3-s12: var(--column-size-col-6);
  --container-width-l9-m6-s12: var(--column-size-col-9);
  --container-width-l4-m6-s12: var(--column-size-col-4);
  --font-size-title-hero-apex-new: var(--size-56);
  --accordion-vertical-padding: var(--space-400-24);
  --ai-icon-dimentions: var(--space-500-32);
  --ai-icon-radius: var(--radius-9999);
  --accordion-horizontal-padding: var(--spacing-padding-24-16);
  --accordion-horizontal-gap: var(--spacing-gap-24-16);
  --accordion-vertical-gap: var(--spacing-gap-24-16);
  --accordion-radius: var(--radius-300-16);
  --accordion-radius-bottom-left: var(--radius-200-8);
  --accordion-radius-top-right: var(--radius-200-8);
  --accordion-radius-bottom-right: var(--radius-200-8);
  --accordion-border-width-top: var(--stroke-100-1);
  --accordion-border-width-bottom: var(--stroke-100-1);
  --accordion-border-width-left: var(--stroke-100-1);
  --accordion-border: var(--stroke-100-1);
  --avatar-radius-top-left: var(--radius-9999);
  --avatar-radius-bottom-left: var(--radius-9999);
  --avatar-radius-top-right: var(--radius-9999);
  --avatar-radius-bottom-right: var(--radius-9999);
  --avatar-dimentions: var(--space-700-48);
  --avatar-border-width-top: var(--stroke-100-1);
  --avatar-border-width-bottom: var(--stroke-100-1);
  --avatar-border-width-left: var(--stroke-100-1);
  --avatar-border-width-right: var(--stroke-100-1);
  --button-horizontal-padding: var(--space-400-24);
  --button-vertical-padding: var(--space-250-12);
  --button-gap: var(--space-200-8);
  --button-min-width: var(--space-700-48);
  --button-min-height: var(--space-400-24);
  --button-radius-default: var(--radius-400-24);
  --button-radius-ghost: var(--radius-0);
  --button-border-default: var(--stroke-100-1);
  --button-border-focused: var(--stroke-200-2);
  --button-group-horizontal-padding: var(--space-200-8);
  --button-group-vertical-gap: var(--space-200-8);
  --button-group-horizontal-gap: var(--space-200-8);
  --category-tabs-height: var(--space-600-40);
  --category-tabs-horizontal-padding: var(--space-300-16);
  --category-tabs-gap: var(--space-200-8);
  --category-tabs-radius: var(--radius-9999);
  --category-tabs-border-width: var(--stroke-100-1);
  --card-horizontal-padding: var(--space-400-24);
  --card-vertical-padding: var(--space-400-24);
  --card-gap: var(--space-400-24);
  --checkbox-dimentions: var(--space-300-16);
  --card-radius: var(--radius-400-24);
  --checkbox-radius: var(--radius-100-4);
  --card-border-width: var(--stroke-100-1);
  --checkbox-border-width: var(--stroke-100-1);
  --checkbox-border-focus: var(--stroke-200-2);
  --checkbox-field-vertical-gap: var(--space-50-2);
  --checkbox-field-horizontal-gap: var(--space-250-12);
  --checkbox-field-checkbox-frame-vertical-padding: var(--space-50-2);
  --dialog-radius: var(--radius-0);
  --dialog-vertical-padding-d-tl: var(--space-500-32);
  --dialog-horizontal-padding: var(--space-500-32);
  --dialog-horizontal-gap: var(--space-300-16);
  --dialog-text-gap: var(--space-300-16);
  --footer-width: var(--layout-page-width);
  --footer-horizontal-padding: var(--layout-section-margin-horizontal-padding);
  --footer-vertical-padding: var(--space-300-16);
  --footer-gap: var(--layout-row-gutter-horizontal-gap);
  --header-height: var(--space-900-64);
  --hero-horizontal-padding: var(--space-250-12);
  --hero-vertical-padding: var(--space-250-12);
  --hero-gap: var(--space-500-32);
  --hero-text-gap: var(--space-50-2);
  --header-width: var(--layout-page-width);
  --header-horizontal-padding: var(--layout-section-margin-horizontal-padding);
  --header-vertical-padding: var(--space-300-16);
  --header-gap: var(--layout-row-gutter-horizontal-gap);
  --icon-button-dimentions: var(--space-600-40);
  --icon-button-radius: var(--radius-9999);
  --input-fields-radius-default: var(--radius-9999);
  --images-radius: var(--radius-400-24);
  --input-fields-radius-text-area: var(--radius-300-16);
  --input-fields-border-default: var(--stroke-100-1);
  --input-fields-border-focused: var(--stroke-200-2);
  --input-fields-vertical-gap: var(--space-100-4);
  --input-fields-vertical-gap-select: var(--space-50-2);
  --input-fields-horizontal-gap: var(--space-200-8);
  --input-fields-min-height-text-area: var(--space-900-64);
  --input-fields-vertical-padding: var(--space-300-16);
  --input-fields-horizontal-padding: var(--space-400-24);
  --input-fields-horizontal-padding-icon: var(--space-350-20);
  --label-input-fields-vertical-padding: var(--space-0);
  --input-field-hint-vertical-padding-selection-control: var(--space-100-4);
  --input-field-hint-horizontal-gap-icon: var(--space-100-4);
  --input-field-hint-horizontal-gap-selection-control: var(--space-200-8);
  --navigation-pill-horizontal-padding: var(--space-250-12);
  --navigation-pill-vertical-padding: var(--space-200-8);
  --navigation-pill-gap: var(--space-200-8);
  --navigation-pill-radius: var(--radius-9999);
  --options-radius: var(--radius-300-16);
  --options-radius-box: var(--radius-400-24);
  --options-horizontal-padding-external: var(--space-200-8);
  --options-horizontal-padding-internal: var(--space-250-12);
  --options-horizontal-gap: var(--space-250-12);
  --options-vertical-padding: var(--space-200-8);
  --options-vertical-padding-list: var(--space-200-8);
  --options-vertical-gap: var(--space-0);
  --options-border: var(--stroke-100-1);
  --overlay-radius: var(--radius-0);
  --pagination-radius: var(--radius-200-8);
  --pagination-dimention: var(--space-500-32);
  --pagination-height: var(--space-400-24);
  --pagination-horizontal-padding: var(--space-250-12);
  --radio-button-dimentions: var(--space-300-16);
  --pagination-vertical-padding: var(--space-250-12);
  --pagination-gap: var(--space-50-2);
  --radio-button-radius: var(--radius-9999);
  --radio-button-field-vertical-gap: var(--space-50-2);
  --radio-button-field-horizontal-gap: var(--space-250-12);
  --radio-button-field-radio-button-frame-vertical-padding: var(--space-50-2);
  --section-text-gap: var(--space-300-16);
  --section-vertical-padding: var(--space-500-32);
  --radio-button-border-width: var(--stroke-100-1);
  --radio-button-border-focus: var(--stroke-200-2);
  --switch-width: var(--space-600-40);
  --switch-button-field-vertical-gap: var(--space-50-2);
  --switch-button-field-horizontal-gap: var(--space-250-12);
  --switch-button-field-switch-frame-vertical-padding: var(--space-50-2);
  --switch-height: var(--space-400-24);
  --switch-padding: var(--space-50-2);
  --switch-radius: var(--radius-9999);
  --switch-border-width: var(--stroke-100-1);
  --switch-border-focus: var(--stroke-200-2);
  --tab-height: var(--space-500-32);
  --tab-horizontal-padding: var(--space-250-12);
  --tab-vertical-padding: var(--space-250-12);
  --tab-gap: var(--space-200-8);
  --tab-top-left-radius: var(--space-0);
  --tab-bottom-left-radius: var(--space-0);
  --tab-top-right-radius: var(--space-0);
  --tab-bottom-right-radius: var(--space-0);
  --tab-border-width-bottom: var(--stroke-100-1);
  --tab-border-width-top: var(--stroke-0);
  --tab-border-width-right: var(--stroke-0);
  --tab-border-width-left: var(--stroke-0);
  --tab-group-horizontal-padding: var(--space-0);
  --tab-group-vertical-padding: var(--space-0);
  --tab-group-gap: var(--space-0);
  --tag-horizontal-padding: var(--space-250-12);
  --tag-vertical-padding: var(--space-100-4);
  --tag-border: var(--stroke-100-1);
  --tag-radius-rounded: var(--radius-200-8);
  --tooltip-horizontal-padding: var(--space-300-16);
  --tooltip-vertical-padding: var(--space-300-16);
  --tooltip-gap: var(--space-200-8);
  --tooltip-radius: var(--radius-200-8);
  --tooltip-border-width-top: var(--stroke-100-1);
  --tooltip-border-width-bottom: var(--stroke-100-1);
  --tooltip-border-width-left: var(--stroke-100-1);
  --tooltip-border-width-right: var(--stroke-100-1);
  --button-radius-default-2: var(--radius-400-24);
  --font-size-title-extra-large: var(--size-80);
  --font-size-title-page: var(--size-48);
  --font-size-subtitle-manrope: var(--size-32);
  --font-size-heading: var(--size-24);
  --spacing-padding-32-16: var(--space-500-32);
  --accordion-icon-vertical-padding: var(--spacing-padding-4-2);
  --ai-message-radius: var(--radius-9999);
  --ai-message-radius-m: var(--radius-300-16);
  --ai-message-horizontal-gap: var(--space-200-8);
  --ai-message-vertical-gap: var(--space-200-8);
  --ai-message-horizontal-padding-left: var(--space-100-4);
  --ai-message-horizontal-padding-right: var(--space-300-16);
  --ai-message-vertical-padding: var(--space-100-4);
  --category-strip-horizontal-padding-left: var(--spacing-padding-16-12);
  --category-strip-horizontal-padding-right: var(--space-100-4);
  --category-strip-vertical-padding: var(--space-100-4);
  --category-strip-gap: var(--spacing-padding-16-12);
  --category-strip-category-gap: var(--space-200-8);
  --category-strip-tag-gap: var(--space-100-4);
  --category-strip-radius: var(--radius-200-8);
  --card-horizontal-padding-m: var(--space-300-16);
  --card-vertical-gap: var(--space-200-8);
  --card-editorial-card-text-gap: var(--space-200-8);
  --card-section-gap: var(--space-300-16);
  --download-tile-radius: var(--radius-300-16);
  --download-tile-vertical-padding: var(--space-400-24);
  --download-tile-horizontal-padding: var(--spacing-padding-24-16);
  --download-tile-horizontal-gap: var(--space-200-8);
  --dialog-vertical-padding-m: var(--space-1000-80);
  --dialog-horizontal-padding-m: var(--space-300-16);
  --dialog-gap: var(--space-500-32);
  --expanding-dots-radius: var(--radius-9999);
  --expanding-dots-gap: var(--space-200-8);
  --input-field-hint-vertical-padding: var(--space-0);
  --input-fields-text-field-height: var(--space-700-48);
  --label-input-fields-horizontal-padding: var(--space-350-20);
  --input-fields-horizontal-padding-text-area: var(--space-400-24);
  --input-fields-label-padding: var(--space-100-4);
  --number-block-text-gap-d-ds-tp: var(--space-200-8);
  --number-block-text-gap-m: var(--space-100-4);
  --number-block-gap-d-ds-tp: var(--space-300-16);
  --number-block-gap-m: var(--space-500-32);
  --photo-banner-radius: var(--radius-400-24);
  --photo-banner-text-gap: var(--space-300-16);
  --photo-banner-gap-m: var(--space-600-40);
  --photo-banner-horizontal-padding: var(--space-500-32);
  --photo-banner-vertical-padding: var(--space-500-32);
  --scroll-indicator-gap: var(--space-500-32);
  --scroll-indicator-gap-icon-m: var(--space-400-24);
  --section-gap: var(--space-500-32);
  --section-image-gap-m: var(--space-700-48);
  --text-block-centered-text-gap-m-tp: var(--space-200-8);
  --tooltip-vertical-gap: var(--space-200-8);
  --tooltip-tail-radius: var(--radius-0);
  --font-size-body: var(--size-16);
  --container-width-l7-m7-s12: var(--column-size-col-7);
  --container-width-l5-m5-s12: var(--column-size-col-5);
  --dimension-icon-size-icon-32-24: var(--space-500-32);
  --dimension-icon-size-bg-icon-56-48: var(--space-800-56);
  --dimension-icon-size-icon-64-56: var(--space-900-64);
  --dimension-icon-size-logo-120-80: var(--space-1200-120);
  --card-agency-card-radius: var(--radius-300-16);
  --card-agency-card-horizontal-padding-d-ds: var(--space-400-24);
  --card-agency-card-horizontal-padding-tp-m: var(--space-300-16);
  --card-agency-card-vertical-padding-d-ds: var(--space-400-24);
  --card-agency-card-vertical-padding-tp-m: var(--space-300-16);
  --card-agency-card-text-gap: var(--space-200-8);
  --card-agency-card-text-block-gap: var(--space-400-24);
  --card-agency-card-gap-tp-m: var(--space-400-24);
  --card-blog-preview-gap: var(--spacing-gap-24-16);
  --card-blog-preview-text-gap: var(--space-300-16);
  --card-blog-preview-label-content-duration-text-icon-gap: var(--space-200-8);
  --card-bundle-card-text-gap: var(--space-200-8);
  --card-bundle-card-gap-category-strip: var(--space-200-8);
  --card-bundle-card-gap-button: var(--space-300-16);
  --card-bundle-card-horizontal-padding-d-ds: var(--space-400-24);
  --card-bundle-card-vertical-padding: var(--space-400-24);
  --card-bundle-card-vertical-gap: var(--spacing-gap-32-24);
  --card-category-card-radius-3-d-icon: var(--radius-9999);
  --card-category-card-horizontal-padding-d-ds: var(--space-400-24);
  --card-category-card-horizontal-padding-tp-m: var(--space-300-16);
  --card-category-card-vertical-padding: var(--space-400-24);
  --card-category-card-vertical-padding-top-d: var(--space-800-56);
  --card-category-card-vertical-padding-top-ds-tp-m: var(--space-600-40);
  --card-category-card-gap: var(--space-400-24);
  --card-category-card-text-gap: var(--space-200-8);
  --card-category-card-category-chips-gap: var(--space-200-8);
  --card-category-card-icon-size: var(--space-900-64);
  --card-category-card-icon-size-m: var(--space-800-56);
  --card-category-card-bg-icon-size-d: var(--space-1200-120);
  --card-category-card-bg-icon-size-ds-tp-m: var(--space-1100-96);
  --card-contact-agent-card-radius-image: var(--radius-200-8);
  --card-contact-card-map-radius: var(--radius-300-16);
  --card-dynamic-gallery-card-overlay-radius: var(--radius-400-24);
  --card-editorial-card-horizontal-padding: var(--space-400-24);
  --card-editorial-card-horizontal-padding-m: var(--space-300-16);
  --card-editorial-card-vertical-padding: var(--space-400-24);
  --card-editorial-card-gap: var(--space-300-16);
  --card-contact-card-map-horizontal-padding-d-ds: var(--space-400-24);
  --card-contact-card-map-horizontal-padding-m-tp: var(--space-300-16);
  --card-contact-card-map-vertica-padding: var(--space-400-24);
  --card-contact-card-map-vertica-padding-m: var(--space-300-16);
  --card-contact-card-map-gap: var(--space-200-8);
  --card-contact-card-map-gap-m-tp: var(--space-400-24);
  --card-contact-card-map-gap-image-btn: var(--space-200-8);
  --card-contact-card-horizontal-padding: var(--spacing-padding-24-16);
  --card-contact-card-vertica-padding: var(--space-400-24);
  --card-contact-card-gap: var(--space-300-16);
  --card-contact-agent-card-gap-tl-m: var(--space-600-40);
  --card-contact-card-gap-image: var(--space-300-16);
  --card-info-card-horizontal-padding: var(--spacing-padding-24-16);
  --card-info-card-vertical-padding: var(--size-24);
  --card-info-card-icon-vertical-padding: var(--spacing-padding-4-2);
  --card-info-card-horizontal-gap: var(--space-200-8);
  --card-info-card-text-gap: var(--space-300-16);
  --card-insurance-product-card-horizontal-padding-d-ds: var(--space-400-24);
  --card-insurance-product-card-horizontal-padding-tp-m: var(--space-300-16);
  --card-insurance-product-card-vertical-padding: var(--space-400-24);
  --card-insurance-product-card-gap: var(--space-400-24);
  --card-insurance-product-card-button-gap: var(--space-200-8);
  --card-insurance-product-card-text-gap: var(--space-200-8);
  --card-insurance-product-card-radius-icon: var(--radius-9999);
  --card-insurance-product-card-vertical-padding-top-d-ds-m: var(--space-800-56);
  --card-insurance-product-card-icon-size-d-m: var(--space-700-48);
  --card-insurance-product-card-bg-icon-size: var(--space-1000-80);
  --card-photo-card-gap: var(--space-300-16);
  --card-quote-tool-card-radius: var(--radius-300-16);
  --card-quote-tool-card-padding: var(--spacing-padding-24-16);
  --card-quote-tool-card-text-gap: var(--space-100-4);
  --card-quote-tool-card-summary-gap: var(--spacing-gap-80-48);
  --card-quote-tool-card-bundle-gap: var(--space-300-16);
  --card-text-card-horizontal-padding: var(--spacing-padding-24-16);
  --card-text-card-vertical-padding: var(--space-400-24);
  --card-text-card-gap: var(--spacing-gap-80-48);
  --card-text-card-icon-size: var(--dimension-icon-size-icon-32-24);
  --card-text-card-bg-icon: var(--dimension-icon-size-bg-icon-56-48);
  --card-user-review-horizontal-padding: var(--spacing-padding-24-16);
  --card-user-review-vertical-padding: var(--size-24);
  --card-user-review-text-gap: var(--space-400-24);
  --card-user-review-gap: var(--spacing-gap-48-40);
  --card-user-review-user-gap: var(--space-300-16);
  --card-warranty-card-horizontal-padding: var(--spacing-padding-24-16);
  --card-warranty-card-vertical-padding: var(--space-400-24);
  --card-warranty-card-gap: var(--space-400-24);
  --card-warranty-card-text-gap: var(--space-200-8);
  --card-warranty-card-icon-size: var(--dimension-icon-size-icon-32-24);
  --card-warranty-card-bg-icon-size: var(--dimension-icon-size-bg-icon-56-48);
  --category-chips-horizontal-padding: var(--space-300-16);
  --category-chips-vertical-padding: var(--space-200-8);
  --category-chips-gap: var(--space-200-8);
  --category-chips-radius: var(--radius-200-8);
  --data-table-radius: var(--radius-400-24);
  --data-table-radius-m: var(--radius-300-16);
  --label-input-fields-radius: var(--radius-100-4);
  --map-pin-radius-pin: var(--radius-9999);
  --map-pin-radius-card: var(--radius-200-8);
  --map-pin-button-padding: var(--space-200-8);
  --map-pin-horizontal-gap: var(--space-200-8);
  --map-pin-card-horizontal-padding: var(--space-250-12);
  --map-pin-card-vertical-padding: var(--space-200-8);
  --map-pin-text-gap: var(--space-200-8);
  --map-pin-border: var(--stroke-100-1);
  --mini-banner-radius: var(--radius-400-24);
  --mini-banner-gap: var(--space-800-56);
  --mini-banner-gap-m: var(--space-700-48);
  --mini-banner-horizontal-padding: var(--space-500-32);
  --mini-banner-horizontal-padding-m: var(--space-400-24);
  --mini-banner-vertical-padding: var(--space-500-32);
  --mini-banner-vertical-padding-m: var(--space-400-24);
  --photo-banner-horizontal-padding-m: var(--space-300-16);
  --photo-banner-vertical-padding-m: var(--space-400-24);
  --score-text-gap: var(--space-250-12);
  --score-gap: var(--space-300-16);
  --switch-label-horizontal-padding: var(--spacing-padding-16-12);
  --switch-label-vertical-padding: var(--space-200-8);
  --switch-label-radius: var(--radius-9999);
  --table-cell-horizontal-padding: var(--space-400-24);
  --table-cell-horizontal-padding-m: var(--space-300-16);
  --table-cell-vertical-padding: var(--space-300-16);
  --table-cell-gap: var(--space-300-16);
  --table-cell-benefit-gap: var(--space-200-8);
  --table-header-horizontal-padding: var(--radius-400-24);
  --table-header-horizontal-padding-m: var(--radius-300-16);
  --table-header-vertical-padding: var(--radius-300-16);
  --text-banner-radius: var(--radius-400-24);
  --text-banner-title-gap: var(--space-200-8);
  --text-banner-gap: var(--space-400-24);
  --text-banner-horizontal-padding: var(--space-500-32);
  --text-banner-horizontal-padding-m: var(--space-400-24);
  --text-banner-vertical-padding: var(--space-500-32);
  --text-banner-vertical-padding-m: var(--space-400-24);
  --text-switch-padding: var(--space-100-4);
  --text-switch-radius: var(--radius-9999);
  --text-switch-gap: var(--space-0);
  --table-row-button-row-horizontal-padding: var(--space-400-24);
  --table-row-button-row-vertical-padding: var(--space-400-24);
  --card-grid-gap: var(--spacing-gap-16-8);
  --card-grid-widget-gap: var(--spacing-gap-48-40);
  --card-grid-widget-gap-m-tp: var(--space-600-40);
  --carousel-gap: var(--space-700-48);
  --carousel-gap-m: var(--space-200-8);
  --contact-tool-radius: var(--radius-300-16);
  --contact-tool-image-size: var(--space-900-64);
  --contact-tool-image-size-m: var(--space-800-56);
  --contact-tool-padding: var(--space-300-16);
  --contact-tool-gap: var(--space-300-16);
  --contact-tool-text-gap: var(--space-100-4);
  --data-table-widget-radius: var(--radius-0);
  --data-table-widget-horizontal-padding: var(--space-900-64);
  --data-table-widget-horizontal-padding-m: var(--space-300-16);
  --data-table-widget-vertical-padding-d-ds: var(--space-1000-80);
  --data-table-widget-vertical-padding-tp-m: var(--space-700-48);
  --data-table-widget-gap: var(--space-800-56);
  --data-table-widget-gap-m: var(--space-600-40);
  --download-tile-widget-gap: var(--space-600-40);
  --dynamic-gallery-gap-d-ds: var(--space-300-16);
  --dynamic-gallery-widget-gap: var(--spacing-gap-56-48);
  --dynamic-gallery-widget-gap-m-tp: var(--space-700-48);
  --dynamic-gallery-gap-m-tp: var(--space-200-8);
  --download-tile-widget-gap-tile: var(--space-300-16);
  --faq-widget-text-gap: var(--space-300-16);
  --faq-widget-gap-m: var(--space-600-40);
  --faq-widget-gap-accordion: var(--space-300-16);
  --faq-widget-gap-button: var(--space-600-40);
  --footer-horizontal-padding-d: var(--space-900-64);
  --footer-vertical-padding-d-ds: var(--space-700-48);
  --footer-box-padding: var(--space-250-12);
  --footer-primary-link-gap: var(--space-200-8);
  --footer-secondary-link-horizontal-gap-d-tl-tp: var(--space-500-32);
  --footer-primary-gap-d-ds: var(--space-1000-80);
  --footer-secondary-gap: var(--space-400-24);
  --footer-icon-gap: var(--space-250-12);
  --footer-download-gap: var(--space-200-8);
  --footer-box-gap: var(--space-600-40);
  --footer-radius: var(--radius-300-16);
  --header-logo-height: var(--space-600-40);
  --header-horizontal-padding-d-ds: var(--space-400-24);
  --header-horizontal-padding-m-tp: var(--space-300-16);
  --header-vertical-padding-tp-m: var(--space-300-16);
  --header-navigation-horizontal-padding: var(--space-100-4);
  --header-navigation-vertical-padding: var(--space-100-4);
  --header-horizontal-gap: var(--space-100-4);
  --header-radius: var(--radius-9999);
  --hero-full-screen-horizontal-padding-d: var(--space-900-64);
  --hero-full-screen-horizontal-padding-m-tp: var(--space-300-16);
  --hero-full-screen-bottom-padding-ds: var(--space-1000-80);
  --hero-full-screen-bottom-padding-m: var(--space-1100-96);
  --hero-full-screen-gap: var(--space-300-16);
  --hero-full-screen-button-gap: var(--space-600-40);
  --hero-full-screen-button-gap-m-tp: var(--space-500-32);
  --hero-mini-hero-horizontal-padding-d: var(--space-900-64);
  --hero-mini-hero-horizontal-padding-m-tp: var(--space-300-16);
  --hero-mini-hero-bottom-padding-d-ds: var(--space-1000-80);
  --hero-mini-hero-bottom-padding-default-m: var(--space-1100-96);
  --hero-mini-hero-gap: var(--space-300-16);
  --hero-mini-hero-button-gap-m: var(--space-500-32);
  --hero-blog-gap: var(--space-400-24);
  --hero-blog-horizontal-padding-m: var(--space-300-16);
  --hero-blog-vertical-padding: var(--space-1000-80);
  --hero-blog-vertical-padding-m: var(--space-1200-120);
  --hero-blog-button-gap: var(--space-600-40);
  --hero-module-vertical-top-padding: var(--space-400-24);
  --hero-module-gap: var(--space-300-16);
  --hero-module-gap-m: var(--space-200-8);
  --quote-tool-radius: var(--radius-300-16);
  --quote-tool-full-quote-tool-padding: var(--space-300-16);
  --quote-tool-gap-d-ds-tp: var(--space-400-24);
  --quote-tool-text-gap: var(--space-200-8);
  --quote-tool-info-gap: var(--space-350-20);
  --quote-tool-full-quote-tool-category-gap: var(--space-200-8);
  --quote-tool-full-quote-tool-category-gap-m: var(--space-100-4);
  --quote-tool-form-gap: var(--space-200-8);
  --quote-tool-form-gap-m: var(--space-300-16);
  --quote-tool-full-quote-tool-card-gap: var(--space-200-8);
  --legal-info-widget-gap: var(--space-100-4);
  --info-pillars-widget-gap-d-ds: var(--space-900-64);
  --info-pillars-widget-gap-tp-m: var(--space-700-48);
  --info-pillars-widget-gap-text-card-d-ds-m: var(--space-300-16);
  --quote-tool-single-quote-tool-padding: var(--space-400-24);
  --quote-tool-single-quote-tool-horizontal-padding-m: var(--space-300-16);
  --quote-tool-single-quote-tool-vertical-padding-m-2: var(--space-350-20);
  --contact-widget-gap-d-ds: var(--space-700-48);
  --contact-widget-gap-m-tp: var(--space-600-40);
  --accordion-footer-gap-link: var(--space-300-16);
  --accordion-footer-vertical-padding: var(--space-350-20);
  --card-agency-card-gap: var(--space-900-64);
  --switch-label-gap: var(--spacing-padding-8-4);
  --switch-label-active-dot: var(--space-100-4);
  --carousel-gap-m-tp: var(--space-600-40);
  --carousel-insurance-product-gap: var(--spacing-gap-16-8);
  --carousel-blog-gap: var(--spacing-gap-16-8);
  --carousel-blog-gap-m-tp: var(--space-200-8);
  --carousel-review-gap: var(--spacing-gap-16-8);
  --carousel-review-gap-m-tp: var(--space-200-8);
  --carousel-editorial-gap: var(--spacing-gap-16-8);
  --carousel-product-highlights-gap: var(--spacing-gap-16-8);
  --carousel-product-highlights-gap-m: var(--space-200-8);
  --carousel-category-gap-horizontal: var(--spacing-gap-16-8);
  --carousel-bundle-gap: var(--spacing-gap-16-8);
  --footer-horizontal-padding-m-tp: var(--space-300-16);
  --hero-full-screen-horizontal-padding-ds: var(--space-400-24);
  --header-vertical-gap-d-ds: var(--space-300-16);
  --header-vertical-gap-m: var(--space-200-8);
  --footer-vertical-padding-m-tp: var(--space-500-32);
  --footer-primary-gap-m-tp: var(--space-600-40);
  --footer-bottom-gap-d-ds: var(--space-400-24);
  --footer-logo-gap: var(--space-350-20);
  --footer-title-and-voice-gap-d-ds: var(--space-300-16);
  --footer-stroke: var(--stroke-100-1);
  --dynamic-gallery-widget-gap-icon-d-ds: var(--space-400-24);
  --dynamic-gallery-widget-gap-icon-m: var(--space-300-16);
  --section-widget-gap: var(--spacing-gap-120-96-80);
  --section-widget-gap-m: var(--space-1000-80);
  --quote-tool-contact-widget-gap: var(--space-300-16);
  --card-insurance-product-card-icon-size-ds-tp: var(--space-600-40);
  --card-insurance-product-card-bg-icon-size-ds-tp: var(--space-900-64);
  --carousel-insurance-product-gap-m-tp: var(--space-200-8);
  --footer-horizontal-padding-ds: var(--space-400-24);
  --hero-mini-hero-bottom-padding-pdp-tp-m: var(--space-1000-80);
  --footer-secondary-link-vertical-gap-tp: var(--space-300-16);
  --footer-secondary-link-vertical-gap-m: var(--space-200-8);
  --ai-search-bar-input-radius: var(--radius-9999);
  --ai-search-bar-input-border: var(--stroke-100-1);
  --ai-search-bar-input-horizontal-padding-left: var(--space-200-8);
  --ai-search-bar-input-horizontal-padding-right: var(--space-300-16);
  --ai-search-bar-input-vertical-padding: var(--space-300-16);
  --ai-search-bar-input-gap-icon-text: var(--space-200-8);
  --ai-search-bar-input-vertical-gap: var(--space-100-4);
  --ai-search-bar-options-radius: var(--radius-400-24);
  --ai-search-bar-options-border: var(--stroke-100-1);
  --ai-search-bar-options-vertical-padding: var(--space-300-16);
  --ai-search-bar-options-horizontal-padding: var(--space-350-20);
  --ai-search-bar-options-gap: var(--space-100-4);
  --ai-search-bar-options-horizontal-gap: var(--space-250-12);
  --ai-search-bar-options-icon-gap: var(--space-100-4);
  --ai-search-bar-options-ai-gap: var(--space-200-8);
  --ai-message-icon-gap: var(--space-100-4);
  --article-section-header-gap: var(--space-400-24);
  --article-section-header-text-gap-m: var(--space-300-16);
  --banner-radius: var(--radius-400-24);
  --banner-photo-banner-text-gap-d-ds: var(--space-300-16);
  --banner-photo-banner-gap-m: var(--space-600-40);
  --banner-photo-banner-horizontal-padding-d: var(--space-500-32);
  --banner-photo-banner-horizontal-padding-tp-m: var(--space-300-16);
  --banner-photo-banner-vertical-padding-d: var(--space-500-32);
  --banner-photo-banner-vertical-padding-ds-tp-m: var(--space-350-20);
  --card-bundle-card-horizontal-padding-m-tp: var(--space-300-16);
  --card-contact-card-radius-icon: var(--radius-9999);
  --card-contact-card-text-gap: var(--space-300-16);
  --card-contact-card-map-vertical-padding-m-tp: var(--space-400-24);
  --card-contact-card-map-gap-text-btn: var(--space-400-24);
  --card-contact-agent-card-horizontal-padding: var(--space-400-24);
  --card-contact-agent-card-vertica-padding: var(--space-400-24);
  --card-contact-agent-card-gap-d: var(--space-900-64);
  --card-contact-agent-card-gap-image: var(--space-300-16);
  --card-info-card-gap: var(--space-400-24);
  --card-insurance-product-card-icon-gap: var(--space-200-8);
  --card-insurance-product-card-vertical-padding-top-tp: var(--space-700-48);
  --card-news-card-gap: var(--space-400-24);
  --card-news-card-text-gap: var(--space-200-8);
  --card-news-card-padding-d-ds: var(--space-400-24);
  --card-news-card-horizontal-padding: var(--spacing-padding-24-16);
  --card-news-card-vertical-padding: var(--space-400-24);
  --card-text-card-radius-icon: var(--radius-9999);
  --card-warranty-card-radius-icon: var(--radius-9999);
  --search-bar-input-radius: var(--radius-9999);
  --search-bar-input-border: var(--stroke-100-1);
  --search-bar-input-horizontal-padding: var(--space-350-20);
  --search-bar-input-vertical-padding: var(--space-300-16);
  --search-bar-input-vertical-gap: var(--space-100-4);
  --search-bar-options-radius: var(--radius-400-24);
  --search-bar-options-border: var(--stroke-100-1);
  --search-bar-options-vertical-padding: var(--space-300-16);
  --search-bar-options-horizontal-padding: var(--space-350-20);
  --search-bar-options-gap: var(--space-100-4);
  --search-bar-options-horizontal-gap: var(--space-250-12);
  --search-bar-options-icon-gap: var(--space-100-4);
  --search-bar-options-ai-gap: var(--space-200-8);
  --text-link-list-vertical-padding: var(--space-300-16);
  --text-link-list-vertical-gap: var(--space-200-8);
  --tag-news-gap: var(--space-200-8);
  --banner-text-banner-title-gap: var(--space-200-8);
  --banner-text-banner-gap: var(--space-400-24);
  --banner-text-banner-horizontal-padding-d: var(--space-500-32);
  --banner-text-banner-horizontal-padding-tp-m: var(--space-300-16);
  --banner-text-banner-vertical-padding-d: var(--space-500-32);
  --banner-text-banner-vertical-padding-ds-tp-m: var(--space-350-20);
  --banner-mini-banner-gap-d: var(--space-800-56);
  --banner-mini-banner-gap-ds-m: var(--space-600-40);
  --banner-mini-banner-horizontal-padding-d: var(--space-500-32);
  --banner-mini-banner-horizontal-padding-tp-m: var(--space-300-16);
  --banner-mini-banner-vertical-padding-d: var(--space-500-32);
  --banner-mini-banner-vertical-padding-ds-tp-m: var(--space-400-24);
  --article-section-text-block-gap: var(--spacing-padding-24-16);
  --article-section-kpi-number-gap: var(--space-200-8);
  --article-section-kpi-text-gap: var(--space-300-16);
  --article-section-kpi-block-gap-d: var(--space-300-16);
  --article-section-kpi-block-gap-m: var(--space-500-32);
  --card-grid-gap-m-tp: var(--space-200-8);
  --carousel-editorial-gap-tp: var(--space-200-8);
  --hero-mini-hero-horizontal-padding-ds: var(--space-400-24);
  --contact-widget-gap-card: var(--space-200-8);
  --download-tile-widget-gap-subtitle: var(--space-400-24);
  --data-table-widget-horizontal-padding-ds: var(--space-400-24);
  --editorial-support-widget-gap: var(--space-900-64);
  --editorial-support-widget-gap-m: var(--space-600-40);
  --info-widget-text-gap: var(--space-300-16);
  --info-widget-gap-m-tp: var(--space-600-40);
  --info-widget-gap-card: var(--space-300-16);
  --info-widget-gap-button: var(--space-600-40);
  --section-widget-gap-ds: var(--space-1100-96);
  --carousel-news-radius: var(--radius-400-24);
  --carousel-news-vertical-padding-second-card: var(--space-400-24);
  --hero-gap: var(--space-400-24);
  --hero-text-gap-m: var(--space-300-16);
  --hero-horizontal-padding-m: var(--space-300-16);
  --hero-vertical-padding-d-ds: var(--space-1000-80);
  --hero-vertical-padding-tp: var(--space-1200-120);
  --article-faq-widget-gap-d-ds: var(--space-600-40);
  --article-kpi-highlights-widget-title-gap-d-ds: var(--space-400-24);
  --article-kpi-highlights-widget-gap-d-ds-tp: var(--space-800-56);
  --carousel-widget-news-gap: var(--space-500-32);
  --carousel-widget-photo-text-gap: var(--space-400-24);
  --carousel-widget-photo-gap-d-ds: var(--space-700-48);
  --carousel-widget-photo-gap-tp-m: var(--space-600-40);
  --article-kpi-highlights-widget-gap-m: var(--space-700-48);
  --gallery-widget-gap: var(--space-300-16);
  --gallery-widget-radius: var(--radius-400-24);
  --article-faq-widget-gap-m: var(--space-500-32);
  --article-faq-widget-gap-accordion: var(--space-300-16);
  --article-faq-widget-gap-button: var(--space-600-40);
  --carousel-photo-gap: var(--spacing-gap-16-8);
  --carousel-photo-gap-tp-m: var(--space-200-8);
  --banner-photo-banner-horizontal-padding-ds: var(--space-400-24);
  --banner-text-banner-horizontal-padding-ds: var(--space-400-24);
  --banner-mini-banner-horizontal-padding-ds: var(--space-400-24);
  --carousel-category-gap-tp: var(--space-200-8);
  --carousel-bundle-gap-tp: var(--space-200-8);
  --info-pillars-widget-gap-text-card-tp: var(--space-200-8);
  --gallery-widget-gap-tp: var(--space-200-8);
  --ai-search-bar-options-vertical-gap: var(--space-300-16);
  --banner-photo-banner-text-gap-tp-m: var(--space-250-12);
  --contact-tool-gap-tp: var(--space-200-8);
  --hero-full-screen-bottom-padding-tp: var(--space-1200-120);
  --hero-mini-hero-bottom-padding-default-tp: var(--space-1200-120);
  --quote-tool-gap-m: var(--space-350-20);
  --hero-vertical-padding-m: var(--space-1100-96);
  --article-kpi-highlights-widget-title-gap-tp-m: var(--space-300-16);
  --layout-page-gap-old: var(--space-1200-120);
  --tag-radius-sharp: var(--radius-0);
  --container-width-l8-lm9-ms10-s12: var(--column-size-col-8);
  --ai-search-results-radius: var(--radius-9999);
  --ai-search-results-radius-m: var(--radius-300-16);
  --ai-search-results-horizontal-gap: var(--space-200-8);
  --ai-search-results-vertical-gap: var(--space-200-8);
  --ai-search-results-horizontal-padding-left: var(--space-100-4);
  --ai-search-results-horizontal-padding-right: var(--space-300-16);
  --ai-search-results-vertical-padding: var(--space-100-4);
  --ai-search-results-icon-gap: var(--space-100-4);
  --tooltip-icon-vertical-padding: var(--space-100-4);
  --carousel-insurance-product-vertical-gap: var(--space-300-16);
  --carousel-category-gap-vertical: var(--space-300-16);
}