/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --gradient: linear-gradient(180deg, rgba(var(--color-accent-500), 1) 0%, rgba(var(--color-brand-800), 1) 100%);
}