.header-navigation-section-wrapper {
    margin: auto;
}

.navigation-pill-container {
    display: flex;
}

.header-box-text-container {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 4px;
}
