.blog-carousel-wrapper {
    /* this wrapper is added from eds */
    width: 100%;
}

.blog-carousel-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--Carousel-Widget-Gap-D-Tl, 3rem);

    & .blog-carousel {
        display: flex;
        width: 100%;
        align-items: flex-start;
        gap: var(--Carousel-Blog-Gap-D-Tl, 1rem);
    }
}
