/* this is the text block button that is hide in small devices */
.section.text-block-container.blog-carousel-container {
    & .text-block-button {
        display: none;
    }
}

.blog-carousel-wrapper {
    /* this wrapper is added from eds */
    width: 100%;
}

.blog-carousel-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--Carousel-Widget-Gap-D-Tl, 3rem);

    & .blog-carousel {
        display: flex;
        width: 100%;
        align-items: flex-start;

        & .swiper {
            overflow: visible;
        }

        /* Mobile ~1.3 slides visible */
        & .swiper-slide {
            width: calc(100% / 1.3);
            max-width: 35rem;
            margin-inline-end: var(--Carousel-Blog-Gap-D-Tl, 1rem);

            &:last-child {
                margin-inline-end: 0;
            }
        }
    }

    /* this is the button for small devices */
    & .blog-carousel-button {
        display: block;
    }
}

/* Tablet ≥ 768px: ~2.3 slides visible */
@media (width >= 768px) {
    /* this is the text block button that is hide in small devices */
    .section.text-block-container.blog-carousel-container {
        & .text-block-button {
            display: block;
        }
    }

    .blog-carousel-container {
        & .blog-carousel .swiper-slide {
            width: calc(100% / 2.3);
        }

        /* this is the button for small devices */
        & .blog-carousel-button {
            display: none;
        }
    }
}

/* Desktop ≥ 1312px: ~3.3 slides visible */
@media (width >= 1312px) {
    .blog-carousel-container .blog-carousel .swiper-slide {
        width: calc(100% / 3.3);
    }
}
