.overlay {
    width: 100%;
    height: 860px;
    flex-shrink: 0;
    border-radius: var(--Overlay-Radius, 0);
    background: var(--Overlay-Default-Background, rgba(0, 0, 0, 0.4));

    /* Background Blur/400 - 24 */
    backdrop-filter: blur(calc(var(--Blur-400---24, 24px) / 2));
}
