.section.text-block-container.card-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Card-Grid-Widget-Gap, 48px);
    align-self: stretch;
}

.card-grid {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: var(--Card-Grid-Gap, 16px);
}

@media (width >= 768px) {
    .card-grid {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
    }
}
