.radio-button-field {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--Radio-Button-Field-Horizontal-Gap);
}

.radio-button-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-button-label {
  color: var(--Radio-Button-Field-Unchecked-Text-Label, #001C35);
  font-family: var(--Family-Font-2);
  font-size: var(--Size-16);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.radio-button-description {
  color: var(--Radio-Button-Field-Unchecked-Text-Description, #63727D);
  font-family: var(--Family-Font-2);
  font-size: var(--Size-14);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.radio {
    padding: var(--Radio-Button-Field-Radio-Button-Frame-Vertical-Padding) 0;
}

.disabled-label {
    color: var(--Radio-Button-Field-Disabled-Text-Label, #63727D);
}

.disabled-description {
    color: var(--Radio-Button-Field-Disabled-Text-Description, #63727D);
}
