/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  /* Bg/Utilities/Scrim */
  --Background-Utilities-Scrim: #000000cc;
  /* Bg/Utilities/Overlay */
  --Background-Utilities-Overlay: #00000080;
  /* Bg/Utilities/Blanket */
  --Background-Utilities-Blanket: #000000b2;
  --Text-Utilities-Text-On-Measurement: #fae1fa;
  --Icon-Default-Tertiary: #ffffff66;
  --Icon-Utilities-Icon-On-Measurement: #fae1fa;
  --Icon-Utilities-Icon: #f19edc;
  --Border-Utilities-Measurement: #d732a8;
  --Border-Utilities-Swatch: #ffffff3d;
  /* Bg/Default/Default */
  --Background-Default-Primary: var(--Neutral-200);
  /* Bg/Default/Default */
  --Background-Default-Secondary: var(--Brand-800);
  /* Bg/Default/Tertiary */
  --Background-Default-Tertiary: var(--Neutral-200);
  /* Bg/Default/Tertiary */
  --Background-Default-Accent-Fixed: var(--Accent-500);
  /* Bg/Default/Tertiary */
  --Background-Default-Accent-Light: var(--Grayscale-700);
  /* Bg/Default/Default Hover */
  --Background-Default-Accent-Hover: var(--Accent-700);
  /* Bg/Default/Tertiary Hover */
  --Background-Default-Tertiary-Hover: var(--Grayscale-200);
  /* Bg/Brand/Default */
  --Background-Brand-Mobilty-Light: var(--Blue-100);
  /* Bg/Brand/Secondary */
  --Background-Brand-Mobilty-Strong: var(--Blue-600);
  /* Bg/Brand/Hover */
  --Background-Brand-Welfare-Light: var(--Green-100);
  /* Bg/Brand/Hover */
  --Background-Brand-Welfare-Strong: var(--Green-800);
  /* Bg/Brand/Hover */
  --Background-Brand-Property-Light: var(--Orange-100);
  /* Bg/Brand/Hover */
  --Background-Brand-Property-Strong: var(--Orange-700);
  /* Bg/Positive/Default */
  --Background-Success-Default: #4b9d2f;
  /* Bg/Positive/Secondary */
  --Background-Success-Secondary: #387623;
  /* Bg/Positive/Tertiary */
  --Background-Success-Tertiary: #254f17;
  /* Bg/Warning/Default */
  --Background-Warning-Default: #f59670;
  /* Bg/Warning/Secondary */
  --Background-Warning-Secondary: #8f300a;
  /* Bg/Warning/Tertiary */
  --Background-Warning-Tertiary: #5f2007;
  /* Bg/Danger/Default */
  --Background-Error-Default: #0050b4;
  /* Bg/Danger/Secondary */
  --Background-Error-Secondary: #00295c;
  /* Bg/Danger/Tertiary */
  --Background-Error-Tertiary: #001b3d;
  /* Bg/Disabled/Default */
  --Background-Disabled-Primary: var(--Grayscale-700);
  /* Bg/Disabled/Default */
  --Background-Disabled-Secondary: var(--Grayscale-700);
  /* Bg/Neutral/Secondary */
  --Background-Neutral-Primary: var(--Grayscale-800);
  /* Bg/Neutral/Default */
  --Background-Neutral-Secondary: var(--Grayscale-400);
  /* Bg/Neutral/Tertiary */
  --Background-Neutral-Tertiary: var(--Grayscale-500);
  --Text-Default-Primary: var(--Neutral-200);
  --Text-Default-Accent: var(--Neutral-200);
  --Text-Default-Secondary: var(--Neutral-200);
  --Text-Brand-Mobility: var(--Blue-600);
  --Text-Brand-Welfare: var(--Green-800);
  --Text-Brand-Property: var(--Orange-700);
  --Text-Success-Default: var(--Feedback-Success-100);
  --Text-Success-Secondary: #9edc89;
  --Text-Warning-Default: var(--Feedback-Warning-100);
  --Text-Warning-Secondary: #f59670;
  --Text-Error-Default: var(--Feedback-Error-100);
  --Text-Error-Secondary: #3d95ff;
  --Text-Disabled-Primary: #63727d;
  --Text-Disabled-Secondary: var(--Grayscale-400);
  --Text-Disabled-Tertiary: var(--Grayscale-400);
  --Text-Utilities-Text-On-Overlay: var(--White-1100);
  --Text-Neutral-Primary: var(--Grayscale-500);
  --Text-Neutral-Secondary: var(--Neutral-200);
  --Text-Neutral-Tertiary: var(--Brand-800);
  --Icon-Default-Primary: var(--Neutral-200);
  --Icon-Default-Secondary: var(--Grayscale-400);
  --Icon-Brand-Mobility: #e5f3ff;
  --Icon-Brand-Welfare: #99cfff;
  --Icon-Brand-Property: #66b8ff;
  --Icon-Success-Primary: var(--Feedback-Success-100);
  --Icon-Success-Secondary: #9edc89;
  --Icon-Warning-Primary: var(--Feedback-Warning-100);
  --Icon-Warning-Secondary: #f59670;
  --Icon-Error-Primary: var(--Feedback-Error-100);
  --Icon-Error-Secondary: #3d95ff;
  --Icon-Disabled-Primary: var(--Grayscale-400);
  --Icon-Disabled-Secondary: var(--Grayscale-500);
  --Icon-Disabled-Tertiary: var(--Grayscale-400);
  --Icon-Neutral-Primary: #e3e3e3;
  --Icon-Neutral-Secondary: var(--Neutral-200);
  --Icon-Neutral-Tertiary: var(--Brand-800);
  --Border-Default-Primary: var(--Neutral-200);
  --Border-Default-Accent: #cdcdcd;
  --Border-Default-Secondary: var(--Grayscale-400);
  --Border-Default-Focused: var(--Brand-200);
  --Border-Brand-Mobility: var(--Blue-400);
  --Border-Brand-Welfare: var(--Green-400);
  --Border-Brand-Property: var(--Orange-400);
  --Border-Success-Primary: var(--Feedback-Success-100);
  --Border-Success-Secondary: #9edc89;
  --Border-Warning-Primary: var(--Feedback-Warning-100);
  --Border-Warning-Secondary: #f59670;
  --Border-Error-Primary: var(--Feedback-Error-100);
  --Border-Error-Secondary: #3d95ff;
  --Border-Disabled-Primary: var(--Grayscale-300);
  --Border-Disabled-Secondary: var(--Grayscale-600);
  --Border-Neutral-Primary: #f3f3f3;
  --Border-Neutral-Secondary: var(--Grayscale-600);
  /* Bg/Neutral/Default */
  --Background-Opacity-Primary: var(--White-600);
  /* Bg/Neutral/Secondary */
  --Background-Opacity-Secondary: var(--Black-400);
  /* Bg/Neutral/Tertiary */
  --Background-Opacity-Tertiary: var(--Black-500);
  /* Bg/Default/Secondary */
  --Background-Default-Secondary-Fixed: var(--Neutral-50);
  --Text-Neutral-Fixed: var(--Neutral-200);
  --Icon-Neutral-Fixed: var(--Neutral-200);
  --Icon-Default-Fixed: var(--Brand-800);
  --Border-Default-Tertiary: var(--Neutral-200);
  --Border-Neutral-Tertiary: var(--Grayscale-500);
  --Text-Default-Primary-Fixed: var(--Brand-800);
}