/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-mobile {
  --Radius-0: 0rem;
  --Radius-100-4: 0.25rem;
  --Radius-200-8: 0.5rem;
  --Radius-300-16: 1rem;
  --Radius-400-24: 1.5rem;
  --Radius-9999: 624.938rem;
}