/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-mobile {
  /* Bg/Utilities/Scrim */
  --background-utilities-scrim: #ffffffcc;
  /* Bg/Utilities/Overlay */
  --background-utilities-overlay: #00000080;
  /* Bg/Utilities/Blanket */
  --background-utilities-blanket: #000000b2;
  --text-utilities-text-on-measurement: #8a226f;
  --icon-default-tertiary: #bfc7cd;
  --icon-utilities-icon-on-measurement: #8a226f;
  --icon-utilities-icon: #d732a8;
  --border-utilities-measurement: #f19edc;
  --border-utilities-swatch: #0000003d;
  --brand-50: #e5f3ff;
  --accent-50: #ebebff;
  --accent-100: #cdcdff;
  --accent-200: #9a9afe;
  --accent-300: #6868fd;
  --accent-400: #3535fd;
  --accent-500: #0303f5;
  --accent-600: #0202ca;
  --accent-700: #020297;
  --accent-800: #010165;
  --accent-900: #010132;
  --brand-100: #cce7ff;
  --brand-200: #99cfff;
  --brand-300: #66b8ff;
  --brand-400: #33a0ff;
  --brand-500: #006dcc;
  --brand-600: #005299;
  --brand-700: #003666;
  --brand-800: #001c35;
  --brand-900: #000e1a;
  --blue-50: #f0f7ff;
  --blue-100: #e5f1ff;
  --blue-200: #add2ff;
  --blue-300: #70b1ff;
  --blue-400: #3d95ff;
  --blue-500: #0073ff;
  --blue-600: #0050b4;
  --blue-700: #00408f;
  --blue-800: #00295c;
  --blue-900: #001b3d;
  --green-50: #f5fbf3;
  --green-100: #ebf8e7;
  --green-200: #dff3d8;
  --green-300: #bee8b0;
  --green-400: #9edc89;
  --green-500: #7ed062;
  --green-600: #50ab33;
  --green-700: #4b9d2f;
  --green-800: #3c7e25;
  --green-900: #254f17;
  --orange-50: #fef4f1;
  --orange-100: #fdede7;
  --grayscale-50: #f6f7f8;
  --grayscale-100: #f1f3f4;
  --grayscale-200: #dfe2e5;
  --grayscale-300: #d1d7db;
  --grayscale-400: #bfc7cd;
  --grayscale-500: #a4afb7;
  --grayscale-600: #82909c;
  --grayscale-700: #63727d;
  --grayscale-800: #414b53;
  --grayscale-900: #21272b;
  --neutral-50: #ffffff;
  --neutral-100: #fdfdfc;
  --neutral-200: #f9f9f7;
  --neutral-300: #f4f4f0;
  --neutral-400: #edede8;
  --neutral-500: #e7e7df;
  --neutral-600: #e0e0d6;
  --neutral-700: #d3d3c5;
  --neutral-800: #c8c8b6;
  --neutral-900: #b4b49c;
  --orange-200: #fcdccf;
  --orange-300: #f8b9a0;
  --orange-400: #f59670;
  --orange-500: #f27340;
  --orange-600: #e84e10;
  --orange-700: #c9430e;
  --orange-800: #8f300a;
  --orange-900: #5f2007;
  --feedback-error-100: #ec5f66;
  --feedback-error-200: #ce1821;
  --feedback-error-300: #720d12;
  --black-100: #0000000d;
  --black-200: #0000001a;
  --black-300: #00000033;
  --black-400: #00000066;
  --black-500: #00000080;
  --black-600: #00000099;
  --black-700: #000000cc;
  --black-800: #000000d9;
  --black-900: #000000e5;
  --black-1000: #000000f2;
  --black-1100: #000000;
  --white-100: #ffffff0d;
  --white-200: #ffffff1a;
  --white-300: #ffffff33;
  --white-400: #ffffff66;
  --white-500: #ffffff80;
  --white-600: #ffffffa6;
  --white-700: #ffffffcc;
  --white-800: #ffffffd9;
  --white-900: #ffffffe5;
  --white-1000: #fffffff2;
  --white-1100: #ffffff;
  --null-000: #11111100;
  --feedback-warning-100: #f7a455;
  --feedback-warning-200: #f48621;
  --feedback-warning-300: #924a07;
  --feedback-success-100: #6ae29e;
  --feedback-success-200: #156b3a;
  --feedback-success-300: #0a341c;
  --pagination-current-text: #e5f3ff;
  --pagination-current-hover-text: #e5f3ff;
  --text-block-on-brand-text: #e5f3ff;
  --tab-unselect-text: #bfc7cd;
  --text-block-on-brand-title: #e5f3ff;
  --prova: #ffffff;
  /* Bg/Default/Default */
  --background-default-primary: var(--neutral-200);
  /* Bg/Default/Default */
  --background-default-secondary: var(--neutral-50);
  /* Bg/Default/Tertiary */
  --background-default-tertiary: var(--brand-800);
  /* Bg/Default/Tertiary */
  --background-default-accent-fixed: var(--accent-500);
  /* Bg/Default/Tertiary */
  --background-default-accent-light: var(--accent-50);
  /* Bg/Default/Default Hover */
  --background-default-accent-hover: var(--accent-100);
  /* Bg/Default/Tertiary Hover */
  --background-default-tertiary-hover: var(--brand-600);
  /* Bg/Brand/Default */
  --background-brand-mobilty-light: var(--blue-100);
  /* Bg/Brand/Secondary */
  --background-brand-mobilty-strong: var(--blue-600);
  /* Bg/Brand/Hover */
  --background-brand-welfare-light: var(--green-100);
  /* Bg/Brand/Hover */
  --background-brand-welfare-strong: var(--green-800);
  /* Bg/Brand/Hover */
  --background-brand-property-light: var(--orange-100);
  /* Bg/Brand/Hover */
  --background-brand-property-strong: var(--orange-700);
  /* Bg/Positive/Default */
  --background-success-default: var(--feedback-success-100);
  /* Bg/Positive/Secondary */
  --background-success-secondary: var(--feedback-success-200);
  /* Bg/Positive/Tertiary */
  --background-success-tertiary: var(--feedback-success-300);
  /* Bg/Warning/Default */
  --background-warning-default: var(--feedback-warning-100);
  /* Bg/Warning/Secondary */
  --background-warning-secondary: var(--feedback-warning-200);
  /* Bg/Warning/Tertiary */
  --background-warning-tertiary: var(--feedback-warning-300);
  /* Bg/Danger/Default */
  --background-error-default: var(--feedback-error-100);
  /* Bg/Danger/Secondary */
  --background-error-secondary: var(--feedback-error-200);
  /* Bg/Danger/Tertiary */
  --background-error-tertiary: var(--feedback-error-300);
  /* Bg/Disabled/Default */
  --background-disabled-primary: var(--grayscale-200);
  /* Bg/Disabled/Default */
  --background-disabled-secondary: var(--grayscale-500);
  /* Bg/Neutral/Secondary */
  --background-neutral-primary: var(--grayscale-50);
  /* Bg/Neutral/Default */
  --background-neutral-secondary: var(--grayscale-200);
  /* Bg/Neutral/Tertiary */
  --background-neutral-tertiary: var(--grayscale-400);
  --text-default-primary: var(--brand-800);
  --text-default-accent: var(--accent-500);
  --text-default-secondary: var(--brand-600);
  --text-brand-mobility: var(--blue-600);
  --text-brand-welfare: var(--green-800);
  --text-brand-property: var(--orange-700);
  --text-success-default: var(--feedback-success-200);
  --text-success-secondary: var(--feedback-success-300);
  --text-warning-default: var(--feedback-warning-200);
  --text-warning-secondary: var(--feedback-warning-300);
  --text-error-default: var(--feedback-error-200);
  --text-error-secondary: var(--feedback-error-300);
  --text-disabled-primary: var(--grayscale-500);
  --text-disabled-secondary: var(--grayscale-700);
  --text-disabled-tertiary: var(--grayscale-800);
  --text-utilities-text-on-overlay: var(--black-1100);
  --text-neutral-primary: var(--grayscale-500);
  --text-neutral-secondary: var(--grayscale-700);
  --text-neutral-tertiary: var(--neutral-200);
  --icon-default-primary: var(--brand-800);
  --icon-default-secondary: var(--brand-600);
  --icon-brand-mobility: var(--blue-600);
  --icon-brand-welfare: var(--green-800);
  --icon-brand-property: var(--orange-600);
  --icon-success-primary: var(--feedback-success-200);
  --icon-success-secondary: var(--feedback-success-300);
  --icon-warning-primary: var(--feedback-warning-200);
  --icon-warning-secondary: var(--feedback-warning-300);
  --icon-error-primary: var(--feedback-error-200);
  --icon-error-secondary: var(--feedback-error-300);
  --icon-disabled-primary: var(--grayscale-500);
  --icon-disabled-secondary: var(--grayscale-700);
  --icon-disabled-tertiary: var(--grayscale-800);
  --icon-neutral-primary: var(--grayscale-500);
  --icon-neutral-secondary: var(--grayscale-700);
  --icon-neutral-tertiary: var(--neutral-200);
  --border-default-primary: var(--brand-800);
  --border-default-accent: var(--accent-500);
  --border-default-secondary: var(--brand-600);
  --border-default-focused: var(--brand-200);
  --border-brand-mobility: var(--blue-400);
  --border-brand-welfare: var(--green-400);
  --border-brand-property: var(--orange-400);
  --border-success-primary: var(--feedback-success-200);
  --border-success-secondary: var(--feedback-success-300);
  --border-warning-primary: var(--feedback-warning-200);
  --border-warning-secondary: var(--feedback-warning-300);
  --border-error-primary: var(--feedback-error-200);
  --border-error-secondary: var(--feedback-error-300);
  --border-disabled-primary: var(--grayscale-500);
  --border-disabled-secondary: var(--grayscale-700);
  --border-neutral-primary: var(--grayscale-200);
  --border-neutral-secondary: var(--grayscale-600);
  /* Bg/Neutral/Default */
  --background-opacity-primary: var(--white-600);
  /* Bg/Neutral/Secondary */
  --background-opacity-secondary: var(--black-400);
  /* Bg/Neutral/Tertiary */
  --background-opacity-tertiary: var(--black-500);
  --ai-icon-background: var(--background-default-accent-light);
  /* Bg/Default/Secondary */
  --background-default-secondary-fixed: var(--neutral-50);
  --accordion-background-closed: var(--background-default-secondary-fixed);
  --accordion-background-open: var(--background-default-secondary-fixed);
  --accordion-border-open: var(--null-000);
  --accordion-border-close: var(--null-000);
  --accordion-title-open: var(--text-default-primary);
  --accordion-description-open: var(--text-default-primary);
  --accordion-title-close: var(--text-default-primary);
  --accordion-icon-open: var(--icon-default-primary);
  --accordion-icon: var(--icon-default-primary);
  --avatar-background: var(--background-default-primary);
  --avatar-border: var(--background-default-primary);
  --text-block-title: var(--text-default-primary);
  --avatar-text: var(--text-block-title);
  --button-primary-default-background: var(--background-default-tertiary);
  --button-primary-default-border: var(--border-default-primary);
  --button-primary-default-text: var(--text-neutral-tertiary);
  --button-primary-default-icon-color: var(--icon-neutral-tertiary);
  --button-primary-hover-background: var(--background-default-tertiary-hover);
  --button-primary-hover-border: var(--null-000);
  --button-primary-hover-text: var(--text-neutral-tertiary);
  --button-primary-hover-icon-color: var(--icon-neutral-tertiary);
  --button-primary-disabled-background: var(--background-disabled-primary);
  --button-primary-focused-background: var(--background-default-tertiary);
  --button-primary-pressed-background: var(--background-default-tertiary-hover);
  --button-primary-pressed-border: var(--null-000);
  --button-primary-pressed-text: var(--text-neutral-tertiary);
  --button-primary-pressed-icon-color: var(--icon-neutral-tertiary);
  --button-primary-focused-border: var(--border-default-focused);
  --button-primary-focused-text: var(--icon-neutral-tertiary);
  --button-primary-focused-icon-color: var(--icon-neutral-tertiary);
  --button-primary-disabled-border: var(--background-default-tertiary-hover);
  --button-primary-disabled-text: var(--text-disabled-tertiary);
  --button-primary-disabled-icon-color: var(--icon-disabled-tertiary);
  --button-accent-default-background: var(--background-default-accent-fixed);
  --button-accent-default-border: var(--border-default-accent);
  --text-neutral-fixed: var(--neutral-200);
  --button-accent-default-text: var(--text-neutral-fixed);
  --icon-neutral-fixed: var(--neutral-200);
  --button-accent-default-icon-color: var(--icon-neutral-fixed);
  --button-accent-hover-background: var(--background-default-accent-hover);
  --button-accent-hover-border: var(--null-000);
  --button-accent-hover-text: var(--text-default-primary);
  --button-accent-hover-icon-color: var(--icon-default-primary);
  --button-accent-disabled-background: var(--background-default-accent-light);
  --button-accent-disabled-border: var(--background-default-accent-light);
  --button-accent-disabled-text: var(--text-disabled-tertiary);
  --button-accent-disabled-icon: var(--icon-disabled-tertiary);
  --button-accent-focused-background: var(--background-default-accent-fixed);
  --button-accent-pressed-background: var(--background-default-accent-hover);
  --button-accent-pressed-border: var(--null-000);
  --button-accent-pressed-text: var(--text-default-primary);
  --button-accent-pressed-icon-color: var(--icon-default-primary);
  --button-accent-focused-border: var(--border-default-focused);
  --button-accent-focused-text: var(--text-neutral-fixed);
  --button-accent-focused-icon: var(--icon-neutral-fixed);
  --button-secondary-default-background: var(--null-000);
  --button-secondary-default-border: var(--border-default-primary);
  --button-secondary-default-text: var(--text-default-primary);
  --button-secondary-default-icon: var(--icon-default-primary);
  --button-secondary-hover-background: var(--null-000);
  --button-secondary-hover-border: var(--border-default-secondary);
  --button-secondary-hover-text: var(--text-default-primary);
  --button-secondary-hover-icon: var(--icon-default-secondary);
  --button-secondary-disabled-background: var(--null-000);
  --button-secondary-disabled-border: var(--border-disabled-secondary);
  --button-secondary-disabled-text: var(--text-disabled-secondary);
  --button-secondary-disabled-icon: var(--icon-disabled-secondary);
  --button-secondary-focused-background: var(--null-000);
  --button-secondary-focused-border-default: var(--border-default-primary);
  --button-secondary-focused-border-focus: var(--border-default-focused);
  --button-secondary-focused-text: var(--text-default-primary);
  --button-secondary-focused-icon: var(--icon-default-primary);
  --button-secondary-pressed-background: var(--null-000);
  --button-secondary-pressed-border: var(--border-default-secondary);
  --button-secondary-pressed-text: var(--text-default-secondary);
  --button-secondary-pressed-icon: var(--icon-default-secondary);
  --category-tabs-default-background: var(--null-000);
  --category-tabs-default-border: var(--border-default-primary);
  --category-tabs-default-text: var(--text-default-primary);
  --category-tabs-default-icon: var(--icon-default-primary);
  --category-tabs-selected-background: var(--background-default-tertiary);
  --category-tabs-selected-border: var(--null-000);
  --category-tabs-selected-text: var(--text-neutral-tertiary);
  --category-tabs-selected-icon: var(--icon-neutral-tertiary);
  --card-text-card-background: var(--background-default-secondary);
  --card-default-border: var(--border-default-primary);
  --card-default-title: var(--text-default-primary);
  --card-text-card-text-white: var(--text-default-primary);
  --card-hover-background: var(--background-default-accent-hover);
  --card-hover-border: var(--border-default-primary);
  --card-hover-title: var(--text-default-primary);
  --card-hover-body: var(--text-default-accent);
  --card-disabled-background: var(--background-default-primary);
  --card-disabled-border: var(--border-default-primary);
  --card-disabled-title: var(--text-default-primary);
  --card-disabled-body: var(--text-default-accent);
  --checkbox-unchecked-border: var(--border-default-primary);
  --checkbox-unchecked-hover-border: var(--border-default-secondary);
  --checkbox-unchecked-focused-border-default: var(--border-default-primary);
  --checkbox-unchecked-focused-border-focus: var(--border-default-focused);
  --checkbox-unchecked-pressed-border: var(--border-default-secondary);
  --checkbox-checked-border: var(--border-default-primary);
  --checkbox-checked-hover-border: var(--border-default-secondary);
  --checkbox-checked-focused-border-default: var(--border-default-primary);
  --checkbox-checked-focused-border-focus: var(--border-default-focused);
  --checkbox-checked-focused-icon: var(--icon-default-primary);
  --checkbox-checked-hover-icon: var(--icon-default-secondary);
  --checkbox-checked-icon: var(--icon-default-primary);
  --checkbox-checked-pressed-border: var(--border-default-secondary);
  --checkbox-checked-pressed-icon: var(--icon-default-secondary);
  --checkbox-disabled-background: var(--background-disabled-primary);
  --checkbox-disabled-border: var(--border-disabled-secondary);
  --checkbox-disabled-icon: var(--icon-disabled-secondary);
  --checkbox-field-unchecked-text-label: var(--text-default-primary);
  --checkbox-field-unchecked-test-description: var(--text-neutral-secondary);
  --default-text-title-2: var(--text-default-primary);
  --default-text-value-2: var(--text-default-primary);
  --default-helper-text-2: var(--text-disabled-secondary);
  --dialog-background: var(--background-default-primary);
  --dialog-border: var(--border-default-primary);
  --dialog-title: var(--text-default-primary);
  --dialog-body: var(--text-default-primary);
  --dialog-icon: var(--icon-neutral-primary);
  --footer-background: var(--background-default-primary);
  --header-background: var(--background-default-primary);
  --header-icon: var(--icon-default-primary);
  --icons-default: var(--icon-default-primary);
  --input-field-hint-helper-text-icon: var(--icon-neutral-secondary);
  --input-field-hint-helper-text: var(--text-neutral-secondary);
  --input-field-hint-error-text-icon: var(--icon-error-primary);
  --input-field-hint-error-text: var(--text-error-default);
  --input-field-hint-checkbox-icon: var(--icon-default-primary);
  --input-field-hint-checkbox-text: var(--text-default-primary);
  --input-fields-placeholder-background: var(--null-000);
  --input-fields-placeholder-border: var(--border-neutral-secondary);
  --input-fields-placeholder-text-label: var(--text-default-primary);
  --input-fields-placeholder-text-value: var(--text-neutral-secondary);
  --input-fields-placeholder-icon: var(--icon-default-primary);
  --input-fields-enabled-background: var(--null-000);
  --input-fields-enabled-border: var(--border-neutral-secondary);
  --input-fields-enabled-text-title: var(--text-default-primary);
  --input-fields-enabled-text-value: var(--text-default-primary);
  --input-fields-enabled-icon: var(--icon-default-primary);
  --input-fields-disabled-background: var(--background-disabled-primary);
  --input-fields-disabled-border: var(--null-000);
  --input-fields-disabled-text-title: var(--text-default-primary);
  --input-fields-disabled-text-value: var(--text-disabled-secondary);
  --input-fields-disabled-icon: var(--icon-default-primary);
  --input-fields-hover-background: var(--background-neutral-primary);
  --input-fields-hover-border: var(--border-neutral-secondary);
  --input-fields-hover-text-title: var(--text-default-primary);
  --input-fields-hover-text-value: var(--text-default-primary);
  --input-fields-hover-icon: var(--icon-default-primary);
  --input-fields-pressed-background: var(--background-neutral-primary);
  --input-fields-pressed-border: var(--border-neutral-secondary);
  --input-fields-pressed-text-title: var(--text-default-primary);
  --input-fields-pressed-text-value: var(--text-default-primary);
  --input-fields-pressed-icon: var(--icon-default-primary);
  --input-fields-focused-background: var(--null-000);
  --input-fields-focused-border-default: var(--border-disabled-primary);
  --input-fields-focused-border-focused: var(--border-default-focused);
  --input-fields-focused-text-title: var(--text-default-primary);
  --input-fields-focused-text-value: var(--text-default-primary);
  --input-fields-focused-icon: var(--icon-default-primary);
  --input-fields-error-background: var(--null-000);
  --input-fields-error-border: var(--border-error-primary);
  --input-fields-error-text-label: var(--text-default-primary);
  --input-fields-error-text-value: var(--text-default-primary);
  --input-fields-error-icon: var(--icon-default-primary);
  --link-button-link-default-background: var(--null-000);
  --link-button-link-default-border: var(--null-000);
  --link-button-link-default-text: var(--text-default-primary);
  --link-button-link-default-icon-color: var(--icon-default-primary);
  --link-button-link-disabled-background: var(--null-000);
  --link-button-link-disabled-border: var(--null-000);
  --link-button-link-disabled-text: var(--text-disabled-secondary);
  --link-button-link-disabled-icon: var(--link-button-link-disabled-text);
  --link-button-link-hover-background: var(--null-000);
  --link-button-link-hover-border: var(--null-000);
  --link-button-link-hover-text: var(--text-default-secondary);
  --link-button-link-hover-icon-color: var(--icon-default-secondary);
  --link-button-link-focused-background: var(--null-000);
  --link-button-link-focused-border: var(--border-default-focused);
  --link-button-link-focused-text: var(--text-default-primary);
  --link-button-link-focused-icon-color: var(--icon-default-primary);
  --link-button-link-pressed-background: var(--null-000);
  --link-button-link-pressed-border: var(--null-000);
  --link-button-link-pressed-text: var(--text-default-secondary);
  --link-button-link-pressed-icon: var(--icon-default-secondary);
  --navigation-pill-primary-default-background: var(--null-000);
  --navigation-pill-primary-default-text: var(--text-default-primary);
  --navigation-pill-primary-default-icon: var(--icon-default-primary);
  --navigation-pill-primary-hover-background: var(--null-000);
  --navigation-pill-primary-hover-text: var(--text-default-secondary);
  --navigation-pill-primary-hover-icon: var(--icon-default-secondary);
  --navigation-pill-secondary-default-background: var(--background-default-accent-fixed);
  --navigation-pill-secondary-default-text: var(--text-neutral-tertiary);
  --navigation-pill-secondary-default-icon: var(--icon-neutral-tertiary);
  --navigation-pill-secondary-hover-background: var(--background-default-accent-hover);
  --navigation-pill-secondary-hover-text: var(--text-default-primary);
  --navigation-pill-secondary-hover-icon: var(--icon-default-primary);
  --navigation-pill-active-background: var(--background-default-primary);
  --navigation-pill-active-text: var(--text-default-primary);
  --navigation-pill-active-icon: var(--icon-default-primary);
  --options-default-text-label: var(--text-default-primary);
  --options-default-text-description: var(--text-neutral-secondary);
  --options-default-background: var(--null-000);
  --options-selected-text-label: var(--text-default-primary);
  --options-selected-text-description: var(--text-neutral-secondary);
  --options-selected-background: var(--background-neutral-primary);
  --options-list-background: var(--null-000);
  --options-list-border: var(--border-neutral-secondary);
  --overlay-default-background: var(--background-opacity-secondary);
  --pagination-current-background: var(--background-brand-mobilty-light);
  --pagination-current-border: var(--border-brand-mobility);
  --pagination-current-hover-background: var(--background-brand-welfare-light);
  --pagination-current-hover-border: var(--border-brand-mobility);
  --pagination-default-background: var(--background-default-primary);
  --pagination-default-border: var(--border-disabled-secondary);
  --pagination-default-text: var(--text-default-primary);
  --pagination-default-hover-background: var(--background-default-accent-hover);
  --pagination-default-hover-border: var(--border-disabled-secondary);
  --pagination-default-hover-text: var(--text-default-primary);
  --radio-button-field-unchecked-text-label: var(--text-default-primary);
  --radio-button-field-unchecked-text-description: var(--text-neutral-secondary);
  --radio-button-field-unchecked-hover-text-label: var(--text-default-primary);
  --radio-button-field-unchecked-hover-text-description: var(--text-neutral-secondary);
  --radio-button-field-unchecked-focused-text-label: var(--text-default-primary);
  --radio-button-field-unchecked-focused-text-description: var(--text-neutral-secondary);
  --radio-button-field-unchecked-pressed-text-label: var(--text-default-primary);
  --radio-button-field-checked-text-label: var(--text-default-primary);
  --radio-button-field-checked-text-description: var(--text-neutral-secondary);
  --radio-button-field-unchecked-pressed-text-description: var(--text-neutral-secondary);
  --radio-button-field-checked-hover-text-label: var(--text-default-primary);
  --radio-button-field-checked-hover-text-description: var(--text-neutral-secondary);
  --section-basic-background: var(--background-default-primary);
  --section-basic-t-itle: var(--text-neutral-primary);
  --section-basic-icon: var(--icon-neutral-primary);
  --section-basic-description: var(--text-default-accent);
  --section-accent-background: var(--background-brand-mobilty-strong);
  --section-accent-t-itle: var(--text-neutral-primary);
  --section-accent-icon: var(--icon-neutral-primary);
  --section-accent-description: var(--text-default-primary);
  --radio-button-unchecked-border: var(--border-default-primary);
  --radio-button-unchecked-hover-border: var(--border-default-secondary);
  --radio-button-unchecked-focused-border-default: var(--border-default-primary);
  --radio-button-unchecked-focused-border-focus: var(--border-default-focused);
  --radio-button-unchecked-pressed-border: var(--border-default-secondary);
  --radio-button-checked-border: var(--border-default-primary);
  --radio-button-checked-icon: var(--icon-default-primary);
  --switch-unchecked-background: var(--background-neutral-tertiary);
  --switch-unchecked-icon: var(--icon-neutral-tertiary);
  --switch-unchecked-hover-background: var(--background-neutral-secondary);
  --switch-unchecked-focused-background: var(--background-neutral-tertiary);
  --switch-unchecked-pressed-background: var(--background-neutral-secondary);
  --switch-unchecked-pressed-icon: var(--icon-neutral-tertiary);
  --switch-unchecked-focused-border-focus: var(--border-default-focused);
  --switch-unchecked-focused-icon: var(--icon-neutral-tertiary);
  --switch-unchecked-hover-icon: var(--icon-neutral-tertiary);
  --switch-checked-background: var(--background-default-tertiary);
  --switch-checked-icon: var(--icon-neutral-tertiary);
  --switch-checked-hover-background: var(--background-default-tertiary-hover);
  --switch-checked-hover-icon: var(--icon-neutral-tertiary);
  --switch-checked-focused-background: var(--background-default-tertiary);
  --switch-checked-focused-border-focus: var(--border-default-focused);
  --switch-checked-focused-icon: var(--icon-neutral-tertiary);
  --switch-checked-pressed-background: var(--background-default-tertiary-hover);
  --switch-checked-pressed-icon: var(--icon-neutral-tertiary);
  --switch-disabled-background: var(--background-disabled-primary);
  --switch-disabled-icon: var(--icon-disabled-primary);
  --text-block-default-text: var(--text-default-accent);
  --tab-select-background: var(--null-000);
  --tab-select-border: var(--border-neutral-primary);
  --tab-select-text: var(--text-default-primary);
  --tab-select-icon-color: var(--icon-default-primary);
  --tab-unselect-background: var(--null-000);
  --tab-unselect-border: var(--border-default-primary);
  --tab-unselect-icon-color: var(--icon-default-tertiary);
  --tag-default-mobility-background: var(--background-brand-mobilty-light);
  --tag-default-welfare-background: var(--background-brand-welfare-light);
  --tag-default-welfare-border: var(--border-brand-welfare);
  --tag-default-welfare-text: var(--text-default-primary);
  --tag-default-mobility-border: var(--border-brand-mobility);
  --tag-default-mobility-text: var(--text-default-primary);
  --tooltip-background: var(--background-default-secondary);
  --tooltip-select-border: var(--border-default-primary);
  --tooltip-title: var(--text-default-primary);
  --tooltip-body-text: var(--text-neutral-primary);
  --icon-button-primary-default-background: var(--null-000);
  --icon-button-primary-default-border: var(--border-default-primary);
  --icon-button-primary-default-icon: var(--icon-default-primary);
  --checkbox-field-unchecked-hover-text-label: var(--text-default-primary);
  --checkbox-field-unchecked-hover-text-description: var(--text-neutral-secondary);
  --checkbox-field-unchecked-focused-text-label: var(--text-default-primary);
  --checkbox-field-unchecked-focused-text-description: var(--text-neutral-secondary);
  --checkbox-field-unchecked-pressed-text-label: var(--text-default-primary);
  --checkbox-field-unchecked-pressed-text-description: var(--text-neutral-secondary);
  --icon-button-primary-hover-background: var(--null-000);
  --icon-button-primary-hover-border: var(--border-default-secondary);
  --icon-button-primary-hover-icon: var(--icon-default-secondary);
  --icon-button-primary-disabled-background: var(--null-000);
  --icon-button-primary-disabled-border: var(--border-disabled-primary);
  --icon-button-primary-disabled-icon: var(--icon-disabled-primary);
  --icon-button-primary-pressed-background: var(--null-000);
  --icon-button-primary-pressed-border: var(--border-default-secondary);
  --icon-button-primary-pressed-icon: var(--icon-default-secondary);
  --checkbox-field-checked-text-label: var(--text-default-primary);
  --checkbox-field-checked-text-description: var(--text-neutral-secondary);
  --checkbox-field-checked-hover-text-label: var(--text-default-primary);
  --checkbox-field-checked-hover-text-description: var(--text-neutral-secondary);
  --checkbox-field-checked-focused-text-label: var(--text-default-primary);
  --checkbox-field-checked-focused-text-description: var(--text-neutral-secondary);
  --checkbox-field-checked-pressed-text-label: var(--text-default-primary);
  --checkbox-field-disabled-text-label: var(--text-disabled-secondary);
  --checkbox-field-disabled-text-description: var(--text-disabled-secondary);
  --checkbox-field-checked-pressed-text-description: var(--text-neutral-secondary);
  --icon-button-primary-focused-background: var(--null-000);
  --icon-button-primary-focused-border-default: var(--border-default-primary);
  --icon-button-primary-focused-border-focused: var(--border-default-focused);
  --icon-button-primary-focused-icon: var(--icon-default-primary);
  --icon-button-secondary-default-background: var(--background-default-primary);
  --icon-button-secondary-default-border: var(--null-000);
  --icon-default-fixed: var(--brand-800);
  --icon-button-secondary-default-icon: var(--icon-default-fixed);
  --icon-button-secondary-hover-background: var(--background-default-tertiary-hover);
  --icon-button-secondary-disabled-background: var(--background-disabled-primary);
  --icon-button-secondary-disabled-border: var(--null-000);
  --icon-button-secondary-disabled-icon: var(--icon-disabled-primary);
  --icon-button-secondary-hover-border: var(--null-000);
  --icon-button-secondary-hover-icon: var(--icon-neutral-tertiary);
  --icon-button-secondary-focused-background: var(--background-default-primary);
  --icon-button-secondary-focused-border: var(--border-default-focused);
  --icon-button-secondary-focused-icon: var(--icon-default-fixed);
  --icon-button-secondary-pressed-background: var(--brand-600);
  --icon-button-secondary-pressed-border: var(--null-000);
  --icon-button-secondary-pressed-icon: var(--icon-neutral-tertiary);
  --radio-button-checked-hover-border: var(--border-default-secondary);
  --radio-button-checked-hover-icon: var(--icon-default-secondary);
  --radio-button-checked-focused-border-default: var(--border-default-primary);
  --radio-button-checked-pressed-border: var(--border-default-secondary);
  --radio-button-checked-pressed-icon: var(--icon-default-secondary);
  --radio-button-checked-focused-border-focus: var(--border-default-focused);
  --radio-button-checked-focused-icon: var(--icon-default-primary);
  --radio-button-disabled-background: var(--background-disabled-primary);
  --radio-button-disabled-border: var(--border-disabled-secondary);
  --radio-button-disabled-icon: var(--icon-disabled-secondary);
  --radio-button-field-checked-focused-text-label: var(--text-default-primary);
  --radio-button-field-checked-focused-text-description: var(--text-neutral-secondary);
  --radio-button-field-checked-pressed-text-label: var(--text-default-primary);
  --radio-button-field-checked-pressed-text-description: var(--text-neutral-secondary);
  --radio-button-field-disabled-text-label: var(--text-disabled-secondary);
  --radio-button-field-disabled-text-description: var(--text-disabled-secondary);
  --tag-default-property-background: var(--background-brand-property-light);
  --tag-default-property-border: var(--border-brand-property);
  --tag-default-property-text: var(--text-default-primary);
  --tag-secondary-mobility-background: var(--background-brand-mobilty-strong);
  --tag-secondary-mobility-border: var(--null-000);
  --tag-secondary-mobility-text: var(--text-neutral-tertiary);
  --tag-secondary-welfare-background: var(--background-brand-welfare-strong);
  --tag-secondary-welfare-border: var(--null-000);
  --tag-secondary-welfare-text: var(--text-neutral-tertiary);
  --tag-secondary-property-background: var(--background-brand-property-strong);
  --tag-secondary-property-border: var(--null-000);
  --tag-secondary-property-text: var(--text-neutral-tertiary);
  --tag-neutral-background: var(--background-default-secondary-fixed);
  --tag-neutral-border: var(--null-000);
  --tag-neutral-text: var(--text-default-primary);
  --tag-custom-background: var(--background-default-secondary-fixed);
  --tag-custom-border: var(--border-default-accent);
  --tag-custom-text: var(--text-default-accent);
  --switch-button-field-unchecked-text-label: var(--text-default-primary);
  --switch-button-field-unchecked-text-description: var(--text-neutral-secondary);
  --switch-button-field-unchecked-hover-text-label: var(--text-default-primary);
  --switch-button-field-unchecked-hover-text-description: var(--text-neutral-secondary);
  --switch-button-field-unchecked-focused-text-label: var(--text-default-primary);
  --switch-button-field-unchecked-focused-text-description: var(--text-neutral-secondary);
  --switch-button-field-unchecked-pressed-text-label: var(--text-default-primary);
  --switch-button-field-unchecked-pressed-text-description: var(--text-neutral-secondary);
  --switch-button-field-checked-text-label: var(--text-default-primary);
  --switch-button-field-checked-text-description: var(--text-neutral-secondary);
  --switch-button-field-checked-hover-text-label: var(--text-default-primary);
  --switch-button-field-checked-hover-text-description: var(--text-neutral-secondary);
  --switch-button-field-checked-focused-text-label: var(--text-default-primary);
  --switch-button-field-checked-focused-text-description: var(--text-neutral-secondary);
  --switch-button-field-checked-pressed-text-label: var(--text-default-primary);
  --switch-button-field-checked-pressed-text-description: var(--text-neutral-secondary);
  --switch-button-field-disabled-text-label: var(--text-disabled-secondary);
  --switch-button-field-disabled-text-description: var(--text-disabled-secondary);
  --input-field-hint-radio-button-icon: var(--icon-default-primary);
  --input-field-hint-radio-button-text: var(--text-default-primary);
  --ai-message-background: var(--background-default-accent-light);
  --ai-message-text: var(--text-default-primary);
  --category-strip-mobility-background: var(--background-brand-mobilty-light);
  --category-strip-mobility-icon: var(--icon-default-primary);
  --category-strip-mobility-text: var(--text-default-primary);
  --category-strip-property-background: var(--background-brand-property-light);
  --category-strip-property-icon: var(--icon-default-primary);
  --category-strip-property-text: var(--text-default-primary);
  --download-tile-background: var(--background-default-secondary-fixed);
  --download-tile-border: var(--null-000);
  --download-tile-title: var(--text-default-primary);
  --download-tile-icon: var(--icon-default-primary);
  --expanding-dots-background: var(--background-default-tertiary);
  --expanding-dots-background-dot: var(--background-neutral-tertiary);
  --input-field-hint-warning-text-icon: var(--icon-warning-primary);
  --input-field-hint-warning-text: var(--text-warning-default);
  --input-field-hint-success-text-icon: var(--icon-success-primary);
  --input-field-hint-success-text: var(--text-success-default);
  --input-fields-disabled-background-2: var(--background-disabled-primary);
  --label-input-fields-primary-background: var(--background-default-primary);
  --label-input-fields-primary-text: var(--text-default-primary);
  --number-block-number: var(--text-default-primary);
  --number-block-body: var(--text-default-primary);
  --photo-banner-background: var(--background-default-tertiary);
  --photo-banner-text: var(--text-neutral-tertiary);
  --scroll-indicator-mobile-icon-default: var(--icon-default-primary);
  --scroll-indicator-mobile-icon-disabled: var(--icon-disabled-primary);
  --section-background: var(--null-000);
  --section-text: var(--text-default-primary);
  --text-block-body: var(--text-default-primary);
  --tooltip-icon: var(--icon-default-primary);
  --label-input-fields-secondary-background: var(--background-default-secondary-fixed);
  --label-input-fields-secondary-text: var(--text-default-primary);
  --input-fields-warning-background: var(--null-000);
  --input-fields-warning-border: var(--border-warning-primary);
  --input-fields-warning-text-label: var(--text-default-primary);
  --input-fields-warning-text-value: var(--text-default-primary);
  --input-fields-warning-icon: var(--icon-default-primary);
  --input-fields-success-background: var(--null-000);
  --input-fields-success-border: var(--border-success-primary);
  --input-fields-success-text-label: var(--text-default-primary);
  --input-fields-success-text-value: var(--text-default-primary);
  --input-fields-success-icon: var(--icon-default-primary);
  --category-strip-welfare-background: var(--background-brand-welfare-light);
  --category-strip-welfare-icon: var(--icon-default-primary);
  --category-strip-welfare-text: var(--text-default-primary);
  --border-default-tertiary: var(--neutral-200);
  --border-neutral-tertiary: var(--grayscale-700);
  --card-agency-card-background: var(--background-default-secondary);
  --card-agency-card-icon-pin: var(--icon-neutral-tertiary);
  --card-agency-card-title: var(--text-default-primary);
  --card-agency-card-body: var(--text-default-primary);
  --card-blog-preview-title: var(--text-default-primary);
  --card-blog-preview-label-content-duration-text: var(--text-neutral-secondary);
  --card-blog-preview-label-content-duration-icon: var(--icon-neutral-secondary);
  --card-bundle-card-background: var(--background-default-secondary-fixed);
  --card-bundle-card-title: var(--text-default-primary);
  --card-bundle-card-body: var(--text-default-primary);
  --card-category-card-title: var(--text-default-primary);
  --card-category-card-body: var(--text-default-primary);
  --card-category-card-subdescription: var(--text-neutral-secondary);
  --card-category-card-background-mobility: var(--background-brand-mobilty-light);
  --card-category-card-background-property: var(--background-brand-property-light);
  --card-category-card-background-welfare: var(--background-brand-welfare-light);
  --card-category-card-background: var(--background-default-secondary-fixed);
  --card-dynamic-gallery-card-overlay-background: var(--background-opacity-tertiary);
  --card-editorial-card-background: var(--background-default-secondary-fixed);
  --card-editorial-card-border: var(--border-default-primary);
  --card-editorial-card-title: var(--text-default-primary);
  --card-editorial-card-body: var(--text-default-primary);
  --card-contact-card-map-background: var(--background-default-secondary);
  --card-contact-card-map-text: var(--text-default-primary);
  --card-contact-card-background: var(--background-default-secondary);
  --card-contact-card-text: var(--text-default-primary);
  --card-info-card-background: var(--background-default-secondary-fixed);
  --card-info-card-title: var(--text-default-primary);
  --card-info-card-body: var(--text-default-primary);
  --card-info-card-icon: var(--icon-default-primary);
  --card-insurance-product-card-background: var(--background-default-secondary-fixed);
  --card-insurance-product-card-title: var(--text-default-primary);
  --card-insurance-product-card-body: var(--text-default-primary);
  --card-insurance-product-card-details: var(--text-neutral-secondary);
  --card-insurance-product-card-background-mobility: var(--background-brand-mobilty-light);
  --card-insurance-product-card-background-property: var(--background-brand-property-light);
  --card-insurance-product-card-background-welfare: var(--background-brand-welfare-light);
  --card-quote-tool-card-text: var(--text-default-primary);
  --card-quote-tool-card-summary-background: var(--background-default-secondary-fixed);
  --card-quote-tool-card-bundle-background: var(--null-000);
  --card-quote-tool-card-bundle-border: var(--border-neutral-primary);
  --card-quote-tool-card-bundle-secondary-text: var(--text-neutral-secondary);
  --card-photo-card-title: var(--text-default-primary);
  --card-text-card-text-gray: var(--text-neutral-primary);
  --card-text-card-icon-background: var(--background-default-tertiary);
  --card-text-card-icon: var(--icon-neutral-tertiary);
  --card-user-review-background: var(--background-default-secondary-fixed);
  --card-user-review-body: var(--text-default-primary);
  --card-user-review-description: var(--text-neutral-secondary);
  --card-warranty-card-background: var(--background-default-secondary-fixed);
  --card-warranty-card-background-mobilty: var(--background-brand-mobilty-light);
  --card-warranty-card-background-welfare: var(--background-brand-welfare-light);
  --card-warranty-card-background-property: var(--background-brand-property-light);
  --card-warranty-card-background-icon-mobility: var(--background-default-secondary-fixed);
  --card-warranty-card-title: var(--text-default-primary);
  --card-warranty-card-body: var(--text-default-primary);
  --card-warranty-card-background-icon: var(--background-brand-mobilty-light);
  --card-warranty-card-icon-mobility: var(--icon-brand-mobility);
  --card-warranty-card-icon-welfare: var(--icon-brand-welfare);
  --card-warranty-card-icon-property: var(--icon-brand-property);
  --category-chips-mobility-background: var(--background-brand-mobilty-light);
  --category-chips-mobility-icon: var(--icon-default-primary);
  --category-chips-mobility-text: var(--text-default-primary);
  --category-chips-property-background: var(--background-brand-property-light);
  --category-chips-property-icon: var(--icon-default-primary);
  --category-chips-property-text: var(--text-default-primary);
  --category-chips-welfare-background: var(--background-brand-welfare-light);
  --category-chips-welfare-icon: var(--icon-default-primary);
  --category-chips-welfare-text: var(--text-default-primary);
  --map-pin-background-pin: var(--background-default-secondary);
  --text-default-primary-fixed: var(--brand-800);
  --map-pin-text: var(--text-default-primary-fixed);
  --map-pin-icon: var(--icon-default-primary);
  --map-pin-background-card: var(--background-default-secondary-fixed);
  --map-pin-border-card: var(--border-neutral-primary);
  --mini-banner-background: var(--background-default-tertiary);
  --mini-banner-text: var(--text-neutral-tertiary);
  --score-text: var(--text-default-primary);
  --score-line: var(--border-neutral-secondary);
  --switch-label-default-text: var(--text-default-primary);
  --switch-label-default-background: var(--null-000);
  --switch-label-active-text: var(--text-default-primary);
  --switch-label-active-background: var(--background-default-primary);
  --table-cell-text: var(--text-default-primary);
  --table-cell-mobility-icon-mobility: var(--icon-brand-mobility);
  --table-cell-mobility-text-mobility: var(--text-brand-mobility);
  --table-header-text: var(--text-default-primary);
  --table-row-header-row-header: var(--background-default-secondary-fixed);
  --table-row-text-row-white: var(--background-default-secondary-fixed);
  --table-row-text-row-light-gray: var(--background-neutral-primary);
  --text-banner-background: var(--background-default-secondary);
  --text-banner-text: var(--text-default-primary);
  --text-switch-background: var(--background-neutral-secondary);
  --table-cell-welfare-icon-welfare: var(--icon-brand-welfare);
  --table-cell-welfare-text-welfare: var(--text-brand-welfare);
  --table-cell-property-icon-property: var(--icon-brand-property);
  --table-cell-property-text-property: var(--text-brand-property);
  --table-row-button-row-background: var(--background-default-secondary-fixed);
  --contact-tool-background: var(--background-default-primary);
  --contact-tool-text: var(--text-default-primary);
  --data-table-widget-background-mobility: var(--background-brand-mobilty-light);
  --data-table-widget-background-welfare: var(--background-brand-welfare-light);
  --data-table-widget-background-property: var(--background-brand-property-light);
  --faq-widget-text: var(--text-default-primary);
  --footer-background: var(--background-default-tertiary);
  --footer-primary-text: var(--text-neutral-tertiary);
  --footer-secondary-text: var(--text-neutral-primary);
  --footer-primary-border: var(--border-default-tertiary);
  --footer-secondary-border: var(--border-neutral-tertiary);
  --footer-icon: var(--icon-neutral-tertiary);
  --header-background: var(--background-opacity-primary);
  --header-icon: var(--icon-default-primary);
  --hero-full-screen-text-color: var(--text-default-primary);
  --hero-mini-hero-text-color: var(--text-default-primary);
  --hero-blog-text-color: var(--text-neutral-tertiary);
  --quote-tool-full-quote-tool-background: var(--background-default-primary);
  --quote-tool-text: var(--text-default-primary);
  --legal-info-widget-text: var(--text-default-primary);
  --carousel-widget-product-highlights-background-color: var(--background-default-secondary);
  --quote-tool-single-quote-tool-background: var(--background-default-secondary-fixed);
  --accordion-footer-border: var(--border-disabled-secondary);
  --accordion-footer-title: var(--text-default-primary);
  --accordion-footer-link: var(--text-default-primary);
  --accordion-footer-icon: var(--icon-default-primary);
  --switch-label-active-dot-backgroung: var(--background-default-tertiary);
  --ai-search-bar-input-placeholder-background: var(--background-default-secondary-fixed);
  --ai-search-bar-input-placeholder-border-color: var(--border-neutral-secondary);
  --ai-search-bar-input-placeholder-icon: var(--icon-default-primary);
  --ai-search-bar-input-placeholder-text-value: var(--text-neutral-secondary);
  --ai-search-bar-options-background: var(--background-default-secondary-fixed);
  --ai-search-bar-options-border-color: var(--border-neutral-secondary);
  --ai-search-bar-options-icon: var(--icon-default-primary);
  --ai-search-bar-options-text: var(--text-default-primary);
  --article-section-header-text: var(--text-default-primary);
  --banner-photo-banner-background: var(--background-default-secondary);
  --banner-photo-banner-text: var(--text-default-primary);
  --card-contact-card-background-icon: var(--background-default-tertiary);
  --card-contact-card-icon: var(--icon-neutral-tertiary);
  --card-contact-agent-card-background: var(--background-default-secondary);
  --card-news-card-text: var(--text-default-primary);
  --card-news-card-background: var(--background-neutral-secondary);
  --card-contact-agent-card-text: var(--text-default-primary);
  --input-fields-placeholder-background-search: var(--background-default-secondary-fixed);
  --input-fields-enabled-background-search: var(--background-default-secondary-fixed);
  --input-fields-disabled-background-search: var(--background-default-secondary-fixed);
  --input-fields-focused-background-search: var(--background-default-secondary-fixed);
  --input-fields-error-background-search: var(--background-default-secondary-fixed);
  --options-list-background-search: var(--background-default-secondary-fixed);
  --search-bar-input-placeholder-background: var(--background-default-secondary-fixed);
  --search-bar-input-placeholder-border-color: var(--border-neutral-secondary);
  --search-bar-input-placeholder-icon: var(--icon-default-primary);
  --search-bar-input-placeholder-text-value: var(--text-neutral-secondary);
  --search-bar-input-enable-background: var(--background-default-secondary-fixed);
  --search-bar-input-enable-border-color: var(--border-neutral-secondary);
  --search-bar-input-enable-icon: var(--icon-default-primary);
  --search-bar-input-enable-text-value: var(--text-default-primary);
  --search-bar-input-hover-background: var(--background-neutral-primary);
  --search-bar-input-hover-border-color: var(--border-neutral-secondary);
  --search-bar-input-hover-icon: var(--icon-default-primary);
  --search-bar-input-hover-text-value: var(--text-default-primary);
  --search-bar-input-focused-background: var(--background-default-secondary);
  --search-bar-input-focused-border-color: var(--border-neutral-secondary);
  --search-bar-input-focused-border-focused: var(--border-default-focused);
  --search-bar-input-focused-icon: var(--icon-default-primary);
  --search-bar-input-focused-text-value: var(--text-default-primary);
  --search-bar-input-pressed-background: var(--background-neutral-primary);
  --search-bar-input-pressed-border-color: var(--border-neutral-secondary);
  --search-bar-input-pressed-icon: var(--icon-default-primary);
  --search-bar-input-pressed-text-value: var(--text-default-primary);
  --search-bar-options-background: var(--background-default-secondary-fixed);
  --search-bar-options-border-color: var(--border-neutral-secondary);
  --search-bar-options-icon: var(--icon-default-primary);
  --search-bar-options-text: var(--text-default-primary);
  --text-link-list-title: var(--text-default-primary);
  --text-link-list-body-link: var(--text-default-primary);
  --input-fields-warning-background-search: var(--background-default-secondary-fixed);
  --input-fields-success-background-search: var(--background-default-secondary-fixed);
  --tag-news-text: var(--text-default-accent);
  --tag-news-dot: var(--background-default-accent-fixed);
  --input-fields-placeholder-background-search-2: var(--background-default-secondary-fixed);
  --input-fields-placeholder-background-search-3: var(--background-default-secondary-fixed);
  --banner-text-banner-background: var(--background-default-accent-light);
  --banner-text-banner-text: var(--text-default-primary);
  --banner-mini-banner-background: var(--background-default-accent-light);
  --banner-mini-banner-text: var(--text-default-primary);
  --article-section-text-block-text: var(--text-default-primary);
  --article-section-kpi-text: var(--text-default-primary);
  --ai-search-bar-input-enable-background: var(--background-default-secondary-fixed);
  --ai-search-bar-input-enable-border-color: var(--border-neutral-secondary);
  --ai-search-bar-input-enable-icon: var(--icon-default-primary);
  --ai-search-bar-input-enable-text-value: var(--text-default-primary);
  --ai-search-bar-input-hover-background: var(--background-neutral-primary);
  --ai-search-bar-input-hover-border-color: var(--border-neutral-secondary);
  --ai-search-bar-input-hover-icon: var(--icon-default-primary);
  --ai-search-bar-input-hover-text-value: var(--text-default-primary);
  --ai-search-bar-input-focused-background: var(--background-default-secondary);
  --ai-search-bar-input-focused-border-color: var(--border-neutral-secondary);
  --ai-search-bar-input-focused-border-focused: var(--border-default-focused);
  --ai-search-bar-input-focused-icon: var(--icon-default-primary);
  --ai-search-bar-input-focused-text-value: var(--text-default-primary);
  --ai-search-bar-input-pressed-background: var(--background-neutral-primary);
  --ai-search-bar-input-pressed-border-color: var(--border-neutral-secondary);
  --ai-search-bar-input-pressed-icon: var(--icon-default-primary);
  --ai-search-bar-input-pressed-text-value: var(--text-default-primary);
  --info-widget-text-color: var(--text-default-primary);
  --carousel-news-background-second-card: var(--background-default-secondary-fixed);
  --hero-text: var(--text-neutral-tertiary);
  --article-faq-widget-text: var(--text-default-primary);
  --carousel-photo-background: var(--background-default-secondary-fixed);
  --ai-search-results-background: var(--background-default-accent-light);
  --ai-search-results-text: var(--text-default-primary);
}