/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-mobile {
  --Layout-Page-Width: 23.438rem;
  --Layout-Page-Min-Height: 50.75rem;
  --Layout-Container-Horizontal-Gap: 1.5rem;
  --Layout-Container-Vertical-Gap: 1.5rem;
  --Column-Size-Col-1: 1.313rem;
  --Column-Size-Col-2: 3.125rem;
  --Column-Size-Col-3: 4.938rem;
  --Column-Size-Col-4: 6.813rem;
  --Column-Size-Col-5: 8.625rem;
  --Column-Size-Col-6: 10.438rem;
  --Column-Size-Col-7: 12.25rem;
  --Column-Size-Col-8: 14.125rem;
  --Column-Size-Col-9: 15.938rem;
  --Column-Size-Col-10: 17.75rem;
  --Column-Size-Col-11: 19.563rem;
  --Column-Size-Col-12: 21.438rem;
  --Padding-C-72-56-24: 1.5rem;
  --Padding-C-64-48-24: 1.5rem;
  --Space-0: 0rem;
  --Space-50-2: 0.125rem;
  --Space-100-4: 0.25rem;
  --Space-200-8: 0.5rem;
  --Space-250-12: 0.75rem;
  --Space-300-16: 1rem;
  --Space-350-20: 1.25rem;
  --Space-400-24: 1.5rem;
  --Space-500-32: 2rem;
  --Space-600-40: 2.5rem;
  --Space-700-48: 3rem;
  --Space-800-56: 3.5rem;
  --Space-900-64: 4rem;
  --Space-1000-80: 5rem;
  --Space-1100-96: 6rem;
  --Space-1200-120: 7.5rem;
  --Depth-0: 0rem;
  --Depth-025-1: 0.063rem;
  --Depth-050-2: 0.125rem;
  --Depth-100-4: 0.25rem;
  --Depth-200-8: 0.5rem;
  --Depth-400-16: 1rem;
  --Depth-800-32: 2rem;
  --Depth-1200-48: 3rem;
  --Depth-Negative-025: -0.062rem;
  --Depth-Negative-050: -0.125rem;
  --Depth-Negative-100: -0.25rem;
  --Depth-Negative-200: -0.5rem;
  --Depth-Negative-400: -1rem;
  --Depth-Negative-800: -2rem;
  --Depth-Negative-1200: -3rem;
  --Blur-100-4: 0.25rem;
  --Blur-200-8: 0.5rem;
  --Blur-300-16: 1rem;
  --Blur-400-24: 1.5rem;
  --Card-Height: 25rem;
  --Card-Width: 18.75rem;
  --Hero-Min-Height: 18.75rem;
  --Layout-Page-Gap: var(--Space-1000-80);
  --Layout-Section-Margin-Horizontal-Padding: var(--Space-300-16);
  --Layout-Section-Vertical-Padding: var(--Space-0);
  --Layout-Section-Vertical-Gap: var(--Space-200-8);
  --Layout-Section-Horizontal-Gap: var(--Space-200-8);
  --Layout-Row-Horizontal-Padding: var(--Space-0);
  --Layout-Row-Vertical-Padding: var(--Space-0);
  --Layout-Row-Gutter-Horizontal-Gap: var(--Space-200-8);
  --Layout-Row-Gutter-Vertical-Gap: var(--Space-200-8);
  --Layout-Container-Vertical-Padding: var(--Space-0);
  --Layout-Container-Horizontal-Padding: var(--Space-0);
  --Container-Width-L6-M6-S12: var(--Column-Size-Col-12);
  --Container-Width-L4-M4-S12: var(--Column-Size-Col-12);
  --Container-Width-L3-M6-S12: var(--Column-Size-Col-12);
  --Container-Width-L3-M4-S12: var(--Column-Size-Col-12);
  --Container-Width-L6-M3-S12: var(--Column-Size-Col-12);
  --Container-Width-L9-M6-S12: var(--Column-Size-Col-12);
  --Container-Width-L4-M6-S12: var(--Column-Size-Col-12);
  --Font-Size-Title-Hero-Apex-New: var(--Size-40);
  --Accordion-Vertical-Padding: var(--Space-400-24);
  --Ai-Icon-Dimentions: var(--Space-500-32);
  --Ai-Icon-Radius: var(--Radius-9999);
  --Spacing-Padding-24-16: var(--Space-300-16);
  --Accordion-Horizontal-Padding: var(--Spacing-Padding-24-16);
  --Spacing-Gap-24-16: var(--Space-300-16);
  --Accordion-Horizontal-Gap: var(--Spacing-Gap-24-16);
  --Accordion-Vertical-Gap: var(--Spacing-Gap-24-16);
  --Accordion-Radius: var(--Radius-300-16);
  --Accordion-Radius-Bottom-Left: var(--Radius-200-8);
  --Accordion-Radius-Top-Right: var(--Radius-200-8);
  --Accordion-Radius-Bottom-Right: var(--Radius-200-8);
  --Accordion-Border-Width-Top: var(--Stroke-100-1);
  --Accordion-Border-Width-Bottom: var(--Stroke-100-1);
  --Accordion-Border-Width-Left: var(--Stroke-100-1);
  --Accordion-Border: var(--Stroke-100-1);
  --Avatar-Radius-Top-Left: var(--Radius-9999);
  --Avatar-Radius-Bottom-Left: var(--Radius-9999);
  --Avatar-Radius-Top-Right: var(--Radius-9999);
  --Avatar-Radius-Bottom-Right: var(--Radius-9999);
  --Avatar-Dimentions: var(--Space-700-48);
  --Avatar-Border-Width-Top: var(--Stroke-100-1);
  --Avatar-Border-Width-Bottom: var(--Stroke-100-1);
  --Avatar-Border-Width-Left: var(--Stroke-100-1);
  --Avatar-Border-Width-Right: var(--Stroke-100-1);
  --Button-Horizontal-Padding: var(--Space-400-24);
  --Button-Vertical-Padding: var(--Space-250-12);
  --Button-Gap: var(--Space-200-8);
  --Button-Min-Width: var(--Space-700-48);
  --Button-Min-Height: var(--Space-400-24);
  --Button-Radius-Default: var(--Radius-400-24);
  --Button-Radius-Ghost: var(--Radius-0);
  --Button-Border-Default: var(--Stroke-100-1);
  --Button-Border-Focused: var(--Stroke-200-2);
  --Button-Group-Horizontal-Padding: var(--Space-200-8);
  --Button-Group-Vertical-Gap: var(--Space-200-8);
  --Button-Group-Horizontal-Gap: var(--Space-200-8);
  --Category-Tabs-Height: var(--Space-600-40);
  --Category-Tabs-Horizontal-Padding: var(--Space-300-16);
  --Category-Tabs-Gap: var(--Space-200-8);
  --Category-Tabs-Radius: var(--Radius-9999);
  --Category-Tabs-Border-Width: var(--Stroke-100-1);
  --Card-Horizontal-Padding: var(--Space-400-24);
  --Card-Vertical-Padding: var(--Space-400-24);
  --Card-Gap: var(--Space-400-24);
  --Checkbox-Dimentions: var(--Space-300-16);
  --Card-Radius: var(--Radius-400-24);
  --Checkbox-Radius: var(--Radius-100-4);
  --Card-Border-Width: var(--Stroke-100-1);
  --Checkbox-Border-Width: var(--Stroke-100-1);
  --Checkbox-Border-Focus: var(--Stroke-200-2);
  --Checkbox-Field-Vertical-Gap: var(--Space-50-2);
  --Checkbox-Field-Horizontal-Gap: var(--Space-250-12);
  --Checkbox-Field-Checkbox-Frame-Vertical-Padding: var(--Space-50-2);
  --Dialog-Radius: var(--Radius-0);
  --Dialog-Vertical-Padding-D-Tl: var(--Space-500-32);
  --Dialog-Horizontal-Padding: var(--Space-500-32);
  --Dialog-Horizontal-Gap: var(--Space-300-16);
  --Dialog-Text-Gap: var(--Space-300-16);
  --Footer-Width: var(--Layout-Page-Width);
  --Footer-Horizontal-Padding: var(--Layout-Section-Margin-Horizontal-Padding);
  --Footer-Vertical-Padding: var(--Space-300-16);
  --Footer-Gap: var(--Layout-Row-Gutter-Horizontal-Gap);
  --Header-Height: var(--Space-900-64);
  --Hero-Horizontal-Padding: var(--Space-250-12);
  --Hero-Vertical-Padding: var(--Space-250-12);
  --Hero-Gap: var(--Space-500-32);
  --Hero-Text-Gap: var(--Space-50-2);
  --Header-Width: var(--Layout-Page-Width);
  --Header-Horizontal-Padding: var(--Layout-Section-Margin-Horizontal-Padding);
  --Header-Vertical-Padding: var(--Space-300-16);
  --Header-Gap: var(--Layout-Row-Gutter-Horizontal-Gap);
  --Icon-Button-Dimentions: var(--Space-600-40);
  --Icon-Button-Radius: var(--Radius-9999);
  --Input-Fields-Radius-Default: var(--Radius-9999);
  --Images-Radius: var(--Radius-400-24);
  --Input-Fields-Radius-Text-Area: var(--Radius-300-16);
  --Input-Fields-Border-Default: var(--Stroke-100-1);
  --Input-Fields-Border-Focused: var(--Stroke-200-2);
  --Input-Fields-Vertical-Gap: var(--Space-100-4);
  --Input-Fields-Vertical-Gap-Select: var(--Space-50-2);
  --Input-Fields-Horizontal-Gap: var(--Space-200-8);
  --Input-Fields-Min-Height-Text-Area: var(--Space-900-64);
  --Input-Fields-Vertical-Padding: var(--Space-300-16);
  --Input-Fields-Horizontal-Padding: var(--Space-400-24);
  --Input-Fields-Horizontal-Padding-Icon: var(--Space-350-20);
  --Label-Input-Fields-Vertical-Padding: var(--Space-0);
  --Input-Field-Hint-Vertical-Padding-Selection-Control: var(--Space-100-4);
  --Input-Field-Hint-Horizontal-Gap-Icon: var(--Space-100-4);
  --Input-Field-Hint-Horizontal-Gap-Selection-Control: var(--Space-200-8);
  --Navigation-Pill-Horizontal-Padding: var(--Space-250-12);
  --Navigation-Pill-Vertical-Padding: var(--Space-200-8);
  --Navigation-Pill-Gap: var(--Space-200-8);
  --Navigation-Pill-Radius: var(--Radius-9999);
  --Options-Radius: var(--Radius-300-16);
  --Options-Radius-Box: var(--Radius-400-24);
  --Options-Horizontal-Padding-External: var(--Space-200-8);
  --Options-Horizontal-Padding-Internal: var(--Space-250-12);
  --Options-Horizontal-Gap: var(--Space-250-12);
  --Options-Vertical-Padding: var(--Space-200-8);
  --Options-Vertical-Padding-List: var(--Space-200-8);
  --Options-Vertical-Gap: var(--Space-0);
  --Options-Border: var(--Stroke-100-1);
  --Overlay-Radius: var(--Radius-0);
  --Pagination-Radius: var(--Radius-200-8);
  --Pagination-Dimention: var(--Space-500-32);
  --Pagination-Height: var(--Space-400-24);
  --Pagination-Horizontal-Padding: var(--Space-250-12);
  --Radio-Button-Dimentions: var(--Space-300-16);
  --Pagination-Vertical-Padding: var(--Space-250-12);
  --Pagination-Gap: var(--Space-50-2);
  --Radio-Button-Radius: var(--Radius-9999);
  --Radio-Button-Field-Vertical-Gap: var(--Space-50-2);
  --Radio-Button-Field-Horizontal-Gap: var(--Space-250-12);
  --Radio-Button-Field-Radio-Button-Frame-Vertical-Padding: var(--Space-50-2);
  --Section-Text-Gap: var(--Space-300-16);
  --Section-Vertical-Padding: var(--Space-500-32);
  --Radio-Button-Border-Width: var(--Stroke-100-1);
  --Radio-Button-Border-Focus: var(--Stroke-200-2);
  --Switch-Width: var(--Space-600-40);
  --Switch-Button-Field-Vertical-Gap: var(--Space-50-2);
  --Switch-Button-Field-Horizontal-Gap: var(--Space-250-12);
  --Switch-Button-Field-Switch-Frame-Vertical-Padding: var(--Space-50-2);
  --Switch-Height: var(--Space-400-24);
  --Switch-Padding: var(--Space-50-2);
  --Switch-Radius: var(--Radius-9999);
  --Switch-Border-Width: var(--Stroke-100-1);
  --Switch-Border-Focus: var(--Stroke-200-2);
  --Text-Block-Centered-Text-Gap-D-Ds: var(--Space-300-16);
  --Text-Block-Centered-Gap: var(--Space-500-32);
  --Tab-Height: var(--Space-500-32);
  --Tab-Horizontal-Padding: var(--Space-250-12);
  --Tab-Vertical-Padding: var(--Space-250-12);
  --Tab-Gap: var(--Space-200-8);
  --Tab-Top-Left-Radius: var(--Space-0);
  --Tab-Bottom-Left-Radius: var(--Space-0);
  --Tab-Top-Right-Radius: var(--Space-0);
  --Tab-Bottom-Right-Radius: var(--Space-0);
  --Tab-Border-Width-Bottom: var(--Stroke-100-1);
  --Tab-Border-Width-Top: var(--Stroke-0);
  --Tab-Border-Width-Right: var(--Stroke-0);
  --Tab-Border-Width-Left: var(--Stroke-0);
  --Tab-Group-Horizontal-Padding: var(--Space-0);
  --Tab-Group-Vertical-Padding: var(--Space-0);
  --Tab-Group-Gap: var(--Space-0);
  --Tag-Horizontal-Padding: var(--Space-250-12);
  --Tag-Vertical-Padding: var(--Space-100-4);
  --Tag-Border: var(--Stroke-100-1);
  --Tag-Radius: var(--Radius-200-8);
  --Tooltip-Horizontal-Padding: var(--Space-300-16);
  --Tooltip-Vertical-Padding: var(--Space-300-16);
  --Tooltip-Gap: var(--Space-200-8);
  --Tooltip-Radius: var(--Radius-200-8);
  --Tooltip-Border-Width-Top: var(--Stroke-100-1);
  --Tooltip-Border-Width-Bottom: var(--Stroke-100-1);
  --Tooltip-Border-Width-Left: var(--Stroke-100-1);
  --Tooltip-Border-Width-Right: var(--Stroke-100-1);
  --Button-Radius-Default-2: var(--Radius-400-24);
  --Font-Size-Title-Extra-Large: var(--Size-56);
  --Font-Size-Title-Page: var(--Size-32);
  --Font-Size-Subtitle-Manrope: var(--Size-24);
  --Font-Size-Heading: var(--Size-20);
  --Spacing-Padding-4-2: var(--Space-50-2);
  --Spacing-Padding-16-12: var(--Space-250-12);
  --Spacing-Padding-32-16: var(--Space-300-16);
  --Spacing-Gap-16-8: var(--Space-200-8);
  --Spacing-Gap-8-4: var(--Space-100-4);
  --Accordion-Icon-Vertical-Padding: var(--Spacing-Padding-4-2);
  --Ai-Message-Radius: var(--Radius-9999);
  --Ai-Message-Radius-M: var(--Radius-300-16);
  --Ai-Message-Horizontal-Gap: var(--Space-200-8);
  --Ai-Message-Vertical-Gap: var(--Space-200-8);
  --Ai-Message-Horizontal-Padding-Left: var(--Space-100-4);
  --Ai-Message-Horizontal-Padding-Right: var(--Space-300-16);
  --Ai-Message-Vertical-Padding: var(--Space-100-4);
  --Category-Strip-Horizontal-Padding-Left: var(--Spacing-Padding-16-12);
  --Category-Strip-Horizontal-Padding-Right: var(--Space-100-4);
  --Category-Strip-Vertical-Padding: var(--Space-100-4);
  --Category-Strip-Gap: var(--Spacing-Padding-16-12);
  --Category-Strip-Category-Gap: var(--Space-200-8);
  --Category-Strip-Tag-Gap: var(--Space-100-4);
  --Category-Strip-Radius: var(--Radius-200-8);
  --Card-Horizontal-Padding-M: var(--Space-300-16);
  --Card-Vertical-Gap: var(--Space-200-8);
  --Card-Editorial-Card-Text-Gap: var(--Space-200-8);
  --Card-Section-Gap: var(--Space-300-16);
  --Download-Tile-Radius: var(--Radius-300-16);
  --Download-Tile-Vertical-Padding: var(--Space-400-24);
  --Download-Tile-Horizontal-Padding: var(--Spacing-Padding-24-16);
  --Download-Tile-Horizontal-Gap: var(--Space-200-8);
  --Dialog-Vertical-Padding-M: var(--Space-1000-80);
  --Dialog-Horizontal-Padding-M: var(--Space-300-16);
  --Dialog-Gap: var(--Space-500-32);
  --Expanding-Dots-Radius: var(--Radius-9999);
  --Expanding-Dots-Gap: var(--Space-200-8);
  --Input-Field-Hint-Vertical-Padding: var(--Space-0);
  --Input-Fields-Text-Field-Height: var(--Space-700-48);
  --Label-Input-Fields-Horizontal-Padding: var(--Space-350-20);
  --Input-Fields-Horizontal-Padding-Text-Area: var(--Space-400-24);
  --Input-Fields-Label-Padding: var(--Space-100-4);
  --Number-Block-Text-Gap-D-Ds-Tp: var(--Space-200-8);
  --Number-Block-Text-Gap-M: var(--Space-100-4);
  --Number-Block-Gap-D-Ds-Tp: var(--Space-300-16);
  --Number-Block-Gap-M: var(--Space-500-32);
  --Photo-Banner-Radius: var(--Radius-400-24);
  --Photo-Banner-Text-Gap: var(--Space-300-16);
  --Photo-Banner-Gap-M: var(--Space-600-40);
  --Photo-Banner-Horizontal-Padding: var(--Space-500-32);
  --Photo-Banner-Vertical-Padding: var(--Space-500-32);
  --Scroll-Indicator-Gap: var(--Space-500-32);
  --Scroll-Indicator-Gap-Icon-M: var(--Space-400-24);
  --Section-Gap: var(--Space-500-32);
  --Section-Image-Gap-M: var(--Space-700-48);
  --Text-Block-Centered-Text-Gap-M-Tp: var(--Space-200-8);
  --Text-Block-Left-Horizontal-Gap-D-Ds-Tp: var(--Space-500-32);
  --Tooltip-Vertical-Gap: var(--Space-200-8);
  --Tooltip-Beak-Radius: var(--Radius-0);
  --Font-Size-Body: var(--Size-14);
  --Spacing-Padding-32-24: var(--Space-400-24);
  --Spacing-Gap-32-24: var(--Space-400-24);
  --Spacing-Gap-48-40: var(--Space-600-40);
  --Spacing-Gap-80-48: var(--Space-700-48);
  --Container-Width-L7-M7-S12: var(--Column-Size-Col-12);
  --Container-Width-L5-M5-S12: var(--Column-Size-Col-12);
  --Dimension-Icon-Size-Icon-32-24: var(--Space-400-24);
  --Dimension-Icon-Size-Bg-Icon-56-48: var(--Space-700-48);
  --Dimension-Icon-Size-Icon-64-56: var(--Space-800-56);
  --Dimension-Icon-Size-Logo-120-80: var(--Space-1100-96);
  --Card-Agency-Card-Radius: var(--Radius-300-16);
  --Card-Agency-Card-Horizontal-Padding-D-Ds: var(--Space-400-24);
  --Card-Agency-Card-Horizontal-Padding-Tp-M: var(--Space-300-16);
  --Card-Agency-Card-Vertical-Padding-D-Ds: var(--Space-400-24);
  --Card-Agency-Card-Vertical-Padding-Tp-M: var(--Space-300-16);
  --Card-Agency-Card-Text-Gap: var(--Space-200-8);
  --Card-Agency-Card-Text-Block-Gap: var(--Space-400-24);
  --Card-Agency-Card-Gap-Tp-M: var(--Space-400-24);
  --Card-Blog-Preview-Gap: var(--Spacing-Gap-24-16);
  --Card-Blog-Preview-Text-Gap: var(--Space-300-16);
  --Card-Blog-Preview-Label-Content-Duration-Text-Icon-Gap: var(--Space-200-8);
  --Card-Bundle-Card-Text-Gap: var(--Space-200-8);
  --Card-Bundle-Card-Gap-Category-Strip: var(--Space-200-8);
  --Card-Bundle-Card-Gap-Button: var(--Space-300-16);
  --Card-Bundle-Card-Horizontal-Padding-D-Ds: var(--Space-400-24);
  --Card-Bundle-Card-Vertical-Padding: var(--Space-400-24);
  --Card-Bundle-Card-Vertical-Gap: var(--Spacing-Gap-32-24);
  --Card-Category-Card-Radius-3-D-Icon: var(--Radius-9999);
  --Card-Category-Card-Horizontal-Padding-D-Ds: var(--Space-400-24);
  --Card-Category-Card-Horizontal-Padding-Tp-M: var(--Space-300-16);
  --Card-Category-Card-Vertical-Padding: var(--Space-400-24);
  --Card-Category-Card-Vertical-Padding-Top-D: var(--Space-800-56);
  --Card-Category-Card-Vertical-Padding-Top-Ds-Tp-M: var(--Space-600-40);
  --Card-Category-Card-Gap: var(--Space-400-24);
  --Card-Category-Card-Text-Gap: var(--Space-200-8);
  --Card-Category-Card-Category-Chips-Gap: var(--Space-200-8);
  --Card-Category-Card-Icon-Size: var(--Space-900-64);
  --Card-Category-Card-Icon-Size-M: var(--Space-800-56);
  --Card-Category-Card-Bg-Icon-Size-D: var(--Space-1200-120);
  --Card-Category-Card-Bg-Icon-Size-Ds-Tp-M: var(--Space-1100-96);
  --Card-Contact-Agent-Card-Radius-Image: var(--Radius-200-8);
  --Card-Contact-Card-Map-Radius: var(--Radius-300-16);
  --Card-Dynamic-Gallery-Card-Overlay-Radius: var(--Radius-400-24);
  --Card-Editorial-Card-Horizontal-Padding: var(--Space-400-24);
  --Card-Editorial-Card-Horizontal-Padding-M: var(--Space-300-16);
  --Card-Editorial-Card-Vertical-Padding: var(--Space-400-24);
  --Card-Editorial-Card-Gap: var(--Space-300-16);
  --Card-Contact-Card-Map-Horizontal-Padding-D-Ds: var(--Space-400-24);
  --Card-Contact-Card-Map-Horizontal-Padding-M-Tp: var(--Space-300-16);
  --Card-Contact-Card-Map-Vertica-Padding: var(--Space-400-24);
  --Card-Contact-Card-Map-Vertica-Padding-M: var(--Space-300-16);
  --Card-Contact-Card-Map-Gap: var(--Space-200-8);
  --Card-Contact-Card-Map-Gap-M-Tp: var(--Space-400-24);
  --Card-Contact-Card-Map-Gap-Image-Btn: var(--Space-200-8);
  --Card-Contact-Card-Horizontal-Padding: var(--Spacing-Padding-24-16);
  --Card-Contact-Card-Vertica-Padding: var(--Space-400-24);
  --Card-Contact-Card-Gap: var(--Space-300-16);
  --Card-Contact-Agent-Card-Gap-Tl-M: var(--Space-600-40);
  --Card-Contact-Card-Gap-Image: var(--Space-300-16);
  --Card-Info-Card-Horizontal-Padding: var(--Spacing-Padding-24-16);
  --Card-Info-Card-Vertical-Padding: var(--Size-24);
  --Card-Info-Card-Icon-Vertical-Padding: var(--Spacing-Padding-4-2);
  --Card-Info-Card-Horizontal-Gap: var(--Space-200-8);
  --Card-Info-Card-Text-Gap: var(--Space-300-16);
  --Card-Insurance-Product-Card-Horizontal-Padding-D-Ds: var(--Space-400-24);
  --Card-Insurance-Product-Card-Horizontal-Padding-Tp-M: var(--Space-300-16);
  --Card-Insurance-Product-Card-Vertical-Padding: var(--Space-400-24);
  --Card-Insurance-Product-Card-Gap: var(--Space-400-24);
  --Card-Insurance-Product-Card-Button-Gap: var(--Space-200-8);
  --Card-Insurance-Product-Card-Text-Gap: var(--Space-200-8);
  --Card-Insurance-Product-Card-Radius-Icon: var(--Radius-9999);
  --Card-Insurance-Product-Card-Vertical-Padding-Top-D-Ds-M: var(--Space-800-56);
  --Card-Insurance-Product-Card-Icon-Size-D-M: var(--Space-700-48);
  --Card-Insurance-Product-Card-Bg-Icon-Size: var(--Space-1000-80);
  --Card-Photo-Card-Gap: var(--Space-300-16);
  --Card-Quote-Tool-Card-Radius: var(--Radius-300-16);
  --Card-Quote-Tool-Card-Padding: var(--Spacing-Padding-24-16);
  --Card-Quote-Tool-Card-Text-Gap: var(--Space-100-4);
  --Card-Quote-Tool-Card-Summary-Gap: var(--Spacing-Gap-80-48);
  --Card-Quote-Tool-Card-Bundle-Gap: var(--Space-300-16);
  --Card-Text-Card-Horizontal-Padding: var(--Spacing-Padding-24-16);
  --Card-Text-Card-Vertical-Padding: var(--Space-400-24);
  --Card-Text-Card-Gap: var(--Spacing-Gap-80-48);
  --Card-Text-Card-Icon-Size: var(--Dimension-Icon-Size-Icon-32-24);
  --Card-Text-Card-Bg-Icon: var(--Dimension-Icon-Size-Bg-Icon-56-48);
  --Card-User-Review-Horizontal-Padding: var(--Spacing-Padding-24-16);
  --Card-User-Review-Vertical-Padding: var(--Size-24);
  --Card-User-Review-Text-Gap: var(--Space-400-24);
  --Card-User-Review-Gap: var(--Spacing-Gap-48-40);
  --Card-User-Review-User-Gap: var(--Space-300-16);
  --Card-Warranty-Card-Horizontal-Padding: var(--Spacing-Padding-24-16);
  --Card-Warranty-Card-Vertical-Padding: var(--Space-400-24);
  --Card-Warranty-Card-Gap: var(--Space-400-24);
  --Card-Warranty-Card-Text-Gap: var(--Space-200-8);
  --Card-Warranty-Card-Icon-Size: var(--Dimension-Icon-Size-Icon-32-24);
  --Card-Warranty-Card-Bg-Icon-Size: var(--Dimension-Icon-Size-Bg-Icon-56-48);
  --Category-Chips-Horizontal-Padding: var(--Space-300-16);
  --Category-Chips-Vertical-Padding: var(--Space-200-8);
  --Category-Chips-Gap: var(--Space-200-8);
  --Category-Chips-Radius: var(--Radius-200-8);
  --Data-Table-Radius: var(--Radius-400-24);
  --Data-Table-Radius-M: var(--Radius-300-16);
  --Label-Input-Fields-Radius: var(--Radius-100-4);
  --Map-Pin-Radius-Pin: var(--Radius-9999);
  --Map-Pin-Radius-Card: var(--Radius-200-8);
  --Map-Pin-Button-Padding: var(--Space-200-8);
  --Map-Pin-Horizontal-Gap: var(--Space-200-8);
  --Map-Pin-Card-Horizontal-Padding: var(--Space-250-12);
  --Map-Pin-Card-Vertical-Padding: var(--Space-200-8);
  --Map-Pin-Text-Gap: var(--Space-200-8);
  --Map-Pin-Border: var(--Stroke-100-1);
  --Mini-Banner-Radius: var(--Radius-400-24);
  --Mini-Banner-Gap: var(--Space-800-56);
  --Mini-Banner-Gap-M: var(--Space-700-48);
  --Mini-Banner-Horizontal-Padding: var(--Space-500-32);
  --Mini-Banner-Horizontal-Padding-M: var(--Space-400-24);
  --Mini-Banner-Vertical-Padding: var(--Space-500-32);
  --Mini-Banner-Vertical-Padding-M: var(--Space-400-24);
  --Photo-Banner-Horizontal-Padding-M: var(--Space-300-16);
  --Photo-Banner-Vertical-Padding-M: var(--Space-400-24);
  --Score-Text-Gap: var(--Space-250-12);
  --Score-Gap: var(--Space-300-16);
  --Switch-Label-Horizontal-Padding: var(--Spacing-Padding-16-12);
  --Switch-Label-Vertical-Padding: var(--Space-200-8);
  --Switch-Label-Radius: var(--Radius-9999);
  --Table-Cell-Horizontal-Padding: var(--Space-400-24);
  --Table-Cell-Horizontal-Padding-M: var(--Space-300-16);
  --Table-Cell-Vertical-Padding: var(--Space-300-16);
  --Table-Cell-Gap: var(--Space-300-16);
  --Table-Cell-Benefit-Gap: var(--Space-200-8);
  --Table-Header-Horizontal-Padding: var(--Radius-400-24);
  --Table-Header-Horizontal-Padding-M: var(--Radius-300-16);
  --Table-Header-Vertical-Padding: var(--Radius-300-16);
  --Text-Banner-Radius: var(--Radius-400-24);
  --Text-Banner-Title-Gap: var(--Space-200-8);
  --Text-Banner-Gap: var(--Space-400-24);
  --Text-Banner-Horizontal-Padding: var(--Space-500-32);
  --Text-Banner-Horizontal-Padding-M: var(--Space-400-24);
  --Text-Banner-Vertical-Padding: var(--Space-500-32);
  --Text-Banner-Vertical-Padding-M: var(--Space-400-24);
  --Text-Switch-Padding: var(--Space-100-4);
  --Text-Switch-Radius: var(--Radius-9999);
  --Text-Switch-Gap: var(--Space-0);
  --Table-Row-Button-Row-Horizontal-Padding: var(--Space-400-24);
  --Table-Row-Button-Row-Vertical-Padding: var(--Space-400-24);
  --Card-Grid-Gap: var(--Space-300-16);
  --Card-Grid-Widget-Gap-D-Ds: var(--Space-700-48);
  --Card-Grid-Widget-Gap-M-Tp: var(--Space-600-40);
  --Carousel-Gap: var(--Space-700-48);
  --Carousel-Gap-M: var(--Space-200-8);
  --Carousel-Widget-Gap-D-Ds: var(--Space-700-48);
  --Carousel-Widget-Gap-M-Tp: var(--Space-600-40);
  --Contact-Tool-Radius: var(--Radius-300-16);
  --Contact-Tool-Image-Size: var(--Space-900-64);
  --Contact-Tool-Image-Size-M: var(--Space-800-56);
  --Contact-Tool-Padding: var(--Space-300-16);
  --Contact-Tool-Gap: var(--Space-300-16);
  --Contact-Tool-Text-Gap: var(--Space-100-4);
  --Data-Table-Widget-Radius: var(--Radius-0);
  --Data-Table-Widget-Horizontal-Padding: var(--Space-900-64);
  --Data-Table-Widget-Horizontal-Padding-M: var(--Space-300-16);
  --Data-Table-Widget-Vertical-Padding-D-Ds: var(--Space-1000-80);
  --Data-Table-Widget-Vertical-Padding-Tp-M: var(--Space-700-48);
  --Data-Table-Widget-Gap: var(--Space-800-56);
  --Data-Table-Widget-Gap-M: var(--Space-600-40);
  --Download-Tile-Widget-Gap: var(--Space-600-40);
  --Dynamic-Gallery-Gap-D-Ds: var(--Space-300-16);
  --Dynamic-Gallery-Widget-Gap-D-Ds: var(--Space-800-56);
  --Dynamic-Gallery-Widget-Gap-M-Tp: var(--Space-700-48);
  --Dynamic-Gallery-Gap-M-Tp: var(--Space-200-8);
  --Download-Tile-Widget-Gap-Tile: var(--Space-300-16);
  --Faq-Widget-Text-Gap: var(--Space-300-16);
  --Faq-Widget-Gap-M: var(--Space-600-40);
  --Faq-Widget-Gap-Accordion: var(--Space-300-16);
  --Faq-Widget-Gap-Button: var(--Space-600-40);
  --Footer-Horizontal-Padding-D: var(--Space-900-64);
  --Footer-Vertical-Padding-D-Ds: var(--Space-700-48);
  --Footer-Box-Padding: var(--Space-250-12);
  --Footer-Primary-Link-Gap: var(--Space-200-8);
  --Footer-Secondary-Link-Horizontal-Gap-D-Tl-Tp: var(--Space-500-32);
  --Footer-Primary-Gap-D-Ds: var(--Space-1000-80);
  --Footer-Secondary-Gap: var(--Space-400-24);
  --Footer-Icon-Gap: var(--Space-250-12);
  --Footer-Download-Gap: var(--Space-200-8);
  --Footer-Box-Gap: var(--Space-600-40);
  --Footer-Radius: var(--Radius-300-16);
  --Header-Logo-Height: var(--Space-600-40);
  --Header-Horizontal-Padding-D-Ds: var(--Space-400-24);
  --Header-Horizontal-Padding-M-Tp: var(--Space-300-16);
  --Header-Vertical-Padding-Tp-M: var(--Space-300-16);
  --Header-Navigation-Horizontal-Padding: var(--Space-100-4);
  --Header-Navigation-Vertical-Padding: var(--Space-100-4);
  --Header-Horizontal-Gap: var(--Space-100-4);
  --Header-Radius: var(--Radius-9999);
  --Hero-Full-Screen-Horizontal-Padding-D: var(--Space-900-64);
  --Hero-Full-Screen-Horizontal-Padding-M-Tp: var(--Space-300-16);
  --Hero-Full-Screen-Bottom-Padding-Ds: var(--Space-1000-80);
  --Hero-Full-Screen-Bottom-Padding-M: var(--Space-1100-96);
  --Hero-Full-Screen-Gap: var(--Space-300-16);
  --Hero-Full-Screen-Button-Gap: var(--Space-600-40);
  --Hero-Full-Screen-Button-Gap-M-Tp: var(--Space-500-32);
  --Hero-Mini-Hero-Horizontal-Padding-D: var(--Space-900-64);
  --Hero-Mini-Hero-Horizontal-Padding-M-Tp: var(--Space-300-16);
  --Hero-Mini-Hero-Bottom-Padding-D-Ds: var(--Space-1000-80);
  --Hero-Mini-Hero-Bottom-Padding-Default-M: var(--Space-1100-96);
  --Hero-Mini-Hero-Gap: var(--Space-300-16);
  --Hero-Mini-Hero-Button-Gap-M: var(--Space-500-32);
  --Hero-Blog-Gap: var(--Space-400-24);
  --Hero-Blog-Horizontal-Padding-M: var(--Space-300-16);
  --Hero-Blog-Vertical-Padding: var(--Space-1000-80);
  --Hero-Blog-Vertical-Padding-M: var(--Space-1200-120);
  --Hero-Blog-Button-Gap: var(--Space-600-40);
  --Hero-Module-Vertical-Top-Padding: var(--Space-400-24);
  --Hero-Module-Gap: var(--Space-300-16);
  --Hero-Module-Gap-M: var(--Space-200-8);
  --Quote-Tool-Radius: var(--Radius-300-16);
  --Quote-Tool-Full-Quote-Tool-Padding: var(--Space-300-16);
  --Quote-Tool-Gap-D-Ds-Tp: var(--Space-400-24);
  --Quote-Tool-Text-Gap: var(--Space-200-8);
  --Quote-Tool-Info-Gap: var(--Space-350-20);
  --Quote-Tool-Full-Quote-Tool-Category-Gap: var(--Space-200-8);
  --Quote-Tool-Full-Quote-Tool-Category-Gap-M: var(--Space-100-4);
  --Quote-Tool-Form-Gap: var(--Space-200-8);
  --Quote-Tool-Form-Gap-M: var(--Space-300-16);
  --Quote-Tool-Full-Quote-Tool-Card-Gap: var(--Space-200-8);
  --Carousel-Widget-Review-Text-Gap: var(--Space-300-16);
  --Carousel-Widget-Review-Text-Gap-M: var(--Space-200-8);
  --Kpi-Highlights-Widget-Gap-D-Ds: var(--Space-800-56);
  --Legal-Info-Widget-Gap: var(--Space-100-4);
  --Kpi-Highlights-Widget-Gap-M-Tp: var(--Space-600-40);
  --Carousel-Widget-Product-Highlights-Radius: var(--Radius-400-24);
  --Carousel-Widget-Product-Highlights-Vertical-Padding: var(--Space-900-64);
  --Carousel-Widget-Product-Highlights-Logo-Text-Gap-D-Ds: var(--Space-500-32);
  --Carousel-Widget-Product-Highlights-Logo-Text-Gap-M: var(--Space-400-24);
  --Info-Pillars-Widget-Gap-D-Ds: var(--Space-900-64);
  --Info-Pillars-Widget-Gap-Tp-M: var(--Space-700-48);
  --Info-Pillars-Widget-Gap-Text-Card-D-Ds-M: var(--Space-300-16);
  --Quote-Tool-Single-Quote-Tool-Padding: var(--Space-400-24);
  --Quote-Tool-Single-Quote-Tool-Horizontal-Padding-M: var(--Space-300-16);
  --Quote-Tool-Single-Quote-Tool-Vertical-Padding-M-2: var(--Space-350-20);
  --Contact-Widget-Gap-D-Ds: var(--Space-700-48);
  --Contact-Widget-Gap-M-Tp: var(--Space-600-40);
  --Spacing-Padding-8-4: var(--Space-100-4);
  --Accordion-Footer-Gap-Link: var(--Space-300-16);
  --Accordion-Footer-Vertical-Padding: var(--Space-350-20);
  --Card-Agency-Card-Gap: var(--Space-900-64);
  --Switch-Label-Gap: var(--Spacing-Padding-8-4);
  --Switch-Label-Active-Dot: var(--Space-100-4);
  --Carousel-Gap-M-Tp: var(--Space-600-40);
  --Carousel-Insurance-Product-Gap-D-Ds: var(--Space-300-16);
  --Carousel-Blog-Gap-D-Ds: var(--Space-300-16);
  --Carousel-Blog-Gap-M-Tp: var(--Space-200-8);
  --Carousel-Review-Gap-D-Ds: var(--Space-300-16);
  --Carousel-Review-Gap-M-Tp: var(--Space-200-8);
  --Carousel-Editorial-Gap: var(--Space-300-16);
  --Carousel-Product-Highlights-Gap-D-Ds: var(--Space-300-16);
  --Carousel-Product-Highlights-Gap-M: var(--Space-200-8);
  --Carousel-Category-Gap-D-Ds-M: var(--Space-300-16);
  --Carousel-Bundle-Gap-D-Ds-M: var(--Space-300-16);
  --Footer-Horizontal-Padding-M-Tp: var(--Space-300-16);
  --Hero-Full-Screen-Horizontal-Padding-Ds: var(--Space-400-24);
  --Header-Vertical-Gap-D-Ds: var(--Space-300-16);
  --Header-Vertical-Gap-M: var(--Space-200-8);
  --Footer-Vertical-Padding-M-Tp: var(--Space-500-32);
  --Footer-Primary-Gap-M-Tp: var(--Space-600-40);
  --Footer-Bottom-Gap-D-Ds: var(--Space-400-24);
  --Footer-Logo-Gap: var(--Space-350-20);
  --Footer-Title-And-Voice-Gap-D-Ds: var(--Space-300-16);
  --Footer-Stroke: var(--Stroke-100-1);
  --Dynamic-Gallery-Widget-Gap-Icon-D-Ds: var(--Space-400-24);
  --Dynamic-Gallery-Widget-Gap-Icon-M: var(--Space-300-16);
  --Section-Widget-Gap-D: var(--Space-1200-120);
  --Section-Widget-Gap-M: var(--Space-1000-80);
  --Quote-Tool-Contact-Widget-Gap: var(--Space-300-16);
  --Card-Insurance-Product-Card-Icon-Size-Ds-Tp: var(--Space-600-40);
  --Card-Insurance-Product-Card-Bg-Icon-Size-Ds-Tp: var(--Space-900-64);
  --Carousel-Insurance-Product-Gap-M-Tp: var(--Space-200-8);
  --Footer-Horizontal-Padding-Ds: var(--Space-400-24);
  --Hero-Mini-Hero-Bottom-Padding-Pdp-Tp-M: var(--Space-1000-80);
  --Footer-Secondary-Link-Vertical-Gap-Tp: var(--Space-300-16);
  --Footer-Secondary-Link-Vertical-Gap-M: var(--Space-200-8);
  --Ai-Search-Bar-Input-Radius: var(--Radius-9999);
  --Ai-Search-Bar-Input-Border: var(--Stroke-100-1);
  --Ai-Search-Bar-Input-Horizontal-Padding-Left: var(--Space-200-8);
  --Ai-Search-Bar-Input-Horizontal-Padding-Right: var(--Space-300-16);
  --Ai-Search-Bar-Input-Vertical-Padding: var(--Space-300-16);
  --Ai-Search-Bar-Input-Gap-Icon-Text: var(--Space-200-8);
  --Ai-Search-Bar-Input-Vertical-Gap: var(--Space-100-4);
  --Ai-Search-Bar-Options-Radius: var(--Radius-400-24);
  --Ai-Search-Bar-Options-Border: var(--Stroke-100-1);
  --Ai-Search-Bar-Options-Vertical-Padding: var(--Space-300-16);
  --Ai-Search-Bar-Options-Horizontal-Padding: var(--Space-350-20);
  --Ai-Search-Bar-Options-Gap: var(--Space-100-4);
  --Ai-Search-Bar-Options-Horizontal-Gap: var(--Space-250-12);
  --Ai-Search-Bar-Options-Icon-Gap: var(--Space-100-4);
  --Ai-Search-Bar-Options-Ai-Gap: var(--Space-200-8);
  --Ai-Message-Icon-Gap: var(--Space-100-4);
  --Article-Section-Header-Gap: var(--Space-400-24);
  --Article-Section-Header-Text-Gap-M: var(--Space-300-16);
  --Banner-Radius: var(--Radius-400-24);
  --Banner-Photo-Banner-Text-Gap-D-Ds: var(--Space-300-16);
  --Banner-Photo-Banner-Gap-M: var(--Space-600-40);
  --Banner-Photo-Banner-Horizontal-Padding-D: var(--Space-500-32);
  --Banner-Photo-Banner-Horizontal-Padding-Tp-M: var(--Space-300-16);
  --Banner-Photo-Banner-Vertical-Padding-D: var(--Space-500-32);
  --Banner-Photo-Banner-Vertical-Padding-Ds-Tp-M: var(--Space-350-20);
  --Card-Bundle-Card-Horizontal-Padding-M-Tp: var(--Space-300-16);
  --Card-Contact-Card-Radius-Icon: var(--Radius-9999);
  --Card-Contact-Card-Text-Gap: var(--Space-300-16);
  --Card-Contact-Card-Map-Vertical-Padding-M-Tp: var(--Space-400-24);
  --Card-Contact-Card-Map-Gap-Text-Btn: var(--Space-400-24);
  --Card-Contact-Agent-Card-Horizontal-Padding: var(--Space-400-24);
  --Card-Contact-Agent-Card-Vertica-Padding: var(--Space-400-24);
  --Card-Contact-Agent-Card-Gap-D: var(--Space-900-64);
  --Card-Contact-Agent-Card-Gap-Image: var(--Space-300-16);
  --Card-Info-Card-Gap: var(--Space-400-24);
  --Card-Insurance-Product-Card-Icon-Gap: var(--Space-200-8);
  --Card-Insurance-Product-Card-Vertical-Padding-Top-Tp: var(--Space-700-48);
  --Card-News-Card-Gap: var(--Space-400-24);
  --Card-News-Card-Text-Gap: var(--Space-200-8);
  --Card-News-Card-Padding-D-Ds: var(--Space-400-24);
  --Card-News-Card-Horizontal-Padding: var(--Spacing-Padding-24-16);
  --Card-News-Card-Vertical-Padding: var(--Space-400-24);
  --Card-Text-Card-Radius-Icon: var(--Radius-9999);
  --Card-Warranty-Card-Radius-Icon: var(--Radius-9999);
  --Search-Bar-Input-Radius: var(--Radius-9999);
  --Search-Bar-Input-Border: var(--Stroke-100-1);
  --Search-Bar-Input-Horizontal-Padding: var(--Space-350-20);
  --Search-Bar-Input-Vertical-Padding: var(--Space-300-16);
  --Search-Bar-Input-Vertical-Gap: var(--Space-100-4);
  --Search-Bar-Options-Radius: var(--Radius-400-24);
  --Search-Bar-Options-Border: var(--Stroke-100-1);
  --Search-Bar-Options-Vertical-Padding: var(--Space-300-16);
  --Search-Bar-Options-Horizontal-Padding: var(--Space-350-20);
  --Search-Bar-Options-Gap: var(--Space-100-4);
  --Search-Bar-Options-Horizontal-Gap: var(--Space-250-12);
  --Search-Bar-Options-Icon-Gap: var(--Space-100-4);
  --Search-Bar-Options-Ai-Gap: var(--Space-200-8);
  --Text-Link-List-Vertical-Padding: var(--Space-300-16);
  --Text-Link-List-Vertical-Gap: var(--Space-200-8);
  --Tag-News-Gap: var(--Space-200-8);
  --Banner-Text-Banner-Title-Gap: var(--Space-200-8);
  --Banner-Text-Banner-Gap: var(--Space-400-24);
  --Banner-Text-Banner-Horizontal-Padding-D: var(--Space-500-32);
  --Banner-Text-Banner-Horizontal-Padding-Tp-M: var(--Space-300-16);
  --Banner-Text-Banner-Vertical-Padding-D: var(--Space-500-32);
  --Banner-Text-Banner-Vertical-Padding-Ds-Tp-M: var(--Space-350-20);
  --Banner-Mini-Banner-Gap-D: var(--Space-800-56);
  --Banner-Mini-Banner-Gap-Ds-M: var(--Space-600-40);
  --Banner-Mini-Banner-Horizontal-Padding-D: var(--Space-500-32);
  --Banner-Mini-Banner-Horizontal-Padding-Tp-M: var(--Space-300-16);
  --Banner-Mini-Banner-Vertical-Padding-D: var(--Space-500-32);
  --Banner-Mini-Banner-Vertical-Padding-Ds-Tp-M: var(--Space-400-24);
  --Article-Section-Text-Block-Gap: var(--Spacing-Padding-24-16);
  --Article-Section-Kpi-Number-Gap: var(--Space-200-8);
  --Article-Section-Kpi-Text-Gap: var(--Space-300-16);
  --Article-Section-Kpi-Block-Gap-D: var(--Space-300-16);
  --Article-Section-Kpi-Block-Gap-M: var(--Space-500-32);
  --Card-Grid-Gap-M-Tp: var(--Space-200-8);
  --Carousel-Editorial-Gap-Tp: var(--Space-200-8);
  --Hero-Mini-Hero-Horizontal-Padding-Ds: var(--Space-400-24);
  --Carousel-Widget-Gap-M-Alt: var(--Space-500-32);
  --Contact-Widget-Gap-Card: var(--Space-200-8);
  --Download-Tile-Widget-Gap-Subtitle: var(--Space-400-24);
  --Data-Table-Widget-Horizontal-Padding-Ds: var(--Space-400-24);
  --Editorial-Support-Widget-Gap: var(--Space-900-64);
  --Editorial-Support-Widget-Gap-M: var(--Space-600-40);
  --Info-Widget-Text-Gap: var(--Space-300-16);
  --Info-Widget-Gap-M-Tp: var(--Space-600-40);
  --Info-Widget-Gap-Card: var(--Space-300-16);
  --Info-Widget-Gap-Button: var(--Space-600-40);
  --Section-Widget-Gap-Ds: var(--Space-1100-96);
  --Carousel-News-Radius: var(--Radius-400-24);
  --Carousel-News-Vertical-Padding-Second-Card: var(--Space-400-24);
  --Hero-Gap: var(--Space-400-24);
  --Hero-Text-Gap-M: var(--Space-300-16);
  --Hero-Horizontal-Padding-M: var(--Space-300-16);
  --Hero-Vertical-Padding-D-Ds: var(--Space-1000-80);
  --Hero-Vertical-Padding-Tp: var(--Space-1200-120);
  --Article-Faq-Widget-Gap-D-Ds: var(--Space-600-40);
  --Article-Kpi-Highlights-Widget-Title-Gap-D-Ds: var(--Space-400-24);
  --Article-Kpi-Highlights-Widget-Gap-D-Ds-Tp: var(--Space-800-56);
  --Carousel-Widget-News-Gap: var(--Space-500-32);
  --Carousel-Widget-Photo-Text-Gap: var(--Space-400-24);
  --Carousel-Widget-Photo-Gap-D-Ds: var(--Space-700-48);
  --Carousel-Widget-Photo-Gap-Tp-M: var(--Space-600-40);
  --Article-Kpi-Highlights-Widget-Gap-M: var(--Space-700-48);
  --Gallery-Widget-Gap: var(--Space-300-16);
  --Gallery-Widget-Radius: var(--Radius-400-24);
  --Article-Faq-Widget-Gap-M: var(--Space-500-32);
  --Article-Faq-Widget-Gap-Accordion: var(--Space-300-16);
  --Article-Faq-Widget-Gap-Button: var(--Space-600-40);
  --Carousel-Photo-Gap-D-Ds: var(--Space-300-16);
  --Carousel-Photo-Gap-Tp-M: var(--Space-200-8);
  --Banner-Photo-Banner-Horizontal-Padding-Ds: var(--Space-400-24);
  --Banner-Text-Banner-Horizontal-Padding-Ds: var(--Space-400-24);
  --Banner-Mini-Banner-Horizontal-Padding-Ds: var(--Space-400-24);
  --Carousel-Category-Gap-Tp: var(--Space-200-8);
  --Carousel-Bundle-Gap-Tp: var(--Space-200-8);
  --Info-Pillars-Widget-Gap-Text-Card-Tp: var(--Space-200-8);
  --Gallery-Widget-Gap-Tp: var(--Space-200-8);
  --Ai-Search-Bar-Options-Vertical-Gap: var(--Space-300-16);
  --Banner-Photo-Banner-Text-Gap-Tp-M: var(--Space-250-12);
  --Contact-Tool-Gap-Tp: var(--Space-200-8);
  --Hero-Full-Screen-Bottom-Padding-Tp: var(--Space-1200-120);
  --Hero-Mini-Hero-Bottom-Padding-Default-Tp: var(--Space-1200-120);
  --Quote-Tool-Gap-M: var(--Space-350-20);
  --Hero-Vertical-Padding-M: var(--Space-1100-96);
  --Article-Kpi-Highlights-Widget-Title-Gap-Tp-M: var(--Space-300-16);
}