/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-mobile {
  --Layout-Page-Width: 23.438rem;
  --Layout-Page-Min-Height: 50.75rem;
  --Layout-Container-Horizontal-Gap: 1.5rem;
  --Layout-Container-Vertical-Gap: 1.5rem;
  --Column-Size-Col-1: 1.313rem;
  --Column-Size-Col-2: 3.125rem;
  --Column-Size-Col-3: 4.938rem;
  --Column-Size-Col-4: 6.813rem;
  --Column-Size-Col-5: 8.625rem;
  --Column-Size-Col-6: 10.438rem;
  --Column-Size-Col-7: 12.25rem;
  --Column-Size-Col-8: 14.125rem;
  --Column-Size-Col-9: 15.938rem;
  --Column-Size-Col-10: 17.75rem;
  --Column-Size-Col-11: 19.563rem;
  --Column-Size-Col-12: 21.438rem;
  --Padding-C-72-56-24: 1.5rem;
  --Padding-C-64-48-24: 1.5rem;
  --Layout-Page-Gap: var(--Space-1000-80);
  --Layout-Section-Margin-Horizontal-Padding: var(--Space-300-16);
  --Layout-Section-Vertical-Padding: var(--Space-0);
  --Layout-Section-Vertical-Gap: var(--Space-200-8);
  --Layout-Section-Horizontal-Gap: var(--Space-200-8);
  --Layout-Row-Horizontal-Padding: var(--Space-0);
  --Layout-Row-Vertical-Padding: var(--Space-0);
  --Layout-Row-Gutter-Horizontal-Gap: var(--Space-200-8);
  --Layout-Row-Gutter-Vertical-Gap: var(--Space-200-8);
  --Layout-Container-Vertical-Padding: var(--Space-0);
  --Layout-Container-Horizontal-Padding: var(--Space-0);
  --Container-Width-L6-M6-S12: var(--Column-Size-Col-12);
  --Container-Width-L4-M4-S12: var(--Column-Size-Col-12);
  --Container-Width-L3-M6-S12: var(--Column-Size-Col-12);
  --Container-Width-L3-M4-S12: var(--Column-Size-Col-12);
  --Container-Width-L6-M3-S12: var(--Column-Size-Col-12);
  --Container-Width-L9-M6-S12: var(--Column-Size-Col-12);
  --Container-Width-L4-M6-S12: var(--Column-Size-Col-12);
  --Font-Size-Title-Hero-Apex-New: var(--Size-40);
  --Spacing-Padding-24-16: var(--Space-300-16);
  --Spacing-Gap-24-16: var(--Space-300-16);
  --Font-Size-Title-Extra-Large: var(--Size-56);
  --Font-Size-Title-Page: var(--Size-32);
  --Font-Size-Subtitle-Manrope: var(--Size-24);
  --Font-Size-Heading: var(--Size-20);
  --Spacing-Padding-4-2: var(--Space-50-2);
  --Spacing-Padding-16-12: var(--Space-250-12);
  --Spacing-Padding-32-16: var(--Space-300-16);
  --Spacing-Gap-16-8: var(--Space-200-8);
  --Spacing-Gap-8-4: var(--Space-100-4);
  --Font-Size-Body: var(--Size-14);
  --Spacing-Padding-32-24: var(--Space-400-24);
  --Spacing-Gap-32-24: var(--Space-400-24);
  --Spacing-Gap-48-40: var(--Space-600-40);
  --Spacing-Gap-80-48: var(--Space-700-48);
  --Container-Width-L7-M7-S12: var(--Column-Size-Col-12);
  --Container-Width-L5-M5-S12: var(--Column-Size-Col-12);
  --Dimension-Icon-Size-Icon-32-24: var(--Space-400-24);
  --Dimension-Icon-Size-Bg-Icon-56-48: var(--Space-700-48);
  --Dimension-Icon-Size-Icon-64-56: var(--Space-800-56);
  --Dimension-Icon-Size-Logo-120-80: var(--Space-1100-96);
  --Spacing-Padding-8-4: var(--Space-100-4);
}