/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-mobile {
  --Weight-Regular: 400;
  --Weight-Medium: 500;
  --Weight-Semi-Bold: 600;
  --Weight-Bold: 700;
  --Weight-Italic: 400;
}