/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-mobile {
  --Drop-Shadow-100: 0.125rem 0.125rem 0.5rem 0rem #00000014;
  --Inner-Shadow-Not-In-Use-100: inset 0rem 0.063rem 0.25rem 0rem #0c0c0d0d;
  --Inner-Shadow-Not-In-Use-200: inset 0rem 0.063rem 0.25rem 0rem #0c0c0d0d;
  --Inner-Shadow-Not-In-Use-300: inset 0rem 0.25rem 0.25rem -0.062rem #0c0c0d0d;
  --Inner-Shadow-Not-In-Use-400: inset 0rem 1rem 2rem -0.25rem #0c0c0d1a;
  --Inner-Shadow-Not-In-Use-500: inset 0rem 1rem 1rem -0.5rem #0c0c0d1a;
  --Inner-Shadow-Not-In-Use-600: inset 0rem 1rem 2rem -0.5rem #0c0c0d66;
}