/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-mobile {
  --Text-Styles-Title-Extra-Large: var(--Weight-Semi-Bold) var(--Font-Size-Title-Extra-Large)/100% var(--Family-Font-2);
  --Text-Styles-Title-Hero-Apex-New: var(--Weight-Medium) var(--Font-Size-Title-Hero-Apex-New)/115% var(--Family-Font-1);
  --Text-Styles-Title-Page: var(--Weight-Medium) var(--Font-Size-Title-Page)/115% var(--Family-Font-1);
  --Text-Styles-Subtitle-Apex-New: var(--Weight-Medium) var(--Size-32)/115% var(--Family-Font-1);
  --Text-Styles-Subtitle-Manrope: var(--Weight-Semi-Bold) var(--Font-Size-Subtitle-Manrope)/120% var(--Family-Font-2);
  --Text-Styles-Heading: var(--Weight-Semi-Bold) var(--Font-Size-Heading)/125% var(--Family-Font-2);
  --Text-Styles-Subheading: var(--Weight-Semi-Bold) var(--Size-20)/130% var(--Family-Font-2);
  --Text-Styles-Body-Base: var(--Weight-Regular) var(--Size-16)/140% var(--Family-Font-2);
  --Text-Styles-Body-Strong: var(--Weight-Semi-Bold) var(--Size-16)/140% var(--Family-Font-2);
  --Text-Styles-Body-Link: var(--Weight-Regular) var(--Size-16)/140% var(--Family-Font-2);
  --Text-Styles-Body-Small: var(--Weight-Regular) var(--Size-14)/140% var(--Family-Font-2);
  --Text-Styles-Body-Small-Medium: var(--Weight-Medium) var(--Size-14)/140% var(--Family-Font-2);
  --Text-Styles-Body-Extra-Small: var(--Weight-Regular) var(--Size-12)/140% var(--Family-Font-2);
  --Text-Styles-Overline: var(--Weight-Semi-Bold) var(--Size-12)/140% var(--Family-Font-2);
  --Text-Styles-Single-Line-Body-Base: var(--Weight-Semi-Bold) var(--Size-16)/150% var(--Family-Font-2);
  --Text-Styles-Single-Line-Body-Link: var(--Weight-Semi-Bold) var(--Size-16)/150% var(--Family-Font-2);
  --Text-Styles-Title-Hero-Manrope: var(--Weight-Semi-Bold) var(--Size-56)/115% var(--Family-Font-2);
  --Text-Styles-Subtitle-Manrope-Fixed: var(--Weight-Semi-Bold) var(--Size-32)/120% var(--Family-Font-2);
  --Text-Styles-Heading-Fixed: var(--Weight-Semi-Bold) var(--Size-24)/125% var(--Family-Font-2);
  --Text-Styles-Body-Medium: var(--Weight-Medium) var(--Size-16)/140% var(--Family-Font-2);
}