
.link-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--Button-Min-Width, var(--Space-700-48));
  min-height: var(--Button-Min-Height, var(--Space-400-24));
  color: var(--Link-Button-Link-Default-Text);
  font-family: var(--Family-Font-2, Manrope);
  font-size: var(--Size-16, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  box-sizing: border-box;
  border: var(--space-0, 0) solid var(--Link-Button-Link-Default-Border);
  background: var(--Link-Button-Link-Default-Background, rgb(17 17 17 / 0%));
  border-radius: var(--Button-Radius-Ghost, var(--Border-Radius-0));
  gap: var(--Button-Gap, var(--Space-200-8));
}

/* Hover and Pressed state */
.link-btn:hover,
.link-btn.pressed {
  color: var(--Link-Button-Link-Hover-Text);
}

.link-btn:hover::selection,
.link-btn.pressed::selection {
  color: var(--Link-Button-Link-Pressed-Text);
}

/* Disabled state */
.link-btn:disabled,
.link-btn.disabled {
  color: var(--Link-Button-Link-Disabled-Text);
  cursor: not-allowed;
}

/* Focused state */
.link-btn:focus,
.link-btn.focused {
  outline: 2px solid var(--Link-Button-Link-Focused-Border);
  border-radius: var(--Border-Radius-400-24);
}
