.category-card-content {
    display: flex;
    max-width: var(--Column-Size-Col-4, 26.625rem);
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--Card-Radius, 1.5rem);
    background: var(--Card-Category-Card-Background, #FFF);
    box-shadow: var(--Depth-050-2, 2px) var(--Depth-050-2, 2px) var(--Blur-200-8, 8px) 0 rgb(0 0 0  / 8%);
    height: 100%;

    & .category-card-image {
        display: flex;
        height: 14.97675rem;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        aspect-ratio: 426.00/239.63;
        border-radius: var(--Images-Radius, 1.5rem) var(--Images-Radius, 1.5rem) var(--Radius-0, 0) var(--Radius-0, 0);

        & img, picture {
            width: 100%;
            height: 14.97675rem;
            border-radius: var(--Images-Radius, 1.5rem) var(--Images-Radius, 1.5rem) var(--Radius-0, 0) var(--Radius-0, 0);
            object-fit: cover;
            object-position: top;
        }
    }

    & .category-card-inner-content {
        display: flex;
        padding: var(--Card-Category-Card-Vertical-Padding, 1.5rem) var(--Card-Category-Card-Horizontal-Padding-D-Ds, 1.5rem);
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        gap: var(--Card-Category-Card-Gap, 1.5rem);
        align-self: stretch;

        & .category-card-text {
            display: flex;
            padding-top: var(--Card-Category-Card-Vertical-Padding-Top-D, 3.5rem);
            flex-direction: column;
            align-items: center;
            gap: var(--Card-Category-Card-Text-Gap, 0.5rem);
            align-self: stretch;

            & .title {
                align-self: stretch;
                color: var(--Card-Category-Card-Title, #001C35);
                text-align: center;
                font-family: var(--Family-Font-2, Manrope);
                font-size: var(--Size-24, 1.5rem);
                font-style: normal;
                font-weight: 600;
                line-height: 125%;
                letter-spacing: -0.015rem;
            }

            & .subtitle {
                align-self: stretch;
                color: var(--Card-Category-Card-Body, #001C35);
                text-align: center;
                font-family: var(--Family-Font-2, Manrope);
                font-size: var(--Size-16, 1rem);
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
            }
        }

        & .category-chips {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: var(--Card-Category-Card-Category-Chips-Gap, 0.5rem);
            align-self: stretch;
            flex-wrap: wrap;
        }

        & .note {
            align-self: stretch;
            color: var(--Card-Category-Card-Subdescription, #63727D);
            margin-top: auto;
            text-align: center;
            font-family: var(--Family-Font-2, Manrope);
            font-size: var(--Size-14, 0.875rem);
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }

    & .icons-3d {
        display: flex;
        width: var(--Card-Category-Card-Bg-Icon-Size-D, 7.5rem);
        height: var(--Card-Category-Card-Bg-Icon-Size-D, 7.5rem);
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        position: absolute;
        left: 9.5625rem;
        top: 11.25rem;

        & .icons-3d-icon {
            display: flex;
            width: var(--Card-Category-Card-Bg-Icon-Size-D, 7.5rem);
            height: var(--Card-Category-Card-Bg-Icon-Size-D, 7.5rem);
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            aspect-ratio: 1/1;

            .icon-img {
                width: var(--Card-Category-Card-Icon-Size, 4rem);
                height: var(--Card-Category-Card-Icon-Size, 4rem);
                flex-shrink: 0;
            }
        }
    }
}

/* Desktop small */
@media (1200px <= width < 1440px) {
    .category-card-content {
        max-width: var(--Column-Size-Col-4, 23.3125rem);

        & .category-card-image {
            height: 13.11344rem;
            aspect-ratio: 373.00/209.81;

            & img, picture {
                width: 100%;
                height: 13.11344rem;
                object-fit: cover;
                object-position: top;
            }
        }

        & .category-card-inner-content {
            & .category-card-text {
                padding-top: var(--Card-Category-Card-Vertical-Padding-Top-Ds-Tp-M, 2.5rem);
            }
        }

        & .icons-3d {
            display: flex;
            width: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);
            height: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
            position: absolute;
            left: auto;
            right: 8.625rem;
            top: 9.08575rem;

            & .icons-3d-icon {
                display: flex;
                width: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);
                height: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                aspect-ratio: 1/1;

                .icon-img {
                    width: var(--Card-Category-Card-Icon-Size-M, 3.5rem);
                    height: var(--Card-Category-Card-Icon-Size, 3.5rem);
                }
            }
        }
    }
}

/* Tablet */
@media (768px <= width < 1200px) {
    .category-card-content {
        max-width: 18.875rem;

        & .category-card-image {
            height: 10.61731rem;
            aspect-ratio: 302.00/169.88;

            & img, picture {
                height: 10.61731rem;
            }
        }

        & .category-card-inner-content {
            padding: var(--Card-Category-Card-Vertical-Padding, 1.5rem) var(--Card-Category-Card-Horizontal-Padding-Tp-M, 1rem);

            & .category-card-text {
                padding-top: var(--Card-Category-Card-Vertical-Padding-Top-Ds-Tp-M, 2.5rem);
            }
        }

        & .icons-3d {
            display: flex;
            width: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);
            height: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);
            position: absolute;
            left: 6.4375rem;
            top: 7.60106rem;

            & .icons-3d-icon {
                width: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);
                height: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);

                .icon-img {
                    display: flex;
                    width: var(--Card-Category-Card-Icon-Size-M, 3.5rem);
                    height: var(--Card-Category-Card-Icon-Size-M, 3.5rem);
                }
            }
        }
    }
}

/* Mobile */
@media (width < 768px) {
    .category-card-content {
        max-width: 21.4375rem;

        & .category-card-image {
            height: 12.05875rem;
            aspect-ratio: 343.00/192.94;

            & img, picture {
                width: 100%;
                height: 12.05875rem;
                object-fit: cover;
                object-position: top;
            }
        }

        & .category-card-inner-content {
            padding: var(--Card-Category-Card-Vertical-Padding, 1.5rem) var(--Card-Category-Card-Horizontal-Padding-Tp-M, 1rem);

            & .category-card-text {
                padding-top: var(--Card-Category-Card-Vertical-Padding-Top-Ds-Tp-M, 2.5rem);
            }
        }

        & .icons-3d {
            width: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);
            height: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);
            position: absolute;
            left: auto;
            right: 7.6875rem;
            top: 9.08575rem;

            & .icons-3d-icon {
                width: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);
                height: var(--Card-Category-Card-Bg-Icon-Size-Ds-Tp-M, 6rem);

                .icon-img {
                    width: var(--Card-Category-Card-Icon-Size-M, 3.5rem);
                    height: var(--Card-Category-Card-Icon-Size-M, 3.5rem);
                    flex-shrink: 0;
                }
            }
        }
    }
}


