.scroll-indicator {
    display: flex;
    align-items: center;
    gap: var(--Scroll-Indicator-Gap, 2rem);

    &.hero-indicator {
        position: absolute;
        bottom: var(--Hero-Full-Screen-Bottom-Padding-Tl-Tp, 80px);
        right: var(--Hero-Full-Screen-Horizontal-Padding-D, 64px);
        z-index: 3;
    }

    & .expanding-dots {
        display: flex;
        align-items: center;
        gap: var(--Expanding-Dots-Gap, 0.5rem);

        & .dot {
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--Expanding-Dots-Background, #001c35);
            border-radius: var(--Expanding-Dots-Radius, 624.9375rem);
            transition: width 0.3s ease;

            &.expanded {
                width: 3rem;
            }
        }
    }
}

@media (width < 768px) {
    .scroll-indicator {
        width: 100%;
        justify-content: flex-start;
        gap: var(--Scroll-Indicator-Gap-Icon-M, 24px);

        &.hero-indicator {
            bottom: var(--Hero-Full-Screen-Bottom-Padding-M, 120px);
            right: 0;
            padding-inline: var(
                --Hero-Full-Screen-Horizontal-Padding-M-Tp,
                16px
            );
        }

        & .expanding-dots {
            order: 1;
            margin-right: auto;
        }

        & .left-icon-button {
            order: 2;
        }

        & .right-icon-button {
            order: 3;
        }

        & .arrows {
            display: flex;
            align-items: center;
            gap: var(--Scroll-Indicator-Gap-Icon-M, 1.5rem);
        }
    }
}

@media (768px <= width < 1280px) {
    .scroll-indicator {
        &.hero-indicator {
            bottom: var(--Hero-Full-Screen-Bottom-Padding-Tl-Tp, 80px);
            right: var(--Hero-Full-Screen-Horizontal-Padding-M-Tp, 16px);
        }
    }
}
