.scroll-indicator {
    display: inline-flex;
    align-items: center;
    gap: var(--Scroll-Indicator-Gap, 2rem);

    &.absolute-positioned {
        position: absolute;
        bottom: var(--Hero-Full-Screen-Bottom-Padding-Tl-Tp, 80px);
        right: var(--Hero-Full-Screen-Horizontal-Padding-D, 64px);
        z-index: 3;
    }

    & .expanding-dots {
        display: flex;
        align-items: center;
        gap: var(--Expanding-Dots-Gap, 0.5rem);

        & .dot {
            width: 0.5rem;
            height: 0.5rem;
            background-color: var(--Expanding-Dots-Background, #001c35);
            border-radius: var(--Expanding-Dots-Radius, 624.9375rem);
            transition: width 0.3s ease;

            &.expanded {
                width: 3rem;
            }
        }
    }
}

@media (width < 768px) {
    .scroll-indicator {
        display: flex;

        /* width: 21.4375rem;
        justify-content: space-between; */

        &.absolute-positioned {
            bottom: var(--Hero-Full-Screen-Bottom-Padding-M, 120px);
            right: var(--Hero-Full-Screen-Horizontal-Padding-M-Tp, 16px);
        }

        & .arrows {
            display: flex;
            align-items: center;
            gap: var(--Scroll-Indicator-Gap-Icon-M, 1.5rem);
        }
    }
}

@media (768px <= width < 1280px) {
    .scroll-indicator {
        &.absolute-positioned {
            bottom: var(--Hero-Full-Screen-Bottom-Padding-Tl-Tp, 80px);
            right: var(--Hero-Full-Screen-Horizontal-Padding-M-Tp, 16px);
        }
    }
}
