/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --border-radius-0: 0px;
  --border-radius-100-4: 4px;
  --border-radius-200-8: 8px;
  --border-radius-300-16: 16px;
  --border-radius-400-24: 24px;
  --border-radius-9999: 9999px;
}