/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --border-width-stroke-0: 0px;
  --border-width-stroke-100-1: 1px;
  --border-width-stroke-200-2: 2px;
  --border-width-stroke-400-4: 4px;
}