/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  /* Bg/Utilities/Scrim */
  --color-background-utilities-scrim: #ffffffcc;
  /* Bg/Utilities/Overlay */
  --color-background-utilities-overlay: #00000080;
  /* Bg/Utilities/Blanket */
  --color-background-utilities-blanket: #000000b2;
  --color-text-utilities-text-on-measurement: #8a226f;
  --color-icon-default-tertiary: #bfc7cd;
  --color-icon-utilities-icon-on-measurement: #8a226f;
  --color-icon-utilities-icon: #d732a8;
  --color-border-utilities-measurement: #f19edc;
  --color-border-utilities-swatch: #0000003d;
  --color-brand-50: #e5f3ff;
  --color-accent-50: #ebebff;
  --color-accent-100: #cdcdff;
  --color-accent-200: #9a9afe;
  --color-accent-300: #6868fd;
  --color-accent-400: #3535fd;
  --color-accent-500: #0303f5;
  --color-accent-600: #0202ca;
  --color-accent-700: #020297;
  --color-accent-800: #010165;
  --color-accent-900: #010132;
  --color-brand-100: #cce7ff;
  --color-brand-200: #99cfff;
  --color-brand-300: #66b8ff;
  --color-brand-400: #33a0ff;
  --color-brand-500: #006dcc;
  --color-brand-600: #005299;
  --color-brand-700: #003666;
  --color-brand-800: #001c35;
  --color-brand-900: #000e1a;
  --color-blue-50: #f0f7ff;
  --color-blue-100: #e5f1ff;
  --color-blue-200: #add2ff;
  --color-blue-300: #70b1ff;
  --color-blue-400: #3d95ff;
  --color-blue-500: #0073ff;
  --color-blue-600: #0050b4;
  --color-blue-700: #00408f;
  --color-blue-800: #00295c;
  --color-blue-900: #001b3d;
  --color-green-50: #f5fbf3;
  --color-green-100: #ebf8e7;
  --color-green-200: #dff3d8;
  --color-green-300: #bee8b0;
  --color-green-400: #9edc89;
  --color-green-500: #7ed062;
  --color-green-600: #50ab33;
  --color-green-700: #4b9d2f;
  --color-green-800: #3c7e25;
  --color-green-900: #254f17;
  --color-orange-50: #fef4f1;
  --color-orange-100: #fdede7;
  --color-grayscale-50: #f6f7f8;
  --color-grayscale-100: #f1f3f4;
  --color-grayscale-200: #dfe2e5;
  --color-grayscale-300: #d1d7db;
  --color-grayscale-400: #bfc7cd;
  --color-grayscale-500: #a4afb7;
  --color-grayscale-600: #82909c;
  --color-grayscale-700: #63727d;
  --color-grayscale-800: #414b53;
  --color-grayscale-900: #21272b;
  --color-neutral-50: #ffffff;
  --color-neutral-100: #fdfdfc;
  --color-neutral-200: #f9f9f7;
  --color-neutral-300: #f4f4f0;
  --color-neutral-400: #edede8;
  --color-neutral-500: #e7e7df;
  --color-neutral-600: #e0e0d6;
  --color-neutral-700: #d3d3c5;
  --color-neutral-800: #c8c8b6;
  --color-neutral-900: #b4b49c;
  --color-orange-200: #fcdccf;
  --color-orange-300: #f8b9a0;
  --color-orange-400: #f59670;
  --color-orange-500: #f27340;
  --color-orange-600: #e84e10;
  --color-orange-700: #c9430e;
  --color-orange-800: #8f300a;
  --color-orange-900: #5f2007;
  --color-feedback-error-100: #ec5f66;
  --color-feedback-error-200: #ce1821;
  --color-feedback-error-300: #720d12;
  --color-black-100: #0000000d;
  --color-black-200: #0000001a;
  --color-black-300: #00000033;
  --color-black-400: #00000066;
  --color-black-500: #00000080;
  --color-black-600: #00000099;
  --color-black-700: #000000cc;
  --color-black-800: #000000d9;
  --color-black-900: #000000e5;
  --color-black-1000: #000000f2;
  --color-black-1100: #000000;
  --color-white-100: #ffffff0d;
  --color-white-200: #ffffff1a;
  --color-white-300: #ffffff33;
  --color-white-400: #ffffff66;
  --color-white-500: #ffffff80;
  --color-white-600: #ffffffa6;
  --color-white-700: #ffffffcc;
  --color-white-800: #ffffffd9;
  --color-white-900: #ffffffe5;
  --color-white-1000: #fffffff2;
  --color-white-1100: #ffffff;
  --color-null-000: #11111100;
  --color-feedback-warning-100: #f7a455;
  --color-feedback-warning-200: #f48621;
  --color-feedback-warning-300: #924a07;
  --color-feedback-success-100: #6ae29e;
  --color-feedback-success-200: #156b3a;
  --color-feedback-success-300: #0a341c;
  --color-pagination-current-text: #e5f3ff;
  --color-pagination-current-hover-text: #e5f3ff;
  --color-text-block-on-brand-text: #e5f3ff;
  --color-tab-unselect-text: #bfc7cd;
  --color-text-block-on-brand-title: #e5f3ff;
  --color-prova: #ffffff;
  /* Bg/Default/Default */
  --color-background-default-primary: var(--color-neutral-200);
  /* Bg/Default/Secondary */
  --color-background-default-secondary: var(--color-neutral-50);
  /* Bg/Default/Tertiary */
  --color-background-default-tertiary: var(--color-brand-800);
  /* Bg/Default/Tertiary */
  --color-background-default-accent-fixed: var(--color-accent-500);
  /* Bg/Default/Tertiary */
  --color-background-default-accent-light: var(--color-accent-50);
  /* Bg/Default/Default Hover */
  --color-background-default-accent-hover: var(--color-accent-100);
  /* Bg/Default/Tertiary Hover */
  --color-background-default-tertiary-hover: var(--color-brand-600);
  /* Bg/Brand/Default */
  --color-background-brand-mobilty-light: var(--color-blue-100);
  /* Bg/Brand/Secondary */
  --color-background-brand-mobilty-strong: var(--color-blue-600);
  /* Bg/Brand/Hover */
  --color-background-brand-welfare-light: var(--color-green-100);
  /* Bg/Brand/Hover */
  --color-background-brand-welfare-strong: var(--color-green-800);
  /* Bg/Brand/Hover */
  --color-background-brand-property-light: var(--color-orange-100);
  /* Bg/Brand/Hover */
  --color-background-brand-property-strong: var(--color-orange-700);
  /* Bg/Positive/Default */
  --color-background-success-default: var(--color-feedback-success-100);
  /* Bg/Positive/Secondary */
  --color-background-success-secondary: var(--color-feedback-success-200);
  /* Bg/Positive/Tertiary */
  --color-background-success-tertiary: var(--color-feedback-success-300);
  /* Bg/Warning/Default */
  --color-background-warning-default: var(--color-feedback-warning-100);
  /* Bg/Warning/Secondary */
  --color-background-warning-secondary: var(--color-feedback-warning-200);
  /* Bg/Warning/Tertiary */
  --color-background-warning-tertiary: var(--color-feedback-warning-300);
  /* Bg/Danger/Default */
  --color-background-error-default: var(--color-feedback-error-100);
  /* Bg/Danger/Secondary */
  --color-background-error-secondary: var(--color-feedback-error-200);
  /* Bg/Danger/Tertiary */
  --color-background-error-tertiary: var(--color-feedback-error-300);
  /* Bg/Disabled/Default */
  --color-background-disabled-primary: var(--color-grayscale-200);
  /* Bg/Disabled/Default */
  --color-background-disabled-secondary: var(--color-grayscale-500);
  /* Bg/Neutral/Secondary */
  --color-background-neutral-primary: var(--color-grayscale-50);
  /* Bg/Neutral/Default */
  --color-background-neutral-secondary: var(--color-grayscale-200);
  /* Bg/Neutral/Tertiary */
  --color-background-neutral-tertiary: var(--color-grayscale-400);
  --color-text-default-primary: var(--color-brand-800);
  --color-text-default-accent: var(--color-accent-500);
  --color-text-default-secondary: var(--color-brand-600);
  --color-text-brand-mobility: var(--color-blue-600);
  --color-text-brand-welfare: var(--color-green-800);
  --color-text-brand-property: var(--color-orange-700);
  --color-text-success-default: var(--color-feedback-success-200);
  --color-text-success-secondary: var(--color-feedback-success-300);
  --color-text-warning-default: var(--color-feedback-warning-200);
  --color-text-warning-secondary: var(--color-feedback-warning-300);
  --color-text-error-default: var(--color-feedback-error-200);
  --color-text-error-secondary: var(--color-feedback-error-300);
  --color-text-disabled-primary: var(--color-grayscale-500);
  --color-text-disabled-secondary: var(--color-grayscale-700);
  --color-text-disabled-tertiary: var(--color-grayscale-800);
  --color-text-utilities-text-on-overlay: var(--color-black-1100);
  --color-text-neutral-primary: var(--color-grayscale-500);
  --color-text-neutral-secondary: var(--color-grayscale-700);
  --color-text-neutral-tertiary: var(--color-neutral-200);
  --color-icon-default-primary: var(--color-brand-800);
  --color-icon-default-secondary: var(--color-brand-600);
  --color-icon-brand-mobility: var(--color-blue-600);
  --color-icon-brand-welfare: var(--color-green-800);
  --color-icon-brand-property: var(--color-orange-600);
  --color-icon-success-primary: var(--color-feedback-success-200);
  --color-icon-success-secondary: var(--color-feedback-success-300);
  --color-icon-warning-primary: var(--color-feedback-warning-200);
  --color-icon-warning-secondary: var(--color-feedback-warning-300);
  --color-icon-error-primary: var(--color-feedback-error-200);
  --color-icon-error-secondary: var(--color-feedback-error-300);
  --color-icon-disabled-primary: var(--color-grayscale-500);
  --color-icon-disabled-secondary: var(--color-grayscale-700);
  --color-icon-disabled-tertiary: var(--color-grayscale-800);
  --color-icon-neutral-primary: var(--color-grayscale-500);
  --color-icon-neutral-secondary: var(--color-grayscale-700);
  --color-icon-neutral-tertiary: var(--color-neutral-200);
  --color-border-default-primary: var(--color-brand-800);
  --color-border-default-accent: var(--color-accent-500);
  --color-border-default-secondary: var(--color-brand-600);
  --color-border-default-focused: var(--color-brand-200);
  --color-border-brand-mobility: var(--color-blue-400);
  --color-border-brand-welfare: var(--color-green-400);
  --color-border-brand-property: var(--color-orange-400);
  --color-border-success-primary: var(--color-feedback-success-200);
  --color-border-success-secondary: var(--color-feedback-success-300);
  --color-border-warning-primary: var(--color-feedback-warning-200);
  --color-border-warning-secondary: var(--color-feedback-warning-300);
  --color-border-error-primary: var(--color-feedback-error-200);
  --color-border-error-secondary: var(--color-feedback-error-300);
  --color-border-disabled-primary: var(--color-grayscale-500);
  --color-border-disabled-secondary: var(--color-grayscale-700);
  --color-border-neutral-primary: var(--color-grayscale-200);
  --color-border-neutral-secondary: var(--color-grayscale-600);
  /* Bg/Neutral/Default */
  --color-background-opacity-primary: var(--color-white-600);
  /* Bg/Neutral/Secondary */
  --color-background-opacity-secondary: var(--color-black-400);
  /* Bg/Neutral/Tertiary */
  --color-background-opacity-tertiary: var(--color-black-500);
  --color-ai-icon-background: var(--color-background-default-accent-light);
  --color-accordion-background-closed: var(--color-background-default-secondary);
  --color-accordion-background-open: var(--color-background-default-secondary);
  --color-accordion-border-open: var(--color-null-000);
  --color-accordion-border-close: var(--color-null-000);
  --color-accordion-title-open: var(--color-text-default-primary);
  --color-accordion-description-open: var(--color-text-default-primary);
  --color-accordion-title-close: var(--color-text-default-primary);
  --color-accordion-icon-open: var(--color-icon-default-primary);
  --color-accordion-icon-closed: var(--color-icon-default-primary);
  --color-avatar-background: var(--color-background-default-primary);
  --color-avatar-border: var(--color-background-default-primary);
  --color-text-block-title: var(--color-text-default-primary);
  --color-avatar-text: var(--color-text-block-title);
  --color-button-primary-default-background: var(--color-background-default-tertiary);
  --color-button-primary-default-border: var(--color-border-default-primary);
  --color-button-primary-default-text: var(--color-text-neutral-tertiary);
  --color-button-primary-default-icon-color: var(--color-icon-neutral-tertiary);
  --color-button-primary-hover-background: var(--color-background-default-tertiary-hover);
  --color-button-primary-hover-border: var(--color-null-000);
  --color-button-primary-hover-text: var(--color-text-neutral-tertiary);
  --color-button-primary-hover-icon-color: var(--color-icon-neutral-tertiary);
  --color-button-primary-disabled-background: var(--color-background-disabled-primary);
  --color-button-primary-focused-background: var(--color-background-default-tertiary);
  --color-button-primary-pressed-background: var(--color-background-default-tertiary-hover);
  --color-button-primary-pressed-border: var(--color-null-000);
  --color-button-primary-pressed-text: var(--color-text-neutral-tertiary);
  --color-button-primary-pressed-icon-color: var(--color-icon-neutral-tertiary);
  --color-button-primary-focused-border: var(--color-border-default-focused);
  --color-button-primary-focused-text: var(--color-icon-neutral-tertiary);
  --color-button-primary-focused-icon-color: var(--color-icon-neutral-tertiary);
  --color-button-primary-disabled-border: var(--color-background-default-tertiary-hover);
  --color-button-primary-disabled-text: var(--color-text-disabled-tertiary);
  --color-button-primary-disabled-icon-color: var(--color-icon-disabled-tertiary);
  --color-button-accent-default-background: var(--color-background-default-accent-fixed);
  --color-button-accent-default-border: var(--color-border-default-accent);
  --color-text-neutral-fixed: var(--color-neutral-200);
  --color-button-accent-default-text: var(--color-text-neutral-fixed);
  --color-icon-neutral-fixed: var(--color-neutral-200);
  --color-button-accent-default-icon-color: var(--color-icon-neutral-fixed);
  --color-button-accent-hover-background: var(--color-background-default-accent-hover);
  --color-button-accent-hover-border: var(--color-null-000);
  --color-button-accent-hover-text: var(--color-text-default-primary);
  --color-button-accent-hover-icon-color: var(--color-icon-default-primary);
  --color-button-accent-disabled-background: var(--color-background-default-accent-light);
  --color-button-accent-disabled-border: var(--color-background-default-accent-light);
  --color-button-accent-disabled-text: var(--color-text-disabled-tertiary);
  --color-button-accent-disabled-icon: var(--color-icon-disabled-tertiary);
  --color-button-accent-focused-background: var(--color-background-default-accent-fixed);
  --color-button-accent-pressed-background: var(--color-background-default-accent-hover);
  --color-button-accent-pressed-border: var(--color-null-000);
  --color-button-accent-pressed-text: var(--color-text-default-primary);
  --color-button-accent-pressed-icon-color: var(--color-icon-default-primary);
  --color-button-accent-focused-border: var(--color-border-default-focused);
  --color-button-accent-focused-text: var(--color-text-neutral-fixed);
  --color-button-accent-focused-icon: var(--color-icon-neutral-fixed);
  --color-button-secondary-default-background: var(--color-null-000);
  --color-button-secondary-default-border: var(--color-border-default-primary);
  --color-button-secondary-default-text: var(--color-text-default-primary);
  --color-button-secondary-default-icon: var(--color-icon-default-primary);
  --color-button-secondary-hover-background: var(--color-null-000);
  --color-button-secondary-hover-border: var(--color-border-default-secondary);
  --color-button-secondary-hover-text: var(--color-text-default-primary);
  --color-button-secondary-hover-icon: var(--color-icon-default-secondary);
  --color-button-secondary-disabled-background: var(--color-null-000);
  --color-button-secondary-disabled-border: var(--color-border-disabled-secondary);
  --color-button-secondary-disabled-text: var(--color-text-disabled-secondary);
  --color-button-secondary-disabled-icon: var(--color-icon-disabled-secondary);
  --color-button-secondary-focused-background: var(--color-null-000);
  --color-button-secondary-focused-border-default: var(--color-border-default-primary);
  --color-button-secondary-focused-border-focus: var(--color-border-default-focused);
  --color-button-secondary-focused-text: var(--color-text-default-primary);
  --color-button-secondary-focused-icon: var(--color-icon-default-primary);
  --color-button-secondary-pressed-background: var(--color-null-000);
  --color-button-secondary-pressed-border: var(--color-border-default-secondary);
  --color-button-secondary-pressed-text: var(--color-text-default-secondary);
  --color-button-secondary-pressed-icon: var(--color-icon-default-secondary);
  --color-category-tabs-default-background: var(--color-null-000);
  --color-category-tabs-default-border: var(--color-border-default-primary);
  --color-category-tabs-default-text: var(--color-text-default-primary);
  --color-category-tabs-default-icon: var(--color-icon-default-primary);
  --color-category-tabs-selected-background: var(--color-background-default-tertiary);
  --color-category-tabs-selected-border: var(--color-null-000);
  --color-category-tabs-selected-text: var(--color-text-neutral-tertiary);
  --color-category-tabs-selected-icon: var(--color-icon-neutral-tertiary);
  --color-card-text-card-background: var(--color-background-default-tertiary);
  --color-card-default-border: var(--color-border-default-primary);
  --color-card-default-title: var(--color-text-default-primary);
  --color-card-text-card-body-white: var(--color-text-neutral-tertiary);
  --color-card-hover-background: var(--color-background-default-accent-hover);
  --color-card-hover-border: var(--color-border-default-primary);
  --color-card-hover-title: var(--color-text-default-primary);
  --color-card-hover-body: var(--color-text-default-accent);
  --color-card-disabled-background: var(--color-background-default-primary);
  --color-card-disabled-border: var(--color-border-default-primary);
  --color-card-disabled-title: var(--color-text-default-primary);
  --color-card-disabled-body: var(--color-text-default-accent);
  --color-checkbox-unchecked-border: var(--color-border-default-primary);
  --color-checkbox-unchecked-hover-border: var(--color-border-default-secondary);
  --color-checkbox-unchecked-focused-border-default: var(--color-border-default-primary);
  --color-checkbox-unchecked-focused-border-focus: var(--color-border-default-focused);
  --color-checkbox-unchecked-pressed-border: var(--color-border-default-secondary);
  --color-checkbox-checked-border: var(--color-border-default-primary);
  --color-checkbox-checked-hover-border: var(--color-border-default-secondary);
  --color-checkbox-checked-focused-border-default: var(--color-border-default-primary);
  --color-checkbox-checked-focused-border-focus: var(--color-border-default-focused);
  --color-checkbox-checked-focused-icon: var(--color-icon-default-primary);
  --color-checkbox-checked-hover-icon: var(--color-icon-default-secondary);
  --color-checkbox-checked-icon: var(--color-icon-default-primary);
  --color-checkbox-checked-pressed-border: var(--color-border-default-secondary);
  --color-checkbox-checked-pressed-icon: var(--color-icon-default-secondary);
  --color-checkbox-disabled-background: var(--color-background-disabled-primary);
  --color-checkbox-disabled-border: var(--color-border-disabled-secondary);
  --color-checkbox-disabled-icon: var(--color-icon-disabled-secondary);
  --color-checkbox-field-unchecked-text-label: var(--color-text-default-primary);
  --color-checkbox-field-unchecked-test-description: var(--color-text-neutral-secondary);
  --color-default-text-title-2: var(--color-text-default-primary);
  --color-default-text-value-2: var(--color-text-default-primary);
  --color-default-helper-text-2: var(--color-text-disabled-secondary);
  --color-dialog-background: var(--color-background-default-primary);
  --color-dialog-border: var(--color-border-default-primary);
  --color-dialog-title: var(--color-text-default-primary);
  --color-dialog-body: var(--color-text-default-primary);
  --color-dialog-icon: var(--color-icon-neutral-primary);
  --color-footer-background: var(--color-background-default-primary);
  --color-header-background: var(--color-background-default-primary);
  --color-header-icon: var(--color-icon-default-primary);
  --color-icons-default: var(--color-icon-default-primary);
  --color-input-field-hint-helper-text-icon: var(--color-icon-neutral-secondary);
  --color-input-field-hint-helper-text: var(--color-text-neutral-secondary);
  --color-input-field-hint-error-text-icon: var(--color-icon-error-primary);
  --color-input-field-hint-error-text: var(--color-text-error-default);
  --color-input-field-hint-checkbox-icon: var(--color-icon-default-primary);
  --color-input-field-hint-checkbox-text: var(--color-text-default-primary);
  --color-input-fields-placeholder-background: var(--color-null-000);
  --color-input-fields-placeholder-border: var(--color-border-neutral-secondary);
  --color-input-fields-placeholder-text-label: var(--color-text-default-primary);
  --color-input-fields-placeholder-text-value: var(--color-text-neutral-secondary);
  --color-input-fields-placeholder-icon: var(--color-icon-default-primary);
  --color-input-fields-enabled-background: var(--color-null-000);
  --color-input-fields-enabled-border: var(--color-border-neutral-secondary);
  --color-input-fields-enabled-text-title: var(--color-text-default-primary);
  --color-input-fields-enabled-text-value: var(--color-text-default-primary);
  --color-input-fields-enabled-icon: var(--color-icon-default-primary);
  --color-input-fields-disabled-background: var(--color-background-disabled-primary);
  --color-input-fields-disabled-border: var(--color-null-000);
  --color-input-fields-disabled-text-title: var(--color-text-default-primary);
  --color-input-fields-disabled-text-value: var(--color-text-disabled-secondary);
  --color-input-fields-disabled-icon: var(--color-icon-default-primary);
  --color-input-fields-hover-background: var(--color-background-neutral-primary);
  --color-input-fields-hover-border: var(--color-border-neutral-secondary);
  --color-input-fields-hover-text-title: var(--color-text-default-primary);
  --color-input-fields-hover-text-value: var(--color-text-default-primary);
  --color-input-fields-hover-icon: var(--color-icon-default-primary);
  --color-input-fields-pressed-background: var(--color-background-neutral-primary);
  --color-input-fields-pressed-border: var(--color-border-neutral-secondary);
  --color-input-fields-pressed-text-title: var(--color-text-default-primary);
  --color-input-fields-pressed-text-value: var(--color-text-default-primary);
  --color-input-fields-pressed-icon: var(--color-icon-default-primary);
  --color-input-fields-focused-background: var(--color-null-000);
  --color-input-fields-focused-border-default: var(--color-border-disabled-primary);
  --color-input-fields-focused-border-focused: var(--color-border-default-focused);
  --color-input-fields-focused-text-title: var(--color-text-default-primary);
  --color-input-fields-focused-text-value: var(--color-text-default-primary);
  --color-input-fields-focused-icon: var(--color-icon-default-primary);
  --color-input-fields-error-background: var(--color-null-000);
  --color-input-fields-error-border: var(--color-border-error-primary);
  --color-input-fields-error-text-label: var(--color-text-default-primary);
  --color-input-fields-error-text-value: var(--color-text-default-primary);
  --color-input-fields-error-icon: var(--color-icon-default-primary);
  --color-link-button-link-default-background: var(--color-null-000);
  --color-link-button-link-default-border: var(--color-null-000);
  --color-link-button-link-default-text: var(--color-text-default-primary);
  --color-link-button-link-default-icon-color: var(--color-icon-default-primary);
  --color-link-button-link-disabled-background: var(--color-null-000);
  --color-link-button-link-disabled-border: var(--color-null-000);
  --color-link-button-link-disabled-text: var(--color-text-disabled-secondary);
  --color-link-button-link-disabled-icon: var(--color-link-button-link-disabled-text);
  --color-link-button-link-hover-background: var(--color-null-000);
  --color-link-button-link-hover-border: var(--color-null-000);
  --color-link-button-link-hover-text: var(--color-text-default-secondary);
  --color-link-button-link-hover-icon-color: var(--color-icon-default-secondary);
  --color-link-button-link-focused-background: var(--color-null-000);
  --color-link-button-link-focused-border: var(--color-border-default-focused);
  --color-link-button-link-focused-text: var(--color-text-default-primary);
  --color-link-button-link-focused-icon-color: var(--color-icon-default-primary);
  --color-link-button-link-pressed-background: var(--color-null-000);
  --color-link-button-link-pressed-border: var(--color-null-000);
  --color-link-button-link-pressed-text: var(--color-text-default-secondary);
  --color-link-button-link-pressed-icon: var(--color-icon-default-secondary);
  --color-navigation-pill-primary-default-background: var(--color-null-000);
  --color-navigation-pill-primary-default-text: var(--color-text-default-primary);
  --color-navigation-pill-primary-default-icon: var(--color-icon-default-primary);
  --color-navigation-pill-primary-hover-background: var(--color-null-000);
  --color-navigation-pill-primary-hover-text: var(--color-text-default-secondary);
  --color-navigation-pill-primary-hover-icon: var(--color-icon-default-secondary);
  --color-navigation-pill-secondary-default-background: var(--color-background-default-accent-fixed);
  --color-navigation-pill-secondary-default-text: var(--color-text-neutral-tertiary);
  --color-navigation-pill-secondary-default-icon: var(--color-icon-neutral-tertiary);
  --color-navigation-pill-secondary-hover-background: var(--color-background-default-accent-hover);
  --color-navigation-pill-secondary-hover-text: var(--color-text-default-primary);
  --color-navigation-pill-secondary-hover-icon: var(--color-icon-default-primary);
  --color-navigation-pill-active-background: var(--color-background-default-primary);
  --color-navigation-pill-active-text: var(--color-text-default-primary);
  --color-navigation-pill-active-icon: var(--color-icon-default-primary);
  --color-options-default-text-label: var(--color-text-default-primary);
  --color-options-default-text-description: var(--color-text-neutral-secondary);
  --color-options-default-background: var(--color-null-000);
  --color-options-selected-text-label: var(--color-text-default-primary);
  --color-options-selected-text-description: var(--color-text-neutral-secondary);
  --color-options-selected-background: var(--color-background-neutral-primary);
  --color-options-list-background: var(--color-null-000);
  --color-options-list-border: var(--color-border-neutral-secondary);
  --color-overlay-default-background: var(--color-background-opacity-secondary);
  --color-pagination-current-background: var(--color-background-brand-mobilty-light);
  --color-pagination-current-border: var(--color-border-brand-mobility);
  --color-pagination-current-hover-background: var(--color-background-brand-welfare-light);
  --color-pagination-current-hover-border: var(--color-border-brand-mobility);
  --color-pagination-default-background: var(--color-background-default-primary);
  --color-pagination-default-border: var(--color-border-disabled-secondary);
  --color-pagination-default-text: var(--color-text-default-primary);
  --color-pagination-default-hover-background: var(--color-background-default-accent-hover);
  --color-pagination-default-hover-border: var(--color-border-disabled-secondary);
  --color-pagination-default-hover-text: var(--color-text-default-primary);
  --color-radio-button-field-unchecked-text-label: var(--color-text-default-primary);
  --color-radio-button-field-unchecked-text-description: var(--color-text-neutral-secondary);
  --color-radio-button-field-unchecked-hover-text-label: var(--color-text-default-primary);
  --color-radio-button-field-unchecked-hover-text-description: var(--color-text-neutral-secondary);
  --color-radio-button-field-unchecked-focused-text-label: var(--color-text-default-primary);
  --color-radio-button-field-unchecked-focused-text-description: var(--color-text-neutral-secondary);
  --color-radio-button-field-unchecked-pressed-text-label: var(--color-text-default-primary);
  --color-radio-button-field-checked-text-label: var(--color-text-default-primary);
  --color-radio-button-field-checked-text-description: var(--color-text-neutral-secondary);
  --color-radio-button-field-unchecked-pressed-text-description: var(--color-text-neutral-secondary);
  --color-radio-button-field-checked-hover-text-label: var(--color-text-default-primary);
  --color-radio-button-field-checked-hover-text-description: var(--color-text-neutral-secondary);
  --color-section-basic-background: var(--color-background-default-primary);
  --color-section-basic-t-itle: var(--color-text-neutral-primary);
  --color-section-basic-icon: var(--color-icon-neutral-primary);
  --color-section-basic-description: var(--color-text-default-accent);
  --color-section-accent-background: var(--color-background-brand-mobilty-strong);
  --color-section-accent-t-itle: var(--color-text-neutral-primary);
  --color-section-accent-icon: var(--color-icon-neutral-primary);
  --color-section-accent-description: var(--color-text-default-primary);
  --color-radio-button-unchecked-border: var(--color-border-default-primary);
  --color-radio-button-unchecked-hover-border: var(--color-border-default-secondary);
  --color-radio-button-unchecked-focused-border-default: var(--color-border-default-primary);
  --color-radio-button-unchecked-focused-border-focus: var(--color-border-default-focused);
  --color-radio-button-unchecked-pressed-border: var(--color-border-default-secondary);
  --color-radio-button-checked-border: var(--color-border-default-primary);
  --color-radio-button-checked-icon: var(--color-icon-default-primary);
  --color-switch-unchecked-background: var(--color-background-neutral-tertiary);
  --color-switch-unchecked-icon: var(--color-icon-neutral-tertiary);
  --color-switch-unchecked-hover-background: var(--color-background-neutral-secondary);
  --color-switch-unchecked-focused-background: var(--color-background-neutral-tertiary);
  --color-switch-unchecked-pressed-background: var(--color-background-neutral-secondary);
  --color-switch-unchecked-pressed-icon: var(--color-icon-neutral-tertiary);
  --color-switch-unchecked-focused-border-focus: var(--color-border-default-focused);
  --color-switch-unchecked-focused-icon: var(--color-icon-neutral-tertiary);
  --color-switch-unchecked-hover-icon: var(--color-icon-neutral-tertiary);
  --color-switch-checked-background: var(--color-background-default-tertiary);
  --color-switch-checked-icon: var(--color-icon-neutral-tertiary);
  --color-switch-checked-hover-background: var(--color-background-default-tertiary-hover);
  --color-switch-checked-hover-icon: var(--color-icon-neutral-tertiary);
  --color-switch-checked-focused-background: var(--color-background-default-tertiary);
  --color-switch-checked-focused-border-focus: var(--color-border-default-focused);
  --color-switch-checked-focused-icon: var(--color-icon-neutral-tertiary);
  --color-switch-checked-pressed-background: var(--color-background-default-tertiary-hover);
  --color-switch-checked-pressed-icon: var(--color-icon-neutral-tertiary);
  --color-switch-disabled-background: var(--color-background-disabled-primary);
  --color-switch-disabled-icon: var(--color-icon-disabled-primary);
  --color-text-block-default-text: var(--color-text-default-accent);
  --color-tab-select-background: var(--color-null-000);
  --color-tab-select-border: var(--color-border-neutral-primary);
  --color-tab-select-text: var(--color-text-default-primary);
  --color-tab-select-icon-color: var(--color-icon-default-primary);
  --color-tab-unselect-background: var(--color-null-000);
  --color-tab-unselect-border: var(--color-border-default-primary);
  --color-tab-unselect-icon-color: var(--color-icon-default-tertiary);
  --color-tag-default-mobility-background: var(--color-background-brand-mobilty-light);
  --color-tag-default-welfare-background: var(--color-background-brand-welfare-light);
  --color-tag-default-welfare-border: var(--color-border-brand-welfare);
  --color-tag-default-welfare-text: var(--color-text-default-primary);
  --color-tag-default-mobility-border: var(--color-border-brand-mobility);
  --color-tag-default-mobility-text: var(--color-text-default-primary);
  --color-tooltip-background: var(--color-background-default-tertiary);
  --color-tooltip-select-border: var(--color-border-default-primary);
  --color-tooltip-title: var(--color-text-neutral-tertiary);
  --color-tooltip-body-text: var(--color-text-neutral-primary);
  --color-icon-button-primary-default-background: var(--color-null-000);
  --color-icon-button-primary-default-border: var(--color-border-default-primary);
  --color-icon-button-primary-default-icon: var(--color-icon-default-primary);
  --color-checkbox-field-unchecked-hover-text-label: var(--color-text-default-primary);
  --color-checkbox-field-unchecked-hover-text-description: var(--color-text-neutral-secondary);
  --color-checkbox-field-unchecked-focused-text-label: var(--color-text-default-primary);
  --color-checkbox-field-unchecked-focused-text-description: var(--color-text-neutral-secondary);
  --color-checkbox-field-unchecked-pressed-text-label: var(--color-text-default-primary);
  --color-checkbox-field-unchecked-pressed-text-description: var(--color-text-neutral-secondary);
  --color-icon-button-primary-hover-background: var(--color-background-default-tertiary-hover);
  --color-icon-button-primary-hover-border: var(--color-border-default-secondary);
  --color-icon-button-primary-hover-icon: var(--color-icon-default-secondary);
  --color-icon-button-primary-disabled-background: var(--color-null-000);
  --color-icon-button-primary-disabled-border: var(--color-border-disabled-primary);
  --color-icon-button-primary-disabled-icon: var(--color-icon-disabled-primary);
  --color-icon-button-primary-pressed-background: var(--color-null-000);
  --color-icon-button-primary-pressed-border: var(--color-border-default-secondary);
  --color-icon-button-primary-pressed-icon: var(--color-icon-default-secondary);
  --color-checkbox-field-checked-text-label: var(--color-text-default-primary);
  --color-checkbox-field-checked-text-description: var(--color-text-neutral-secondary);
  --color-checkbox-field-checked-hover-text-label: var(--color-text-default-primary);
  --color-checkbox-field-checked-hover-text-description: var(--color-text-neutral-secondary);
  --color-checkbox-field-checked-focused-text-label: var(--color-text-default-primary);
  --color-checkbox-field-checked-focused-text-description: var(--color-text-neutral-secondary);
  --color-checkbox-field-checked-pressed-text-label: var(--color-text-default-primary);
  --color-checkbox-field-disabled-text-label: var(--color-text-disabled-secondary);
  --color-checkbox-field-disabled-text-description: var(--color-text-disabled-secondary);
  --color-checkbox-field-checked-pressed-text-description: var(--color-text-neutral-secondary);
  --color-icon-button-primary-focused-background: var(--color-null-000);
  --color-icon-button-primary-focused-border-default: var(--color-border-default-primary);
  --color-icon-button-primary-focused-border-focused: var(--color-border-default-focused);
  --color-icon-button-primary-focused-icon: var(--color-icon-default-primary);
  --color-icon-button-secondary-default-background: var(--color-background-default-primary);
  --color-icon-button-secondary-default-border: var(--color-null-000);
  --color-icon-default-fixed: var(--color-brand-800);
  --color-icon-button-secondary-default-icon: var(--color-icon-default-fixed);
  --color-icon-button-secondary-hover-background: var(--color-background-default-tertiary-hover);
  --color-icon-button-secondary-disabled-background: var(--color-background-disabled-primary);
  --color-icon-button-secondary-disabled-border: var(--color-null-000);
  --color-icon-button-secondary-disabled-icon: var(--color-icon-disabled-primary);
  --color-icon-button-secondary-hover-border: var(--color-null-000);
  --color-icon-button-secondary-hover-icon: var(--color-icon-neutral-tertiary);
  --color-icon-button-secondary-focused-background: var(--color-background-default-primary);
  --color-icon-button-secondary-focused-border: var(--color-border-default-focused);
  --color-icon-button-secondary-focused-icon: var(--color-icon-default-fixed);
  --color-icon-button-secondary-pressed-background: var(--color-brand-600);
  --color-icon-button-secondary-pressed-border: var(--color-null-000);
  --color-icon-button-secondary-pressed-icon: var(--color-icon-neutral-tertiary);
  --color-radio-button-checked-hover-border: var(--color-border-default-secondary);
  --color-radio-button-checked-hover-icon: var(--color-icon-default-secondary);
  --color-radio-button-checked-focused-border-default: var(--color-border-default-primary);
  --color-radio-button-checked-pressed-border: var(--color-border-default-secondary);
  --color-radio-button-checked-pressed-icon: var(--color-icon-default-secondary);
  --color-radio-button-checked-focused-border-focus: var(--color-border-default-focused);
  --color-radio-button-checked-focused-icon: var(--color-icon-default-primary);
  --color-radio-button-disabled-background: var(--color-background-disabled-primary);
  --color-radio-button-disabled-border: var(--color-border-disabled-secondary);
  --color-radio-button-disabled-icon: var(--color-icon-disabled-secondary);
  --color-radio-button-field-checked-focused-text-label: var(--color-text-default-primary);
  --color-radio-button-field-checked-focused-text-description: var(--color-text-neutral-secondary);
  --color-radio-button-field-checked-pressed-text-label: var(--color-text-default-primary);
  --color-radio-button-field-checked-pressed-text-description: var(--color-text-neutral-secondary);
  --color-radio-button-field-disabled-text-label: var(--color-text-disabled-secondary);
  --color-radio-button-field-disabled-text-description: var(--color-text-disabled-secondary);
  --color-tag-default-property-background: var(--color-background-brand-property-light);
  --color-tag-default-property-border: var(--color-border-brand-property);
  --color-tag-default-property-text: var(--color-text-default-primary);
  --color-tag-secondary-mobility-background: var(--color-background-brand-mobilty-strong);
  --color-tag-secondary-mobility-border: var(--color-null-000);
  --color-tag-secondary-mobility-text: var(--color-text-neutral-tertiary);
  --color-tag-secondary-welfare-background: var(--color-background-brand-welfare-strong);
  --color-tag-secondary-welfare-border: var(--color-null-000);
  --color-tag-secondary-welfare-text: var(--color-text-neutral-tertiary);
  --color-tag-secondary-property-background: var(--color-background-brand-property-strong);
  --color-tag-secondary-property-border: var(--color-null-000);
  --color-tag-secondary-property-text: var(--color-text-neutral-tertiary);
  --color-tag-neutral-background: var(--color-background-default-secondary);
  --color-tag-neutral-border: var(--color-null-000);
  --color-tag-neutral-text: var(--color-text-default-primary);
  --color-tag-custom-background: var(--color-background-default-secondary);
  --color-tag-custom-border: var(--color-border-default-accent);
  --color-tag-custom-text: var(--color-text-default-accent);
  --color-switch-button-field-unchecked-text-label: var(--color-text-default-primary);
  --color-switch-button-field-unchecked-text-description: var(--color-text-neutral-secondary);
  --color-switch-button-field-unchecked-hover-text-label: var(--color-text-default-primary);
  --color-switch-button-field-unchecked-hover-text-description: var(--color-text-neutral-secondary);
  --color-switch-button-field-unchecked-focused-text-label: var(--color-text-default-primary);
  --color-switch-button-field-unchecked-focused-text-description: var(--color-text-neutral-secondary);
  --color-switch-button-field-unchecked-pressed-text-label: var(--color-text-default-primary);
  --color-switch-button-field-unchecked-pressed-text-description: var(--color-text-neutral-secondary);
  --color-switch-button-field-checked-text-label: var(--color-text-default-primary);
  --color-switch-button-field-checked-text-description: var(--color-text-neutral-secondary);
  --color-switch-button-field-checked-hover-text-label: var(--color-text-default-primary);
  --color-switch-button-field-checked-hover-text-description: var(--color-text-neutral-secondary);
  --color-switch-button-field-checked-focused-text-label: var(--color-text-default-primary);
  --color-switch-button-field-checked-focused-text-description: var(--color-text-neutral-secondary);
  --color-switch-button-field-checked-pressed-text-label: var(--color-text-default-primary);
  --color-switch-button-field-checked-pressed-text-description: var(--color-text-neutral-secondary);
  --color-switch-button-field-disabled-text-label: var(--color-text-disabled-secondary);
  --color-switch-button-field-disabled-text-description: var(--color-text-disabled-secondary);
  --color-input-field-hint-radio-button-icon: var(--color-icon-default-primary);
  --color-input-field-hint-radio-button-text: var(--color-text-default-primary);
  --color-ai-message-background: var(--color-background-default-accent-light);
  --color-ai-message-text: var(--color-text-default-primary);
  --color-category-strip-mobility-background: var(--color-background-brand-mobilty-light);
  --color-category-strip-mobility-icon: var(--color-icon-default-primary);
  --color-category-strip-mobility-text: var(--color-text-default-primary);
  --color-category-strip-property-background: var(--color-background-brand-property-light);
  --color-category-strip-property-icon: var(--color-icon-default-primary);
  --color-category-strip-property-text: var(--color-text-default-primary);
  --color-download-tile-background: var(--color-background-default-secondary);
  --color-download-tile-border: var(--color-null-000);
  --color-download-tile-title: var(--color-text-default-primary);
  --color-download-tile-icon: var(--color-icon-default-primary);
  --color-expanding-dots-background: var(--color-background-default-tertiary);
  --color-expanding-dots-background-dot: var(--color-background-neutral-tertiary);
  --color-input-field-hint-warning-text-icon: var(--color-icon-warning-primary);
  --color-input-field-hint-warning-text: var(--color-text-warning-default);
  --color-input-field-hint-success-text-icon: var(--color-icon-success-primary);
  --color-input-field-hint-success-text: var(--color-text-success-default);
  --color-input-fields-disabled-background-2: var(--color-background-disabled-primary);
  --color-label-input-fields-primary-background: var(--color-background-default-primary);
  --color-label-input-fields-primary-text: var(--color-text-default-primary);
  --color-number-block-number: var(--color-text-default-primary);
  --color-number-block-body: var(--color-text-default-primary);
  --color-photo-banner-background: var(--color-background-default-tertiary);
  --color-photo-banner-text: var(--color-text-neutral-tertiary);
  --color-scroll-indicator-mobile-icon-default: var(--color-icon-default-primary);
  --color-scroll-indicator-mobile-icon-disabled: var(--color-icon-disabled-primary);
  --color-section-background: var(--color-null-000);
  --color-section-text: var(--color-text-default-primary);
  --color-text-block-body: var(--color-text-default-primary);
  --color-tooltip-icon: var(--color-icon-neutral-tertiary);
  --color-label-input-fields-secondary-background: var(--color-background-default-secondary);
  --color-label-input-fields-secondary-text: var(--color-text-default-primary);
  --color-input-fields-warning-background: var(--color-null-000);
  --color-input-fields-warning-border: var(--color-border-warning-primary);
  --color-input-fields-warning-text-label: var(--color-text-default-primary);
  --color-input-fields-warning-text-value: var(--color-text-default-primary);
  --color-input-fields-warning-icon: var(--color-icon-default-primary);
  --color-input-fields-success-background: var(--color-null-000);
  --color-input-fields-success-border: var(--color-border-success-primary);
  --color-input-fields-success-text-label: var(--color-text-default-primary);
  --color-input-fields-success-text-value: var(--color-text-default-primary);
  --color-input-fields-success-icon: var(--color-icon-default-primary);
  --color-category-strip-welfare-background: var(--color-background-brand-welfare-light);
  --color-category-strip-welfare-icon: var(--color-icon-default-primary);
  --color-category-strip-welfare-text: var(--color-text-default-primary);
  --color-border-default-tertiary: var(--color-neutral-200);
  --color-border-neutral-tertiary: var(--color-grayscale-700);
  --color-card-agency-card-background: var(--color-background-default-tertiary);
  --color-card-agency-card-icon-pin: var(--color-icon-neutral-tertiary);
  --color-card-agency-card-title: var(--color-text-neutral-tertiary);
  --color-card-agency-card-body: var(--color-text-neutral-tertiary);
  --color-card-blog-preview-title: var(--color-text-default-primary);
  --color-card-blog-preview-label-content-duration-body: var(--color-text-neutral-secondary);
  --color-card-blog-preview-label-content-duration-icon: var(--color-icon-neutral-secondary);
  --color-card-bundle-card-background: var(--color-background-default-secondary);
  --color-card-bundle-card-title: var(--color-text-default-primary);
  --color-card-bundle-card-body: var(--color-text-default-primary);
  --color-card-category-card-title: var(--color-text-default-primary);
  --color-card-category-card-body: var(--color-text-default-primary);
  --color-card-category-card-subdescription: var(--color-text-neutral-secondary);
  --color-card-category-card-background-mobility: var(--color-background-brand-mobilty-light);
  --color-card-category-card-background-property: var(--color-background-brand-property-light);
  --color-card-category-card-background-welfare: var(--color-background-brand-welfare-light);
  --color-card-category-card-background: var(--color-background-default-secondary);
  --color-card-dynamic-gallery-card-overlay-background: var(--color-background-opacity-tertiary);
  --color-card-editorial-card-background: var(--color-background-default-secondary);
  --color-card-editorial-card-border: var(--color-border-default-primary);
  --color-card-editorial-card-title: var(--color-text-default-primary);
  --color-card-editorial-card-body: var(--color-text-default-primary);
  --color-card-contact-card-map-background: var(--color-background-default-tertiary);
  --color-card-contact-card-map-text: var(--color-text-neutral-tertiary);
  --color-card-contact-card-background: var(--color-background-default-tertiary);
  --color-card-contact-card-text: var(--color-text-neutral-tertiary);
  --color-card-info-card-background: var(--color-background-default-secondary);
  --color-card-info-card-title: var(--color-text-default-primary);
  --color-card-info-card-body: var(--color-text-default-primary);
  --color-card-info-card-icon: var(--color-icon-default-primary);
  --color-card-insurance-product-card-background: var(--color-background-default-secondary);
  --color-card-insurance-product-card-title: var(--color-text-default-primary);
  --color-card-insurance-product-card-body: var(--color-text-default-primary);
  --color-card-insurance-product-card-details: var(--color-text-neutral-secondary);
  --color-card-insurance-product-card-background-mobility: var(--color-background-brand-mobilty-light);
  --color-card-insurance-product-card-background-property: var(--color-background-brand-property-light);
  --color-card-insurance-product-card-background-welfare: var(--color-background-brand-welfare-light);
  --color-card-quote-tool-card-text: var(--color-text-default-primary);
  --color-card-quote-tool-card-summary-background: var(--color-background-default-secondary);
  --color-card-quote-tool-card-bundle-background: var(--color-null-000);
  --color-card-quote-tool-card-bundle-border: var(--color-border-neutral-primary);
  --color-card-quote-tool-card-bundle-secondary-text: var(--color-text-neutral-secondary);
  --color-card-photo-card-title: var(--color-text-default-primary);
  --color-card-text-card-body-gray: var(--color-text-neutral-primary);
  --color-card-text-card-icon-background: var(--color-background-default-primary);
  --color-card-text-card-icon: var(--color-icon-default-primary);
  --color-card-user-review-background: var(--color-background-default-secondary);
  --color-card-user-review-body: var(--color-text-default-primary);
  --color-card-user-review-description: var(--color-text-neutral-secondary);
  --color-card-warranty-card-background: var(--color-background-default-secondary);
  --color-card-warranty-card-background-mobilty: var(--color-background-brand-mobilty-light);
  --color-card-warranty-card-background-welfare: var(--color-background-brand-welfare-light);
  --color-card-warranty-card-background-property: var(--color-background-brand-property-light);
  --color-card-warranty-card-background-icon-mobility: var(--color-background-default-secondary);
  --color-card-warranty-card-title: var(--color-text-default-primary);
  --color-card-warranty-card-body: var(--color-text-default-primary);
  --color-card-warranty-card-background-icon: var(--color-background-brand-mobilty-light);
  --color-card-warranty-card-icon-mobility: var(--color-icon-brand-mobility);
  --color-card-warranty-card-icon-welfare: var(--color-icon-brand-welfare);
  --color-card-warranty-card-icon-property: var(--color-icon-brand-property);
  --color-category-chips-mobility-background: var(--color-background-brand-mobilty-light);
  --color-category-chips-mobility-icon: var(--color-icon-default-primary);
  --color-category-chips-mobility-text: var(--color-text-default-primary);
  --color-category-chips-property-background: var(--color-background-brand-property-light);
  --color-category-chips-property-icon: var(--color-icon-default-primary);
  --color-category-chips-property-text: var(--color-text-default-primary);
  --color-category-chips-welfare-background: var(--color-background-brand-welfare-light);
  --color-category-chips-welfare-icon: var(--color-icon-default-primary);
  --color-category-chips-welfare-text: var(--color-text-default-primary);
  --color-map-pin-background-pin: var(--color-background-default-tertiary);
  --color-map-pin-text: var(--color-text-default-primary);
  --color-map-pin-icon: var(--color-icon-neutral-tertiary);
  --color-map-pin-background-card: var(--color-background-default-secondary);
  --color-map-pin-border-card: var(--color-border-neutral-primary);
  --color-mini-banner-background: var(--color-background-default-tertiary);
  --color-mini-banner-text: var(--color-text-neutral-tertiary);
  --color-score-text: var(--color-text-default-primary);
  --color-score-line: var(--color-border-neutral-secondary);
  --color-switch-label-default-text: var(--color-text-default-primary);
  --color-switch-label-default-background: var(--color-null-000);
  --color-switch-label-active-text: var(--color-text-default-primary);
  --color-switch-label-active-background: var(--color-background-default-primary);
  --color-table-cell-text: var(--color-text-default-primary);
  --color-table-cell-mobility-icon-mobility: var(--color-icon-brand-mobility);
  --color-table-cell-mobility-text-mobility: var(--color-text-brand-mobility);
  --color-table-header-text: var(--color-text-default-primary);
  --color-table-row-header-row-header: var(--color-background-default-secondary);
  --color-table-row-text-row-white: var(--color-background-default-secondary);
  --color-table-row-text-row-light-gray: var(--color-background-neutral-primary);
  --color-text-banner-background: var(--color-background-default-secondary);
  --color-text-banner-text: var(--color-text-default-primary);
  --color-text-switch-background: var(--color-background-neutral-secondary);
  --color-table-cell-welfare-icon-welfare: var(--color-icon-brand-welfare);
  --color-table-cell-welfare-text-welfare: var(--color-text-brand-welfare);
  --color-table-cell-property-icon-property: var(--color-icon-brand-property);
  --color-table-cell-property-text-property: var(--color-text-brand-property);
  --color-table-row-button-row-background: var(--color-background-default-secondary);
  --color-contact-tool-background: var(--color-background-default-primary);
  --color-contact-tool-text: var(--color-text-default-primary);
  --color-data-table-widget-background-mobility: var(--color-background-brand-mobilty-light);
  --color-data-table-widget-background-welfare: var(--color-background-brand-welfare-light);
  --color-data-table-widget-background-property: var(--color-background-brand-property-light);
  --color-faq-widget-text-color: var(--color-text-default-primary);
  --color-footer-background: var(--color-background-default-tertiary);
  --color-footer-primary-text: var(--color-text-neutral-tertiary);
  --color-footer-secondary-text: var(--color-text-neutral-primary);
  --color-footer-primary-border: var(--color-border-default-tertiary);
  --color-footer-secondary-border: var(--color-border-neutral-tertiary);
  --color-footer-icon: var(--color-icon-neutral-tertiary);
  --color-header-background: var(--color-background-opacity-primary);
  --color-header-icon: var(--color-icon-default-primary);
  --color-hero-full-screen-text-color: var(--color-text-neutral-tertiary);
  --color-hero-mini-hero-text-color: var(--color-text-neutral-tertiary);
  --color-hero-blog-text-color: var(--color-text-neutral-tertiary);
  --color-quote-tool-full-quote-tool-background: var(--color-background-default-primary);
  --color-quote-tool-text: var(--color-text-default-primary);
  --color-legal-info-widget-text: var(--color-text-default-primary);
  --color-carousel-widget-benefit-background-color: var(--color-background-default-tertiary);
  --color-quote-tool-single-quote-tool-background: var(--color-background-default-secondary);
  --color-accordion-footer-border: var(--color-border-disabled-secondary);
  --color-accordion-footer-title: var(--color-text-default-primary);
  --color-accordion-footer-link: var(--color-text-default-primary);
  --color-accordion-footer-icon: var(--color-icon-default-primary);
  --color-switch-label-active-dot-backgroung: var(--color-background-default-tertiary);
}