/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --size-icon-100-16: 16px;
  --size-icon-200-20: 20px;
  --size-icon-300-24: 24px;
  --size-icon-400-32: 32px;
  --size-icon-500-40: 40px;
}