/* section Unipol Footer */
footer {
    background-color: var(--color-background-default-tertiary);
    margin: auto;
    max-width: 100%;
}

footer .footer > div {
    padding: 48px 64px; /* var(--Space-700-48) var(--Space-900-64); */
}

footer .footer p {
  margin: 0;
}

/* Tablet */
@media (width >= 768px) and (width <= 1279px) {
    footer .footer > div {
        padding: 48px 32px; /* cambiare */
    }
}

/* Mobile */
@media (width >= 375px) and (width <= 767px) {
    footer .footer > div {
        padding: 32px 16px; /* cambiare */
    }
}

/* Mobile */
@media (width <= 374px) {
    footer .footer > div {
        padding: 32px 16px; /* cambiare */
    }
}
