/* section Unipol Footer */
footer {
    background-color: var(--color-background-default-tertiary);
    margin: auto;
    max-width: 100%;
}

footer .footer > div {
    padding: 48px 64px; /* var(--Space-700-48) var(--Space-900-64); */
}

footer .footer p {
  margin: 0;
}

.footer-text-list-container {
    display: flex;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1279px) {
    footer .footer > div {
        padding: 48px 32px; /* cambiare */
    }
}

/* Mobile */
@media (min-width: 375px) and (max-width: 767px) {
    footer .footer > div {
        padding: 32px 16px; /* cambiare */
    }
}

/* Mobile */
@media (max-width: 374px) {
    footer .footer > div {
        padding: 32px 16px; /* cambiare */
    }
}
