/* section Unipol Footer */
footer {
    background-color: var(--Background-Default-Tertiary);
    margin: auto;
    max-width: 100%;
}

.footer .unipol-footer {
    background-color: var(--Background-Default-Tertiary);
    padding: var(--Footer-Vertical-Padding-D-Tl, 48px) var(--Footer-Horizontal-Padding-D, 64px);
    font-family: var(--Family-Font-2, Manrope);
}

footer .footer p {
  margin: 0;
}

/* Tablet */
@media (width >= 768px) and (width < 1280px) {
    footer .footer > div {
        padding: var(--Footer-Vertical-Padding-D-Tl, 48px) var(--Footer-Horizontal-Padding-Tl, 32px);
    }
}

/* Mobile */
@media (width < 768px) {
    footer .footer > div {
        padding: var(--Footer-Vertical-Padding-M-Tp, 32px)  var(--Footer-Horizontal-Padding-M-Tp, 16px);
    }
}
