/* section Unipol Footer */
footer {
    background-color: var(--color-background-default-tertiary);
    margin: auto;
    max-width: 100%;
}

footer .footer > div {
    padding: 48px 64px; /* var(--Space-700-48) var(--Space-900-64); */
}

footer .footer p {
  margin: 0;
}
