/* Base styles (Mobile first) */
.text-block {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--Text-Block-Centered-Gap, 2rem);
  align-self: stretch;
}

.text-block-title {
  margin: 0 0 16px;
  color: var(--Text-Block-Title, #001C35);
  font-family: var(--Family-Font-1);
  font-size: var(--Size-32, 2rem);
  font-weight: 550;
  line-height: 115%;
  letter-spacing: -0.02rem;
}

.text-block-text {
  max-width: 800px;
  margin: 0 auto 24px;
  color: var(--Text-Block-Body, #001C35);
  font-family: var(--Family-Font-2);
  font-size: var(--Size-16);
  font-weight: 400;
  line-height: 1.4rem;
  word-break: break-all;
}

.text-block-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.text-block-button .btn {
  flex-shrink: 0;
}

.text-block.text-block-left .text-block-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-block.text-block-left .text-block-title {
  margin: 0;
}

.text-block.text-block-left .text-block-text {
  display: none;
}

/* Tablet */
@media (width >= 768px) and (width <= 1280px) {
  .text-block {
    padding: 36px 20px;
  }

  .text-block-title {
    font-size: var(--Size-40, 2.5 rem);
  }
}

/* Desktop */
@media (width >= 1281px) {
      .text-block {
        padding: 40px 24px;
      }

    .text-block-title {
        margin-bottom: 24px;
        font-size: var(--Font-Size-Title-Page, 3rem);
        line-height: 3.45rem;
        letter-spacing: -0.03rem;
    }

   .text-block-text {
     margin-bottom: 32px;
   }

  .text-block-button {
    margin-top: 0;
  }
}

/* Accessibility */
.text-block:focus-within {
  outline: 2px solid var(--Text-Block-Title, #007acc);
  outline-offset: 2px;
}
