.section.text-block-container.number-block-container {
    display: flex;
    flex-direction: column;
    gap: var(--Kpi-Highlights-Widget-Gap-M-Tp, 40px);
}

/* Base styles (Mobile first) */
.text-block-wrapper {
    width: 100%;
    margin: auto;

    .text-block-cont {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--Text-Block-Centered-Gap, 2rem);
        align-self: stretch;

        .text-block-title {
            color: var(--Text-Block-Title, #001c35);
            font-family: var(--Family-Font-1);
            font-size: var(--Size-32, 2rem);
            font-weight: 550;
            line-height: 115%;
            letter-spacing: -0.02rem;
        }

        .text-block-text {
            max-width: 800px;
            color: var(--Text-Block-Body, #001c35);
            font-family: var(--Family-Font-2);
            font-size: var(--Size-16);
            font-weight: 400;
            line-height: 1.4rem;
            word-break: break-all;
        }

        .text-block-button {
            display: flex;
            justify-content: center;

            .btn {
                flex-shrink: 0;
            }
        }

        &.text-block-left {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .text-block-text {
                display: none;
            }
        }
    }
}

/* Accessibility */
.text-block:focus-within {
    outline: 2px solid var(--Text-Block-Title, #007acc);
    outline-offset: 2px;
}

/* Tablet */
@media (width >= 768px) {
    .section.text-block-container.number-block-container {
        gap: var(--Kpi-Highlights-Widget-Gap-D-Ds, 56px);
    }
}

/* Desktop small */
@media (width >= 1152px) {
    .text-block-wrapper {
        .text-block-title {
            font-size: var(--Size-40, 2.5rem);
            line-height: 115%;
            letter-spacing: -0.4px;
        }
    }
}

/* Desktop */
@media (width >= 1312) {
    .text-block-wrapper {
        .text-block-title {
            font-size: var(--Font-Size-Title-Page, 3rem);
            line-height: 3.45rem;
            letter-spacing: -0.03rem;
        }
    }
}
