/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Base tokens */
@import url("./index.css");

/* Icons */
@import url("./icons.css");

body * {
    box-sizing: border-box;
}

body {
    display: none;
    margin: 0;
    font: var(--Text-Styles-Body-Base);
    line-height: 1.6;
}

body.appear {
    display: block;
}

header {
    height: var(--Header-Height, 64px);
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
    visibility: visible;
}

button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    line-height: inherit;
}

p,
input,
ul,
ol,
dl,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

main .section.text-block-container.number-block-container {
    margin: 0;
}

main .section.text-block-container.number-block-container.bg-dark-gray {
    background-color: var(--Grayscale-50);
}

main .section.text-block-container.number-block-container.bg-white {
    background-color: var(--Neutral-50);
}

/* Unipol Footer Section */
main .section.footer-download-section-container ,
main .section.footer-privacy-section-container ,
main .section.footer-social-section-container ,
main .section.footer-copyright-section-container {
    background-color: var(--Background-Default-Tertiary, #001C35);
    font-family: var(--Family-Font-2, Manrope);
    padding: var(--Footer-Vertical-Padding-D-Tl, 48px) var(--Footer-Horizontal-Padding-D, 64px);
    display:flex;
    width:100%;
    flex-wrap: wrap;
}

main .section.footer-download-section-container .text-list-wrapper,
main .section.footer-privacy-section-container .text-list-wrapper,
main .section.footer-social-section-container .text-list-wrapper,
main .section.footer-copyright-section-container .text-list-wrapper {
    width: 12%;
}

main .section.footer-privacy-section-container .footer-download-section-wrapper {
    width: 50%;
}

main .section.footer-privacy-section-container .footer-download-section-wrapper .footer-download-section {
    margin-left: auto;
}

main .section.footer-privacy-section-container .footer-privacy-section-wrapper {
    width: 50%;
}

main .section.footer-social-section-container .footer-social-section-wrapper {
    width: 50%;
}

main .section.footer-copyright-section-container .footer-copyright-section-wrapper {
    width: 100%;
}

main .section.text-list-container.footer-download-section-container .text-link-title ,
main .section.text-list-container.footer-download-section-container .text-link {
    color: var(--Footer-Primary-Text, #F9F9F7);
}

/* Tablet */
@media (width >= 768px) and (width < 1280px) {
    main .section.footer-download-section-container ,
    main .section.footer-privacy-section-container ,
    main .section.footer-social-section-container ,
    main .section.footer-copyright-section-container {
        padding: var(--Footer-Vertical-Padding-D-Tl, 48px) var(--Footer-Horizontal-Padding-Tl, 32px);
    }
}

/* Mobile */
@media (width < 768px) {
    main .section.footer-download-section-container ,
    main .section.footer-privacy-section-container ,
    main .section.footer-social-section-container ,
    main .section.footer-copyright-section-container {
        padding: var(--Footer-Vertical-Padding-M-Tp, 32px)  var(--Footer-Horizontal-Padding-M-Tp, 16px);
    }

    main .section.footer-download-section-container .text-list-wrapper,
    main .section.footer-privacy-section-container .text-list-wrapper,
    main .section.footer-social-section-container .text-list-wrapper,
    main .section.footer-copyright-section-container .text-list-wrapper {
        width: 50%;
    }

    main .section.footer-download-section-container .footer-download-section-wrapper {
        width: 100%;
        margin-left: unset;
    }

    main .section.footer-privacy-section-container .footer-privacy-section-wrapper {
        width: 100%;
    }

    main .section.footer-social-section-container .footer-social-section-wrapper {
        width: 100%;
    }
}

@media (width < 365px) {
    main .section.footer-download-section-container .text-list-wrapper,
    main .section.footer-privacy-section-container .text-list-wrapper,
    main .section.footer-social-section-container .text-list-wrapper,
    main .section.footer-copyright-section-container .text-list-wrapper {
        width: 100%;
    }
}
