/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Base tokens */
@import url("./index.css");

/* cssTokens tokens */
@import url("./cssTokens/string.css");
@import url("./cssTokens/dimension.css");
@import url("./cssTokens/border-radius.css");
@import url("./cssTokens/border-width.css");
@import url("./cssTokens/size.css");
@import url("./cssTokens/font-family.css");
@import url("./cssTokens/font-size.css");
@import url("./cssTokens/font-weight.css");
@import url("./cssTokens/color.css");
@import url("./cssTokens/typography.css");
@import url("./cssTokens/gradient.css");
@import url("./cssTokens/shadow.css");
@import url("./cssTokens/blur.css");

/* Icons */
@import url("./icons.css");

body * {
    box-sizing: border-box;
}

body {
    display: none;
    margin: 0;
    font: var(--Text-Styles-Body-Base);
    line-height: 1.6;
}

body.appear {
    display: block;
}

header {
    height: var(--Header-Height, 64px);
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
    visibility: visible;
}

button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    line-height: inherit;
}

p,
input,
ul,
ol,
dl,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

main .section.text-block-container.number-block-container {
    margin: 0;
}

main .section.text-block-container.number-block-container.bg-dark-gray {
    background-color: var(--color-grayscale-50);
}

main .section.text-block-container.number-block-container.bg-white {
    background-color: var(--color-neutral-50);
}

/* Section Unipol footer */
.section.footer-download-link-container,
.section.footer-privacy-link-list-container,
.section.footer-social-list-container,
.section.footer-text-container,
.footer-text p {
    background-color: var(--color-background-default-tertiary);
    margin: 0;
    font-family: var(--Family-Font-2);
}

.section.text-list-container.footer-download-link-container {
    height: 270px;
}

.section.footer-privacy-link-list-container.footer-social-list-container {
    border-bottom: 1px solid #63727d;
    padding-top: 80px; /* var(--Space-1000-80) */
    padding-bottom: 24px; /* var(--Space-400-24) */
}

.section.text-list-container.footer-download-link-container,
.section.footer-privacy-link-list-container.footer-social-list-container {
    display: flex;
    flex-wrap: nowrap;
}

.section.text-list-container h1,
.section.text-list-container h2,
.section.text-list-container h3,
.section.text-list-container h4,
.section.text-list-container h5,
.section.text-list-container h6,
.section.text-list-container p,
.section.text-list-container a,
.section.text-list-container p.button-container {
    color: #001c35;
}

.section.text-list-container.footer-download-link-container h1,
.section.text-list-container.footer-download-link-container h2,
.section.text-list-container.footer-download-link-container h3,
.section.text-list-container.footer-download-link-container h4,
.section.text-list-container.footer-download-link-container h5,
.section.text-list-container.footer-download-link-container h6,
.section.text-list-container.footer-download-link-container p,
.section.text-list-container.footer-download-link-container a,
.section.text-list-container.footer-download-link-container p.button-container {
    color: #f9f9f7;
}

@media (width < 768px) {
    .section.text-list-container.footer-download-link-container {
        height: fit-content;
        flex-wrap: wrap;
    }

    .section.text-list-container.footer-download-link-container
        .footer-download-link-wrapper:last-child {
        flex-basis: 100%;
    }
}
