/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Base tokens */
@import url("./index.css");

/* cssTokens tokens */
@import url("./cssTokens/string.css");
@import url("./cssTokens/dimension.css");
@import url("./cssTokens/border-radius.css");
@import url("./cssTokens/border-width.css");
@import url("./cssTokens/size.css");
@import url("./cssTokens/font-family.css");
@import url("./cssTokens/font-size.css");
@import url("./cssTokens/font-weight.css");
@import url("./cssTokens/color.css");
@import url("./cssTokens/typography.css");
@import url("./cssTokens/gradient.css");
@import url("./cssTokens/shadow.css");
@import url("./cssTokens/blur.css");

/* Icons */
@import url("./icons.css");

:root {
    /* colors */
    --background-color: white;
    --light-color: #f8f8f8;
    --dark-color: #505050;
    --text-color: #131313;
    --link-color: #3b63fb;
    --link-hover-color: #1d3ecf;

    /* fonts */
    --body-font-family: var(--font-family-font-2), arial, sans-serif; /* Manrope primary */
    --heading-font-family: var(--font-family-font-2), var(--font-family-font-1),
        arial, sans-serif; /* Manrope primary, Apex New prepared */

    /* body sizes */
    --body-font-size-m: 22px;
    --body-font-size-s: 19px;
    --body-font-size-xs: 17px;

    /* heading sizes */
    --heading-font-size-xxl: 55px;
    --heading-font-size-xl: 44px;
    --heading-font-size-l: 34px;
    --heading-font-size-m: 27px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
}

@media (width >= 900px) {
    :root {
        /* body sizes */
        --body-font-size-m: 18px;
        --body-font-size-s: 16px;
        --body-font-size-xs: 14px;

        /* heading sizes */
        --heading-font-size-xxl: 45px;
        --heading-font-size-xl: 36px;
        --heading-font-size-l: 28px;
        --heading-font-size-m: 22px;
        --heading-font-size-s: 20px;
        --heading-font-size-xs: 18px;
    }
}

body * {
    box-sizing: border-box;
}

body {
    display: none;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font: var(--typography-text-styles-body-base);
    line-height: 1.6;
}

body.appear {
    display: block;
}

header {
    height: var(--dimension-header-height);
}

header .header,
footer .footer {
    visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
    visibility: visible;
}

p, input, ul, ol, dl, blockquote {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.8em;
    margin-bottom: 0.25em;
    font-family: var(--heading-font-family);
    font-weight: 600;
    line-height: 1.25;
    scroll-margin: 40px;
}

h1 {
    font-size: var(--heading-font-size-xxl);
}

h2 {
    font-size: var(--heading-font-size-xl);
}

h3 {
    font-size: var(--heading-font-size-l);
}

h4 {
    font-size: var(--heading-font-size-m);
}

h5 {
    font-size: var(--heading-font-size-s);
}

h6 {
    font-size: var(--heading-font-size-xs);
}

/* section metadata */
main .section.light,
main .section.highlight {
    background-color: var(--light-color);
    margin: 0;
    padding: 40px 0;
}

main .section.text-block-container.number-block-container {
    margin: 0;
}

main .section.text-block-container.number-block-container.bg-dark-gray {
    background-color: var(--color-grayscale-50);
}

main .section.text-block-container.number-block-container.bg-white {
    background-color: var(--color-neutral-50);
}

.section.text-list-colonna-1-container,
.section.footer-download-link-container,
.section.footer-privacy-link-list-container,
.section.footer-social-list-container,
.section.footer-text-container {
    background-color: var(--color-background-default-tertiary);
    margin: 0;
    font-family: var(--Family-Font-2);
}


.section.text-list-container .unipol-top-footer,
.section.footer-download-link-container .unipol-top-footer {
    display: flex;
    color: #F9F9F7;
}

.section.text-list-container .unipol-top-footer a,
.section.footer-download-link-container .unipol-top-footer a {
    color: #F9F9F7;
}
