.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;

    /* Fix of Webkit flickering */
    z-index: 1;
    display: block;
    height: 100%;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: stretch;
    transition-property: transform;
    transition-timing-function: var(
        --swiper-wrapper-transition-timing-function,
        initial
    );
    box-sizing: content-box;
    transform: translate3d(0, 0, 0);
}

.swiper-horizontal {
    touch-action: pan-y;
}

.swiper-vertical {
    touch-action: pan-x;
}

.swiper-slide {
    flex-shrink: 0;
    flex-grow: 0;
    height: auto;
    position: relative;
    transition-property: transform;
    display: flex;
    flex-direction: column;
}

/* Swiper creates these duplicate slides for seamless looping */
.swiper-slide-duplicate {
    flex-shrink: 0;
    flex-grow: 0;
    height: auto;
    position: relative;
}

/* Prevent flickering during transforms */
.swiper-slide,
.swiper-slide-duplicate {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
