.section.header-logo-container ,
.sectionheader-navigation-section-container ,
.sectionheader-utilities-section-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: var(--Header-Vertical-Padding-M-Tp, 24px); var(--Header-Horizontal-Padding-D-Ds, 24px);
    width: 100%;
    z-index: 2;
}
