body main .section.header-logo-container,
body main .section.header-navigation-section-container,
body main .section.header-utilities-section-container {
    margin-top: 100px;
    background: #00000080;
    position: relative;
}

body main .section.header-logo-container,
body main .section.header-navigation-section-container,
body main .section.header-utilities-section-container,
body .header .section.header-logo-container,
body .header .sectionheader-navigation-section-container,
body .header .sectionheader-utilities-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-inline: 0;
    padding-block: 0;
    padding: var(--Header-Vertical-Padding-M-Tp, 24px); var(--Header-Horizontal-Padding-D-Ds, 24px);
    width: 100%;
    z-index: 2;
    padding-bottom: 0 !important;
}

@media (width <= 1200px) {
    body main .section.header-navigation-section-container .navigation-pill-container {
        margin-bottom: 60px;
    }
}
