.footer-privacy-section-wrapper {
    margin-right: auto;
}

.footer-privacy-section-wrapper .footer-privacy-section {
    display: flex;
    gap: var(--Footer-Secondary-Link-Horizontal-Gap-D-Tl-Tp, 32px);
}

.footer-privacy-section-wrapper .footer-privacy-section .footer-privacy-link {
    color: var(--color-footer-primary-text, #F9F9F7);
    text-decoration: none;
    font-size: var(--Size-14, 14px);
    font-weight: 400;
}
