.footer-privacy-section-wrapper {
    margin-right: auto;
}

.footer-privacy-section-wrapper .footer-privacy-section {
    display: flex;
    gap: var(--Space-500-32);
}

.footer-privacy-section-wrapper .footer-privacy-section a {
    color: #F9F9F7; /* cambiare */
    text-decoration: none;
    font-size: var(--Size-14, 14px);
    font-weight: 400;
}
