/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-tablet {
  /* Bg/Utilities/Scrim */
  --Background-Utilities-Scrim: #ffffffcc;
  /* Bg/Utilities/Overlay */
  --Background-Utilities-Overlay: #00000080;
  /* Bg/Utilities/Blanket */
  --Background-Utilities-Blanket: #000000b2;
  --Text-Utilities-Text-On-Measurement: #8a226f;
  --Icon-Default-Tertiary: #bfc7cd;
  --Icon-Utilities-Icon-On-Measurement: #8a226f;
  --Icon-Utilities-Icon: #d732a8;
  --Border-Utilities-Measurement: #f19edc;
  --Border-Utilities-Swatch: #0000003d;
  --Brand-50: #e5f3ff;
  --Accent-50: #ebebff;
  --Accent-100: #cdcdff;
  --Accent-200: #9a9afe;
  --Accent-300: #6868fd;
  --Accent-400: #3535fd;
  --Accent-500: #0303f5;
  --Accent-600: #0202ca;
  --Accent-700: #020297;
  --Accent-800: #010165;
  --Accent-900: #010132;
  --Brand-100: #cce7ff;
  --Brand-200: #99cfff;
  --Brand-300: #66b8ff;
  --Brand-400: #33a0ff;
  --Brand-500: #006dcc;
  --Brand-600: #005299;
  --Brand-700: #003666;
  --Brand-800: #001c35;
  --Brand-900: #000e1a;
  --Blue-50: #f0f7ff;
  --Blue-100: #e5f1ff;
  --Blue-200: #add2ff;
  --Blue-300: #70b1ff;
  --Blue-400: #3d95ff;
  --Blue-500: #0073ff;
  --Blue-600: #0050b4;
  --Blue-700: #00408f;
  --Blue-800: #00295c;
  --Blue-900: #001b3d;
  --Green-50: #f5fbf3;
  --Green-100: #ebf8e7;
  --Green-200: #dff3d8;
  --Green-300: #bee8b0;
  --Green-400: #9edc89;
  --Green-500: #7ed062;
  --Green-600: #50ab33;
  --Green-700: #4b9d2f;
  --Green-800: #3c7e25;
  --Green-900: #254f17;
  --Orange-50: #fef4f1;
  --Orange-100: #fdede7;
  --Grayscale-50: #f6f7f8;
  --Grayscale-100: #f1f3f4;
  --Grayscale-200: #dfe2e5;
  --Grayscale-300: #d1d7db;
  --Grayscale-400: #bfc7cd;
  --Grayscale-500: #a4afb7;
  --Grayscale-600: #82909c;
  --Grayscale-700: #63727d;
  --Grayscale-800: #414b53;
  --Grayscale-900: #21272b;
  --Neutral-50: #ffffff;
  --Neutral-100: #fdfdfc;
  --Neutral-200: #f9f9f7;
  --Neutral-300: #f4f4f0;
  --Neutral-400: #edede8;
  --Neutral-500: #e7e7df;
  --Neutral-600: #e0e0d6;
  --Neutral-700: #d3d3c5;
  --Neutral-800: #c8c8b6;
  --Neutral-900: #b4b49c;
  --Orange-200: #fcdccf;
  --Orange-300: #f8b9a0;
  --Orange-400: #f59670;
  --Orange-500: #f27340;
  --Orange-600: #e84e10;
  --Orange-700: #c9430e;
  --Orange-800: #8f300a;
  --Orange-900: #5f2007;
  --Feedback-Error-100: #ec5f66;
  --Feedback-Error-200: #ce1821;
  --Feedback-Error-300: #720d12;
  --Black-100: #0000000d;
  --Black-200: #0000001a;
  --Black-300: #00000033;
  --Black-400: #00000066;
  --Black-500: #00000080;
  --Black-600: #00000099;
  --Black-700: #000000cc;
  --Black-800: #000000d9;
  --Black-900: #000000e5;
  --Black-1000: #000000f2;
  --Black-1100: #000000;
  --White-100: #ffffff0d;
  --White-200: #ffffff1a;
  --White-300: #ffffff33;
  --White-400: #ffffff66;
  --White-500: #ffffff80;
  --White-600: #ffffffa6;
  --White-700: #ffffffcc;
  --White-800: #ffffffd9;
  --White-900: #ffffffe5;
  --White-1000: #fffffff2;
  --White-1100: #ffffff;
  --Null-000: #11111100;
  --Feedback-Warning-100: #f7a455;
  --Feedback-Warning-200: #f48621;
  --Feedback-Warning-300: #924a07;
  --Feedback-Success-100: #6ae29e;
  --Feedback-Success-200: #156b3a;
  --Feedback-Success-300: #0a341c;
  --Pagination-Current-Text: #e5f3ff;
  --Pagination-Current-Hover-Text: #e5f3ff;
  --Text-Block-On-Brand-Text: #e5f3ff;
  --Tab-Unselect-Text: #bfc7cd;
  --Text-Block-On-Brand-Title: #e5f3ff;
  --Prova: #ffffff;
  /* Bg/Default/Default */
  --Background-Default-Primary: var(--Neutral-200);
  /* Bg/Default/Default */
  --Background-Default-Secondary: var(--Neutral-50);
  /* Bg/Default/Tertiary */
  --Background-Default-Tertiary: var(--Brand-800);
  /* Bg/Default/Tertiary */
  --Background-Default-Accent-Fixed: var(--Accent-500);
  /* Bg/Default/Tertiary */
  --Background-Default-Accent-Light: var(--Accent-50);
  /* Bg/Default/Default Hover */
  --Background-Default-Accent-Hover: var(--Accent-100);
  /* Bg/Default/Tertiary Hover */
  --Background-Default-Tertiary-Hover: var(--Brand-600);
  /* Bg/Brand/Default */
  --Background-Brand-Mobilty-Light: var(--Blue-100);
  /* Bg/Brand/Secondary */
  --Background-Brand-Mobilty-Strong: var(--Blue-600);
  /* Bg/Brand/Hover */
  --Background-Brand-Welfare-Light: var(--Green-100);
  /* Bg/Brand/Hover */
  --Background-Brand-Welfare-Strong: var(--Green-800);
  /* Bg/Brand/Hover */
  --Background-Brand-Property-Light: var(--Orange-100);
  /* Bg/Brand/Hover */
  --Background-Brand-Property-Strong: var(--Orange-700);
  /* Bg/Positive/Default */
  --Background-Success-Default: var(--Feedback-Success-100);
  /* Bg/Positive/Secondary */
  --Background-Success-Secondary: var(--Feedback-Success-200);
  /* Bg/Positive/Tertiary */
  --Background-Success-Tertiary: var(--Feedback-Success-300);
  /* Bg/Warning/Default */
  --Background-Warning-Default: var(--Feedback-Warning-100);
  /* Bg/Warning/Secondary */
  --Background-Warning-Secondary: var(--Feedback-Warning-200);
  /* Bg/Warning/Tertiary */
  --Background-Warning-Tertiary: var(--Feedback-Warning-300);
  /* Bg/Danger/Default */
  --Background-Error-Default: var(--Feedback-Error-100);
  /* Bg/Danger/Secondary */
  --Background-Error-Secondary: var(--Feedback-Error-200);
  /* Bg/Danger/Tertiary */
  --Background-Error-Tertiary: var(--Feedback-Error-300);
  /* Bg/Disabled/Default */
  --Background-Disabled-Primary: var(--Grayscale-200);
  /* Bg/Disabled/Default */
  --Background-Disabled-Secondary: var(--Grayscale-500);
  /* Bg/Neutral/Secondary */
  --Background-Neutral-Primary: var(--Grayscale-50);
  /* Bg/Neutral/Default */
  --Background-Neutral-Secondary: var(--Grayscale-200);
  /* Bg/Neutral/Tertiary */
  --Background-Neutral-Tertiary: var(--Grayscale-400);
  --Text-Default-Primary: var(--Brand-800);
  --Text-Default-Accent: var(--Accent-500);
  --Text-Default-Secondary: var(--Brand-600);
  --Text-Brand-Mobility: var(--Blue-600);
  --Text-Brand-Welfare: var(--Green-800);
  --Text-Brand-Property: var(--Orange-700);
  --Text-Success-Default: var(--Feedback-Success-200);
  --Text-Success-Secondary: var(--Feedback-Success-300);
  --Text-Warning-Default: var(--Feedback-Warning-200);
  --Text-Warning-Secondary: var(--Feedback-Warning-300);
  --Text-Error-Default: var(--Feedback-Error-200);
  --Text-Error-Secondary: var(--Feedback-Error-300);
  --Text-Disabled-Primary: var(--Grayscale-500);
  --Text-Disabled-Secondary: var(--Grayscale-700);
  --Text-Disabled-Tertiary: var(--Grayscale-800);
  --Text-Utilities-Text-On-Overlay: var(--Black-1100);
  --Text-Neutral-Primary: var(--Grayscale-500);
  --Text-Neutral-Secondary: var(--Grayscale-700);
  --Text-Neutral-Tertiary: var(--Neutral-200);
  --Icon-Default-Primary: var(--Brand-800);
  --Icon-Default-Secondary: var(--Brand-600);
  --Icon-Brand-Mobility: var(--Blue-600);
  --Icon-Brand-Welfare: var(--Green-800);
  --Icon-Brand-Property: var(--Orange-600);
  --Icon-Success-Primary: var(--Feedback-Success-200);
  --Icon-Success-Secondary: var(--Feedback-Success-300);
  --Icon-Warning-Primary: var(--Feedback-Warning-200);
  --Icon-Warning-Secondary: var(--Feedback-Warning-300);
  --Icon-Error-Primary: var(--Feedback-Error-200);
  --Icon-Error-Secondary: var(--Feedback-Error-300);
  --Icon-Disabled-Primary: var(--Grayscale-500);
  --Icon-Disabled-Secondary: var(--Grayscale-700);
  --Icon-Disabled-Tertiary: var(--Grayscale-800);
  --Icon-Neutral-Primary: var(--Grayscale-500);
  --Icon-Neutral-Secondary: var(--Grayscale-700);
  --Icon-Neutral-Tertiary: var(--Neutral-200);
  --Border-Default-Primary: var(--Brand-800);
  --Border-Default-Accent: var(--Accent-500);
  --Border-Default-Secondary: var(--Brand-600);
  --Border-Default-Focused: var(--Brand-200);
  --Border-Brand-Mobility: var(--Blue-400);
  --Border-Brand-Welfare: var(--Green-400);
  --Border-Brand-Property: var(--Orange-400);
  --Border-Success-Primary: var(--Feedback-Success-200);
  --Border-Success-Secondary: var(--Feedback-Success-300);
  --Border-Warning-Primary: var(--Feedback-Warning-200);
  --Border-Warning-Secondary: var(--Feedback-Warning-300);
  --Border-Error-Primary: var(--Feedback-Error-200);
  --Border-Error-Secondary: var(--Feedback-Error-300);
  --Border-Disabled-Primary: var(--Grayscale-500);
  --Border-Disabled-Secondary: var(--Grayscale-700);
  --Border-Neutral-Primary: var(--Grayscale-200);
  --Border-Neutral-Secondary: var(--Grayscale-600);
  /* Bg/Neutral/Default */
  --Background-Opacity-Primary: var(--White-600);
  /* Bg/Neutral/Secondary */
  --Background-Opacity-Secondary: var(--Black-400);
  /* Bg/Neutral/Tertiary */
  --Background-Opacity-Tertiary: var(--Black-500);
  --Ai-Icon-Background: var(--Background-Default-Accent-Light);
  /* Bg/Default/Secondary */
  --Background-Default-Secondary-Fixed: var(--Neutral-50);
  --Accordion-Background-Closed: var(--Background-Default-Secondary-Fixed);
  --Accordion-Background-Open: var(--Background-Default-Secondary-Fixed);
  --Accordion-Border-Open: var(--Null-000);
  --Accordion-Border-Close: var(--Null-000);
  --Accordion-Title-Open: var(--Text-Default-Primary);
  --Accordion-Description-Open: var(--Text-Default-Primary);
  --Accordion-Title-Close: var(--Text-Default-Primary);
  --Accordion-Icon-Open: var(--Icon-Default-Primary);
  --Accordion-Icon-Closed: var(--Icon-Default-Primary);
  --Avatar-Background: var(--Background-Default-Primary);
  --Avatar-Border: var(--Background-Default-Primary);
  --Text-Block-Title: var(--Text-Default-Primary);
  --Avatar-Text: var(--Text-Block-Title);
  --Button-Primary-Default-Background: var(--Background-Default-Tertiary);
  --Button-Primary-Default-Border: var(--Border-Default-Primary);
  --Button-Primary-Default-Text: var(--Text-Neutral-Tertiary);
  --Button-Primary-Default-Icon-Color: var(--Icon-Neutral-Tertiary);
  --Button-Primary-Hover-Background: var(--Background-Default-Tertiary-Hover);
  --Button-Primary-Hover-Border: var(--Null-000);
  --Button-Primary-Hover-Text: var(--Text-Neutral-Tertiary);
  --Button-Primary-Hover-Icon-Color: var(--Icon-Neutral-Tertiary);
  --Button-Primary-Disabled-Background: var(--Background-Disabled-Primary);
  --Button-Primary-Focused-Background: var(--Background-Default-Tertiary);
  --Button-Primary-Pressed-Background: var(--Background-Default-Tertiary-Hover);
  --Button-Primary-Pressed-Border: var(--Null-000);
  --Button-Primary-Pressed-Text: var(--Text-Neutral-Tertiary);
  --Button-Primary-Pressed-Icon-Color: var(--Icon-Neutral-Tertiary);
  --Button-Primary-Focused-Border: var(--Border-Default-Focused);
  --Button-Primary-Focused-Text: var(--Icon-Neutral-Tertiary);
  --Button-Primary-Focused-Icon-Color: var(--Icon-Neutral-Tertiary);
  --Button-Primary-Disabled-Border: var(--Background-Default-Tertiary-Hover);
  --Button-Primary-Disabled-Text: var(--Text-Disabled-Tertiary);
  --Button-Primary-Disabled-Icon-Color: var(--Icon-Disabled-Tertiary);
  --Button-Accent-Default-Background: var(--Background-Default-Accent-Fixed);
  --Button-Accent-Default-Border: var(--Border-Default-Accent);
  --Text-Neutral-Fixed: var(--Neutral-200);
  --Button-Accent-Default-Text: var(--Text-Neutral-Fixed);
  --Icon-Neutral-Fixed: var(--Neutral-200);
  --Button-Accent-Default-Icon-Color: var(--Icon-Neutral-Fixed);
  --Button-Accent-Hover-Background: var(--Background-Default-Accent-Hover);
  --Button-Accent-Hover-Border: var(--Null-000);
  --Button-Accent-Hover-Text: var(--Text-Default-Primary);
  --Button-Accent-Hover-Icon-Color: var(--Icon-Default-Primary);
  --Button-Accent-Disabled-Background: var(--Background-Default-Accent-Light);
  --Button-Accent-Disabled-Border: var(--Background-Default-Accent-Light);
  --Button-Accent-Disabled-Text: var(--Text-Disabled-Tertiary);
  --Button-Accent-Disabled-Icon: var(--Icon-Disabled-Tertiary);
  --Button-Accent-Focused-Background: var(--Background-Default-Accent-Fixed);
  --Button-Accent-Pressed-Background: var(--Background-Default-Accent-Hover);
  --Button-Accent-Pressed-Border: var(--Null-000);
  --Button-Accent-Pressed-Text: var(--Text-Default-Primary);
  --Button-Accent-Pressed-Icon-Color: var(--Icon-Default-Primary);
  --Button-Accent-Focused-Border: var(--Border-Default-Focused);
  --Button-Accent-Focused-Text: var(--Text-Neutral-Fixed);
  --Button-Accent-Focused-Icon: var(--Icon-Neutral-Fixed);
  --Button-Secondary-Default-Background: var(--Null-000);
  --Button-Secondary-Default-Border: var(--Border-Default-Primary);
  --Button-Secondary-Default-Text: var(--Text-Default-Primary);
  --Button-Secondary-Default-Icon: var(--Icon-Default-Primary);
  --Button-Secondary-Hover-Background: var(--Null-000);
  --Button-Secondary-Hover-Border: var(--Border-Default-Secondary);
  --Button-Secondary-Hover-Text: var(--Text-Default-Primary);
  --Button-Secondary-Hover-Icon: var(--Icon-Default-Secondary);
  --Button-Secondary-Disabled-Background: var(--Null-000);
  --Button-Secondary-Disabled-Border: var(--Border-Disabled-Secondary);
  --Button-Secondary-Disabled-Text: var(--Text-Disabled-Secondary);
  --Button-Secondary-Disabled-Icon: var(--Icon-Disabled-Secondary);
  --Button-Secondary-Focused-Background: var(--Null-000);
  --Button-Secondary-Focused-Border-Default: var(--Border-Default-Primary);
  --Button-Secondary-Focused-Border-Focus: var(--Border-Default-Focused);
  --Button-Secondary-Focused-Text: var(--Text-Default-Primary);
  --Button-Secondary-Focused-Icon: var(--Icon-Default-Primary);
  --Button-Secondary-Pressed-Background: var(--Null-000);
  --Button-Secondary-Pressed-Border: var(--Border-Default-Secondary);
  --Button-Secondary-Pressed-Text: var(--Text-Default-Secondary);
  --Button-Secondary-Pressed-Icon: var(--Icon-Default-Secondary);
  --Category-Tabs-Default-Background: var(--Null-000);
  --Category-Tabs-Default-Border: var(--Border-Default-Primary);
  --Category-Tabs-Default-Text: var(--Text-Default-Primary);
  --Category-Tabs-Default-Icon: var(--Icon-Default-Primary);
  --Category-Tabs-Selected-Background: var(--Background-Default-Tertiary);
  --Category-Tabs-Selected-Border: var(--Null-000);
  --Category-Tabs-Selected-Text: var(--Text-Neutral-Tertiary);
  --Category-Tabs-Selected-Icon: var(--Icon-Neutral-Tertiary);
  --Card-Text-Card-Background: var(--Background-Default-Secondary);
  --Card-Default-Border: var(--Border-Default-Primary);
  --Card-Default-Title: var(--Text-Default-Primary);
  --Card-Text-Card-Text-White: var(--Text-Default-Primary);
  --Card-Hover-Background: var(--Background-Default-Accent-Hover);
  --Card-Hover-Border: var(--Border-Default-Primary);
  --Card-Hover-Title: var(--Text-Default-Primary);
  --Card-Hover-Body: var(--Text-Default-Accent);
  --Card-Disabled-Background: var(--Background-Default-Primary);
  --Card-Disabled-Border: var(--Border-Default-Primary);
  --Card-Disabled-Title: var(--Text-Default-Primary);
  --Card-Disabled-Body: var(--Text-Default-Accent);
  --Checkbox-Unchecked-Border: var(--Border-Default-Primary);
  --Checkbox-Unchecked-Hover-Border: var(--Border-Default-Secondary);
  --Checkbox-Unchecked-Focused-Border-Default: var(--Border-Default-Primary);
  --Checkbox-Unchecked-Focused-Border-Focus: var(--Border-Default-Focused);
  --Checkbox-Unchecked-Pressed-Border: var(--Border-Default-Secondary);
  --Checkbox-Checked-Border: var(--Border-Default-Primary);
  --Checkbox-Checked-Hover-Border: var(--Border-Default-Secondary);
  --Checkbox-Checked-Focused-Border-Default: var(--Border-Default-Primary);
  --Checkbox-Checked-Focused-Border-Focus: var(--Border-Default-Focused);
  --Checkbox-Checked-Focused-Icon: var(--Icon-Default-Primary);
  --Checkbox-Checked-Hover-Icon: var(--Icon-Default-Secondary);
  --Checkbox-Checked-Icon: var(--Icon-Default-Primary);
  --Checkbox-Checked-Pressed-Border: var(--Border-Default-Secondary);
  --Checkbox-Checked-Pressed-Icon: var(--Icon-Default-Secondary);
  --Checkbox-Disabled-Background: var(--Background-Disabled-Primary);
  --Checkbox-Disabled-Border: var(--Border-Disabled-Secondary);
  --Checkbox-Disabled-Icon: var(--Icon-Disabled-Secondary);
  --Checkbox-Field-Unchecked-Text-Label: var(--Text-Default-Primary);
  --Checkbox-Field-Unchecked-Test-Description: var(--Text-Neutral-Secondary);
  --Default-Text-Title-2: var(--Text-Default-Primary);
  --Default-Text-Value-2: var(--Text-Default-Primary);
  --Default-Helper-Text-2: var(--Text-Disabled-Secondary);
  --Dialog-Background: var(--Background-Default-Primary);
  --Dialog-Border: var(--Border-Default-Primary);
  --Dialog-Title: var(--Text-Default-Primary);
  --Dialog-Body: var(--Text-Default-Primary);
  --Dialog-Icon: var(--Icon-Neutral-Primary);
  --Footer-Background: var(--Background-Default-Primary);
  --Header-Background: var(--Background-Default-Primary);
  --Header-Icon: var(--Icon-Default-Primary);
  --Icons-Default: var(--Icon-Default-Primary);
  --Input-Field-Hint-Helper-Text-Icon: var(--Icon-Neutral-Secondary);
  --Input-Field-Hint-Helper-Text: var(--Text-Neutral-Secondary);
  --Input-Field-Hint-Error-Text-Icon: var(--Icon-Error-Primary);
  --Input-Field-Hint-Error-Text: var(--Text-Error-Default);
  --Input-Field-Hint-Checkbox-Icon: var(--Icon-Default-Primary);
  --Input-Field-Hint-Checkbox-Text: var(--Text-Default-Primary);
  --Input-Fields-Placeholder-Background: var(--Null-000);
  --Input-Fields-Placeholder-Border: var(--Border-Neutral-Secondary);
  --Input-Fields-Placeholder-Text-Label: var(--Text-Default-Primary);
  --Input-Fields-Placeholder-Text-Value: var(--Text-Neutral-Secondary);
  --Input-Fields-Placeholder-Icon: var(--Icon-Default-Primary);
  --Input-Fields-Enabled-Background: var(--Null-000);
  --Input-Fields-Enabled-Border: var(--Border-Neutral-Secondary);
  --Input-Fields-Enabled-Text-Title: var(--Text-Default-Primary);
  --Input-Fields-Enabled-Text-Value: var(--Text-Default-Primary);
  --Input-Fields-Enabled-Icon: var(--Icon-Default-Primary);
  --Input-Fields-Disabled-Background: var(--Background-Disabled-Primary);
  --Input-Fields-Disabled-Border: var(--Null-000);
  --Input-Fields-Disabled-Text-Title: var(--Text-Default-Primary);
  --Input-Fields-Disabled-Text-Value: var(--Text-Disabled-Secondary);
  --Input-Fields-Disabled-Icon: var(--Icon-Default-Primary);
  --Input-Fields-Hover-Background: var(--Background-Neutral-Primary);
  --Input-Fields-Hover-Border: var(--Border-Neutral-Secondary);
  --Input-Fields-Hover-Text-Title: var(--Text-Default-Primary);
  --Input-Fields-Hover-Text-Value: var(--Text-Default-Primary);
  --Input-Fields-Hover-Icon: var(--Icon-Default-Primary);
  --Input-Fields-Pressed-Background: var(--Background-Neutral-Primary);
  --Input-Fields-Pressed-Border: var(--Border-Neutral-Secondary);
  --Input-Fields-Pressed-Text-Title: var(--Text-Default-Primary);
  --Input-Fields-Pressed-Text-Value: var(--Text-Default-Primary);
  --Input-Fields-Pressed-Icon: var(--Icon-Default-Primary);
  --Input-Fields-Focused-Background: var(--Null-000);
  --Input-Fields-Focused-Border-Default: var(--Border-Disabled-Primary);
  --Input-Fields-Focused-Border-Focused: var(--Border-Default-Focused);
  --Input-Fields-Focused-Text-Title: var(--Text-Default-Primary);
  --Input-Fields-Focused-Text-Value: var(--Text-Default-Primary);
  --Input-Fields-Focused-Icon: var(--Icon-Default-Primary);
  --Input-Fields-Error-Background: var(--Null-000);
  --Input-Fields-Error-Border: var(--Border-Error-Primary);
  --Input-Fields-Error-Text-Label: var(--Text-Default-Primary);
  --Input-Fields-Error-Text-Value: var(--Text-Default-Primary);
  --Input-Fields-Error-Icon: var(--Icon-Default-Primary);
  --Link-Button-Link-Default-Background: var(--Null-000);
  --Link-Button-Link-Default-Border: var(--Null-000);
  --Link-Button-Link-Default-Text: var(--Text-Default-Primary);
  --Link-Button-Link-Default-Icon-Color: var(--Icon-Default-Primary);
  --Link-Button-Link-Disabled-Background: var(--Null-000);
  --Link-Button-Link-Disabled-Border: var(--Null-000);
  --Link-Button-Link-Disabled-Text: var(--Text-Disabled-Secondary);
  --Link-Button-Link-Disabled-Icon: var(--Link-Button-Link-Disabled-Text);
  --Link-Button-Link-Hover-Background: var(--Null-000);
  --Link-Button-Link-Hover-Border: var(--Null-000);
  --Link-Button-Link-Hover-Text: var(--Text-Default-Secondary);
  --Link-Button-Link-Hover-Icon-Color: var(--Icon-Default-Secondary);
  --Link-Button-Link-Focused-Background: var(--Null-000);
  --Link-Button-Link-Focused-Border: var(--Border-Default-Focused);
  --Link-Button-Link-Focused-Text: var(--Text-Default-Primary);
  --Link-Button-Link-Focused-Icon-Color: var(--Icon-Default-Primary);
  --Link-Button-Link-Pressed-Background: var(--Null-000);
  --Link-Button-Link-Pressed-Border: var(--Null-000);
  --Link-Button-Link-Pressed-Text: var(--Text-Default-Secondary);
  --Link-Button-Link-Pressed-Icon: var(--Icon-Default-Secondary);
  --Navigation-Pill-Primary-Default-Background: var(--Null-000);
  --Navigation-Pill-Primary-Default-Text: var(--Text-Default-Primary);
  --Navigation-Pill-Primary-Default-Icon: var(--Icon-Default-Primary);
  --Navigation-Pill-Primary-Hover-Background: var(--Null-000);
  --Navigation-Pill-Primary-Hover-Text: var(--Text-Default-Secondary);
  --Navigation-Pill-Primary-Hover-Icon: var(--Icon-Default-Secondary);
  --Navigation-Pill-Secondary-Default-Background: var(--Background-Default-Accent-Fixed);
  --Navigation-Pill-Secondary-Default-Text: var(--Text-Neutral-Tertiary);
  --Navigation-Pill-Secondary-Default-Icon: var(--Icon-Neutral-Tertiary);
  --Navigation-Pill-Secondary-Hover-Background: var(--Background-Default-Accent-Hover);
  --Navigation-Pill-Secondary-Hover-Text: var(--Text-Default-Primary);
  --Navigation-Pill-Secondary-Hover-Icon: var(--Icon-Default-Primary);
  --Navigation-Pill-Active-Background: var(--Background-Default-Primary);
  --Navigation-Pill-Active-Text: var(--Text-Default-Primary);
  --Navigation-Pill-Active-Icon: var(--Icon-Default-Primary);
  --Options-Default-Text-Label: var(--Text-Default-Primary);
  --Options-Default-Text-Description: var(--Text-Neutral-Secondary);
  --Options-Default-Background: var(--Null-000);
  --Options-Selected-Text-Label: var(--Text-Default-Primary);
  --Options-Selected-Text-Description: var(--Text-Neutral-Secondary);
  --Options-Selected-Background: var(--Background-Neutral-Primary);
  --Options-List-Background: var(--Null-000);
  --Options-List-Border: var(--Border-Neutral-Secondary);
  --Overlay-Default-Background: var(--Background-Opacity-Secondary);
  --Pagination-Current-Background: var(--Background-Brand-Mobilty-Light);
  --Pagination-Current-Border: var(--Border-Brand-Mobility);
  --Pagination-Current-Hover-Background: var(--Background-Brand-Welfare-Light);
  --Pagination-Current-Hover-Border: var(--Border-Brand-Mobility);
  --Pagination-Default-Background: var(--Background-Default-Primary);
  --Pagination-Default-Border: var(--Border-Disabled-Secondary);
  --Pagination-Default-Text: var(--Text-Default-Primary);
  --Pagination-Default-Hover-Background: var(--Background-Default-Accent-Hover);
  --Pagination-Default-Hover-Border: var(--Border-Disabled-Secondary);
  --Pagination-Default-Hover-Text: var(--Text-Default-Primary);
  --Radio-Button-Field-Unchecked-Text-Label: var(--Text-Default-Primary);
  --Radio-Button-Field-Unchecked-Text-Description: var(--Text-Neutral-Secondary);
  --Radio-Button-Field-Unchecked-Hover-Text-Label: var(--Text-Default-Primary);
  --Radio-Button-Field-Unchecked-Hover-Text-Description: var(--Text-Neutral-Secondary);
  --Radio-Button-Field-Unchecked-Focused-Text-Label: var(--Text-Default-Primary);
  --Radio-Button-Field-Unchecked-Focused-Text-Description: var(--Text-Neutral-Secondary);
  --Radio-Button-Field-Unchecked-Pressed-Text-Label: var(--Text-Default-Primary);
  --Radio-Button-Field-Checked-Text-Label: var(--Text-Default-Primary);
  --Radio-Button-Field-Checked-Text-Description: var(--Text-Neutral-Secondary);
  --Radio-Button-Field-Unchecked-Pressed-Text-Description: var(--Text-Neutral-Secondary);
  --Radio-Button-Field-Checked-Hover-Text-Label: var(--Text-Default-Primary);
  --Radio-Button-Field-Checked-Hover-Text-Description: var(--Text-Neutral-Secondary);
  --Section-Basic-Background: var(--Background-Default-Primary);
  --Section-Basic-T-Itle: var(--Text-Neutral-Primary);
  --Section-Basic-Icon: var(--Icon-Neutral-Primary);
  --Section-Basic-Description: var(--Text-Default-Accent);
  --Section-Accent-Background: var(--Background-Brand-Mobilty-Strong);
  --Section-Accent-T-Itle: var(--Text-Neutral-Primary);
  --Section-Accent-Icon: var(--Icon-Neutral-Primary);
  --Section-Accent-Description: var(--Text-Default-Primary);
  --Radio-Button-Unchecked-Border: var(--Border-Default-Primary);
  --Radio-Button-Unchecked-Hover-Border: var(--Border-Default-Secondary);
  --Radio-Button-Unchecked-Focused-Border-Default: var(--Border-Default-Primary);
  --Radio-Button-Unchecked-Focused-Border-Focus: var(--Border-Default-Focused);
  --Radio-Button-Unchecked-Pressed-Border: var(--Border-Default-Secondary);
  --Radio-Button-Checked-Border: var(--Border-Default-Primary);
  --Radio-Button-Checked-Icon: var(--Icon-Default-Primary);
  --Switch-Unchecked-Background: var(--Background-Neutral-Tertiary);
  --Switch-Unchecked-Icon: var(--Icon-Neutral-Tertiary);
  --Switch-Unchecked-Hover-Background: var(--Background-Neutral-Secondary);
  --Switch-Unchecked-Focused-Background: var(--Background-Neutral-Tertiary);
  --Switch-Unchecked-Pressed-Background: var(--Background-Neutral-Secondary);
  --Switch-Unchecked-Pressed-Icon: var(--Icon-Neutral-Tertiary);
  --Switch-Unchecked-Focused-Border-Focus: var(--Border-Default-Focused);
  --Switch-Unchecked-Focused-Icon: var(--Icon-Neutral-Tertiary);
  --Switch-Unchecked-Hover-Icon: var(--Icon-Neutral-Tertiary);
  --Switch-Checked-Background: var(--Background-Default-Tertiary);
  --Switch-Checked-Icon: var(--Icon-Neutral-Tertiary);
  --Switch-Checked-Hover-Background: var(--Background-Default-Tertiary-Hover);
  --Switch-Checked-Hover-Icon: var(--Icon-Neutral-Tertiary);
  --Switch-Checked-Focused-Background: var(--Background-Default-Tertiary);
  --Switch-Checked-Focused-Border-Focus: var(--Border-Default-Focused);
  --Switch-Checked-Focused-Icon: var(--Icon-Neutral-Tertiary);
  --Switch-Checked-Pressed-Background: var(--Background-Default-Tertiary-Hover);
  --Switch-Checked-Pressed-Icon: var(--Icon-Neutral-Tertiary);
  --Switch-Disabled-Background: var(--Background-Disabled-Primary);
  --Switch-Disabled-Icon: var(--Icon-Disabled-Primary);
  --Text-Block-Default-Text: var(--Text-Default-Accent);
  --Tab-Select-Background: var(--Null-000);
  --Tab-Select-Border: var(--Border-Neutral-Primary);
  --Tab-Select-Text: var(--Text-Default-Primary);
  --Tab-Select-Icon-Color: var(--Icon-Default-Primary);
  --Tab-Unselect-Background: var(--Null-000);
  --Tab-Unselect-Border: var(--Border-Default-Primary);
  --Tab-Unselect-Icon-Color: var(--Icon-Default-Tertiary);
  --Tag-Default-Mobility-Background: var(--Background-Brand-Mobilty-Light);
  --Tag-Default-Welfare-Background: var(--Background-Brand-Welfare-Light);
  --Tag-Default-Welfare-Border: var(--Border-Brand-Welfare);
  --Tag-Default-Welfare-Text: var(--Text-Default-Primary);
  --Tag-Default-Mobility-Border: var(--Border-Brand-Mobility);
  --Tag-Default-Mobility-Text: var(--Text-Default-Primary);
  --Tooltip-Background: var(--Background-Default-Tertiary);
  --Tooltip-Select-Border: var(--Border-Default-Primary);
  --Tooltip-Title: var(--Text-Neutral-Tertiary);
  --Tooltip-Body-Text: var(--Text-Neutral-Primary);
  --Icon-Button-Primary-Default-Background: var(--Null-000);
  --Icon-Button-Primary-Default-Border: var(--Border-Default-Primary);
  --Icon-Button-Primary-Default-Icon: var(--Icon-Default-Primary);
  --Checkbox-Field-Unchecked-Hover-Text-Label: var(--Text-Default-Primary);
  --Checkbox-Field-Unchecked-Hover-Text-Description: var(--Text-Neutral-Secondary);
  --Checkbox-Field-Unchecked-Focused-Text-Label: var(--Text-Default-Primary);
  --Checkbox-Field-Unchecked-Focused-Text-Description: var(--Text-Neutral-Secondary);
  --Checkbox-Field-Unchecked-Pressed-Text-Label: var(--Text-Default-Primary);
  --Checkbox-Field-Unchecked-Pressed-Text-Description: var(--Text-Neutral-Secondary);
  --Icon-Button-Primary-Hover-Background: var(--Null-000);
  --Icon-Button-Primary-Hover-Border: var(--Border-Default-Secondary);
  --Icon-Button-Primary-Hover-Icon: var(--Icon-Default-Secondary);
  --Icon-Button-Primary-Disabled-Background: var(--Null-000);
  --Icon-Button-Primary-Disabled-Border: var(--Border-Disabled-Primary);
  --Icon-Button-Primary-Disabled-Icon: var(--Icon-Disabled-Primary);
  --Icon-Button-Primary-Pressed-Background: var(--Null-000);
  --Icon-Button-Primary-Pressed-Border: var(--Border-Default-Secondary);
  --Icon-Button-Primary-Pressed-Icon: var(--Icon-Default-Secondary);
  --Checkbox-Field-Checked-Text-Label: var(--Text-Default-Primary);
  --Checkbox-Field-Checked-Text-Description: var(--Text-Neutral-Secondary);
  --Checkbox-Field-Checked-Hover-Text-Label: var(--Text-Default-Primary);
  --Checkbox-Field-Checked-Hover-Text-Description: var(--Text-Neutral-Secondary);
  --Checkbox-Field-Checked-Focused-Text-Label: var(--Text-Default-Primary);
  --Checkbox-Field-Checked-Focused-Text-Description: var(--Text-Neutral-Secondary);
  --Checkbox-Field-Checked-Pressed-Text-Label: var(--Text-Default-Primary);
  --Checkbox-Field-Disabled-Text-Label: var(--Text-Disabled-Secondary);
  --Checkbox-Field-Disabled-Text-Description: var(--Text-Disabled-Secondary);
  --Checkbox-Field-Checked-Pressed-Text-Description: var(--Text-Neutral-Secondary);
  --Icon-Button-Primary-Focused-Background: var(--Null-000);
  --Icon-Button-Primary-Focused-Border-Default: var(--Border-Default-Primary);
  --Icon-Button-Primary-Focused-Border-Focused: var(--Border-Default-Focused);
  --Icon-Button-Primary-Focused-Icon: var(--Icon-Default-Primary);
  --Icon-Button-Secondary-Default-Background: var(--Background-Default-Primary);
  --Icon-Button-Secondary-Default-Border: var(--Null-000);
  --Icon-Default-Fixed: var(--Brand-800);
  --Icon-Button-Secondary-Default-Icon: var(--Icon-Default-Fixed);
  --Icon-Button-Secondary-Hover-Background: var(--Background-Default-Tertiary-Hover);
  --Icon-Button-Secondary-Disabled-Background: var(--Background-Disabled-Primary);
  --Icon-Button-Secondary-Disabled-Border: var(--Null-000);
  --Icon-Button-Secondary-Disabled-Icon: var(--Icon-Disabled-Primary);
  --Icon-Button-Secondary-Hover-Border: var(--Null-000);
  --Icon-Button-Secondary-Hover-Icon: var(--Icon-Neutral-Tertiary);
  --Icon-Button-Secondary-Focused-Background: var(--Background-Default-Primary);
  --Icon-Button-Secondary-Focused-Border: var(--Border-Default-Focused);
  --Icon-Button-Secondary-Focused-Icon: var(--Icon-Default-Fixed);
  --Icon-Button-Secondary-Pressed-Background: var(--Brand-600);
  --Icon-Button-Secondary-Pressed-Border: var(--Null-000);
  --Icon-Button-Secondary-Pressed-Icon: var(--Icon-Neutral-Tertiary);
  --Radio-Button-Checked-Hover-Border: var(--Border-Default-Secondary);
  --Radio-Button-Checked-Hover-Icon: var(--Icon-Default-Secondary);
  --Radio-Button-Checked-Focused-Border-Default: var(--Border-Default-Primary);
  --Radio-Button-Checked-Pressed-Border: var(--Border-Default-Secondary);
  --Radio-Button-Checked-Pressed-Icon: var(--Icon-Default-Secondary);
  --Radio-Button-Checked-Focused-Border-Focus: var(--Border-Default-Focused);
  --Radio-Button-Checked-Focused-Icon: var(--Icon-Default-Primary);
  --Radio-Button-Disabled-Background: var(--Background-Disabled-Primary);
  --Radio-Button-Disabled-Border: var(--Border-Disabled-Secondary);
  --Radio-Button-Disabled-Icon: var(--Icon-Disabled-Secondary);
  --Radio-Button-Field-Checked-Focused-Text-Label: var(--Text-Default-Primary);
  --Radio-Button-Field-Checked-Focused-Text-Description: var(--Text-Neutral-Secondary);
  --Radio-Button-Field-Checked-Pressed-Text-Label: var(--Text-Default-Primary);
  --Radio-Button-Field-Checked-Pressed-Text-Description: var(--Text-Neutral-Secondary);
  --Radio-Button-Field-Disabled-Text-Label: var(--Text-Disabled-Secondary);
  --Radio-Button-Field-Disabled-Text-Description: var(--Text-Disabled-Secondary);
  --Tag-Default-Property-Background: var(--Background-Brand-Property-Light);
  --Tag-Default-Property-Border: var(--Border-Brand-Property);
  --Tag-Default-Property-Text: var(--Text-Default-Primary);
  --Tag-Secondary-Mobility-Background: var(--Background-Brand-Mobilty-Strong);
  --Tag-Secondary-Mobility-Border: var(--Null-000);
  --Tag-Secondary-Mobility-Text: var(--Text-Neutral-Tertiary);
  --Tag-Secondary-Welfare-Background: var(--Background-Brand-Welfare-Strong);
  --Tag-Secondary-Welfare-Border: var(--Null-000);
  --Tag-Secondary-Welfare-Text: var(--Text-Neutral-Tertiary);
  --Tag-Secondary-Property-Background: var(--Background-Brand-Property-Strong);
  --Tag-Secondary-Property-Border: var(--Null-000);
  --Tag-Secondary-Property-Text: var(--Text-Neutral-Tertiary);
  --Tag-Neutral-Background: var(--Background-Default-Secondary-Fixed);
  --Tag-Neutral-Border: var(--Null-000);
  --Tag-Neutral-Text: var(--Text-Default-Primary);
  --Tag-Custom-Background: var(--Background-Default-Secondary-Fixed);
  --Tag-Custom-Border: var(--Border-Default-Accent);
  --Tag-Custom-Text: var(--Text-Default-Accent);
  --Switch-Button-Field-Unchecked-Text-Label: var(--Text-Default-Primary);
  --Switch-Button-Field-Unchecked-Text-Description: var(--Text-Neutral-Secondary);
  --Switch-Button-Field-Unchecked-Hover-Text-Label: var(--Text-Default-Primary);
  --Switch-Button-Field-Unchecked-Hover-Text-Description: var(--Text-Neutral-Secondary);
  --Switch-Button-Field-Unchecked-Focused-Text-Label: var(--Text-Default-Primary);
  --Switch-Button-Field-Unchecked-Focused-Text-Description: var(--Text-Neutral-Secondary);
  --Switch-Button-Field-Unchecked-Pressed-Text-Label: var(--Text-Default-Primary);
  --Switch-Button-Field-Unchecked-Pressed-Text-Description: var(--Text-Neutral-Secondary);
  --Switch-Button-Field-Checked-Text-Label: var(--Text-Default-Primary);
  --Switch-Button-Field-Checked-Text-Description: var(--Text-Neutral-Secondary);
  --Switch-Button-Field-Checked-Hover-Text-Label: var(--Text-Default-Primary);
  --Switch-Button-Field-Checked-Hover-Text-Description: var(--Text-Neutral-Secondary);
  --Switch-Button-Field-Checked-Focused-Text-Label: var(--Text-Default-Primary);
  --Switch-Button-Field-Checked-Focused-Text-Description: var(--Text-Neutral-Secondary);
  --Switch-Button-Field-Checked-Pressed-Text-Label: var(--Text-Default-Primary);
  --Switch-Button-Field-Checked-Pressed-Text-Description: var(--Text-Neutral-Secondary);
  --Switch-Button-Field-Disabled-Text-Label: var(--Text-Disabled-Secondary);
  --Switch-Button-Field-Disabled-Text-Description: var(--Text-Disabled-Secondary);
  --Input-Field-Hint-Radio-Button-Icon: var(--Icon-Default-Primary);
  --Input-Field-Hint-Radio-Button-Text: var(--Text-Default-Primary);
  --Ai-Message-Background: var(--Background-Default-Accent-Light);
  --Ai-Message-Text: var(--Text-Default-Primary);
  --Category-Strip-Mobility-Background: var(--Background-Brand-Mobilty-Light);
  --Category-Strip-Mobility-Icon: var(--Icon-Default-Primary);
  --Category-Strip-Mobility-Text: var(--Text-Default-Primary);
  --Category-Strip-Property-Background: var(--Background-Brand-Property-Light);
  --Category-Strip-Property-Icon: var(--Icon-Default-Primary);
  --Category-Strip-Property-Text: var(--Text-Default-Primary);
  --Download-Tile-Background: var(--Background-Default-Secondary-Fixed);
  --Download-Tile-Border: var(--Null-000);
  --Download-Tile-Title: var(--Text-Default-Primary);
  --Download-Tile-Icon: var(--Icon-Default-Primary);
  --Expanding-Dots-Background: var(--Background-Default-Tertiary);
  --Expanding-Dots-Background-Dot: var(--Background-Neutral-Tertiary);
  --Input-Field-Hint-Warning-Text-Icon: var(--Icon-Warning-Primary);
  --Input-Field-Hint-Warning-Text: var(--Text-Warning-Default);
  --Input-Field-Hint-Success-Text-Icon: var(--Icon-Success-Primary);
  --Input-Field-Hint-Success-Text: var(--Text-Success-Default);
  --Input-Fields-Disabled-Background-2: var(--Background-Disabled-Primary);
  --Label-Input-Fields-Primary-Background: var(--Background-Default-Primary);
  --Label-Input-Fields-Primary-Text: var(--Text-Default-Primary);
  --Number-Block-Number: var(--Text-Default-Primary);
  --Number-Block-Body: var(--Text-Default-Primary);
  --Photo-Banner-Background: var(--Background-Default-Tertiary);
  --Photo-Banner-Text: var(--Text-Neutral-Tertiary);
  --Scroll-Indicator-Mobile-Icon-Default: var(--Icon-Default-Primary);
  --Scroll-Indicator-Mobile-Icon-Disabled: var(--Icon-Disabled-Primary);
  --Section-Background: var(--Null-000);
  --Section-Text: var(--Text-Default-Primary);
  --Text-Block-Body: var(--Text-Default-Primary);
  --Tooltip-Icon: var(--Icon-Neutral-Tertiary);
  --Label-Input-Fields-Secondary-Background: var(--Background-Default-Secondary-Fixed);
  --Label-Input-Fields-Secondary-Text: var(--Text-Default-Primary);
  --Input-Fields-Warning-Background: var(--Null-000);
  --Input-Fields-Warning-Border: var(--Border-Warning-Primary);
  --Input-Fields-Warning-Text-Label: var(--Text-Default-Primary);
  --Input-Fields-Warning-Text-Value: var(--Text-Default-Primary);
  --Input-Fields-Warning-Icon: var(--Icon-Default-Primary);
  --Input-Fields-Success-Background: var(--Null-000);
  --Input-Fields-Success-Border: var(--Border-Success-Primary);
  --Input-Fields-Success-Text-Label: var(--Text-Default-Primary);
  --Input-Fields-Success-Text-Value: var(--Text-Default-Primary);
  --Input-Fields-Success-Icon: var(--Icon-Default-Primary);
  --Category-Strip-Welfare-Background: var(--Background-Brand-Welfare-Light);
  --Category-Strip-Welfare-Icon: var(--Icon-Default-Primary);
  --Category-Strip-Welfare-Text: var(--Text-Default-Primary);
  --Border-Default-Tertiary: var(--Neutral-200);
  --Border-Neutral-Tertiary: var(--Grayscale-700);
  --Card-Agency-Card-Background: var(--Background-Default-Secondary);
  --Card-Agency-Card-Icon-Pin: var(--Icon-Neutral-Tertiary);
  --Card-Agency-Card-Title: var(--Text-Default-Primary);
  --Card-Agency-Card-Body: var(--Text-Default-Primary);
  --Card-Blog-Preview-Title: var(--Text-Default-Primary);
  --Card-Blog-Preview-Label-Content-Duration-Text: var(--Text-Neutral-Secondary);
  --Card-Blog-Preview-Label-Content-Duration-Icon: var(--Icon-Neutral-Secondary);
  --Card-Bundle-Card-Background: var(--Background-Default-Secondary-Fixed);
  --Card-Bundle-Card-Title: var(--Text-Default-Primary);
  --Card-Bundle-Card-Body: var(--Text-Default-Primary);
  --Card-Category-Card-Title: var(--Text-Default-Primary);
  --Card-Category-Card-Body: var(--Text-Default-Primary);
  --Card-Category-Card-Subdescription: var(--Text-Neutral-Secondary);
  --Card-Category-Card-Background-Mobility: var(--Background-Brand-Mobilty-Light);
  --Card-Category-Card-Background-Property: var(--Background-Brand-Property-Light);
  --Card-Category-Card-Background-Welfare: var(--Background-Brand-Welfare-Light);
  --Card-Category-Card-Background: var(--Background-Default-Secondary-Fixed);
  --Card-Dynamic-Gallery-Card-Overlay-Background: var(--Background-Opacity-Tertiary);
  --Card-Editorial-Card-Background: var(--Background-Default-Secondary-Fixed);
  --Card-Editorial-Card-Border: var(--Border-Default-Primary);
  --Card-Editorial-Card-Title: var(--Text-Default-Primary);
  --Card-Editorial-Card-Body: var(--Text-Default-Primary);
  --Card-Contact-Card-Map-Background: var(--Background-Default-Secondary);
  --Card-Contact-Card-Map-Text: var(--Text-Default-Primary);
  --Card-Contact-Card-Background: var(--Background-Default-Secondary);
  --Card-Contact-Card-Text: var(--Text-Default-Primary);
  --Card-Info-Card-Background: var(--Background-Default-Secondary-Fixed);
  --Card-Info-Card-Title: var(--Text-Default-Primary);
  --Card-Info-Card-Body: var(--Text-Default-Primary);
  --Card-Info-Card-Icon: var(--Icon-Default-Primary);
  --Card-Insurance-Product-Card-Background: var(--Background-Default-Secondary-Fixed);
  --Card-Insurance-Product-Card-Title: var(--Text-Default-Primary);
  --Card-Insurance-Product-Card-Body: var(--Text-Default-Primary);
  --Card-Insurance-Product-Card-Details: var(--Text-Neutral-Secondary);
  --Card-Insurance-Product-Card-Background-Mobility: var(--Background-Brand-Mobilty-Light);
  --Card-Insurance-Product-Card-Background-Property: var(--Background-Brand-Property-Light);
  --Card-Insurance-Product-Card-Background-Welfare: var(--Background-Brand-Welfare-Light);
  --Card-Quote-Tool-Card-Text: var(--Text-Default-Primary);
  --Card-Quote-Tool-Card-Summary-Background: var(--Background-Default-Secondary-Fixed);
  --Card-Quote-Tool-Card-Bundle-Background: var(--Null-000);
  --Card-Quote-Tool-Card-Bundle-Border: var(--Border-Neutral-Primary);
  --Card-Quote-Tool-Card-Bundle-Secondary-Text: var(--Text-Neutral-Secondary);
  --Card-Photo-Card-Title: var(--Text-Default-Primary);
  --Card-Text-Card-Text-Gray: var(--Text-Neutral-Primary);
  --Card-Text-Card-Icon-Background: var(--Background-Default-Tertiary);
  --Card-Text-Card-Icon: var(--Icon-Neutral-Tertiary);
  --Card-User-Review-Background: var(--Background-Default-Secondary-Fixed);
  --Card-User-Review-Body: var(--Text-Default-Primary);
  --Card-User-Review-Description: var(--Text-Neutral-Secondary);
  --Card-Warranty-Card-Background: var(--Background-Default-Secondary-Fixed);
  --Card-Warranty-Card-Background-Mobilty: var(--Background-Brand-Mobilty-Light);
  --Card-Warranty-Card-Background-Welfare: var(--Background-Brand-Welfare-Light);
  --Card-Warranty-Card-Background-Property: var(--Background-Brand-Property-Light);
  --Card-Warranty-Card-Background-Icon-Mobility: var(--Background-Default-Secondary-Fixed);
  --Card-Warranty-Card-Title: var(--Text-Default-Primary);
  --Card-Warranty-Card-Body: var(--Text-Default-Primary);
  --Card-Warranty-Card-Background-Icon: var(--Background-Brand-Mobilty-Light);
  --Card-Warranty-Card-Icon-Mobility: var(--Icon-Brand-Mobility);
  --Card-Warranty-Card-Icon-Welfare: var(--Icon-Brand-Welfare);
  --Card-Warranty-Card-Icon-Property: var(--Icon-Brand-Property);
  --Category-Chips-Mobility-Background: var(--Background-Brand-Mobilty-Light);
  --Category-Chips-Mobility-Icon: var(--Icon-Default-Primary);
  --Category-Chips-Mobility-Text: var(--Text-Default-Primary);
  --Category-Chips-Property-Background: var(--Background-Brand-Property-Light);
  --Category-Chips-Property-Icon: var(--Icon-Default-Primary);
  --Category-Chips-Property-Text: var(--Text-Default-Primary);
  --Category-Chips-Welfare-Background: var(--Background-Brand-Welfare-Light);
  --Category-Chips-Welfare-Icon: var(--Icon-Default-Primary);
  --Category-Chips-Welfare-Text: var(--Text-Default-Primary);
  --Map-Pin-Background-Pin: var(--Background-Default-Secondary);
  --Text-Default-Primary-Fixed: var(--Brand-800);
  --Map-Pin-Text: var(--Text-Default-Primary-Fixed);
  --Map-Pin-Icon: var(--Icon-Default-Primary);
  --Map-Pin-Background-Card: var(--Background-Default-Secondary-Fixed);
  --Map-Pin-Border-Card: var(--Border-Neutral-Primary);
  --Mini-Banner-Background: var(--Background-Default-Tertiary);
  --Mini-Banner-Text: var(--Text-Neutral-Tertiary);
  --Score-Text: var(--Text-Default-Primary);
  --Score-Line: var(--Border-Neutral-Secondary);
  --Switch-Label-Default-Text: var(--Text-Default-Primary);
  --Switch-Label-Default-Background: var(--Null-000);
  --Switch-Label-Active-Text: var(--Text-Default-Primary);
  --Switch-Label-Active-Background: var(--Background-Default-Primary);
  --Table-Cell-Text: var(--Text-Default-Primary);
  --Table-Cell-Mobility-Icon-Mobility: var(--Icon-Brand-Mobility);
  --Table-Cell-Mobility-Text-Mobility: var(--Text-Brand-Mobility);
  --Table-Header-Text: var(--Text-Default-Primary);
  --Table-Row-Header-Row-Header: var(--Background-Default-Secondary-Fixed);
  --Table-Row-Text-Row-White: var(--Background-Default-Secondary-Fixed);
  --Table-Row-Text-Row-Light-Gray: var(--Background-Neutral-Primary);
  --Text-Banner-Background: var(--Background-Default-Secondary);
  --Text-Banner-Text: var(--Text-Default-Primary);
  --Text-Switch-Background: var(--Background-Neutral-Secondary);
  --Table-Cell-Welfare-Icon-Welfare: var(--Icon-Brand-Welfare);
  --Table-Cell-Welfare-Text-Welfare: var(--Text-Brand-Welfare);
  --Table-Cell-Property-Icon-Property: var(--Icon-Brand-Property);
  --Table-Cell-Property-Text-Property: var(--Text-Brand-Property);
  --Table-Row-Button-Row-Background: var(--Background-Default-Secondary-Fixed);
  --Contact-Tool-Background: var(--Background-Default-Primary);
  --Contact-Tool-Text: var(--Text-Default-Primary);
  --Data-Table-Widget-Background-Mobility: var(--Background-Brand-Mobilty-Light);
  --Data-Table-Widget-Background-Welfare: var(--Background-Brand-Welfare-Light);
  --Data-Table-Widget-Background-Property: var(--Background-Brand-Property-Light);
  --Faq-Widget-Text: var(--Text-Default-Primary);
  --Footer-Background: var(--Background-Default-Tertiary);
  --Footer-Primary-Text: var(--Text-Neutral-Tertiary);
  --Footer-Secondary-Text: var(--Text-Neutral-Primary);
  --Footer-Primary-Border: var(--Border-Default-Tertiary);
  --Footer-Secondary-Border: var(--Border-Neutral-Tertiary);
  --Footer-Icon: var(--Icon-Neutral-Tertiary);
  --Header-Background: var(--Background-Opacity-Primary);
  --Header-Icon: var(--Icon-Default-Primary);
  --Hero-Full-Screen-Text-Color: var(--Text-Neutral-Tertiary);
  --Hero-Mini-Hero-Text-Color: var(--Text-Neutral-Tertiary);
  --Hero-Blog-Text-Color: var(--Text-Neutral-Tertiary);
  --Quote-Tool-Full-Quote-Tool-Background: var(--Background-Default-Primary);
  --Quote-Tool-Text: var(--Text-Default-Primary);
  --Legal-Info-Widget-Text: var(--Text-Default-Primary);
  --Carousel-Widget-Product-Highlights-Background-Color: var(--Background-Default-Secondary);
  --Quote-Tool-Single-Quote-Tool-Background: var(--Background-Default-Secondary-Fixed);
  --Accordion-Footer-Border: var(--Border-Disabled-Secondary);
  --Accordion-Footer-Title: var(--Text-Default-Primary);
  --Accordion-Footer-Link: var(--Text-Default-Primary);
  --Accordion-Footer-Icon: var(--Icon-Default-Primary);
  --Switch-Label-Active-Dot-Backgroung: var(--Background-Default-Tertiary);
  --Ai-Search-Bar-Input-Placeholder-Background: var(--Background-Default-Secondary-Fixed);
  --Ai-Search-Bar-Input-Placeholder-Border-Color: var(--Border-Neutral-Secondary);
  --Ai-Search-Bar-Input-Placeholder-Icon: var(--Icon-Default-Primary);
  --Ai-Search-Bar-Input-Placeholder-Text-Value: var(--Text-Neutral-Secondary);
  --Ai-Search-Bar-Options-Background: var(--Background-Default-Secondary-Fixed);
  --Ai-Search-Bar-Options-Border-Color: var(--Border-Neutral-Secondary);
  --Ai-Search-Bar-Options-Icon: var(--Icon-Default-Primary);
  --Ai-Search-Bar-Options-Text: var(--Text-Default-Primary);
  --Article-Section-Header-Text: var(--Text-Default-Primary);
  --Banner-Photo-Banner-Background: var(--Background-Default-Secondary);
  --Banner-Photo-Banner-Text: var(--Text-Default-Primary);
  --Card-Contact-Card-Background-Icon: var(--Background-Default-Tertiary);
  --Card-Contact-Card-Icon: var(--Icon-Neutral-Tertiary);
  --Card-Contact-Agent-Card-Background: var(--Background-Default-Secondary);
  --Card-News-Card-Text: var(--Text-Default-Primary);
  --Card-News-Card-Background: var(--Background-Neutral-Secondary);
  --Card-Contact-Agent-Card-Text: var(--Text-Default-Primary);
  --Input-Fields-Placeholder-Background-Search: var(--Background-Default-Secondary-Fixed);
  --Input-Fields-Enabled-Background-Search: var(--Background-Default-Secondary-Fixed);
  --Input-Fields-Disabled-Background-Search: var(--Background-Default-Secondary-Fixed);
  --Input-Fields-Focused-Background-Search: var(--Background-Default-Secondary-Fixed);
  --Input-Fields-Error-Background-Search: var(--Background-Default-Secondary-Fixed);
  --Options-List-Background-Search: var(--Background-Default-Secondary-Fixed);
  --Search-Bar-Input-Placeholder-Background: var(--Background-Default-Secondary-Fixed);
  --Search-Bar-Input-Placeholder-Border-Color: var(--Border-Neutral-Secondary);
  --Search-Bar-Input-Placeholder-Icon: var(--Icon-Default-Primary);
  --Search-Bar-Input-Placeholder-Text-Value: var(--Text-Neutral-Secondary);
  --Search-Bar-Input-Enable-Background: var(--Background-Default-Secondary-Fixed);
  --Search-Bar-Input-Enable-Border-Color: var(--Border-Neutral-Secondary);
  --Search-Bar-Input-Enable-Icon: var(--Icon-Default-Primary);
  --Search-Bar-Input-Enable-Text-Value: var(--Text-Default-Primary);
  --Search-Bar-Input-Hover-Background: var(--Background-Neutral-Primary);
  --Search-Bar-Input-Hover-Border-Color: var(--Border-Neutral-Secondary);
  --Search-Bar-Input-Hover-Icon: var(--Icon-Default-Primary);
  --Search-Bar-Input-Hover-Text-Value: var(--Text-Default-Primary);
  --Search-Bar-Input-Focused-Background: var(--Background-Default-Secondary);
  --Search-Bar-Input-Focused-Border-Color: var(--Border-Neutral-Secondary);
  --Search-Bar-Input-Focused-Border-Focused: var(--Border-Default-Focused);
  --Search-Bar-Input-Focused-Icon: var(--Icon-Default-Primary);
  --Search-Bar-Input-Focused-Text-Value: var(--Text-Default-Primary);
  --Search-Bar-Input-Pressed-Background: var(--Background-Neutral-Primary);
  --Search-Bar-Input-Pressed-Border-Color: var(--Border-Neutral-Secondary);
  --Search-Bar-Input-Pressed-Icon: var(--Icon-Default-Primary);
  --Search-Bar-Input-Pressed-Text-Value: var(--Text-Default-Primary);
  --Search-Bar-Options-Background: var(--Background-Default-Secondary-Fixed);
  --Search-Bar-Options-Border-Color: var(--Border-Neutral-Secondary);
  --Search-Bar-Options-Icon: var(--Icon-Default-Primary);
  --Search-Bar-Options-Text: var(--Text-Default-Primary);
  --Text-Link-List-Title: var(--Text-Default-Primary);
  --Text-Link-List-Body-Link: var(--Text-Default-Primary);
  --Input-Fields-Warning-Background-Search: var(--Background-Default-Secondary-Fixed);
  --Input-Fields-Success-Background-Search: var(--Background-Default-Secondary-Fixed);
  --Tag-News-Text: var(--Text-Default-Accent);
  --Tag-News-Dot: var(--Background-Default-Accent-Fixed);
  --Input-Fields-Placeholder-Background-Search-2: var(--Background-Default-Secondary-Fixed);
  --Input-Fields-Placeholder-Background-Search-3: var(--Background-Default-Secondary-Fixed);
  --Banner-Text-Banner-Background: var(--Background-Default-Accent-Light);
  --Banner-Text-Banner-Text: var(--Text-Default-Primary);
  --Banner-Mini-Banner-Background: var(--Background-Default-Accent-Light);
  --Banner-Mini-Banner-Text: var(--Text-Default-Primary);
  --Article-Section-Text-Block-Text: var(--Text-Default-Primary);
  --Article-Section-Kpi-Text: var(--Text-Default-Primary);
  --Ai-Search-Bar-Input-Enable-Background: var(--Background-Default-Secondary-Fixed);
  --Ai-Search-Bar-Input-Enable-Border-Color: var(--Border-Neutral-Secondary);
  --Ai-Search-Bar-Input-Enable-Icon: var(--Icon-Default-Primary);
  --Ai-Search-Bar-Input-Enable-Text-Value: var(--Text-Default-Primary);
  --Ai-Search-Bar-Input-Hover-Background: var(--Background-Neutral-Primary);
  --Ai-Search-Bar-Input-Hover-Border-Color: var(--Border-Neutral-Secondary);
  --Ai-Search-Bar-Input-Hover-Icon: var(--Icon-Default-Primary);
  --Ai-Search-Bar-Input-Hover-Text-Value: var(--Text-Default-Primary);
  --Ai-Search-Bar-Input-Focused-Background: var(--Background-Default-Secondary);
  --Ai-Search-Bar-Input-Focused-Border-Color: var(--Border-Neutral-Secondary);
  --Ai-Search-Bar-Input-Focused-Border-Focused: var(--Border-Default-Focused);
  --Ai-Search-Bar-Input-Focused-Icon: var(--Icon-Default-Primary);
  --Ai-Search-Bar-Input-Focused-Text-Value: var(--Text-Default-Primary);
  --Ai-Search-Bar-Input-Pressed-Background: var(--Background-Neutral-Primary);
  --Ai-Search-Bar-Input-Pressed-Border-Color: var(--Border-Neutral-Secondary);
  --Ai-Search-Bar-Input-Pressed-Icon: var(--Icon-Default-Primary);
  --Ai-Search-Bar-Input-Pressed-Text-Value: var(--Text-Default-Primary);
  --Info-Widget-Text-Color: var(--Text-Default-Primary);
  --Carousel-News-Background-Second-Card: var(--Background-Default-Secondary-Fixed);
  --Hero-Text: var(--Text-Neutral-Tertiary);
  --Article-Faq-Widget-Text: var(--Text-Default-Primary);
  --Carousel-Photo-Background: var(--Background-Default-Secondary-Fixed);
}