/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-dark {
  --text-styles-title-extra-large: var(--weight-semi-bold) var(--font-size-title-extra-large)/100% var(--family-font-2);
  --text-styles-title-hero-apex-new: var(--weight-medium) var(--font-size-title-hero-apex-new)/115% var(--family-font-1);
  --text-styles-title-page: var(--weight-medium) var(--font-size-title-page)/115% var(--family-font-1);
  --text-styles-subtitle-apex-new: var(--weight-medium) var(--size-32)/115% var(--family-font-1);
  --text-styles-subtitle-manrope: var(--weight-semi-bold) var(--font-size-subtitle-manrope)/120% var(--family-font-2);
  --text-styles-heading: var(--weight-semi-bold) var(--font-size-heading)/125% var(--family-font-2);
  --text-styles-subheading: var(--weight-semi-bold) var(--size-20)/130% var(--family-font-2);
  --text-styles-body-base: var(--weight-regular) var(--size-16)/140% var(--family-font-2);
  --text-styles-body-strong: var(--weight-semi-bold) var(--size-16)/140% var(--family-font-2);
  --text-styles-body-link: var(--weight-regular) var(--size-16)/140% var(--family-font-2);
  --text-styles-body-small: var(--weight-regular) var(--size-14)/140% var(--family-font-2);
  --text-styles-body-small-medium: var(--weight-medium) var(--size-14)/140% var(--family-font-2);
  --text-styles-body-extra-small: var(--weight-regular) var(--size-12)/140% var(--family-font-2);
  --text-styles-overline: var(--weight-semi-bold) var(--size-12)/140% var(--family-font-2);
  --text-styles-single-line-body-base: var(--weight-semi-bold) var(--size-16)/150% var(--family-font-2);
  --text-styles-single-line-body-link: var(--weight-semi-bold) var(--size-16)/150% var(--family-font-2);
  --text-styles-title-hero-manrope: var(--weight-semi-bold) var(--size-56)/115% var(--family-font-2);
  --text-styles-subtitle-manrope-fixed: var(--weight-semi-bold) var(--size-32)/120% var(--family-font-2);
  --text-styles-heading-fixed: var(--weight-semi-bold) var(--size-24)/125% var(--family-font-2);
  --text-styles-body-medium: var(--weight-medium) var(--size-16)/140% var(--family-font-2);
}