.dynamic-gallery-row:not(.block) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--Dynamic-Gallery-Gap-M-Tp, 8px);
    margin-bottom: var(--Dynamic-Gallery-Gap-D-Ds, 16px);
}

.swiper-wrapper.marquee-swiper {
    transition-timing-function: linear;
    align-items: center;
}
